[2017-09-20 11:23] jgbarah opened #1 "Track reviewers in panels for code review systems"
Currently, in panels for code review systems (Gerrit, GitHub Pull Requests), we are tracking mainly submitters of patches. We should track (maybe in different panels) reviewers, since they are also a very interesting part of the story. For this, I think we have all the information in the raw indexes, so very likely we don't need changes in `Perceval`. But for sure we will need changes in `Grimoire

[2017-09-21 07:23] vishnoianil commented on #1
I personally would love to have this feature and happy to help in any way i can :).

[2017-09-25 14:47] jgbarah commented on #1
We should start by identifying the needed fields in the resulting index, and how to produce them from the raw index. @vishnoianil if you want, let's do the exercise for GitHub Pull Requests or Gerrit, you decide;-)

[2017-10-30 08:15] jgbarah opened #16 "[tests] setup.cfg: includes absolute directories"
We should remove absolute directories from setup.cfg, so that the file works in different environments.

[2017-10-30 08:23] jgbarah opened #17 "[tests] Check some details in projects.json"
There are some details to check in projects.json, in the tests directory:

* why "*jenkins" and "jenkins" as entries?
* Why "*jira" (two of them) and "jira"?

Let's check them, and either explain why they are needed, or just remove those entries.

[2017-10-30 08:27] jgbarah opened #18 "[tests] Some details about cache-test.tgz"
Some details about cache-test.tgz in tests directory:

* It would be better if instead of one large file, we had one per data source. That would make it more manageable, would need less storage when changing details in one data source (or adding a new one), and would avoid the current warning by github: "file is larger than GitHub's recommended maximum file size of 50.00 MB".
* it unpacks to perce

[2017-10-30 08:29] jgbarah opened #19 "[tests] Some details in docker-compose.yml:"
When reading the file docker-compose.yml: in tests, shouldn't mariadb export some port? Or maybe not, and we could do the same for elasticsearch and kibitter? As the file is now, you need some ports available, which maybe are not in a certain host.

[2017-10-30 08:33] jgbarah opened #20 "[tests] Some details in the stage script"
Some comments on the `stage` script in the tests directory:

* it should run in any properly configured machine (now includes wired paths, see below).
* it should be, for consistency, a Python script
* it would be better if installation of Python packages should be with `pip install`, even from a local directory (instead of python3 setup.py install). In particular, the latter may not work fro perc

[2017-10-30 08:36] jgbarah opened #21 "[tests] Some details for init-raw.sh"
The script init-raw.sh, in the tests directory, uploads data to 172.17.0.1. But it in order to be useful in other setups, it should do that to any address, or maybe to localhost since it will run in the machine with the elasticsearch port. I see it can be configured with an environment variable, it would be more explicit with a command line argument.

In any case, for consistency, I think it shoul

[2017-10-30 09:14] acs commented on #19
mariadb should not be used outside the docker containers, so it is not needed. Maybe if we want to access mariadb from the host for debugging SortingHat issues, this could be changed.

Kibiter and Elasticsearch are used in different scenarios in the host, ad this is why the ports are openeded to the host.

[2017-11-02 17:14] jgbarah commented on #19
I think I finally understood how this works. Sorry for my lack of understanding about docker. Please, correct me if I'm wrong: Inside the containers, `mariadb` is the name of the host hosting MariaDB, as `elasticsearch` is the name of the host with ElasticSearch, for example. So, it is perfectly fine to "connect" to `mariadb` inside the containers.

If this is the case, I will produce a patch to u

[2017-11-02 17:16] jgbarah commented on #20
This is part addressed in #23.

[2017-11-08 13:37] hmitsch opened #28 "Track multiple Discourse instances"
We would like to be able to have more than one Discourse instance in our Community Analytics stack. It is currently of secondary concern on whether or not these multiple instances will be visualized in one dashboard or in multiple-dashboards (tabs).

-Henrik

[2017-11-16 11:25] sanacl opened #35 "'Feature Request' label for this tracker"
In order to group tickets by type, it would be great having the 'Feature Request' label/tag. I see the 'enhacement' label, but I'm not sure whether this can be used with the same purpose.

[2017-11-16 11:52] jgbarah commented on #35
Please, use the "Enhacenment" tag for feature requests, since this is what seems to be encouraged in GitHub, and what is already being used in some other repos.

[2017-11-16 11:56] jgbarah commented on #28
Thanks, @hmitsch for the proposal. I understand that what you mean is having the chance of specifying more than one Discourse instance when you specify the list of repositories to analyze, right?

If this is the case, I think this needs to be supported in mordred. Am I right, @acs ?

[2017-11-16 12:16] sanacl opened #36 "Error cloning into bare repository: RPC failed; result=22, HTTP code = 504"
Using `elasticgirl.22` and the ONAP repos (E.g http://gerrit.onap.org/r/dcae/apod/cdap) I've seen this error:

[code]

[2017-11-16 12:23] sanacl commented on #36
Hold your horses, this seems to be a server error.

[code]

[2017-11-16 12:23] #36 closed

[2017-11-16 13:09] #35 closed

[2017-11-16 13:20] acs commented on #28
Yes, this should be supported in mordred but not only. In our projects.json format that defines the data sources to be analyzed, only one discourse site can be added. The categories for this unique discourse site are then mapped to projects. Supporting having more than one discourse site will have impact in both places: mordred and projects definition (GrimoireELK).

[2017-11-16 19:37] pmonks opened #37 "Custom metadata support"
When there's additional custom metadata available for a data source that's being ingested into GrimoireLabs / Bitergia, I want to be able to capture and index that metadata into the system, so that I can query and report on it the same as the "system" metadata that GrimoireLabs / Bitergia already captures.

Examples of such metadata include:

* Project lifecycle information (e.g. current state and

[2017-11-21 19:47] sanacl opened #38 "Error "is not a Git mirror of repository " found while collecting existent Git data from Github"
While trying to retrieve data for Chef repositories, I've discovered we are losing data due to this error.

How to reproduce:
- version: `elasticgirl.22`
- include the git repo https://github.com/chef/chef.git in your projects.json file

[code]

[2017-11-22 10:32] sanacl opened #39 "Git data is not being collected: 'Name or service not known' error"
Using the latest version provided by our Dev team, I'm not able to collect data for the YoctoProject.

How to reproduce:
- use the versions below
- use the repos at https://gitlab.com/Bitergia/c/yoctoproject/sources/blob/master/projects.json

[code]
**Important**: from the host the command git clone works with the repo git://git.openembedded.org/openembedded-core

This error was found with the ver

[2017-11-22 10:39] sduenas commented on #39
This seems to be a problem with Perceval and its integration with dulwich.

[2017-11-22 10:49] sanacl opened #40 "Git data is not being collected due to 'could not read Username'"
Using the latest version provided by our Dev team, I'm not able to collect data for the YoctoProject.

How to reproduce:
- use the versions below
- use a password protected like https://github.com/patternfly/patternfly-planning.git

The data collection is stuck, not sure whether the thread is alive or waiting for a password.

[code]

This error was found with the version:

[code]

[2017-11-22 13:20] sduenas commented on #40
That repository doesn't exist. Closing this ticket because it isn't a bug.

[2017-11-22 13:21] sduenas commented on #40
@sanacl does that repository exist? GitHub returns a 404 error.

[2017-11-22 13:23] sduenas commented on #38
You have to remove that repository from your local directory.
Perceval does not support to work with git working directories anymore. It only works with bare or mirror repos.

[2017-11-22 13:23] #38 closed

[2017-11-23 15:30] sanacl opened #41 "Meetup collection broken due to rate limits: sleep-for-rate not working"
The Slack collection is not working and prints errors about too many connections. I guess related to the rate limitations. We're already using a dedicated token BTW.

I'm using the version below:

[code]

This is the Mordred setup being used:

[code]

Below you can see the 'Too Many Requests' error and how it keeps sending queries instead of stopping:

[code]

[2017-11-23 16:01] acs commented on #41
This is a perceval issue. It must be opened in: https://github.com/grimoirelab/perceval/issues

Could you open it there?

[2017-11-23 16:21] sanacl opened #42 "Git data is not being collected for repo git://git.openembedded.org/bitbake"
Data collection is not working when analyzing the repo git://git.openembedded.org/bitbake. It stores 0 commits in the ES database.

Current version used:
[code]

Perceval seems to be working ok but 0 documents are stored in the index (with that origin)
[code]

No errors found:
[code]

[2017-11-23 16:41] valeriocos commented on #41
The meetup backend implements a mechanism such as if an API call fails with a 429 error message, it tries at most 5 attempts before raising the HTTPError exception. Between every failed call the backend sleeps an amount of time equal to **30 seconds * the current attempt** (e.g,, in the third attempt the backend will sleep 30 * 3 seconds).

You can try to set a greater value than 30 seconds by usi

[2017-11-27 11:45] #39 closed

[2017-11-28 02:10] albertinisg opened #43 "Git data is not being collecting due to "Error in the pull function""
Data collection is not working for the following repo: https://git.opendaylight.org/gerrit/dlux. I've got the following error:
[code]
Also digging in the logs, I found this other one:
[code]
Using release `elasticgirl.23`

[2017-11-28 02:13] albertinisg opened #44 "Jenkins errored fetching "status_code""
Got the following traceback with the following repo: https://jenkins.opendaylight.org/releng:
[code]
Using release `elasticgirl.23`

[2017-11-28 05:20] acs commented on #44
This issue must be opened in perceval, not here. The error is inside the jenkins backend. Could you open it there @albertinisg ? In any case, it is an error with the upstream server. It can be handled better in the perceval backend for jira, but it can not be fixed (the new client code being developed in perceval will help in doing retries when these errors appears).

[2017-11-28 05:20] #44 closed

[2017-11-28 05:21] acs commented on #43
This is an issue for the perceval git backend. Please open this ticket in perceval repository. Thanks @albertinisg!

[2017-11-28 05:21] #43 closed

[2017-11-28 08:32] acs commented on #41
@sanacl this is a perceval issue. It is better next time that it is opened in perceval repository.

[2017-11-28 09:00] acs commented on #42
@sanacl this kind of bugs must be opened in perceval or in GrimoireELK.

[2017-11-28 16:50] sanacl commented on #42
@acs I have no idea what component is failing. What tracker should I use in that case? And before answering remind this is something that needs to be easy to be understood by our community folks

[2017-11-28 22:51] acs commented on #42
@sanacl if you have tried with perceval from command line and it works, then the error is in GrimoireELK. If not, it is in perceval. And I have in mind that this is read by our community ;)

[2017-12-06 01:21] sanacl opened #46 "Organization data lost after generating a new set of git/github enriched indexes"
Data removed due to privacy.

[2017-12-07 19:21] #46 closed

[2017-12-07 19:21] sanacl commented on #46
This ticket shouldn't be part of the community backlog. My bad.

[2017-12-18 17:25] jgbarah opened #47 "Move all repos to the chaoss GitHub organization"
This is issue is to move all repositories in the grimoirelab organization to the chaoss organization, following the following schema:

* grimoirelab/perceval -> chaoss/grimoirelab-perceval
* grimoirelab/perceval-opnfv -> chaoss/grimoirelab-perceval-opnfv
* grimoirelab/perceval-mozilla -> chaoss/grimoirelab-perceval-mozilla
* grimoirelab/perceval-puppet -> chaoss/grimoirelab-perceval-puppet
* grimo

[2017-12-18 17:27] jgbarah commented on #47
In short, we will proceed in this order:

* grimoirelab/training. Check all issues related to moving the repo, redirections of old repos, permissions, etc.
* grimoirelab/reports. Check all issues related to TravisCI, automated builds and tests, etc.
* All the other repos, in a short period of time afterwards.

All of this will be communicated in the mailing list.

[2017-12-18 23:30] jgbarah commented on #47
grimoirelab/training already moved to chaoss/grimoirelab-tutotrial. The "old" repo link, https://github.com/grimoirelab/training still works, pointing to the new one.

I've also updated the machinery for syncing with GitBook.

[2017-12-27 23:15] jgbarah commented on #47
grimoirelab/grimoirelab already moved to chaoss/grimoirelab. The "old" repo link still works.

[2018-01-15 18:51] robinmuilwijk opened #53 "Start using sortinghat on existing indexes"
This is a follow up on https://github.com/grimoirelab/sortinghat/issues/112

I am ready to setup sortinghat, but wanted to verify e.g. double check on something. My dashboard has been running for over a year now. Based on primarily Grimoire-Elk and vanilla Elasticsearch and Kibana (5.4.x).

Can I install sortinghat and start using it, also on my existing indexes?

I use p2o to import my data, I kn

[2018-01-15 18:52] robinmuilwijk commented on #53
Feedback already provided by @jgbarah :
In short, you will need to re-enrich the data. That is, you can use either p2o or Mordred to re-enrich the data, telling it (I mean, telling p2o or Mordred) that you want to use SortingHat. That will inject all identities in the raw indexes in Sorting Hat, and produce new enriched indexes with identities. Of course, you don't need to use the same indexes you

[2018-01-15 18:53] robinmuilwijk commented on #53
@jgbarah I am preparing the installation of sortinghat this week, and its requirements. I will ping you when this is done on how to actually start configuring and using it.

[2018-01-16 09:08] sanacl opened #54 "Add support to the data source groups.io"
The service provided by groups.io is started to being used to extend and improve the mailing list services widely used by FLOSS communities like Cloudfoundry.

The API offers a REST endpoint, more info at https://groups.io/api

The first iteration of this support could offer the same support offered to mailman:
- data collection (with all the data related to the message, sender and recipient)
- da

[2018-01-16 18:30] jsmanrique opened #55 "Get the percent of questions with a "correct" answer marked in Askbot forums"
In [Askbot](https://askbot.com/) Q&A (questions and answers) forums is possible to mark an answer as `correct`.

That info seems to missing in current [askbot data schema](https://github.com/grimoirelab/panels/blob/master/schema/askbot.csv) produced by GrimoireLab.

[2018-01-16 18:35] jsmanrique opened #56 "Get the percent of questions with a reply (comment or answer) of any kind"
In mailing lists and Q&A forums there are some questions answered or commented and other without any answer of any kind.

Questions might be marked as "answered" and with the date when they have been answered the first time and the last time (so there could be a chance to get evolution over time of attention to questions).

[2018-01-18 22:48] jgbarah commented on #47
kidash (formerly part of GrimoireELK) moved to a new repo, chaoss/grimoirelab-kidash.

[2018-01-18 23:48] jgbarah commented on #47
grimoirelab/reports moved to chaoss/manuscripts

[2018-01-22 05:24] rpaik opened #58 "Stats on Gerrit reviews"
I'd like to get some data on people's contribution for code reviews.  For example, I'd like to see a table with reviewer's names, number of reviews, number of projects where reviews were contributed, etc.

[2018-01-22 05:26] rpaik opened #59 "Stats on Jira activities"
I'd like to see stats for people's contribution to project Jira.  For example, number of activities (e.g. comments added, tickets opened/closed, etc.) per each individual would be helpful.

[2018-01-22 08:48] jgbarah commented on #58
Commented in chaoss/metrics#49.

[2018-02-05 10:23] acs commented on #37
@pmonks do you have a specific list of metadata you already have? Just to four listed above? We are working in a new tool for Project Description (Bestiary: https://github.com/acs/bestiary) and this ticket could be related to it.

[2018-02-05 20:25] pmonks commented on #37
@acs those four, plus "Program" (a string value) are our current metadata requirements, however I think it's inevitable that we'll identify additional metadata needs going forward.

I think it's also important to highlight that these four are quite specific to our business problem and are unlikely to be applicable to other organisations, so a general purpose metadata mechanism that allowed each us

[2018-02-05 20:27] pmonks commented on #37
I'd encourage you to review the content management literature for ideas on how to properly support this requirement.  Custom metadata has been a central part of that industry segment for more than 3 decades, so there's a lot of prior art to crib from.

tl;dr - supporting custom metadata models is easy; supporting the evolution of custom metadata models over time is where things get complex and can

[2018-02-06 08:42] acs commented on #37
@pmonks thanks for your suggestions. The initial approach probably will be to define the `metadata` as a JSON (python dictionary) and store it as a string serialized in a field in the project data model. And once we have real use cases of the metadata, we can design a more semantic approach to the metadata management.

[2018-02-08 14:31] fioddor opened #63 "Broken link"
Clicking at the link in https://github.com/chaoss/grimoirelab/tree/master/docs behind "grimoirelab.github.io." pointing at https://github.com/chaoss/grimoirelab/blob/master/docs/grimoirelab.github.io, a 404 page not found HTTP error is shown.

[2018-02-08 15:50] fioddor commented on #63
I guess it shoud point to https://grimoirelab.gitbooks.io instead.

[2018-02-08 16:49] jgbarah commented on #63
Thanks for the report. I hope #64 fixes this. Please close the issue if you feel it does.

In fact, we're transitioning from http://grimoirelab.github.io to http://chaoss.github.io/grimoirelab , and this is a side effect of that change.

[2018-02-08 16:50] #63 closed

[2018-02-12 15:44] GeorgLink opened #65 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-13 23:05] jgbarah commented on #47
* grimoirelab/panels moved to chaoss/grimoirelab-sigils
* grimoirelab/mordred moved to chaoss/grimoirelab-mordred
* grimoirelab/sortinghat moved to chaoss/grimoirelab-sortinghat

[2018-02-13 23:39] jgbarah commented on #47
Kibiter is still missing. I guess with it, the process will be complete. If you notice any problem with these changes, please let me know.

[2018-02-14 00:58] acs commented on #47
We have issues with Travis:

https://travis-ci.org/grimoirelab/mordred/builds/341183232?utm_source=github_status&utm_medium=notification

So we need to analyze all repositories to update the Travis configuration.

[2018-02-15 08:40] jsmanrique opened #68 "Add the support for the data source Mattermost"
Slack is already supported. It might be interesting to support also Mattermost

Potential interesting info: [Mattermost API](https://api.mattermost.com/)

Already opened an [issue in grimoirelab-perceval about it](https://github.com/chaoss/grimoirelab-perceval/issues/325)

[2018-02-15 12:21] dicortazar opened #69 "Add gender support to the GrimoireLab toolchain"
This task aims at building a proper gender support across the several tools available in GrimoireLab.

The following pieces are required from the best of my understanding:
* SortingHat: Add gender support, being this a new entry in the profile of the community member
  * https://github.com/chaoss/grimoirelab-sortinghat/issues/128
* Gelk: Add gender support when returning info about a specific comm

[2018-02-16 19:54] jgbarah opened #70 "GSoC idea: Reporting of CHAOSS Metrics"
[ This issue for addressing questions and comments related to this GSoC idea, which is one of [the ideas proposed by the CHAOSS group](https://wiki.linuxfoundation.org/chaoss/gsoc-ideas) for the 2018 edition of GSoC ]

[Edited, 2018-03-03: Added procedure for uploading information for application.]
[Edited, 2018-03-12: Added link to guidelines for proposals]

Currently, GrimoireLab includes a tool

[2018-02-16 19:59] jgbarah opened #71 "GSoC idea: Support of Standard Formats for Description of Projects"
[ This issue for addressing questions and comments related to this GSoC idea, which is one of [the ideas proposed by the CHAOSS group](https://wiki.linuxfoundation.org/chaoss/gsoc-ideas) for the 2018 edition of GSoC ]

[Edited, 2018-02-28: Added some more detail to the idea, and changed its structure so that it is easier to understand.]
[Edited, 2018-03-03: Added procedure for uploading informatio

[2018-02-17 12:15] apsknight commented on #70
Hey @jgbarah

I'd like to work on this project idea for Google Summer of Code 2018.

[2018-02-17 14:35] anthonyabeo commented on #71
Hello @jgbarah I would like to work on this. How do i get started?

[2018-02-18 18:46] jgbarah commented on #70
Hi, @apsknight have a look at the description of this issue, and let me know if you need further clarifications.

[2018-02-19 06:59] vishnoitanuj commented on #70
Hi @jgbarah
I had worked on projects related metrics and was trying to gain an insight at GrimoireLab. I am not much aware of the Elasticsearch databases. So can you suggest some good resources for its training, so that i can move forward with the idea.
Also i am facing issues with understanding Mordred.

[2018-02-19 08:29] jgbarah commented on #70
Hi @vishnoitanuj. For Elasticsearch, I've added in the description of this issue two refernces, to the most usual Python packages to access it. I would recoment going through them, and maybe some tutorial for starters on Elasticsearch.

WRT Mordred, please let me know what issues you're facing, I will try to produce documentation to help you address them, if I can.

[2018-02-19 13:58] jsmanrique opened #72 "Website DOCS link doesn't link to the documentation site"
The link is pointing to `https://chaoss.github.io/grimoirelab/#https://grimoirelab.gitbooks.io/training/`, instead of `https://grimoirelab.gitbooks.io/training/`

[2018-02-19 15:23] jsdabrowski commented on #70
Hi @jgbarah , is it suitable for you if I create my **private** repo with the work and share it with you and your colleagues once I finished? Sorry if the question is trivial, but I was a bit confused by saying "open a GitHub repository, and upload to it:"

Best,
Jacek

[2018-02-19 15:42] apsknight opened #74 "Wrong Command in GrimoireLab tutorial"
In the **Installing Manusripts** section of [GrimoireLab Tutorial](https://grimoirelab.gitbooks.io/tutorial/before-you-start/installing-grimoirelab.html), the command for verifying installation of manuscripts is

[code]

instead it should be

[code]

[2018-02-19 16:16] jgbarah commented on #74
Thanks!!!

I just fixed that. Please reopen if you feel it was not correctly fixed.

[2018-02-19 16:16] #74 closed

[2018-02-19 22:11] jgbarah commented on #72
Closed via #73

[2018-02-19 22:11] #72 closed

[2018-02-20 13:00] gopal86 commented on #70
Hello @jgbarah , i am quite interested in contributing in this project . Can you guide me through ?

[2018-02-21 23:11] jgbarah commented on #71
Hi, @anthonyabeo. Did you see the microtasks and the GrimoireLab tutorial? Maybbe you can start from there...

[2018-02-21 23:19] jgbarah commented on #70
@jsdabrowski: the idea is that you open a public repository, and work in it. We will publish soon how to inform us about the url of the repository.

[2018-02-24 05:09] sreetamparida commented on #70
I need to ask that to work on this project for Google summer of code, I need to compete those microtask provided??

[2018-02-24 15:13] aswanipranjal commented on #70
Hey @sreetamparida, these tasks are for you to understand the libraries and how to analyse repositories using GrimoireLab tools and ELasticsearch. You can also complete these tasks to show that you are capable and comfortable in working with the above listed technologies.
As written above:
[code]

[2018-02-25 06:57] vivekrj0 commented on #71
Hi @jgbarah ,My name is Vivek Raj i am 1st year student of IIT Kharagpur,India.I would like to contribute to this project for Gsoc 2018.I have a basic knowledge of required skills. I need a guidance how can i start ?

[2018-02-25 22:40] jgbarah commented on #70
@sreetamparida we need to evaluate candidates. If we have people fulfilling the microtasks, that will help us a lot to know about their skills.

[2018-02-25 22:41] jgbarah commented on #70
@aswanipranjal thanks for your comment! Yes, it is as you say. In fact, it will not only something that will help us to decide, but also you to know about the project, and about your own skills in this area.

[2018-02-25 22:43] jgbarah commented on #71
Great, @vivekrj0! Let us know about your progress.

[2018-02-25 23:23] apoorvkhare07 commented on #70
@jgbarah How to update you about the repository ?
I have almost done the first microtask.

[2018-02-26 16:53] anthonyabeo commented on #71
@jgbarah i am getting the following error when i tried the mordered example from the tutorials.

Traceback (most recent call last):
  File "/home/username/Env/grimoirelab/bin/mordred", line 140, in <module>
    logs_dir = config_dict['general']['logs_dir']
KeyError: 'general'

[2018-02-26 19:24] vivekrj0 commented on #71
Hey @jgbarah , For creating the indexes in ElasticSearch and to retrieve and enrich data from the git repository i have typed
 '' p2o.py --enrich --index git_raw --index-enrich git \

**and repeatedly got the error as:**
2018-02-27 00:35:11,557 Debug mode activated
2018-02-27 00:35:11,558 Feeding Ocean from git (https://github.com/grimoirelab/perceval.git)
2018-02-27 00:35:11,560 Retrying (Retry(t

[2018-02-26 20:54] Illuminatian opened #78 "Assistance requested locating metric information"
@jgbarah

In an effort make CHAOSS more robust, I would like to add 4 metrics that GL produces into https://github.com/chaoss/metrics/tree/master/activity-metrics. To do that, I know there has to be code that pulls and aggregates those metrics for display...can you kindly point me in that direction? The repo is very deep, and I don't know how to swim well.

[2018-02-26 23:21] jgbarah commented on #71
@anthonyabeo how are you running mordred? That errror means there is no `general` section in the Mordred config file...

[2018-02-26 23:24] jgbarah commented on #71
Can you please run:

[code]

(I want to see if you have direct connectivity to git repos in GitHub, which seems you have not, maybe because of that proxy...)

[2018-02-27 08:07] valeriocos commented on #71
@vivekrj0, I don't if this can help, but I get a similar error when ElasticSearch is not running.
From a shell, go to the directory that contains ES and run it, for instance:
[code]
More information is available at: https://www.elastic.co/guide/en/elasticsearch/guide/current/running-elasticsearch.html

[2018-02-27 09:07] vivekrj0 commented on #71
**Thanks for lots of help! @valeriocos and @jgbarah .**
Finally it is listening to local host and  produced new indexes in ElasticSearch..

[2018-02-27 11:22] sduenas commented on #55
Perceval now includes this field (see chaoss/grimoirelab-perceval#333 and chaoss/grimoirelab-perceval@6a087de8ea176d4bdf692678102c305b17959cf5).

The next step is add it to the enriched items generated by GELK.

[2018-02-27 19:06] anthonyabeo commented on #71
I am getting the following error with the database when i run mordred using "mordred -c mordred-grimoirelab.cfg". Anyone has an idea on how i should fix this?

sqlalchemy.exc.InternalError: (pymysql.err.InternalError) (1826, "Duplicate CHECK constraint name 'top_domain_check'") [SQL: '\nCREATE TABLE domains_organizations (\n\tid INTEGER NOT NULL AUTO_INCREMENT, \n\tdomain VARCHAR(128) NOT NULL, \n

[2018-02-27 20:46] valeriocos commented on #71
hi @anthonyabeo, the problem should be related to the version of MariaDB (10.2) you are using.Things should work smoothly if you downgrade it to (10.0 or 10.1). In our production env we use 10.0.

[2018-02-28 08:00] valeriocos commented on #71
@anthonyabeo more info about this bug is available https://github.com/chaoss/grimoirelab-sortinghat/issues/121

[2018-02-28 08:49] jgbarah commented on #71
@anthonyabeo if you want an easy way of having a downgraded MariaDB without touching your system, consider using Docker [containers from DockerHub for MariaDB](https://hub.docker.com/_/mariadb/). You can find one for MariaDB 10.0 for example.

You can also use the grimoirelab/installed container that we produce, and has already Elasticsearch, Kibiter, and MariaDB (10.0). See [instructions on how t

[2018-02-28 08:52] jgbarah commented on #70
@apoorvkhare07 we're about to publish a message in the mailing list about that. Please, stay tuned!

[2018-02-28 08:57] jgbarah commented on #78
Hi, @Illuminatian. I'm sorry but I'm not sure what you want to contribute. Maybe the description of four new metrcis in /activity-metrics? If so, you just need to add them there... We do that via pull requests, you can see some of them in the repo now (as closed), for example: chaoss/metrics#50 or  chaoss/metrics#51.

I don't get what you mean about "there has to be code that pulls..."

[2018-02-28 14:57] vivekrj0 commented on #71
**Hi @valeriocos ,**
**When I run this "mordred -c mordred-grimoirelab.cfg" under panels subdirectory and got error message as:**
Kibiter/Kibana: uploading dashboard menu...
Kibiter/Kibana: uploaded dashboard menu!
2018-02-28 20:08:48,296 - mordred.task_enrich - ERROR - Something went wrong producing enriched data for git . Using the backend_args: ['https://github.com/grimoirelab/perceval']
2018-0

[2018-02-28 19:14] BenLloydPearson opened #79 "Add TIme to Commit Field"
One thing I have used a lot that doesn't seem to be supported in GrimoireLab is a field that provides the amount of time it takes for code to be committed upstream. This is the difference between the author_date and commit_date fields. In the past, I've done this with a scripted field in Kibana, but from my understanding this is very inefficient, and it also tends to disappear frequently after run

[2018-02-28 20:43] Illuminatian commented on #78
@jgbarah

Sorry, I might not have explained myself properly, let me try to clear it up for you.
So, I need to add 4 metrics that GrimoireLab supports into the activity metrics in CHAOSS. It can either be a new metric that doesn't exist in https://github.com/chaoss/metrics/tree/master/activity-metrics or it can be an addition to an existing metric that doesn't have a GL section underneath it.

Exam

[2018-03-01 05:40] f2014169 commented on #70
@jgbarah Was the message published? , because I joined the mailing list recently.

[2018-03-01 06:51] anveshc05 commented on #71
Hi @jgbarah, @valeriocos  I am Anvesh Chaturvedi, a second year student from IIIT Hyderabad, India. I would like to work on this project for GSoC 2018. I am setting up the environment so that I can start working on the micro-tasks.

[2018-03-01 10:53] apoorvkhare07 commented on #70
@f2014169 Not yet.

[2018-03-01 14:57] vivekrj0 commented on #71
Hey @jgbarah and @valeriocos ,
In reference to error "TypeError: enrich_backend() got an unexpected keyword argument 'pair_programming' ". which i am getting repeatedly.
In Github repository of 'grimoirelab-elk' the file 'arthur.py' the following function 'enrich_backend' have the parameter of pair_programming,but in virtual environment of grimoire_elk the file doesn't have the above parameter(pai

[2018-03-01 18:07] jgbarah commented on #71
@vivekrj0 what mordred-grimoirelab.cfg are you using? When you write "under panels subdirectory" what do you mean?

[2018-03-01 18:17] vivekrj0 commented on #71
@jgbarah
I m running "mordred -c mordred-grimoirelab.cfg" under panels subdirectory.
In Mordred section of  GrimoireLab tutorial it is written that-panels repository should be a subdirectory, named panels, of the directory where the mordred command("mordred -c mordred-grimoirelab.cfg") is to be run.

[2018-03-01 18:28] jgbarah commented on #71
@vivekrj0 very likely you're finding some bug. Would you mind, please, opening a bug report in the chaoss/grimoirelab-tutorial? We can follow the discussion there. Please give all the pertinent details, including which version of mordred you're using, which cfg file (if it is exactly the one in the tutorial, let us know, if not, include the file). I think this is something that changed in mordred

[2018-03-01 18:28] jgbarah commented on #71
@anveshc05. Great! Stay tuned in the mailing list for the message explaining how to inform of your progress.

[2018-03-01 18:33] jgbarah commented on #71
@vivekrj0 with respect to your comment:

Not sure which file "in pip index" you are referring to. But feel free to start a pull request if you think there is a bug in any of the config files in any of the repositories.

[2018-03-01 19:06] vivekrj0 commented on #71
Hi @jgbarah,
In Grimoire-elk repository there is a latest commit(19 days ago and link-https://github.com/chaoss/grimoirelab-elk/commit/4152bac5f44d2cfae08b7ee1a2edff74b23508d9) which introduces pair programming in Grimoire-elk -https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/arthur.py
_which is not being reflected in pip._

[2018-03-01 19:07] jgbarah commented on #71
@vivekrj0, with respect to:

What do you mean exactly? The mordred file (if you mean the mordred.cfg dile) only specifies how libraries and in some cases tools are run, but the way they are run is in the source code for Mordred... But very likely I'm missing something...

[2018-03-01 19:14] jgbarah commented on #71
I think you mean pypi, right? That's due to the release model of GrimoireLab. We release weekly usually, but some times there is something that prevent those regular releases. For the last weeks, that has been a busy agenda by the people producing the release, and some delays with a large change in Perceval. Expect a new release during the next few days.

In any case, what happens here with pair p

[2018-03-01 23:37] jgbarah commented on #78
Thanks for the clarification. I find your proposal very interesting. Let me suggest to act as follows:

* Start a pull request in chaoss/metrics in the corresponding md files, with the description of the metrics.
* In the description of the pr, state that you would like to include the GrimoireLab description for the metric.
* You suggest me as reviewer, and I try to help, along with other people i

[2018-03-02 05:45] vivekrj0 commented on #71
@jgbarah ,
Actually i m facing the error related to pair programming when I run "mordred -c mordred-grimoirelab.cfg".
_The  error is:_
Kibiter/Kibana: uploading dashboard menu...
Kibiter/Kibana: uploaded dashboard menu!
2018-02-28 20:08:48,296 - mordred.task_enrich - ERROR - Something went wrong producing enriched data for git . Using the backend_args: ['https://github.com/grimoirelab/perceval']
2

[2018-03-02 08:27] jgbarah commented on #71
@vivekrj0 I still miss the contents of your `mordred-grimoirelab.cfg`, and/or where did you get it from (the link). That's why I suggested opening a bug report about that, either in the Mordred repository, or in the repository where you got the configuration file from.

[2018-03-02 11:26] germonprez commented on #70
@jsdabrowski @apoorvkhare07 @f2014169 you can see the message at:

https://lists.linuxfoundation.org/pipermail/oss-health-metrics/2018-February/000517.html

[2018-03-03 20:21] Deepayan-Ghosh commented on #70
@jgbarah I am interested in this project. I have installed the necessary tools and have gone through the tutorials and also ran some code. However I had one question in my mind, which may be trivial. The question is:
Are both raw and enriched indices the same for elasticsearch? That is, whether both of them appear as just indexes for elasticsearch, and whether the enriched index is something that

[2018-03-03 21:40] gopal86 commented on #70
hi @jgbarah  , @germonprez .  I have completed the microtask-1 . can you guide as to what to do next ?

[2018-03-03 22:38] f2014169 commented on #70
@gopal86  please visit https://lists.linuxfoundation.org/pipermail/oss-health-metrics/2018-February/000517.html

[2018-03-04 17:33] vivekrj0 commented on #71
@jgbarah ,
Sure, I will the open the bug report in mordred repository very soon.
**Actually I have a question?**
I have created raw as well as enriched index in elastic search and also Kibana is connected to the Elasticsearch data.
the Kibana displays a read-only list of fields configured for the matching index.
But when I click on visualize or discover option on kibana menu it again and again sho

[2018-03-04 21:42] f2014169 commented on #70
@jgbarah  do you have any specific format for proposal??

[2018-03-05 05:16] jgbarah commented on #70
Not for now. But let me know if the elements that should be included in it are not clear.

[2018-03-05 05:22] jgbarah commented on #70
The raw index is intended to store data as similar as possible to the original data source. Raw indexes are usually rich JSON documents, with all the details obtained from the service API or similar.

The enriched index is produced from the raw index, for being visualized with Kibiter/Kibana. It is usually a flat JSON document (because nested documents have some trouble with Kibana), which is in p

[2018-03-05 05:34] jgbarah commented on #71
I think your indexes are created in Elasticsearch, which is fine. Now in Kibana you need to create the index patterns which give access to the indexes in Elsticsearch. Just define indexes in Kibana with the same name that you have in ElasticSearch, and that would work. Then, you will be able of  creating searches (Discover), visualizations (Visualize) and dashboards (Dashboard).

You can also

[2018-03-05 06:45] vivekrj0 commented on #71
Hi @jgbarah ,
I have define indexes in Kibana with the same name as of in elasticsearch.
It only displays a read-only list of fields configured for the matching index and their is no visualizations(no histogram,no bar graph.)
The screenshot is:
![new kibana](https://user-images.githubusercontent.com/33966221/36960326-8b91f724-206c-11e8-85f8-575f956ae888.png)

Again I click on visualize option it a

[2018-03-05 07:26] jsdabrowski commented on #70
@jgbarah what would you like to be Included in the proposal? Would you like a candidate to propose how to approach the project? If so, then more detail are needed. Otherwise, cover letter is enough?

[2018-03-05 13:20] karansingh1559 commented on #71
@jgbarah and @valeriocos
I am following the tutorial [(this](https://grimoirelab.gitbooks.io/tutorial/content/grimoireelk/a-simple-dashboard.html)) and I am getting the following error when I try to run :
`kidash --elastic_url-enrich http://localhost:9200 \
  --import /tmp/git-dashboard.json`

The error I get is:
`2018-03-05 18:45:34,862 Panel not found (not in directory, no panels module): /tmp/g

[2018-03-05 13:52] vivekrj0 commented on #71
@karansingh1559 , if this may can help you,
You first keep that file  (git-dashboard.json JSON file) in  the directory where you are currently working and then run the command :
`$ kidash --elastic_url-enrich http://localhost:9200 \
  --import git-dashboard.json`

[2018-03-05 16:10] vivekrj0 commented on #71
@jgbarah ,
Finally ,I got the issue solved by installing Kibana5 as well as corresponding version of elastic search.
Now it shows the git commits,git org commits in bargraphs ,etc of the current repository and also visualizations and dashboards.

[2018-03-05 18:47] karansingh1559 commented on #71
@vivekrj0 Thanks! It worked :100:

[2018-03-05 19:08] gopal86 commented on #71
@karansingh1559 , yes you have got your issue solved , but just in case this helps for future reference. you would have downloaded the git-dashboard.json file in /tmp folder , so since this is a temporary folder on rebooting OS , the files get deleted from there , hence you didn't have the file /tmp/git-dashboard.json when you turned on the PC next time .

[2018-03-05 19:11] karansingh1559 commented on #71
@gopal86 I tried working on the file as soon as I downloaded it. Plus my laptop is always running, I reboot it rarely, so that was probably not the issue :/

[2018-03-06 17:12] kmn5409 commented on #70
Just wondering would you be able to use Linux Bash Shell on Windows 10 for the things that will be installed for example Elasticsearch. Or would you use something like a virtual machine like Oracle VM?

[2018-03-07 05:36] jgbarah commented on #70
@jsdabrowski the proposal could be as much detailed as you feel convenient. If you have doubts on the scope, or on what is asked for, that's my fault: let me know what you're missing, and we'll complete the description of this issue as much as needed. If you're doubting between different approaches, that's no problem: either explain the alternatives you see, or just select one and expose why you t

[2018-03-07 05:39] jgbarah commented on #70
@kmn5409 I'm not sure what do you mean. If that is if you can run Elasticsearch from a bash (or a powershell) in Windows, I assume you can, although I'm not familiar with Windows, sorry. If that is something else, please let me know.

However, for clarifying, almost all the development for GrimoireLab is done in Linux-based systems. That means that using Linux for development is certainly more fri

[2018-03-07 05:42] jgbarah commented on #71
@vivekrj0  great! I'm not sure what your problem was, but with the current version of packages in pypi, certainly you need Kibana/Kibiter & Elasticsearch 5.x. For 6.x you can use the master HEAD for all packages, or wait until we produce a new release for pypi (hopefully, really soon now).

[2018-03-07 05:44] jgbarah commented on #79
Hmm. Interesting. That approach would depend a lot on how commits are merged, but I see the point. It shouldn't be difficult producing that field... I´m going to open an issue in GrimoireELK (which is the module actually enriching the index), and closing this one afterwards.

[2018-03-07 05:55] #79 closed

[2018-03-07 05:59] jgbarah opened #82 "Querying using python while running grimoire in Docker"
@utkarshrai commented in chaoss/grimoirelab-elk#231 :

Moving the question here, because here is where the information about the docker images is being kept.

[2018-03-07 06:10] jgbarah commented on #82
You need to override the `/projects.json` file in the container with another one which has the list of repositories you want to analyze. Checkout the [new text I've written in the tutorial](https://grimoirelab.gitbooks.io/tutorial/content/mordred/mordred-in-a-container.html) (seach for `projects.json` in that webpage).

Please, reopen this issue if it doesn't work for you, or you have further ques

[2018-03-07 06:10] #82 closed

[2018-03-07 06:38] vivekrj0 commented on #71
@jgbarah ,
Also that error of pair programming when i run `mordred -c mordred-grimoirelab.cfg` get resolved as their is bug in the project.json file of the mordred.
_In project.json file the datasource git should be of 'G' capital(i.e Git)._
As the datasource git is currently matching with the repository of Grimoire lab so it gives the error of parameter missing(latest update) also failed to produ

[2018-03-08 17:48] jgbarah commented on #70
@aswanipranjal said in chaoss/grimoirelab-tutorial#19:

We may need too add code, or to reuse some code and write the rest from scratch. We welcome your ideas and proposals on how to tackle that, based on your understanding of the code.

With respect to specific metrics, please have in mind that not all of them can be retrieved automatically from software development repositories. Some of them cou

[2018-03-08 20:42] apoorvkhare07 commented on #70
@jgbarah I am still not clear about how many repositories to consider ?
How many repositories should be stored in the indexes ?
Can it be all the repositories of a particular organisation/user ?

[2018-03-08 22:08] kmn5409 commented on #70
@jgbarah Thank you for the response I tried using the Bash on Windows 10 but I ran into a number of difficulties so I instead decided to have a dual OS (Ubuntu and Windows) so I'm happy to know you all would be able to provide help with Ubuntu

[2018-03-08 22:52] kmn5409 commented on #70
@jgbarah I have read the Micro-task information and I'm at the first one "Produce a listing of the number of new committers per month" what Github repository is being specified here?

[2018-03-09 07:16] apoorvkhare07 commented on #47
@jgbarah Is this issue still up for taking ?
Would like to work on it.
Will come up with a PR soon.

[2018-03-09 07:17] apoorvkhare07 commented on #65
@GeorgLink Is this issue up for taking ?
Would like to work on it.

[2018-03-09 12:01] karansingh1559 commented on #71
@vivekrj0 I was getting a different error, something related to incorrect aliases and for that the mordred command was unable to produce a dashboard. Changing the 'g' of 'git' to 'G' solved the error.

[2018-03-09 13:22] GeorgLink commented on #65
Hi @apoorvkhare07, I don't know, because I do not maintain this repository. You can create a pull request and discuss with the repository maintainers on changes they want.

[2018-03-11 07:27] aswanipranjal commented on #70
@jgbarah, @germonprez, @jcabot: Where should we submit the proposal for a review? Here or in the mailing list?

[2018-03-11 07:30] aswanipranjal commented on #70
@kmn5409: Any repository can be analysed for that Microtask.

[2018-03-11 15:08] germonprez commented on #70
@aswanipranjal you will submit the proposal to the GSoC site.

[2018-03-11 15:43] aswanipranjal commented on #70
@germonprez, what i meant was: Can we get the proposal reviewed by any one of you before we submit it to the GSoC website? So that we can get some pointers as to where the proposal is weak and what you expect it should cover.

[2018-03-11 17:41] germonprez commented on #70
@aswanipranjal, I would focus on a clean completion of the microtask first and foremost. I'll see what others say but I can't guarantee feedback on a proposal. I also believe that if we make the offer to one, we will need to make the offer to all -- which could be very tricky from a timing perspective.

[2018-03-12 09:39] jgbarah commented on #70
@aswanipranjal I agree with @germonprez in his previous comment. This said, I'm going to try to comment on any specific question about the proposal, as long as it is public. This will ensure that all applicants have the same information. In particular, I understand that the part more difficult for the application may be the description of what do you want to do, and the approach for that, so I wil

[2018-03-12 09:42] jgbarah commented on #70
@kmn5409 said:

As @aswanipranjal commented, any repository could be analyzed. Have the link to the repository as a parameter for the script.

[2018-03-12 09:49] jgbarah commented on #70
@apoorvkhare07 said:

You should consider any number of repositories: those that are referenced in the enriched index.

In other words: for these microtasks, you may assume that you already have an enriched index available for analysis. Your script should work with any properly formed index (for the relevant kind, eg, git, github, etc.). Of course, for testing, you need to produce your own index,

[2018-03-12 19:05] srisumanth999 commented on #71
Hi,
i am getting the error "kidash: error: unrecognized arguments: import /tmp/git-dashboard.json
",when i try to run "kidash --elastic_url-enrich http://localhost:9200 \ --import /tmp/git-dashboard.json"

[2018-03-12 22:34] jgbarah commented on #71
@@vivekrj0 said:

In which file you changed this, please? (to fix it).

[2018-03-12 22:37] jgbarah commented on #71
@srisumanth999 said:

",when i try to run "kidash --elastic_url-enrich http://localhost:9200 \ --import /tmp/git-dashboard.json"

Not sure what is failing there, but just in case, try the command as:

[code]

And of course, ensure that you have a proper file in `/tmp/git-dashboard.json` (eg, a copy of the one offered as example in the tutorial).

[2018-03-13 01:29] jsmanrique commented on #78
Hi @illuminatian. I don't know if [panels schemas](https://github.com/chaoss/grimoirelab-sigils/tree/master/schema) might help you.

Because GL supports many different data sources, one metric might be obtained by different means.

Each .CSV files contains the set of fields each index produced by GL has.

For example, for "issues open":
* In [github_issues.csv](https://github.com/chaoss/grimoirela

[2018-03-13 01:51] jsmanrique opened #83 "Support for projects hierarchy"
Wouldn't it be nice having some kind of projects hierarchy in GrimoireLab?

Currently GrimoireLab only supports 1 level hierarchy according to [projects.json example](https://github.com/chaoss/grimoirelab-mordred/blob/master/docker/example_conf/projects.json) and [the existing documentation](https://grimoirelab.gitbooks.io/tutorial/content/mordred/the-projects-file.html). So we have `Project > Rep

[2018-03-13 11:40] sduenas commented on #83
We need it. Projects like `Eclipse` have a complex hierarchy of subprojects.

Yes. Some user migth be interested on having a dashboard about a set of projects and another dashboard that includes some projects of that set. For instance, I'm thinking of "topic dashboards". You can have analyzing "Apache" activity but another one that analyzes "Web Servers". This one will include some of the reposito

[2018-03-13 12:13] jgbarah commented on #83
Although I find the interest of this, it breaks the (current) assumption that a repository is in a single place in the hierarchy. This allows us (currently) to tag all its items (eg, commits) with a single project name.

If we go the way you propose, we would need to tag items with lists of projects (at any level in the hierarchy). I'm not sure how this would affect to visualizations (eg, to table

[2018-03-13 12:40] kmn5409 commented on #70
I have a question about Microtask #2 is it that in solving it you would use your own token from github? And when posting what you did you would instruct to put your own personal token?

[2018-03-13 14:28] apoorvkhare07 commented on #70
@kmn5409 Yes while doing the microtask you'll use your own github token to produce the desired output (csv or the plot) and while pushing it on github you can remove it.

[2018-03-13 14:31] aswanipranjal commented on #70
@kmn5409, yes, while solving you'd have to use your own personal token. You should remove the token from the notebook when pushing the notebook to GitHub. As stated above:
[code]

[2018-03-13 16:11] jsmanrique commented on #83
I understand your point @sduenas. Currently, GrimoireLab only shows a dashboard by projects.json file, and I was thinking about a similar use case for ecosystem.json file or similar approach. Perhaps it's my lack of knowledge about how things are counted if repositories or projects definition are duplicated.

Well, I understand. I was thinking about it as a way to define an scope of analysis. At l

[2018-03-14 07:38] karansingh1559 commented on #71
@jgbarah I changed it in the projects.json file.

[2018-03-14 07:59] jgbarah commented on #71
@karansingh1559 said:

Weird. It should work lowercase. Well, in fact, it *is* working lowercase, at least for me. Have a look for example at this [projects.json file](https://github.com/chaoss/grimoirelab/blob/master/docker/projects.json) we use for the Docker containers.

How exactly did you check that it failed (and later worked)? If you can, please post the exact projects.json file that worked

[2018-03-14 08:02] jgbarah commented on #70
Thanks @apoorvkhare07, @aswanipranjal! Yes, that's it. In fact, @kmn5409 the recommendation about removing the token is a very good one for whatever credentials you have in your files: remember to remove them before uploading to any public site.

[2018-03-14 08:05] vivekrj0 commented on #71
yeah exactly! @jgbarah
 it should work with lowercase.In fact if we change it will show it no error but it won't work.

[2018-03-14 16:50] zxiiro opened #87 "Ignore submodule updates when calculating git stats"
Gerrit has a feature called Submodule subscriptions [0] where it will automatically move the commit hash pointer for aggregator projects that are configured to subscribe to a submodule. When it does this however it automatically creates a new commit in the aggregator project for the updated submodule.

You can see many examples in this project [1] where most of the commits are just "Update git sub

[2018-03-14 16:55] zxiiro opened #88 "Support for release based reporting"
A feature to allow a user to specify 2 refspecs, either branches or tags. The statistics should walk through git to the locate the common parent of the 2 branches or tags, and then use that as the initial commit to count for contributions reporting in the reporting branch.

For example if if a project has a 1.0 release and a 2.0 release, we would be interested in identifying and getting statistics

[2018-03-14 17:07] jgbarah commented on #88
This would refer only to git?

[2018-03-14 17:19] sduenas commented on #87
Interesting. I didn't know about that. In the meantime, I think is possible to add a filter to the dashboard to ignore these commits. I see the commit message is always the same, so it will would be quite easy to filter these commits.

@alpgarcia or @dicortazar do you have any idea about how it should be done?

[2018-03-14 17:38] jgbarah commented on #87
If filtering out all messages starting with "Update git submodules" and then an empty line, it could be enough to have a Kibana filter as follows:

[code]

I've tested this with OpenDayLight and it seems to work, but it would be better if you have a look at it before implementing it... I've prepared a proof of concept:

https://opendaylight.biterg.io/goto/6f3bfe07bef0c9a82847fb9db12373d5

The filt

[2018-03-14 17:48] jgbarah commented on #71
@vivekrj0 said:

I'm getting lost ;-) So it works for you lowercase, uppercase or both? In the original messages I understood that the example you were using for `projects.json` had `git` (lowercase) as data source, but it worked when you changed it to 'Git' (uppercase). Am I wrong? And over all: where did you see that `projects.json`file? Because I  still don't know what to fix... ;-)

[2018-03-14 18:52] vivekrj0 commented on #71
@jgbarah ,
It only works with lowercase only only .But when we change it to Uppercase it also works but the enriched data won't be uploaded to dashboard.So changing to git to Git is useless.
I am using this project.json file only
[https://grimoirelab.gitbooks.io/tutorial/mordred/files/projects.json](url).
_Sorry for the entire confusion._

[2018-03-14 20:52] zxiiro commented on #88
Yes this specific feature Git related.

While having the same support for other data types would be interesting I'm not sure how to implement from a technical perspective.

[2018-03-14 21:50] Deepayan-Ghosh commented on #70
@jgbarah Hello, I am trying to use kibana to visualise data. I have installed kibana and when I go to http://localhost:5601, kibana shows up. However, when I try to visualise I am told to create an index pattern, which I do. I also see a warning on the left side stating that there is no default index pattern. So I set the new index pattern as default. However, as soon as I click on visualise tab o

[2018-03-14 22:07] apoorvkhare07 commented on #70
@Deepayan-Ghosh It seems to be due to the couchbase template installed in elasticsearch, which might be interfering with the kibana config stored in the .kibana elasticsearch index. The 'mark as default' button in kibana would not work and the kibana config stored in elasticsearch will appear to be empty.
Uninstalling the couchbase template or modifying it so it only matches my couchbase indices (

[2018-03-14 22:42] jgbarah commented on #88
I think in Gerrit very likely you are labeling reviews with release cycles. But in any case, yes, that's another story. Let's consider this for git only now. In that case, for having this feature we should label, in the enriched index, all commits with all the branches they are in. That is not simple: we should start with the list of refs, and get ancestors back to the first commit, labeling each

[2018-03-14 23:08] jgbarah commented on #70
@apoorvkhare07, @Deepayan-Ghosh: Which version of Kibana are you using? Indeed, that could be the problem.

[2018-03-14 23:09] jgbarah commented on #71
OK, I see. Thanks, @vivekrj0. So, I understand the tutorial is correct in this respect, and there is nothing to fix, right?

[2018-03-15 13:04] jsmanrique opened #89 "Aggregated Jenkins metrics by job instead of by build"
Wouldn't it be nice having trends and metrics related with Jenkins jobs instead of builds?

For Jenkins as data source, GrimoireLab currently shows metrics related with each build:
![captura el 2018-03-15 a las 13 59 43](https://user-images.githubusercontent.com/1178305/37464697-69964bd0-2859-11e8-907d-cf9adfffedd9.png)

It would be nice having metrics related with each job, like:
* average time
*

[2018-03-15 13:35] jsmanrique opened #90 "Aggregate Jenkins metrics by node type"
Usually Jenkins nodes are set up dynamically with a certain configuration, and their names could be related with that configuration.

For example:
* `ubuntu1604-basebuild-4c-4g-2165`, following the pattern `<OS>-basebuild-<Cores>c-<GB RAM>g-<random>`, used by ONAP and OpenDayLight
* `lf-pod2`, following the pattern `<company>-<slave_type><number>`. Ref: [OPNFV Jenkins Slave Naming Scheme](https://

[2018-03-15 14:34] Deepayan-Ghosh commented on #70
@jgbarah @apoorvkhare07 Yes it was a version problem. Switching to the latest versions solved the problem. Thanks for all the help.

[2018-03-15 15:29] jsmanrique opened #91 "Add support for Robot Framework as data source"
[Robot Framework](http://robotframework.org/) is being used by some open source projects as a a generic test automation framework for acceptance testing and acceptance test-driven development (ATDD).

It produces some [logs and reports](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#post-processing-outputs) that can be visualized for each test:
![captura el 2018-03-15

[2018-03-16 08:17] VertexC commented on #71
Hi, I am going through the tutorial on [create dashboard](https://grimoirelab.gitbooks.io/tutorial/grimoireelk/a-simple-dashboard.html)

Everything goes well with uploading index and dashboard config, but charts doesn't show in the dashboard. And there is a warning as "Index Patterns: In order to visualize and explore data in Kibana, you'll need to create an index pattern to retrieve data from Ela

[2018-03-16 16:35] pmonks commented on #83
I can't help thinking that this is potentially solvable as part of a more general solution to issue #37 i.e. "ecosystem" may just be a property in the indexes.

To put it another way, if #37 was possible today, this issue would also be solvable via a custom metadata property called "ecosystem", that users of Grimoire would be responsible for populating.

[2018-03-16 16:37] pmonks commented on #37
@acs that sounds like a good start, but recall that metadata isn't just for projects - it may also be for users, affiliations (companies), data sources, etc.

[2018-03-16 16:39] apoorvkhare07 commented on #70
@jgbarah can I get documentation for the Manuscripts projects somewhere ?
and can you tell more about the project's aim and demands ?

[2018-03-16 19:56] karansingh1559 commented on #71
@jgbarah @valeriocos  I have written scripts for the first 2 microtasks, but when I tested it on the organisations, elasticsearch is unable to create all the indices I want. I have 2 indices in my cfg file:

	config.set('github', 'api-token',  'XXX')
	config.set('github', 'raw_index',  'github_test-raw')
	config.set('github', 'enriched_index', 'github_test')`

But for some reason, when I run the M

[2018-03-16 21:43] valeriocos commented on #71
@karansingh1559, is your script available somewhere so I can have a look at it?

It may be possible that the enriched index is not generated because of an error during the collection of raw data? Maybe your token expires before fetching all GitHub repos data, if this is the case you need to another parameter to your config
[code]
Hope this helps

[2018-03-16 21:51] valeriocos commented on #70
@apoorvkhare07 wrt the documentation you can find something at: https://grimoirelab.gitbooks.io/tutorial/content/manuscripts/first-report.html.
Hope this helps

[2018-03-16 22:05] valeriocos commented on #55
GELK now includes this information https://github.com/chaoss/grimoirelab-elk/pull/249

[2018-03-16 22:47] karansingh1559 commented on #71
@valeriocos Even after adding the 'sleep-for-rate' parameter, I don't get an enriched index.
Here is the script, https://pastebin.com/RqvQAkkB

[2018-03-16 23:38] valeriocos commented on #71
Thank you for the script @karansingh1559
I was able to generate the raw and enrich indexes by modifying just a little bit your script.
I hope the info below helps to solve your issue.

What I changed was:
[code]
My chaoss.json is:
[code]

I tested everything with a Python script:
[code]

[2018-03-17 05:29] karansingh1559 commented on #71
For some reason, even after creating a new user on mysql and removing the line
    `studies = true`
I don't get an enriched index. For some reason, I can still get enriched index for git but not github. I even created a new access token with all scopes. I'll reinstall mordred to see if it makes any change.

[2018-03-17 08:50] valeriocos commented on #71
The script should take around 2 minutes (see below) to generate the indeces, and the GitHub token requires only repo and user scopes.
[code]
In my venv, I have installed the latest versions of grimoire-mordred (0.1.16), grimoire-elk (0.30.24), perceval (0.9.12), panels (0.0.9). I'm using elasticsearch 5.6.3.

How many entries you have in your raw index? You can get this number with:
[code]
Btw, is

[2018-03-17 20:21] karansingh1559 commented on #71
@valeriocos I put together a new environment and started installing everything from scratch.
The output on running mordred is https://pastebin.com/P7QVe3by.
I waited for around 15 minutes, but it didn't collect the github data.

Also, this is how my elasticsearch tab looks:
![image](https://user-images.githubusercontent.com/24516531/37559567-734b6aec-2a4e-11e8-9da5-70506f732a98.png)

This is what

[2018-03-17 22:24] Deepayan-Ghosh commented on #70
@jgbarah I was following this tutorial: https://grimoirelab.gitbooks.io/tutorial/mordred/a-grimoirelab-dashboard-in-one-step.html . Downloaded the `mordred-grimoirelab.cfg` file, `menu.yaml`, and `project.json` files. I also cloned the directory containing the panels but when I run `mordred -c mordred-grimoirelab.cfg` I get the following error:
[code]
Why am I getting such error? When I visit `htt

[2018-03-18 21:45] Deepayan-Ghosh commented on #70
@jgbarah This is related to the proposal. The goal of the project is to add support to manuscripts to produce reports of any repositories based on the metrics in https://github.com/chaoss/metrics. For example, now the pdf report that is generated has sections on: "Overview","Activity","Community" and "Process", however we want to add support for the metrics provided in https://github.com/chaoss/me

[2018-03-19 10:51] jgbarah commented on #87
@zxiiro: would this be good enough?

[2018-03-19 13:35] kmn5409 commented on #70
I'm not sure but when I try to create the Kibana dashboard I'm getting the error
`l$ kidash --elastic_url-enrich http://localhost:9200  --import /tmp/git-dashboard.json
2018-03-19 09:29:59,907 Panel not found (not in directory, no panels module): /tmp/git-dashboard.json
2018-03-19 09:29:59,907 Wrong file format (can't find 'dashboard' field): /tmp/git-dashboard.json
`
Now I might be putting the tm

[2018-03-19 14:22] zxiiro commented on #87
@jgbarah Yes I think this filter is sufficient.

[2018-03-19 18:01] jgbarah commented on #87
OK, thanks @zxiiro

@dicortazar @alpgarcia could you please copy this into the corresponding panels, if you want to include this in the GrimoireLab standard dashboard?

[2018-03-19 19:05] kmn5409 commented on #70
@valeriocos Yeah so this was what I had used to try and fix my problem but I still kept getting other issues

[2018-03-20 08:25] valeriocos commented on #70
@kmn5409, can you tell more about the other issues (or the other issues are the ones above?)

[2018-03-20 09:57] vivekrj0 commented on #71
Hi @jgbarah and @valeriocos,
Also my github index is not created by elastic search the error which i got:
`Collection for github: starting...
2018-03-20 15:15:34,305 - grimoire_elk.elastic - ERROR - Error creating ES mappings {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"mapper [data.comments_data.body] of different type, current_type [keyword], merged_type [text]"}],"type

[2018-03-20 10:12] valeriocos commented on #71
@vivekrj0 thank you for reporting this error.
Which versions of mordred, elk and elasticsearch are you using?

The problem above is due to a mismatch of types in the mapping, your current index defines the comments_data.body as keyword, but the new data is mapped as text. It is likely that if you regenerate the index, the error should be solved.
Let me know if this helps to solve your problem.

[2018-03-20 10:21] vivekrj0 commented on #71
@valeriocos thanks for consideration,
I am currently using:
mordred - 0.1.18
elk - 0.30.25
elastic search - 5.6.8
kidash - 0.4.3
sorting hat - 0.6.2

which of the version should i change?

[2018-03-20 10:29] valeriocos commented on #71
You can get the latests release of elk (but it should not cause the error above).
Please, could you try to recreate the raw and enriched indexes?

[2018-03-20 10:51] valeriocos commented on #71
@vivekrj0 instead of **https://github.com/inkscape/lib2geom.git** try **https://github.com/inkscape/lib2geom**, it should work.

When fetching data from GitHub, the API requires the name of the user/org (inkscape) and repo (lib2geom). If you append the .git, the API will look for the repo lib2geom.git, which doesn't exist.

Let me know if this fixes your issue

[2018-03-20 10:57] vivekrj0 commented on #71
Thanks! for lots of help! @valeriocos
Finally it worked:
`Collection for github: starting...
 Collection for github: finished after 00:00:37 hours
Enrichment for github: starting...
Elasticsearch aliases for github: creating...
Elasticsearch aliases for github: created!
Enrichment for github: finished after 00:00:12 hours
Elasticsearch aliases for github: creating...
Elasticsearch aliases for gith

[2018-03-20 11:28] skcse commented on #71
I was going through the tutorial for grimoirelab but when using [sortinghat](https://grimoirelab.gitbooks.io/tutorial/grimoireelk/a-dashboard-with-sortinghat.html) command it shows a error

(grimoirelab) $ sortinghat -u saurabh -p saurabh  init sdata
Error: Access denied for user 'saurabh'@'localhost' (err: 1698)

i tried using 'sudo' but it doesn't work

(grimoirelab) $ sudo sortinghat -u saurabh

[2018-03-20 11:35] valeriocos commented on #71
HI @skcse. Is saurabh your username to access the db?
Please, could you try to type from the shell ```mysql -u user -pXXX -e 'SHOW DATABASES;'```` where user is your username to access the db?

[2018-03-20 13:04] skcse commented on #71
@valeriocos thank you
Now it's working

[2018-03-20 14:09] kmn5409 commented on #70
So I'm trying to follow the tutorial for [https://grimoirelab.gitbooks.io/tutorial/grimoireelk/a-simple-dashboard.html](url) and when I try to create the dashboard I get the issue
`$ kidash --elastic_url-enrich http://localhost:9200 --import /tmp/git-dashboard.json 2018-03-19 09:29:59,907 Panel not found (not in directory, no panels module): /tmp/git-dashboard.json 2018-03-19 09:29:59,907 Wrong fi

[2018-03-20 17:35] jgbarah commented on #87
OK, thanks @zxiiro

@dicortazar @alpgarcia could you please copy this into the corresponding panels, if you want to include this in the GrimoireLab standard dashboard?

[2018-03-20 18:04] jgbarah commented on #70
@Deepayan-Ghosh said:

In short, yes. But details could be different. For example, we could use a combination of scripts and Python notebooks for producing the result. But first step will be doing that with the current Manuscripts machinery, the rest will depend on progress and ideas.

[2018-03-20 18:06] jgbarah commented on #70
@kmn5409 said:

$ kidash --elastic_url-enrich http://localhost:9200 --import /tmp/git-dashboard.json 2018-03-19 09:29:59,907 Panel not found (not in directory, no panels module): /tmp/git-dashboard.json 2018-03-19 09:29:59,907 Wrong file format (can't find 'dashboard' field): /tmp/git-dashboard.json

Which file are you using for `/tmp/git-dashboard.json`? Becase it seems the file is not in the rig

[2018-03-20 18:09] jgbarah commented on #70
@Deepayan-Ghosh said:

The only thing I see different from my setup is that you're using Kibana 6.2.x, and the latest release I've tried is Kibana 6.1.x. Would you mind trying with Kibana (and Elasticsearch) 6.1.x? Meanwhile, I will try with 6.2.x, to see if we have some trouble with it.

[2018-03-20 18:59] valeriocos commented on #70
@kmn5409 I'm not able to replicate your error. Below, the steps I did:
- Start your ES (let's suppose that your ES is running on http://localhost:9200)
- Run these commands where your p2o.py is located (in my case /home/GrimoireELK/utils/p2o.py):
  ```p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git https://github.com/grimoirelab/perceval.git```
```p

[2018-03-20 22:12] Deepayan-Ghosh commented on #70
@jgbarah The same modred config file works and does not give any error, when I used Kibana (and elasticsearch) 6.1.0 and 6.1.3 and 6.1.4 versions. However there is an error with the default index pattern that I previously mentioned here: https://github.com/chaoss/grimoirelab/issues/70#issuecomment-373186748 and hence I moved to using lastest 6.2.2 versions.

On the other hand, I had mordred versio

[2018-03-21 12:26] kmn5409 commented on #70
@valeriocos I don't know if I'm saving the git-dashboard.json file in the wrong place, when you say the /tmp/ folder where is that exactly. I get the same issue as before when I run the command
`kidash --elastic_url-enrich http://localhost:9200 --import /tmp/git-dashboard.json
2018-03-21 08:22:32,426 Panel not found (not in directory, no panels module): /tmp/git-dashboard.json
2018-03-21 08:22:32,

[2018-03-21 12:35] kmn5409 commented on #70
Also I would like to know about how Microtask #5, so when it comes to providing things like documentation, it says that we can do it on any of the GrimoireLab tools so would it also include repositories like chaoss/grimoirelab-perceval and even the repository we're in now chaoss/grimoirelab?

[2018-03-21 14:00] valeriocos commented on #70
@kmn5409 , open a shell and write **cd /tmp/** (you will be in the /tmp/ folder). In a similar way you could store the git-dashboard.json in another directory (for instance with **cd ~/**, you will be in your home directory).
Can you try to use the .json file in [git-dashboard.json.tar.gz](https://github.com/chaoss/grimoirelab/files/1833533/git-dashboard.json.tar.gz) below instead of the one you a

[2018-03-21 16:43] kmn5409 commented on #70
Okay thank you for the responses @valeriocos so I saved it in the tmp folder now and when I run the command I now have this error
`
kidash --elastic_url-enrich http://localhost:9200 --import /tmp/git-dashboard.json
Traceback (most recent call last):
  File "/home/keanu/venvs/perceval/bin/kidash", line 77, in <module>
    ARGS.data_sources, ARGS.add_vis_studies)
  File "/home/keanu/venvs/perceval/l

[2018-03-21 16:51] valeriocos commented on #70
You're welcome @kmn5409 , do you have [Kibana](https://www.elastic.co/guide/en/kibana/current/deb.html) installed?

[2018-03-21 20:21] skcse commented on #71
@valeriocos
i was trying [A GrimoireLab dashboard in one step](https://grimoirelab.gitbooks.io/tutorial/mordred/a-grimoirelab-dashboard-in-one-step.html) with [config.cfg](https://jpst.it/1cBLF) and with [projects.json](https://jpst.it/1cBMi) but i was not able to create index pattern in dashboard
 I was using the following commad

(grimoirelab) $ sudo docker run -p 127.0.0.1:9200:9200 -p 127.0.0.

[2018-03-21 20:48] vivekrj0 commented on #71
@skcse I guess you trying to create dashboard using docker ?
This may help:
`docker pull grimoirelab/full`
`docker run -p 127.0.0.1:5601:5601
    -v $(pwd)/credentials.cfg:/override.cfg
    -t grimoirelab/full`
credentials.cfg contain your api-token!

[2018-03-22 00:29] kmn5409 commented on #70
![screenshot from 2018-03-21 20-29-15](https://user-images.githubusercontent.com/27737729/37744625-8da9f2c8-2d46-11e8-8be8-bcf663b2862e.png)
To the best of my knowledge yes, is this how you check?

[2018-03-22 07:07] skcse commented on #71
@vivekrj0 Thank you
but i think it won't help as i am trying to make a dashboard with the help of morderd with configuration file as given [here](https://grimoirelab.gitbooks.io/tutorial/mordred/a-grimoirelab-dashboard-in-one-step.html)

[2018-03-22 18:57] sduenas opened #96 "Gerrit status values for patches"
GrimorieLab groups Gerrit status for patches in MERGED (=CR+2), ABANDONED and NEW (CR-2, CR-1, CR0, CR+1) status but the enriched items miss which values were set originally.

Differentiating might be nice to cover different use cases such as:

* "This patch has not received any review / feedback at all" (CR0)
* "This patch needs improvement, follow up with the developer if they plan to improve it

[2018-03-23 14:19] gopal86 commented on #70
I was running this command as given in the [tutorial](https://grimoirelab.gitbooks.io/tutorial/grimoireelk/a-simple-dashboard.html) `kidash --elastic_url-enrich http://localhost:9200   --import /tmp/git-dashboard.json`. I am getting the following error :-

`Traceback (most recent call last):
  File "/home/vallabh/venvs/grimoirelab/bin/kidash", line 33, in <module>
    from kidash.kidash import imp

[2018-03-23 16:30] gopal86 commented on #70
yes  @valeriocos , i had installed it . it also shows `Successfully installed kidash-0.4.3` .

[2018-03-23 17:11] valeriocos commented on #70
It's possible that you are using an old version of [grimoire elk](https://github.com/chaoss/grimoirelab-elk). Please @gopal86, try with the latest version.

[2018-03-23 17:38] valeriocos commented on #70
@kmn5409, I'm not able to replicate your issue. Do you have the latest version of kidash, ELK?
Is the version of your ElasticSearch aligned with the one of Kibana?

[2018-03-23 17:41] karansingh1559 commented on #71
@valeriocos @jgbarah Could you please help with me with the query? :sweat_smile:
'''
Which format is being referred to in

    Currently, GrimoireLab uses its own format for describing a project, ...

Also, when we talk about formats like DOAP and other similar ones, the goal of the GSoC project is to identify more such formats and also being able to convert them to the GrimoireLab format right?

[2018-03-25 19:52] anveshc05 commented on #71
@jgbarah @valeriocos The mail to the mailing list mentioned

spacing, and 1 inch margins.
Will these guidelines be strictly followed for evaluating the proposals or are they just suggestions for the proposal ?

[2018-03-25 21:25] valeriocos commented on #71
Hi @anveshc05 , I woud try to provide a proposal that follows the guidelines.

[2018-03-25 21:33] anveshc05 commented on #71
Thanks @valeriocos.
The GSoC organizations page for Chaoss mentions

Is the statement of interest same as the proposal ?

[2018-03-26 03:26] kmn5409 commented on #70
@valeriocos I saw that it might have been the memory on my computer was filled up so I had to make room on it, I assume that was the issue because when I tried to upload things to elasticsearch it was not working, so I think I got it out, and also to answer your question I use docker to get my instance of kibana and elasticsearch.

[2018-03-26 15:51] LShivaPrabhakar commented on #70
Hey @jgbarah

I'd like to work on this project for Google Summer of Code 2018.
Please help me getting started.

[2018-03-26 15:53] germonprez commented on #70
@LShivaPrabhakar

Thanks for interest. We do have tasks that we ask potential students to complete. They can be found here:

https://lists.linuxfoundation.org/pipermail/oss-health-metrics/2018-February/000517.html

You should also note that the student application deadline is: March 27 16:00 UTC.

[2018-04-02 17:21] filmaj opened #99 "Latest grimoirelab/full docker image not working with GitHub Enterprise backends"
I ran the full docker image a couple of months ago on my company's GitHub Enterprise instance. All worked well! I would run the image like so:

[code]

... with the following config files:

[code]

However, I just updated to the latest, and it no longer works. I see authentication errors related to GitHub in the output of the docker command - it looks like grimoire is trying to talk to public GitH

[2018-04-02 21:32] valeriocos commented on #99
@filmaj thank you for reporting this issue. We will check it and let you know asap.

[2018-04-02 22:01] jgbarah commented on #99
Thanks or the detailed report. I think at least a part of the problem is with this line (in the command lines for running the container):

[code]

In this version of the container, the right line should be:

[code]

This was a recent change, and now I realize the tutorial was not reflecting it. I just fixed it, sorry for causing you a wast of time.

Please, try it this way, and let us know if it w

[2018-04-02 22:04] jgbarah commented on #99
Yes, please. I cannot reproduce that. Let's wait, just in case, to see if somehow it is a cascading error from the previous one. But if it does not work after the `/override.cfg` case is fixed, yes please file a new bug report.

[2018-04-03 21:51] filmaj commented on #99
Thanks so much for the help @jgbarah ! Changing the credential file binding definitely got rid of the Hungry Ocean bug ;)

As for the kibiter error - it is still there. I assume this is related to why my grimoirelab instance is asking for details on elasticsearch indices, and not displaying any data right away? See screenshot below.

<img width="1668" alt="screen shot 2018-04-03 at 2 32 06 pm" src

[2018-04-03 22:35] jgbarah commented on #99
Great!

Yes. Mordred takes care of creating an index and then defining a default index, which is something that must be done before panels can be uploaded. In your case, it seems Mordred is not being able of contacting Kibiter. Would you mind trying the container using a mapping for the Kibiter port to 127.0.0.1, instead of an specific IP address? Just to see if it works the same way it works for

[2018-04-03 22:47] filmaj commented on #99
Looks like you nailed it, that seemed to be the issue with respect to the error:

[code]

I suppose I could work around this temporarily by putting a proxy in front of mordred (like nginx or something).

[2018-04-06 19:07] mindthegab commented on #37
Hey @acs and team - is there any chance we can get an update on this one? Is it actually planned for a certain release or timeframe?

The inflexibility of bitergia model is becoming quite of a blocker as our foundation grows, which at this point does not solve important business problems for us (project lifecycle, project categorization, organization type, etc).

Thanks in advance for your attenti

[2018-04-09 13:55] #55 closed

[2018-04-09 14:00] jsmanrique commented on #56
Let's focus on Q&A forums: Askbot, Stackexchange, and maybe Discourse

[2018-04-09 15:04] jsmanrique opened #100 "Missing dependency in grimoire-mordred"
When I try to run `mordred` with latest release (18.04-01), it seems that there is a missing dependency:
[code]

[2018-04-09 15:07] #100 closed

[2018-04-10 16:48] acs commented on #37
@mindthegab first of all, I am sorry for the lack of a timely response to this ticket.

Recovering the initial requirements from @pmonks, I will focus in some specific use cases, for supporting the projects metadata, we have already a meta field in the projects.json file, which can be used, but later, we need to use this data during the index generation so the data appears,

For adding metadata to

[2018-04-10 16:59] acs commented on #83
Having a field in an enriched index that is a list has no issues when managing it from panels (or in general, from Elasticsearch). For example, in some items we have a list of tags applied to it, and there is no problem in filtering using this list.

[2018-04-10 17:02] acs commented on #83
But we need to take this meta information and use it during data processing. If a field is part of a clear defined data schema (like projects grouping is inside Bestiary), it should not be a dynamic metadata field, but a concrete field that always exists. For data is more "schema less" I find the metamodel more interesting because its dynamic mature.

[2018-04-10 18:13] pmonks commented on #37
@acs custom metadata for just projects would be a great start - that's where most of our requirements are.

[2018-04-11 10:28] acs commented on #37
Great. Let's focus on that then. The implementation is pretty direct So we just need to define it correctly. Let's start adding a new field to the "meta" field in projects.json called "ecosystem". Could you add it to your projects.json in SymphonyOSS, @pmonks ? After that, we will add support so this field appears in all your enriched indexes just in the same way that project field now appear.

So

[2018-04-11 10:34] acs commented on #83
This is what I call data processing in this case, so we are aligned.

About the schema-defined field, I think about metadata fields as basic dynamic extensions of the data model. But the data model (in Bestiary there is a data model defined in Django ORM) is a fixed one and it is always there.

[2018-04-11 16:15] pmonks commented on #37
Yes, although it would ideal if we could shorten the `metadata_custom_` prefix to make querying in the Kibana UI easier.  How about using `mc_` or (even better) `cm_` instead?

[2018-04-11 16:40] acs commented on #37
Yes, it makes sense. I like the "cm_" prefix. Let's go with it in the first iteration.

The ideas as that all fields that appears inside the 'meta' dictionary will appear in the items, yes.

If the custom field values are valid JSON values, I think it should be ok. So for example, you can have as values strings, numbers, lists, dicts ... and these will appear in the enriched items. Let's start wit

[2018-04-11 16:51] pmonks commented on #37
Perfect.  For right now I think we only have string values anyway, though I could imagine adding a date field before too long (which may be tricky, given JSON / Javascript appalling lack of support for date/time/TZ data types).

[2018-04-11 17:04] acs commented on #37
JSON is which fixes some requirements here. In Python we just get the JSON and convert it to a python dict. So if you can add it to JSON, we can add it to the enriched items :+1:

[2018-04-16 19:01] Illuminatian opened #102 "Creating a new metric"
@jgbarah

So, over the past month or so I've been working on trying to get more familiar with the interface and making my own custom visualizations in the Kibana interface, however there's one thing I still haven't quite figured out how to do. I'm interested in creating a custom visualization, a metric. The calculating of this metric requires some simple math be done on values being pulled from th

[2018-04-16 23:04] jgbarah commented on #102
If you just want to compute the metric, in this specific case (the pony factor), I would compute it from the enriched indexes, since in them you have the data needed (namely, the number of commits per author).

If you want to show it in a chart in Kibiter/Kibana, you have two options:

* Compute the data over time (say, every day or every month), in a new index, and just chart that index with a Ki

[2018-04-16 23:09] Illuminatian commented on #102
@jgbarah

If there's a way that we could accomplish this that would make it a desirable addition to the GL project, I would prefer to do it that way, as my last assignment is to get a metric added into GL that CHAOSS would be interested in.

[2018-04-18 18:30] Illuminatian commented on #102
@jgbarah

Just trying to follow up on this. I think option #2 would probably be the best way to go about this, as I have no opposition to working with you to try and accomplish this. We do need to get this done within the next 2 weeks though 👍

[2018-04-23 18:30] Illuminatian commented on #102
Hey @jgbarah, can we start working together on this soon?

[2018-04-23 22:19] jgbarah commented on #102
Sorry @Illuminatian, I had missed your messages. Thanks @germonprez for the private heads up ;-)

Yes, please, let's work on this!

I suggest that we follow this path, if you have the time and interest:

(1) We define the metric and/or related metrics as precisely as possible (see below on this).
(2) We computer the metric, for example for git enriched indexes, in pure Python, so that we can get a

[2018-04-23 23:05] Illuminatian commented on #102
@jgbarah

Looks good to me, when/how would you like to collaborate on this? I have GL deployed locally through docker on my laptop, I am not familiar with how the indexes are produced though.

[2018-04-23 23:45] Illuminatian commented on #102
I'm in Central timezone (US). Not sure how that syncs up with you, but I can be available after about 5pm my time.

I do have the docker container deployed, but it's deployed to a command line only Linux VM on my laptop, so if we need to dive into the code I don't know really how I would go about that.

[2018-04-24 07:09] jgbarah commented on #102
OK, I will try to be available in the grimoirelab channel at freenode IRC at about that time. Ping me there if you see me.

You can just export the ports of the container (I think 9200 for Elasticsearch and 5601 for Kibiter will be enough). And then, write the code in your host operating system. Or we spend some time on letting you have a complete installation in your host operating system (at lea

[2018-04-24 15:19] Illuminatian commented on #102
Sounds like a plan. Talk to you then!

[2018-04-25 12:52] Illuminatian commented on #102
@jgbarah

I should be available around the same time today as yesterday. I had a seemingly never-ending series of issues trying to do a windows native install of GL, so after about 3 hours of banging my head against the wall, I went ahead and made a Debian VM and was able to succesfully get all the components installed in a python venv. I also go mysql installed, however when trying to run sorting

[2018-04-28 03:54] jsmanrique opened #104 "Update link to new tutorial in the website"
Current [GrimoireLab website](https://chaoss.github.io/grimoirelab) docs section links to [old/legacy Gitbook based GrimoireLab tutorial](https://grimoirelab.gitbooks.io/tutorial/content/).
It should link to [new tutorial site](https://chaoss.github.io/grimoirelab-tutorial/)

[2018-05-03 03:49] aravindputrevu opened #105 "Adding different data sources with Dockerhub installation"
Hi,

Thanks GrimoireLab for creating this tool. I used it but, I find it difficult to add data sources and see the dashboard for those org's or repo's. This is particularly with DockerHub.

Could anyone guide me to right resource?

[2018-05-03 14:14] aravindputrevu commented on #105
Thank you I figured it out. 👍

[2018-05-03 14:14] #105 closed

[2018-05-03 17:32] aswanipranjal opened #106 "Visualising the Metrics"
As per the discussion with @jgbarah, apart from creating pdfs of analysis of the projects using Manuscripts, we can look at other methods to visualise the metrics.
Some of them being:
- HTML pages (One for each Metric describing the activity metrics under that Metric).
- Interactive Notebooks by embedding D3.js code in them so that the users can analyse the Metrics more throughly. Using [JupyterLa

[2018-05-03 21:35] jgbarah commented on #106
Thanks, @aswanipranjal. WRT to the combination of Pandas and Vega, I would explore [Altair](https://altair-viz.github.io/) and [pdvega](https://jakevdp.github.io/pdvega/). You can have a summary of how they work (although for Altair, that corresponds to an old version) in [Introduction to Data Visualization with Altair ](http://pbpython.com/altair-intro.html) and [Intro to pdvega - Plotting for Pa

[2018-05-03 22:26] jgbarah commented on #105
Thanks a lot, @aravindputrevu.

If you have some time, would you mind sharing the experience by writing in this ticket how you added those data sources, and your experience with that? I'm about to write that part in the GrimoireLab Tutorial, and it would be very useful for me to have the view of a person not in the GrimoireLab core team.

[2018-05-04 03:59] aravindputrevu commented on #105
@jgbarah Here you go...

I used the docker hub to spin up GrimoireLab. I opened localhost:5601 and found that it is pulling data from GrimoireLab GH repo's. I logged into the container and checked that at the "/" there is a endpoint.sh script which starts the services. projects.cfg and projects.json which has what GH repo's to pull. So, I changed to add my repo's and then I could see my data.

The

[2018-05-04 12:44] jgbarah commented on #105
Thanks a lot! I had understood that you were tracking data for DockerHub images (which is one of  the data sources supported by GrimoireLab), not that you were using the GrimoireLab docker image and couldn't find info to configure it.

If this is the case, are you aware of the document [Docker images for GrimoireLab](https://github.com/chaoss/grimoirelab/blob/master/docker/README.md) and the chapt

[2018-05-10 10:55] aswanipranjal opened #108 "Setting up the infrastructure for tracking my GSoC project"
This issue is about the details of how my GSoC project will be tracked and how updates will be provided on the progress of the project.
- This is the [experimentation repository](https://github.com/aswanipranjal/gsoc-manuscripts). This will contain all the notebooks and libraries developed for the project.
- It also contains a [document](https://github.com/aswanipranjal/gsoc-manuscripts/blob/maste

[2018-05-11 01:50] jsmanrique opened #109 "'About' link fails in Grimoirelab website"
Current 'About' links gives an Error 404

[2018-05-30 04:18] acs commented on #37
All is implemented now. In the `projects.json` file you can add metadata to a project which will be shown in all its items.

For example:

[code]

So closing this item.

[2018-05-30 04:18] #37 closed

[2018-06-01 10:54] tkowalczyk opened #111 "run in docker on windows"
Hi,

Please tell me how to run this project in docker on windows? I am trying this as follow:
`docker run -p 127.0.0.1:5601:5601 -v credentials.cfg:/override.cfg -t grimoirelab/full`
but getting error:
`Error response from daemon: readdirent: not a directory.`

I am doing it as admin and the `credentials.cfg` file is also created.

[2018-06-03 14:18] #111 closed

[2018-06-03 21:15] jgbarah commented on #111
@tkowalczyk, could you run the stuff? (I'm sorry, I missed the notification of you opening this issue).

[2018-06-03 22:27] jgbarah commented on #104
Hopefully fixed in #112 and #113.

[2018-06-04 08:11] jsmanrique opened #116 "No way to create an index pattern with ES 6.1.0 and Kibiter 6.1.0"
I am testing latest GrimoireLab pip packages and this simple `docker-compose.yml`file:
[code]

Sadly, each time I run a `mordred.cfg` file, I get a Kibiter without an index pattern configured and I am not able to set up one through Kibiter interface. The cause seems to be a wrong `.kibana` index has been created first.

The only way to achieve a running dashboard has been to remove existing `.kiba

[2018-06-04 08:12] jgb commented on #116
You've got the wrong guy again @jsmanrique please stop tagging me.

[2018-06-04 08:19] jsmanrique commented on #116
Sorry @jgb. I meant @jgbarah. Sorry so much!

[2018-06-04 08:26] acs commented on #116
This is what is implemented in:

https://github.com/chaoss/grimoirelab-sirmordred/blob/master/mordred/task_panels.py#L174

But sadly, it seems it is not working always. We need to review it.

[2018-06-04 13:20] tkowalczyk commented on #111
Yeah, I run it on Windows so had to define paths in other way:

`docker run -p 127.0.0.1:5601:5601 -p 127.0.0.1:9200:9200 -v D:\test\credentials.cfg:/override.cfg -v D:\test\projects.json:/projects.json -t grimoirelab/full`

[2018-06-04 21:01] #104 closed

[2018-06-04 21:03] jgbarah commented on #111
Oh, I see. I'll add a note to the tutorial about that! Thanks for the heads-up.

[2018-06-05 05:04] #109 closed

[2018-06-07 21:49] jgbarah opened #118 "[releases] 18.06-01 includes a package with no new version"
The commit for SirMordred in 18.06-01 is: e5bc96aeb9a6798e427ed104e92783d1bbee708c.

However, this commit does not include a new version number for the package.

Please, fix this in 18.06-02, so that packages and container images can be produced...

[2018-06-08 03:03] acs commented on #118
Fixed in: https://github.com/chaoss/grimoirelab-sirmordred/commit/c015ce9d15e1beb0410bf3204d163edd71b9a7c9

Thanks for the heads up @jgbarah !

[2018-06-08 03:03] #118 closed

[2018-06-21 16:49] dicortazar commented on #58
Hi @rpaik,

We've been working on defining a new index for Gerrit having in mind these requirements.

The new schema would be the following:

|name| type| description|
|------|------|------|
 |is_patchset| long| 1 if the item is a patchset.|
 |is_approval| long| 1 if the item is an approval|
 |is_patchset_comment| long| 1 if the item is a comment|
 |is_changeset| long| 1 if the item is a code revi

[2018-06-25 11:36] aswanipranjal commented on #106
Long time no update!!

So, I've been experimenting with Plotly and Altair. Both are awesome libraries to get interactive visualizations but both these libraries do not provide static image files so easily.

Plotly DOESNOT let the users export to any image format offline. There are twisted ways to get the screenshot of the visualisation [using selenium, PhantomJS and such](https://duckduckgo.com/?q

[2018-06-29 21:35] jgbarah opened #127 "Version check failed when building 18.06-03 packages"
When running the checks before building packages:

* Failed version check for kidash
* Failed version check for grimoirelab-panels

@acs can you please have a look at this?

[2018-06-30 08:37] acs commented on #127
For grimoirelab-panels we are using the kibana5 maintenance branch. Hmmm, probably we should add versioning there. Is that enough?

I will check also the kidash and create a hot fix. Thanks @jgbarah for the review!

[2018-07-02 04:39] acs commented on #127
In https://github.com/chaoss/grimoirelab-sigils their policy is to create a maintenance branch for each major Kibana release. Until now:

* Kibana 4: https://github.com/chaoss/grimoirelab-sigils/tree/kibana4-maintenance
* KIbana 5: https://github.com/chaoss/grimoirelab-sigils/tree/kibana5-maintenance

And master panels are the ones working with the latest version of KIbana supported in GrimoireLab

[2018-07-02 04:56] acs commented on #127
Closing this ticket once all has been fixed in 18.07-01. @jgbarah if you have any issues just reopen this ticket or open a new one.

[2018-07-02 04:56] #127 closed

[2018-07-03 17:54] jgbarah opened #128 "Failed version check for grimoirelab-panels in 18.07-03"
Running (from grimoirelab repo):

[code]

[2018-07-03 18:38] acs commented on #128
It is grimoirelab-sigils what it is failing, and we are not using master branch in the release, but the migration branch `kibana6-migration`. AFAIK we don't have versions for this branch. So in this case, I would create the pip packages using master version (which has a version), and once this migration branch is in master, the problem will be fixed.

[2018-07-03 21:39] jgbarah commented on #128
We need release files that work, and that include that they produce a package with a new version number, if they changed. I still think that the commit from all repos should come from master, but in the end, maybe that doesn't matter that much: the important thing is that the commit in the release file matches a commit that changes the release number in the repo.

That's why I think it is a bug in

[2018-07-04 04:53] acs commented on #128
Yes, I understand your point, but we are not releasing a new version in panels `kibana6-migration` we are just getting the last state of this migration process. We can create an artificial version in order to have it in the release, but in this case, my guess is that this "release" is just a way to deploy some specific state of the repositories, not real versions. But, what is a version? Every com

[2018-07-06 11:03] jgbarah commented on #128
We need to produce new versions of the pip packages, since it is a number of releases failing now. So, I suggest:

* In the short term, please decide if the commit for the release should be from `master` or from `kibana6-migration`. From whichever you decide it to be, just ensure `_version.py` gets a new number. That's enough to produce new pip packages. I suggest that you just do it with `kibana6

[2018-07-12 06:54] acs commented on #128
Fixed all in 18.07-06. Closing this ticket!

[2018-07-12 06:54] #128 closed

[2018-07-12 07:38] acs commented on #17
@jgbarah is this still relevant?

[2018-07-12 08:18] jgbarah commented on #19
Yes, I'm closing it, thanks for noticing.

[2018-07-12 08:18] #19 closed

[2018-07-22 19:21] jgbarah opened #135 "Organizing documentation"
This issue was triggered by the insightful comments by @filmaj in chaoss/grimoirelab-sirmordred#167

To summarize, now we have the following documentation:

* Some README.md files in source code repos, including some in subdirectories of them.
* Some automatically built documentation from source code comments. In some cases (well, in one case) it is available in readthedocs: [Perceval documentatio

[2018-07-23 16:12] filmaj commented on #135
All of that sounds great! I would support that.

The tutorial would arguably be one of the first things a new (potential) user would read. A reasonable new-user journey would be: land on the grimoirelab page and then very quickly click on "Docs" to land on the tutorial. From that perspective, perhaps it could use a review to make it gentler and aimed at users with little understanding of the archi

[2018-08-09 15:51] dicortazar commented on #56
Already done in the mentioned data sources. For each of those there is a new pie chart that gives the pieces of information of net and relative number of answered and unanswered questions.

Then, depending on the data source, there may be another pie chart stating the number of accepted answers. These are those questions with a 'proven' solution and accepted by the community or the owner of the qu

[2018-08-09 15:51] dicortazar commented on #56
This is working for Kibana 5 and Kibana 6 panels.

[2018-08-09 15:51] #56 closed

[2018-08-09 15:56] dicortazar opened #137 "Number of replied emails in the several threads for a mailing list"
This task is a sub-set of the ticket #56 where the goal was to have the percentage of emails or questions in a Questions and Answers forum that have been answered.

The goal of this task is to produce a widget containing information about the number of new threads with no replies. This should be found somewhere in the mailing list panel.

[2018-08-19 22:05] BenLloydPearson opened #138 "Missing index-pattern-fields when running grimoirelab/full docker container"
Hello,

I'm putting together some dashboards using the grimoirelab/full docker container, and everything seems to be working find except for one detail. For some reason, the index-pattern-fields for author_min_date and author_max_date are not being created for my git index.

This results in the dasboard at Git >> Attraction/Retention showing the following error:

![screen shot 2018-08-19 at 5 03 3

[2018-08-23 14:32] BenLloydPearson commented on #138
Here are some additional details.

My mordred config file:

` # Mordred configuration file (Dashboard)
# Parameters related to the dashboard and how it is produced
# This is usually updated by the person maintaining the dashboard
#
# List: [val1, val2 ...]
# Int: int_value
# Int as string: "Int"
# List as string: "[val1, val2 ...]"
# String: string_value
# None: None, none
# Boolean: true, True, F

[2018-08-24 15:48] sanacl opened #142 "Private indexes with personal data"
The current version of the product is skipping all the emails found in the data sources, so the enriched indexes do no have a single email address. Sometimes it is interesting to build a table with people and emails, so this feature requests is about creating a different set of indexes where these information can be stored and accessed via credentials.

[2018-08-30 00:17] BenLloydPearson opened #143 "Problem with author_date formatting"
I'm using the grimoirelab/full container and I've identified an issue with the author_date field that's stored in elasticsearch. All date fields except for author_date include the time information in the field by default. You can see this in the following screenshot.

<img width="640" alt="screen shot 2018-08-29 at 7 19 17 pm" src="https://user-images.githubusercontent.com/7205829/44822378-77fdea8

[2018-08-31 17:29] MalloZup commented on #135
i will create some notes for setting up grimoireLab. https://github.com/MalloZup/GuidaGrimorelab

@jgbarah If you find any utility feel free to take them, atm there will be only notes for me to remember how the setup and mechanism etc works. :sunflower:

[2018-09-03 15:53] MalloZup opened #144 "[DOC]: elastic-search instance (shallowed doc prerequisite)"
Hi all,
i am reading the grimoirelab tutorial and various github repositories. ( i have also fun reading it so i try to improve the docs too :smiley: )

I wanted to give just a simple feedback or the `experience` as newbie that i got:

i have the impression that during the tutorial and docs we don"t state precisely the dependence between `grimoireLab` and  an already running `elastic search` durin

[2018-09-03 15:54] MalloZup commented on #135
small feedback https://github.com/chaoss/grimoirelab/issues/144

[2018-09-03 16:54] MalloZup opened #145 "[DOC Bug] broken link on https://grimoirelab.gitbooks.io/tutorial/grimoireelk/dashboards/dashboards/dashboards/github-dashboard.json"
https://grimoirelab.gitbooks.io/tutorial/grimoireelk/dashboards/dashboards/dashboards/github-dashboard.json

[2018-09-07 09:19] MalloZup commented on #145
@jgbarah  CC
i think the 404 is related to this github repo.
https://github.com/chaoss/grimoirelab-tutorial

[2018-09-11 20:52] jgbarah commented on #145
Thanks, @MalloZup

That's an old version of the tutorial, that was maintained in GitBooks until it stopped using free software for the production of the HTML version. Now, the tutorial can be read on-line at https://chaoss.github.io/grimoirelab-tutorial/

Thanks in any case for pointing out, I did delete the old version, to avoid confusion.

I'm clossing the issue, please feel free to reopen if yo

[2018-09-11 20:52] #145 closed

[2018-09-11 20:54] jgbarah commented on #144
Thanks a lot for the comment. Could you read this in https://chaoss.github.io/grimoirelab-tutorial/ and in particular in the current [The basics chapter](https://chaoss.github.io/grimoirelab-tutorial/basics/components.html) and the [Installation for the impatient section](https://chaoss.github.io/grimoirelab-tutorial/basics/quick.html#installation-for-the-impatient)?

[2018-09-11 20:55] jgbarah commented on #143
@BenLloydPearson, is this fixed?

[2018-09-11 20:59] jgbarah commented on #108
I think we can close this. Thanks, @aswanipranjal

[2018-09-11 20:59] #108 closed

[2018-09-11 21:00] jgbarah commented on #106
@aswanipranjal I think we already discussed this during the GSoC period... Do you think we could close?

[2018-09-11 21:01] jgbarah commented on #71
GSoC is well over, so I'm closing this issue.

[2018-09-11 21:01] #71 closed

[2018-09-11 21:02] jgbarah commented on #70
GSoC is well over, so I'm closing this issue.

[2018-09-11 21:02] #70 closed

[2018-09-11 21:03] jgbarah commented on #47
I think this was done long time ago, but we didn't close the issue. Closing it now.

[2018-09-11 21:03] #47 closed

[2018-09-11 21:05] jgbarah commented on #54
I think this is done. @sanacl can we close it?

[2018-09-11 21:06] jgbarah commented on #41
Is this fixed already, @sanacl @acs ?

[2018-09-11 21:08] jgbarah commented on #21
I think this is no longer relevant. Closing.

[2018-09-11 21:08] #21 closed

[2018-09-11 21:08] jgbarah commented on #20
I think this is no longer relevant. Closing.

[2018-09-11 21:08] #20 closed

[2018-09-11 21:08] jgbarah commented on #18
I think this is no longer relevant. Closing.

[2018-09-11 21:08] #18 closed

[2018-09-11 21:09] jgbarah commented on #17
I think this is no longer relevant. Closing.

[2018-09-11 21:09] #17 closed

[2018-09-11 21:09] jgbarah commented on #16
I think this is no longer relevant. Closing.

[2018-09-11 21:09] #16 closed

[2018-09-12 07:40] #106 closed

[2018-09-12 07:43] MalloZup commented on #144
@jgbarah thx yop we can close

[2018-09-12 07:43] #144 closed

[2018-09-12 18:05] jgbarah commented on #144
Thx!

[2018-09-12 18:06] jgbarah commented on #106
Thx!

[2018-09-16 20:03] BenLloydPearson commented on #143
Yes, this has been resolved. Thank you.

[2018-09-16 20:03] #143 closed

[2018-09-17 10:15] acs opened #149 "GrimoireLab versioning: 18.09-02, corresponding to grimoirelab 0.1.2"
I am trying to understand why we need to different version for the same GrimoireLab release. According to:

https://lists.linuxfoundation.org/pipermail/grimoirelab-discussions/2018-September/000130.html

What is the motivation for the different names for the release (from 18.09-02 to 0.1.2)?

Cheers!

[2018-09-19 09:00] jgbarah commented on #149
The rationale is as follows:

* We're trying all packages in GrimoireLab to follow [semver](https://semver.org/). This is different for the convention we're using now for GrimoireLab (as a whole) releases, based on time.
* It is weird to start a package in 18.09.02, for example.

Both things together lead me to use a different, semver-based, schema for grimoirelab, the package.

This said, I'm ope

[2018-09-19 09:52] acs commented on #149
GrimoireLab is a distribution of already existing packages, so for me, it is a bit hard to apply `semver` to it. But I don't have a strong point against it. I think that it is more important to use the same version for the GrimoireLab release and the python package.

[2018-09-19 10:11] jgbarah commented on #149
For the release id, I agree that we may apply semver or not. But for the grimoirelab package, I think it would be convenient. And that's where the two ids appear (well, in addition to having 18.x as id, but that's secondary). That's why I find the only way out is to use semver, and the distribution level (as much as possible) to grimoirelab.

But any decision that you all agree on is good for me,

[2018-09-20 09:00] alpgarcia commented on #89
First version ready at: https://github.com/chaoss/grimoirelab-sigils/pull/264

New panel looks like:
![captura de pantalla de 2018-09-20 10-58-45](https://user-images.githubusercontent.com/3502941/45807690-5924dc80-bcc4-11e8-91b7-289e616698fb.png)

[2018-09-20 09:17] alpgarcia commented on #90
First version of the panel proposed at: https://github.com/chaoss/grimoirelab-sigils/pull/265

To get info about `arm` arch there are two options:
* Filtering in the table, so you get table results only for `arm*`, for instance.
* Filtering on the top search box using: `builtOn:arm*`. Then all widgets will be filtered by that.

I think this will allow to play with results to get those you are inte

[2018-09-20 09:55] jsmanrique commented on #89
I think this could be interesting for @zxiiro ;-)

[2018-09-20 09:57] jsmanrique commented on #90
Again, also interesting for @zxiiro

[2018-09-20 13:53] zxiiro commented on #90
Another way to get this data is hitting the node API. (also available as xml by changing json to xml below).

https://jenkins.opendaylight.org/releng/computer/api/json?pretty=true

There's a section called "assigned labels":

[code]

There can be more than 1 label but at least in ODL we typically only use 1. There is always a label of the exact node name as well, imo those can be ignored.

Jobs ty

[2018-09-20 14:01] zxiiro commented on #89
Yes this would make the Jenkins dashboard a lot more useful.

Another useful addition to this would be the ability to categorize arbitrary job types based on keywords in the job. We have build types like:

* verify jobs
* merge jobs
* csit jobs
* clm jobs

etc... in OpenDaylight these types of jobs and you can tell the difference between them by the keyword in the job name. I wouldn't expect us to

[2018-09-26 11:01] alpgarcia opened #151 "Provide different access level to Hatstall"
It would be nice to have at least two access levels to Hatstall.

**Problem**: each user should be able to modify their affiliations. To avoid problems, each user should not be able to modify other affiliations. But there is no way of knowing what affiliations corresponds to a given user/profile, so there is no way to restrict their permissions.

To solve this, there could be two access levels:
*

[2018-09-26 13:33] acs commented on #41
@valeriocos and @sanacl should know it. I don't know.

[2018-10-01 09:51] sanacl commented on #54
@jgbarah yep, let's close it.

[2018-10-01 09:51] #54 closed

[2018-10-02 17:49] jgbarah commented on #149
Any comment here, or can we close this?

[2018-10-03 12:16] sduenas commented on #149
In my opinion we should use the same version for both. Since `grimoirelab` is just a meta-package in makes sense to use the same number for the release. I suggest to move to semver, so people can understand what kind of changes they can find which each release.

To avoid confusion with old release numbers, we can move the previous releases descriptions to an attic folder.

I also suggest to use th

[2018-10-10 10:48] sduenas opened #155 "Improve demography study"
The current demography study has some problems:

- It's data source specific. The behaviour of how demography is calculated should be independent of the datasource type in most of the cases.
- It writes each item again. That's not necessary because only max and min dates should be updated written/updated.
- It only updates a number of items per each author. In this case 10000 but an author can hav

[2018-10-10 15:23] mafesan commented on #89
Hi @zxiiro,

We could consider this version of the panel as standard and follow this conversation via your support tracker because these keywords you mention seem to be specific for OpenDayLight.

If you agree, we can close this ticket as this panel is now part of https://github.com/chaoss/grimoirelab-sigils repo.

Best, Miguel-Angel

[2018-10-11 02:36] baditaflorin opened #156 "Error when trying to install"
Using Linux Mint

Python 3.5 I think

Command used pip install --user grimoirelab

`    copying dulwich/_objects.c -> build/lib.linux-x86_64-3.5/dulwich
    copying dulwich/_pack.c -> build/lib.linux-x86_64-3.5/dulwich
    copying dulwich/stdint.h -> build/lib.linux-x86_64-3.5/dulwich
    creating build/lib.linux-x86_64-3.5/docs
    creating build/lib.linux-x86_64-3.5/docs/tutorial
    copying dul

[2018-10-11 02:37] baditaflorin commented on #156
Worked after installing

sudo apt-get install python3-dev
sudo apt-get install build-essential

If they are needed, include them in the documentation

[2018-10-15 17:17] zxiiro commented on #89
Yes, thank you.

[2018-10-15 22:43] jgbarah commented on #156
Thanks for the heads up. It seems that the fact that you need them or not depends on the platform you are in. But I will update the documentation to have that into account.

[2018-10-18 02:53] flaviobeck opened #159 "Need help to set specific repository"
Hello
I have installed Grimoirelab as Docker container and set credentials.cfg for github.
It has started without errors, but by default it get data from CHAOSS projects (like a demo).
at the dashboard (localhost:5601) I cant change the source data to my github repos.

So, I also have changed projects.cfg file:
[code]

how can I set my data source ?

[2018-10-18 03:00] markwalkom commented on #159
You need to use `projects.json`, here's mine;
[code]

And then to pass it to docker;
[code]

[2018-10-18 16:29] jgbarah commented on #156
Closing this one, after opening a related issue in the grimoirelab-tutorial repo: chaoss/grimoirelab-tutorial#45.

[2018-10-18 16:29] #156 closed

[2018-10-23 03:01] flaviobeck commented on #159
Yes...  now I can get data from my repo!!  thank you!

[2018-10-23 03:01] #159 closed

[2018-10-25 11:38] valeriocos commented on #155
Some improvements have been already integrated to the [code base](https://github.com/chaoss/grimoirelab-elk/commit/8ffd1f50e995647f0af4218f054c2ab43cebbf1c). The demography study is now generic and uses update operations to refresh the data. It can be easily plugged to any enricher, currently [git](https://github.com/chaoss/grimoirelab-elk/commit/057c10ae524d6c70619036d5363e00a7aa643d38) and [gerr

[2018-10-25 14:42] sduenas commented on #155
We can close this ticket then as this enhancement has been included in the code.

[2018-10-25 14:42] #155 closed

[2018-11-19 03:23] sduenas opened #163 "Data model"
The purpose of this task is to define the basic data model we will use in GrimoireLab. This means, to determine what entities can be extracted from the different data sources we analyze. Plus, how these entities are related.

The model should be composed by two levels of data (maybe more) and will establish how entities are linked or related to each other. In a graph, entities are the nodes and re

[2018-11-19 03:34] sduenas opened #164 "Definition of basic Git data model"
The goal of this task is to define a model of data for Git data source. This basic model will comprise those entities that not require a context to be generated.

The model defined by CVSAnalY to store Git data can be used as a starting point. This model defined some entities such as:

* Commit
* Action
* File
* Repository
* Tag
* People

A diagram of the model can be found [here](https://github.c

[2018-11-19 04:16] sduenas opened #165 "Sorting Hat 1.0"
Sorting Hat was started as a command line tool into the Metrics Grimoire project. Its purpose was to make easier the daily tasks related with identities management.

Late,  it was adopted as part of GrimoireLab project. It was been used as a command line tool but also as a library by Grimoire ELK library to access identities data. Despite this usage, Sorting Hat was not conceived for the simultane

[2018-11-19 19:45] jgbarah commented on #165
Will the library API (or an evolution of it) be maintained? And the command line interface?

[2018-11-19 20:06] sduenas commented on #165
Yes. There are more details here: https://github.com/chaoss/grimoirelab-sortinghat/wiki/Roadmap-to-Sorting-Hat-1.0

[2018-11-22 16:40] jsmanrique opened #166 "Include diffs information in commits data"
Would it be possible to have diffs information in the commit data?

It was a requirement by @craigez during latest Open Source Summit Europe

[2018-12-06 00:57] flaviobeck opened #168 "Error running grimoirelab cointainer"
Hello,

I am trying to run Grimoirelab as container, and now I have following error:

sudo docker logs grimoirelab

2018-12-06 00:42:59,617 - grimoire_elk.elk - ERROR - Error feeding ocean from github (https://github.com/kibana/): 404 Client Error: Not Found for url: https://api.github.com/repos/kibana//issues?sort=updated&since=1970-01-01T00%3A00%3A00%2B00%3A00&per_page=100&direction=asc&state=al

[2018-12-06 10:18] valeriocos commented on #168
hi @flaviobeck , in your projects.json try to remove the last slash for the repos kibana and elasticsearch in the git and github entries.

[2018-12-07 01:31] flaviobeck commented on #168
Works!
Sorry for my mistake...
It was 1am here in Brazil. :)

Another question:
I have changed projects.json like this:

[code]
After restart grimoirelab. when I go to localhost:5601 I still see the old data:

![image](https://user-images.githubusercontent.com/33756592/49621998-e831be80-f9ae-11e8-8b11-acb101001817.png)

how to reset the dashboard data and reindex the new one acording the new proje

[2018-12-10 01:46] flaviobeck commented on #168
Great!! it is working fine now!
thnak you @valeriocos

[2018-12-10 01:46] #168 closed

[2018-12-10 02:35] flaviobeck opened #169 "Github Pull Requests metric"
Hello,

I can see there are several dashboards and visualizations related to github pull requests, but I really could not find anything related to pull requests comments:

I would like to study some metrics to measure pull requests quality. One idea is to relate the pull request content (number of files or LOC, or number of commits, etc) to the number of Review comments.

If I am not wrong, we can

[2018-12-10 08:38] valeriocos commented on #169
Hi @flaviobeck ,
Sure it is possible, but currently GrimoireLab doesn't provide visualizations for Pull request data (i.e., reviews, reviewers). You can collect pull request data using the Perceval GitHub backend with category `pull_request`. You will have data about: submitters, mergers, review comments, requested reviewers and commits in PR (see code at: https://github.com/chaoss/grimoirelab-per

[2018-12-10 12:27] jsmanrique opened #170 "Error getting data from custom GitLab instances"
I am trying to analyze [GNOME Nautilus project](https://gitlab.gnome.org/GNOME/nautilus) activity. It seems that at some point GrimoireLab re-writes the GitLab URL provided in the `projects.json` file:
[code]

Log:
[code]

As you can see, it looks for data in `https://gitlab.com/api/v4/projects/GNOME%2Fnautilus` instead of something like `https://gnome.gitlab.org/...`.

Is it related with the non-

[2018-12-10 13:07] jsmanrique commented on #170
It seems that Perceval fails to get the data too:
[code]

The ouput I get is:
[code]

[2018-12-10 13:20] valeriocos commented on #170
Is this issue somehow related to: https://github.com/chaoss/grimoirelab-perceval/issues/429#issuecomment-422724682 ?

[2018-12-10 13:39] jsmanrique commented on #170
Yes, it might be. I've seen that the `base_url`I've used for testing with Perceval was wrong (`gnome.gitlab.org`) instead of `gitlab.gnome.org`

[2018-12-10 15:30] jsmanrique commented on #170
So, it seems that my mistake was not including the `enterprise-url` in the setup.cfg file. Time to try again.

[2018-12-10 15:40] valeriocos commented on #170
as you said before, the param `enterprise-url` is kind of hidden, we should improve that part of documentation.
Feel free to close the issue if you don't detect the problem anymore.

[2018-12-10 17:03] jsmanrique commented on #170
Probably it's solved, by I am not getting any data yet (and any error message too). Probably, something is broken in my configuration

[2018-12-10 21:44] valeriocos commented on #170
Data is processed in bulks of 1000 items by default (you can change this param in the [setup.cfg](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/tests/test.cfg#L24)). In the case of GitLab, since the API is pretty slow, you may have to wait some time before seeing the first issues or MRs in your GrimoireLab.

[2018-12-11 07:57] jsmanrique commented on #170
It seems that the issue opened has been solved. Thank you @valeriocos

[2018-12-11 07:57] #170 closed

[2018-12-11 10:16] dicortazar commented on #89
Hey I think we can close this ticket. Thanks to all of you who participated :).

[2018-12-11 10:16] #89 closed

[2018-12-12 04:05] jsmanrique opened #171 "Error enriching `project` field in GitLab data"
It seems there is an issue enriching GitLab data, because for any project in your projects.json file, you get their enriched data field `project` as `Main`.

You can see it in https://gitlab.biterg.io/app/kibana#/dashboard/2e968fe0-b1bb-11e8-8aac-ef7fd4d8cbad

And for this [projects.json](https://gitlab.com/jsmanrique/grimoirelab-demos/blob/master/GNOME/projects.json), I am getting only one `Main`

[2018-12-17 09:01] valeriocos commented on #169
@flaviobeck I would close this issue . Feel free to reopen it if needed.

[2018-12-17 09:01] #169 closed

[2018-12-17 12:06] aklapper commented on #1
Also see https://github.com/chaoss/grimoirelab/issues/58

[2018-12-22 12:30] urstrulykkr commented on #70
Hi@jgbarah
 I would like to take up idea #2 as my GSoC-19 project  in the link provided
https://wiki.linuxfoundation.org/chaoss/gsoc-ideas
Also, looking to patch few bugs being reported in the issue section of the grimoirelab repo
https://github.com/chaoss/grimoirelab/issues

what would you say ?

[2018-12-22 12:31] urstrulykkr commented on #70
@jgbarah  needed your guidance regarding GSoC-19 project contribution.

[2018-12-24 12:13] abitrolly opened #173 "Dead link to archtecture"
Tutorial page https://chaoss.github.io/grimoirelab-tutorial/#quick-overview links to missing page https://chaoss.github.io/grimoirelab/intro.md

![image](https://user-images.githubusercontent.com/8781107/50399154-70c1a480-078e-11e9-8f1a-1bc2036b61c8.png)

[2019-01-03 15:16] bhcopeland opened #175 "FileNotFoundError: [Errno 2] No such file or directory: 'aliases.json'"
When running grimoirelab/installed I get

`Exception in thread git:
Traceback (most recent call last):
  File "/usr/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.5/dist-packages/sirmordred/task_manager.py", line 98, in run
    task.execute()
  File "/usr/local/lib/python3.5/dist-packages/sirmordred/task_collection.py", line 123, in execute

[2019-01-07 21:43] jgbarah commented on #175
Thanks for the report and the remedy!

This is fixed in #167 so it should come in the next release of the containers...

[2019-01-15 09:40] acs opened #178 "pip does not upgrade grimoirelab between versions"
Trying to upgrade my grimoirelab deployed with pip, I needed for force the upgrade.

[code]

[2019-01-15 13:37] jgbarah commented on #178
Thanks for the report. However, I'm not sure where the bug is. If I understand your scenario, you already had grimoirelab installed (version 0.2.0), and you wanted to update to the newest version. If this is the case, the way to do it with pip is:

[code]

If you don't specify `--upgrade`, pip just looks for any version of `grimoirelab`, finds it already installed (0.2.0 in you case), and consider

[2019-01-15 13:37] #178 closed

[2019-01-15 14:16] acs commented on #178
Ups, I have expected that if a newer version is available, it will upgrade automatically or at least, it will mention it. My fault.

Thanks @jgbarah for the explanation.

[2019-01-24 12:00] Polaris000 commented on #135
I agree with @filmaj: the grimoirelab tutorial could be slightly more friendly to new users with more in-depth examples while the individual README files can have information regarding development, work-arounds as well as installation instructions. Separate CONTRIBUTING.md files along with issue and pull request templates will lead to less headaches and easier contributing. The automatically gener

[2019-01-24 12:04] Polaris000 commented on #135
As I have previously mentioned on the grimoirelab mailing list (and created a [pull request](https://github.com/chaoss/grimoirelab-tutorial/pull/58)), the grimoirelab tutorial website also lacks a favicon image which should appear in a browser's tab when visiting the website.

[2019-01-29 21:14] jgbarah commented on #70
@urstrulykkr sorry for being so late with this. In case you're still interested: this issue was for GSoC'18. For '19, we're still in the stage of proposing our project for participate in GSoC'19. We will open issues with the new tasks in due time. Thanks a lot for your interest!

[2019-01-30 16:03] urstrulykkr commented on #70
Hi Jesus,

I have a question to ask,should I wait for the GSoC'19 tasks (micro tasks )
and issues or continue solving the previous year issues.
I think issues related to a project would be good.

Secondly, what would you recommend me to do, so as to get selected into
GSoC'19, to contribute for CHAOSS and learn a lot of stuff with you guys.

Best,
K. Kaushik Reddy.

On Wed, Jan 30, 2019 at 2:44 AM

[2019-02-02 09:17] valeriocos opened #182 "GSoC Idea: Support of Source Code Related Metrics"
[ This issue for addressing questions and comments related to this GSoC idea, which is one of the [ideas proposed by the CHAOSS group for the 2019 edition of GSoC](https://summerofcode.withgoogle.com/organizations/6021327920562176/).]

## Description

Currently, GrimoireLab allows to produce analytics with data extracted from more than 30 tools related with contributing to Open Source development

[2019-02-05 09:02] alpgarcia opened #183 "GSoC Idea: Implementing CHAOSS Metrics in Kibana Dashboards"
[ This issue for addressing questions and comments related to [this GSoC idea](https://github.com/chaoss/governance/blob/master/GSoC-Ideas.md#idea-1-visualizing--chaoss-metrics-in-kibana-dashboards), which is one of the ideas proposed by the CHAOSS group for the 2019 edition of GSoC. CHAOSS is currently in the process of applying for GSoC slots, so we still don't know if this will be a part of GSo

[2019-02-08 18:42] dicortazar opened #184 "Addition of GitHub Stars, Forks and Watchers"
The goal of this task is to produce a final 'adoption' or 'popularity' panel that helps to understand how a technology is adopted by people outside of the project.

There are some ideas around (first contributions, newcomers ratio, etc), but it seems that having these initial set of metrics may help at least to have a first understanding of what's going on.

This issue may require actions on the f

[2019-02-09 06:08] Polaris000 commented on #182
Why is pycharm necessary? Does it have something to do with graal or softwareheritage?

[2019-02-10 14:49] valeriocos commented on #182
Hi @Polaris000 sorry for the late reply. Pycharm is not related to Graal or SoftwareHeritage, however is the IDE we commonly use with GrimoireLab. It has a good debug mode and allows to create a virtual env where to install external packages. Furthermore, it provides a mechanism to define a project structure (which allows to execute the source code of different packages without installing them via

[2019-02-10 18:10] Polaris000 commented on #182
Thanks for the reply! I used  pycharm in 2017 and 2018, mainly for basic data analytics and backend web development with django.
I was just curious as to why you specifically mentioned pycharm, though I agree with your logic. Pycharm is indeed a powerful tool.
As of now I don't use an IDE, just a text editor (sublime text). Though I do miss out on several features, I love the simple lightweight ex

[2019-02-25 22:47] sduenas commented on #90
This was already fixed by https://github.com/chaoss/grimoirelab-sirmordred/pull/238 and https://github.com/chaoss/grimoirelab-elk/pull/460

[2019-02-25 22:47] #90 closed

[2019-02-25 22:49] #175 closed

[2019-02-25 23:01] sduenas commented on #171
Fixed by https://github.com/chaoss/grimoirelab-elk/pull/530

[2019-02-25 23:01] #171 closed

[2019-02-27 08:31] dicortazar opened #186 "[metric] How long does it take to answer an email in the mailing list?"
The goal of this task is to have calculated the time to first response in the mailing lists data source.

As done in other data sources such as Discourse or Issues in GitHub, this number helps to understand the time to attention. However the internal hierarchy of emails and how they have to be calculated makes this analysis a bit more complex than the others.

A potential solution for this would t

[2019-02-28 06:47] VertexC commented on #183
Hi, I am pretty interested in this GSOC project! I will look into the micros soon.

[2019-03-05 08:33] alpgarcia commented on #183
Hi @VertexC, thanks for the interest!

We'll be more than happy to solve your questions (if any) and help you if needed.

Cheers,
Alberto.

[2019-03-06 15:23] inishchith commented on #182
I'm interested in this Project and have been working on the microtasks.

@jgbarah @valeriocos I had some doubts though.

1. Microtask [ 0, 1 & 5 ] are mostly related to environment setup related to the tool and getting familiarized with it. How do i show the work on my Microtasks repository, a `Readme.md` file with some steps?
2. Had to similar doubt as mentioned in [this](https://github.com/chaos

[2019-03-06 15:37] valeriocos commented on #182
Thank you @inishchith for your interest in this idea.

For task 0 it is not needed to show something. WRT tasks 1 and 5, a screenshot of the configurations should be enough, something like the image below, for instance
![captura de pantalla de 2019-03-06 16-32-45](https://user-images.githubusercontent.com/6515067/53892987-9fc98180-402d-11e9-8e65-dc1dc6c72c4d.png)

WRT 2., you can work on a private

[2019-03-06 17:11] mafesan commented on #183
Hi @VertexC, thank you for your comment!

We are glad you are interested in the project, feel free to drop us any questions or comments you may have!

Best,
Miguel-Ángel

[2019-03-06 17:16] inishchith commented on #182
@valeriocos Thanks for the response 👍

[2019-03-07 22:38] jacintoj commented on #183
Hola @alpgarcia y @mafesan ,
¿Qué tal? A mi también me interesa mucho esta idea para el Google Summer of Code :-)
He llegado aquí gracias a Manrique, que ha puesto un enlace en el Slack de Open Source Weekends.

¡Muchas gracias!
Saludos,
Jacinto

[2019-03-08 10:37] apoorvkhare07 commented on #186
Hey @dicortazar, Is this issue open for taking ? I would like to work on this.
If yes, can you let me know how to start with?

[2019-03-08 18:46] pranshudiwan commented on #183
Hi :)
I'm Pranshu, a final year cs undergrad. Glad to see chaoss, can't wait to contribute in GSoC 2019! With my acquired python, advanced analytics, and ML skills acquired over the years from my data science startup work experience, I'm excited to finally use it for open source. This project seems the perfect place to start, have started working on the microtasks! Any tips/guidance apart from the

[2019-03-09 01:14] dicortazar commented on #186
@apoorvkhare07 thanks for your interest!
Are you applying for any of the GSoC projects or are you willing to work on this on your own? I'm asking as I can ask others that will be mentoring this.

In any case, the point about how to start is to mainly work on the Grimoire-ELK project that enriches the information. The enricher can be found at [1]. As you can see in lines such as [2] this is transla

[2019-03-09 14:44] apoorvkhare07 commented on #186
Hey @dicortazar, Thanks for the help and Yes, I am looking for applying on a GSOC project.
I am working on this issue in the direction you gave.
I was facing an issue regarding viewing of the tutorial on this link https://grimoirelab.gitbooks.io/tutorial. I think the tutorial is on an earlier version of gitbook so anyone with account on newer version of gitbook cant access that and new accounts ca

[2019-03-09 22:07] dicortazar commented on #186
@apoorvkhare07 please have a look at https://chaoss.github.io/grimoirelab-tutorial/.

Adding @alpgarcia to the discussion as well.

[2019-03-11 15:20] Margretor commented on #183
Hello,

I am interested in this project and I look forward to work on it @GSOC. I will take a look at the microtasks and start working on them.

Cheers,
Octavian

[2019-03-12 09:41] alpgarcia commented on #183
Hello everyone!

thanks for the interest. A good place to start, further than reading documentation, would be trying to use [micro mordred](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/README.md#micro-mordred) to start retrieving some data.

I usually work with [PyCharm CE](https://www.jetbrains.com/pycharm/) and Python virtual environments. Just clone and locally install all the r

[2019-03-14 17:51] inishchith commented on #182
@jgbarah @valeriocos @aswanipranjal
I've worked on the Microtasks mentioned above and would be looking out for improvements on it from here on and would soon will start working on the proposal. I had some questions .

1. One of the aims mentioned is "Evaluating the implementation with projects of different sizes", I'm unsure if i understand this clearly, can you please elaborate on this?
2. I've r

[2019-03-14 18:08] valeriocos commented on #182
great @inishchith !

wrt 1, the idea is to take projects (e.g., github repositories) made of 1000, 10000 or more commits and benchmark the time needed by graal to process them. Ideally, this will allow to better understand where optimization efforts should be applied in the future.
does this sound more clear?

wrt 2. sure! if you point us to your repo (public or private), we will have a look and g

[2019-03-14 18:13] inishchith commented on #182
@valeriocos Thanks for the response.

Yes, Thanks ;)

is it ok for you?

I've got a private repository as of now. Do i added mentors as collaborators? if there's any other way i could give access, please do let me know.

[2019-03-14 20:31] valeriocos commented on #182
yes, add us as collaborators.
thank you!

[2019-03-14 20:54] sumitskj commented on #182
Hii, I am Sumit Kumar Jangir, I am really interested in this project and have done some microtasks as well and will try to solve all.

[2019-03-14 21:58] valeriocos commented on #182
welcome @sumitskj ! don't hesitate to ping us if you have some questions or need feedback on your microtasks.

[2019-03-15 04:21] apoorvaanand1998 commented on #182
Hi! So I've been going through the tutorial. When I run Kibiter (Which I decided to use over Kibana), I get the following warning:

`[warning] You're running Kibana 6.1.4-3 with some different versions of Elasticsearch. Update Kibana or Elasticsearch to the same version to prevent compatibility issues: v6.1.0 @ 127.0.0.1:9200 (127.0.0.1)`

I am running [Kibiter community-v6.1.4-3](https://github.c

[2019-03-15 10:56] valeriocos commented on #182
Hi @apoorvaanand1998 sorry for the late reply. Ideally ElasticSearch and Kibana should have the same versions (at least major and minor), however some time ago we decided to use Kibana 6.1.4 to benefit of some new features. You can ignore the warning, since it doesn't break anything in the platform.

Btw, I have prepared some docs to get started with grimoirelab (https://github.com/chaoss/grimoire

[2019-03-15 13:54] inishchith commented on #182
@valeriocos I've added all the mentors as collaborators to the repository as you suggested. Looking forward for suggestions ;)
Thanks.

[2019-03-15 15:33] alpgarcia commented on #183
Thanks to @valeriocos there is a new section in **sirmordred** README that may be useful for you: https://github.com/chaoss/grimoirelab-sirmordred#getting-started

[2019-03-16 09:58] miscellaneously commented on #183
hi,
I was trying to install via docker "grimoirelab/full" , but couldn't follow instructions, i pulled from docker web site and when it runs , it sets up es, MariaDB and Kibiter successfully and logs this message

[code]

and this gets repeated continuously. So this is how it runs because when I tried to access browser to 5601 port, connection times out

following is output for netstat
 `sudo nets

[2019-03-16 12:26] miscellaneously commented on #183
sorry but turns out I didn't opened port 5601 on cloud

[2019-03-16 14:34] SunflowerPKU commented on #182
Hi @valeriocos, I am very interested in this project and have already completed several microtasks.
However, when I was doing microtask 6, I encountered a problem and need your help.
I have already successfully created a Python script to execute Graal via its Python interface using the CoCom backends.
Unfortunately, when I was trying CoLic backends, I initialized CoLic object with function : `CoLi

[2019-03-16 14:42] inishchith commented on #182
@SunflowerPKU `CoLic` backend uses `ScanCode` and `Nomos` tools in order to process license related information.
`exec_path` is the executable path of the particular tool. You can install them using [these instructions](https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables).

[2019-03-16 14:49] valeriocos commented on #182
Hi @SunflowerPKU, thank you for your interest in this project.

The `exec_path` is the local path of the executable of `nomos` or `scancode` (the tools currently supported by `CoLic`). For instance, if you plan to use nomos, you should:
- clone the repo: https://github.com/fossology/fossology/tree/master/src/nomos
- follow the instructions at: http://archive15.fossology.org/projects/fossology/wiki

[2019-03-16 14:49] valeriocos commented on #182
sorry @inishchith I have just seen your message

[2019-03-16 18:54] sumitskj commented on #182
@valeriocosI was doing microtask 8 and I got stuck at how to checkout at a given commit SHA. I searched graal documentation and other things but I didn't get it. Can you help?

[2019-03-16 19:39] valeriocos commented on #182
Hi @sumitskj
please have a look at these methods: https://github.com/chaoss/grimoirelab-graal/blob/master/graal/graal.py#L316  and https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L1294

[2019-03-17 09:45] miscellaneously commented on #183
Hi @alpgarcia ,
I have started work on this idea's microtask, they are very interesting indeed, but I might need your help regarding timeline and goals to be achieved in 3 months period.Are you available on grimoirelab channel?

[2019-03-17 10:32] sumitskj commented on #182
@valeriocos

Thanks it worked

[2019-03-17 18:04] dhruv-chauhan commented on #183
@alpgarcia @mafesan

For micro[3], in the [definitions](https://github.com/chaoss/metrics) ,
- [Bus Factor](https://github.com/chaoss/metrics/blob/master/activity-metrics/bus-factor.md) and Pony Factor have the same definitions, I'm not sure what the difference between the two is.
I'd like you to help me figure out.

Thanks !

[2019-03-18 09:40] alpgarcia commented on #183
Oops, that's was our mistake, these are two names to refer to the same factor. I've updated task description to fix this. Thanks for noting this!

[2019-03-18 09:52] alpgarcia commented on #183
Thanks for the PR! I'm not usually there. If you don't mind, please write here your doubts. This way all students having same or similar questions will be in the loop too and we'll keep improving the task and the documentation all together.

[2019-03-18 14:40] miscellaneously commented on #183
Please checkout dashboard image i uploaded in this repo  https://github.com/miscellaneously/gsoc2019_grimoire and it would be great if you answer these:

1. Would we just have to implement metrics available in chaoss workgroups or develop them from scratch?
2. I just wanted to confirm here tht in microtask 4 by this statement

you mean sum of addedlines and removedlines property and  for that do w

[2019-03-18 16:29] alpgarcia commented on #183
If a metric is already defined, don't reinvent the wheel ;)

(just add the reference to the definition to let us know what you are following, even if it is a definition that comes from other place, or even if it is your own definition)

Well, these are just suggestion. Potentially you could define your one metrics :)

You can go for a field like in Git index or you can try to find a solution or wo

[2019-03-20 09:12] miscellaneously commented on #183
Hi, I just completed my proposal, please have a look, https://docs.google.com/document/d/1IzX7zWt44C_55TWifNYCE8S93bYt4yX2hRW_Cxhiu_s/edit?usp=sharing and suggest changes if required either in approach or timeline projection.

Also I might complete micro task 1,4 in 2-3 days, and 5 one during proposal period starting form 25 mar.

Thanks

[2019-03-21 08:44] alpgarcia commented on #183
**Quick advice**: have a look to [CHAOSS dashboard](https://chaoss.biterg.io/app/kibana#/dashboard/Overview?_g=()) to see some metrics in action through a number of panels.

[2019-03-21 20:38] sumitskj commented on #182
@valeriocos @jgbarah I have done the microtasks and I have also made a private repo to show what I have done. Can I add you both the mentors as collaborators to my repo, to give me feedback on any improvements that can be made.

[2019-03-22 08:33] valeriocos commented on #182
@sumitskj feel free to add me as collaborator, thank you

[2019-03-22 10:46] alpgarcia commented on #184
@dicortazar, @sduenas should we close this?

[2019-03-22 10:49] alpgarcia commented on #183
For those of you working on the microtasks, I would like to share a repo of another GSoC idea that is a good example on how you could organize your work:
https://github.com/inishchith/chaoss-microtasks

[2019-03-22 11:24] sduenas commented on #184
Not yet. I need to review the PR needed to upload panels and aliases with Mordred.

[2019-03-24 14:44] inishchith commented on #182
@jgbarah @valeriocos
One of the aims mentioned for the project idea is "Producing analytics with Graal data and including them in Sigils".
What i understood from this is, we're expected to create Kibana dashboards related to analytics produced using data retrieved from Graal and import the panels to [grimoirelab-sigils](https://github.com/chaoss/grimoirelab-sigils).

When i was exploring the codeb

[2019-03-24 16:46] valeriocos commented on #182
Hi @inishchith , the dashboards are created directly in Kibiter (soft-fork of Kibana) and then exported with [kidash](https://github.com/chaoss/grimoirelab-kidash), For example, the command below allows to export a dashboard with id `f2f2f0d0-4bcc-11e9-a2bb-75841b49fd70` located in the ElasticSearch at `https://admin:admin@localhost:9200`. The exported dashboard will be saved as `scava-test.json`

[2019-03-25 15:10] dlumbrer opened #187 "[docker] 503 server error in grimoirelab-full docker image"
Hi!,

I was launching the grimoirelab-full docker image, and I got this error:

[code]

---

@valeriocos and I were understanding the error and we saw that it is an error with the Java memory (heap-size). We have to add more memory to the Java machine, as it says in this post:

- https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html

I solved the error adding in the Docker

[2019-03-25 16:10] inishchith commented on #182
@valeriocos Thanks for the response. The configuration really helped :)
As i am about to start working on a Proposal for the project, i had a thought over.
- As it's known that Graal provides analysis related to code complexity, quality, dependencies, security and licensing. Defining and calculating metrics related to source code analysis data provided by Graal needs some clarity and discussion as

[2019-03-25 18:40] valeriocos commented on #182
Thank you @inishchith for raising this point. I'd say that it will be discussed with mentors during the period. Probably we could start with some metrics already defined in CHAOSS (LOC, licenses), and then based on the data extracted with Graal, add more (e.g., code complexity) or refine the existing ones.

We could also focus just on some category metrics, for instance only the ones about license

[2019-03-26 14:04] inishchith commented on #182
@valeriocos Thanks for the response. This gives some clarity. And Yes, discussion with mentors would also be beneficial during the period.

Yes. I feel this can be incremental even during the GSoC period.
- Also is there any way we could get our proposals reviewed by the mentors before the application period ends ( after we add our details to GSoC Interested students) ?

Thanks

[2019-03-26 19:47] MonikaEve commented on #135
Hi,
I found Bitergia through LinkedIn, as I'm currently on the job hunt. I thought I could break the ice, by contributing to your open source project. Do you still need support with this issue?

[2019-03-26 20:49] valeriocos commented on #135
Hi @MonikaEve, thank you for your interest in GrimoireLab, and indeed you are more than welcome to contribute to it. If you want to get a glimpse of GrimoireLab, you can start with the [tutorial](https://chaoss.github.io/grimoirelab/). Feel free to have a look also to the GSoC ideas for this year [1] or to the GrimoireLab components [2]. If you enjoying reading, we have also a nice [blog](https://

[2019-03-27 09:03] jsmanrique commented on #135
Hi @MonikaEve! Thank you very much for your interest. We always need help with this ticket. Another project that might be interesting is [GrimoireLab Hatstall](https://github.com/chaoss/grimoirelab-hatstall), the web app that connects and manages [SortingHat](https://github.com/chaoss/grimoirelab-sortinghat). Since we are adding creating a GraphQL API for SortingHat, there is a work in progress to

[2019-03-27 10:31] dlumbrer commented on #135
Hi @MonikaEve!!, @jsmanrique is right. As he said, we are working on the development of a new React based web app, this app will have the same aim than the [GrimoireLab Hatstall](https://github.com/chaoss/grimoirelab-hatstall) based on Django: provide a user interface in order to manage [SortingHat](https://github.com/chaoss/grimoirelab-sortinghat), but now, using the new version of SorthingHat th

[2019-03-27 11:14] MonikaEve commented on #135
Hi All,

Thanks a lot for your replies :) I started going through the tutorial last
night and I'll continue tonight and I'll definitely check out GrimoireLab
Hatshall and SortingHat. The project looks really interesting, so I'm
excited to get started :) I will let you know once I've read through the
documentation and probably ask more questions.

On Wed, Mar 27, 2019, 11:31 David Moreno Lumbreras

[2019-03-27 17:55] dhruv-chauhan commented on #183
@alpgarcia @mafesan

I'm trying to get studies running from p2o, following [this document](https://github.com/chaoss/grimoirelab-elk/blob/master/doc/studies.md#running-studies-from-p2o), (without sortinghat database, ES Host and Kibiter running on the usual ports, and an [input index named git_aoc-raw](https://github.com/chaoss/grimoirelab-elk/blob/master/doc/studies.md#requirements)).

I'm using

[2019-03-27 18:05] valeriocos commented on #182
Sorry @inishchith for the late reply. I guess it is possible, any thoughts @jgbarah ?

[2019-03-27 18:58] valeriocos commented on #183
Hi @dhruv-chauhan thank you for reporting this. Studies are not supported by p2o, please use micro mordred: https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred.

[2019-03-28 16:13] miscellaneously commented on #183
hi @alpgarcia ,
I made few changes to proposal as per your comments, however I strongly feel they still need some changes,can you review it and suggest more changes as per requirements.Also as per your suggestions I changed microtasks repo and have made updates for mt1 and mt2, and close to complete mt3 and mt4.
thanks.

[2019-03-28 17:11] GeorgLink opened #188 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-03-29 13:34] valeriocos commented on #187
@jgbarah can we close this issue, thanks?

[2019-03-30 07:06] inishchith commented on #182
@valeriocos @jgbarah  Can we have an issue ticket open at [Graal](https://github.com/chaoss/grimoirelab-graal) in order to have discussions related to improvements in existing analyzers and for addition of new ones under corresponding backends, I feel that would work as a guide for future work.
In case if there's some alternate way of having such discussion, please do let me know.
Thanks.

[2019-03-30 08:22] valeriocos commented on #182
Sure @inishchith ! Thanks

[2019-03-31 02:44] quirroone commented on #183
Hi! I'm working on microtask 2. I have a question, is the [study_ceres_aoc.py](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/study_ceres_aoc.py)
supposed to create the index for us to work on the dashboard directly? Or we should write some code to make the script work?

-Which repositories' data should we retrieve? Every single one in the chaoss github account? or the

[2019-04-01 00:08] sduenas commented on #188
Developers and users were informed used GrimoireLab mailing list. The date to start with DCO was set to April 1st.

I've just activated https://github.com/apps/dco for all GrimoireLab repositories. If everything is configured, I think we can close this issue and the series of issues openened in other repositories.

[2019-04-01 08:54] jgbarah commented on #188
I've just added a note in `CONTRIBUTING.md` about this. I think we could close this issue once that pr, #190, is accepted.

[2019-04-01 09:52] jgbarah commented on #187
Yes, I think it is fixed in the latest release. Thanks!

[2019-04-01 09:52] #187 closed

[2019-04-01 10:27] mafesan commented on #183
Thank you for the updates @miscellaneously. I have added some comments to your document, please have a look at them.

Best!

[2019-04-01 10:51] mafesan commented on #183
Hi @quirroone,

GrimoireLab's code do generate ES indexes, but you have to apply the right configuration from [micro mordred](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/README.md#micro-mordred).

Please have in mind that the goal is to generate a dashboard from the existing code and extend it to improve the dashboard's content.

This is your choice, there is no specific requireme

[2019-04-01 13:09] sduenas commented on #184
This feature was added to the last release: [0.2.14]( https://github.com/chaoss/grimoirelab/releases/tag/0.2.14).

[2019-04-01 13:09] #184 closed

[2019-04-01 16:00] aklapper commented on #96
If someone implements this then it should probably by default use `-reviewedby:self` in Gerrit to ignore patch authors who +1 their own patches.

[2019-04-02 00:17] quirroone commented on #183
Okay thanks for that! Right now I have a better understanding, but I'm still not able to generate the Index. I understand that I need a config file and another for projects and I'm trying to generate the index with this command which comes in the [micro mordred](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/README.md#micro-mordred) documentation just to test
`micro.py --raw --enrich

[2019-04-02 07:20] alpgarcia commented on #183
@quirroone are you getting any error message?

have you added a valid API token for GitHub to the config file?
see lines saying:
[code]

[2019-04-02 07:43] alpgarcia commented on #183
@quirroone,

@valeriocos just told me there is an error in micro mordred documentation, the line you are trying to use should be:
[code]

[2019-04-02 11:40] quirroone commented on #183
Yes, I actually changed that but I'm receiving this error
`[2019-04-02 05:34:15,980 - urllib3.connectionpool - DEBUG] - Starting new HTTPS connection (6): localhost:9200
[2019-04-02 05:34:15,981 - urllib3.util.retry - DEBUG] - Incremented Retry for (url='/'): Retry(total=15, connect=15, read=8, redirect=5, status=None)`

This is my current setup.cfg file:
`#
# Test config with only git and github

[2019-04-02 13:27] GeorgLink commented on #188
Thanks @sduenas and @jgbarah

[2019-04-03 09:19] alpgarcia commented on #183
Looking at your log lines it seems micro mordred is not finding the ElasticSearch server.

@quirroone it seems ElasticSearch is not responding. Have you checked the connection at https://admin:admin@localhost:9200 after initializing the docker compose file (see https://github.com/chaoss/grimoirelab/issues/183#issuecomment-471926555)?

[2019-04-04 08:46] MonikaEve commented on #135
Hi,

I finally went through the documentation and installed the new version of
SortingHat :) I'm currently working with react and I think it would be the
easiest to start with the documentation of the new SortingHat. So maybe I
could add some general info (taken from the old SortingHat and tutorial) to
the readme file. I could also add a "How to install" chapter. How does that
sound?

Regards,
Mon

[2019-04-04 15:56] sduenas commented on #135
Hi @MonikaEve, first of all thanks for your help!

Although, SortingHat is one of our  more stable pieces, the new version is not, so I'm not sure how helpful would be to start working there.
I suggest to start with Perceval. It's the most stable one and there are many people out there using it. It would be great to have really good documentation for newbies. There's some stuff written in the `gri

[2019-04-05 12:42] sumitskj commented on #182
@valeriocos @jgbarah can you review my proposal https://docs.google.com/document/d/1K2i_nPKQqTCFxi6mNhQGll83Mr-C4KqTaK3W2tL7Qvk/edit?usp=sharing

[2019-04-05 13:09] Sonub396 commented on #183
Hi @alpgarcia ,
I'm very much interested in this GSoc Idea.
I have previously worked on elasticsearch and mongodb, syncing my mongodb data with elastic indices.
Looking forward to completing the microtasks. Any resources that you can suggest on using grimoirelab

Thank you

[2019-04-05 15:28] MonikaEve commented on #135
Hi Valerio,

that sounds good. I just briefly read about Perceval, so I have an idea,
but I didn't try to use it. So I will go through the tutorial one more time
and start working with it and write down where I had problems and so on. I
will then let you know what I came up with and maybe we can set up a call?

Regards,
Monika

Am Do., 4. Apr. 2019 um 16:56 Uhr schrieb Santiago Dueñas <
notificati

[2019-04-07 11:09] valeriocos commented on #135
Sure @MonikaEve , @sduenas and myself will be happy to set up a call, just ping us when you are ready :)

[2019-04-07 11:12] MonikaEve commented on #135
Ok, I forgot to tell you, that I am travelling this week and I will be in
Sevilla and Barcelona. So I won't have time this week, but I'll start
working on it next week.

Regards,
Monika

On Sun, Apr 7, 2019, 12:09 valerio <notifications@github.com> wrote:

[2019-04-07 11:45] valeriocos commented on #135
Thank you for letting us know, enjoy!

[2019-04-09 04:29] miscellaneously commented on #183
hi @alpgarcia, @mafesan ,
Please review draft before final submission,although I made changes as per your comments, if something is amiss, I would be happy to know and improve it.

[2019-04-09 17:01] inishchith commented on #182
I've submitted by Final Proposal for the project.
All the best to other candidates :)

[2019-04-16 12:26] alpgarcia commented on #188
@GeorgLink do you think we are done with this or is there anything else needed to close the issue?

[2019-04-16 13:27] GeorgLink commented on #188
Yes, thank you!

[2019-04-16 13:27] #188 closed

[2019-04-16 19:18] inishchith commented on #182
@valeriocos @jgbarah @aswanipranjal
I had thought of opening a discussion regarding defining the metrics related to the source code, Is it okay if we open an issue ticket at the [metrics](https://github.com/chaoss/wg-gmd/tree/master/metrics) repository for having further discussions related to it with the working group.

Let me know what you think :)
Thanks

[2019-04-17 07:45] valeriocos commented on #182
Thank you @inishchith , that's a good idea in my opinion.
What do you think @jgbarah @aswanipranjal ?

[2019-04-19 09:10] inishchith commented on #182
Thanks for the response @valeriocos  and @aswanipranjal for a 👍 .
I've add an issue ticket https://github.com/chaoss/metrics/issues/139
Please do have a look when you get time.

Thanks

[2019-04-28 15:22] miscellaneously commented on #183
hey @alpgarcia , @mafesan
I had submitted my proposal for this idea, and currently been working on kibana visualisations, learning from documentation and some other sources. I don't have any email or any other method to contact regarding review of my proposal submitted, would you please share any communication channel, appropriate to your method of interaction with students?

Do I need to make any

[2019-04-29 08:48] alpgarcia commented on #183
Hello @miscellaneously,

the reviews are done through the GSoC infrastructure. The selection process is currently in progress and takes into account all proposals sent to CHAOSS organization ideas. Selected students for CHAOSS projects will be contacted directly by Google.

[2019-05-06 17:02] alpgarcia commented on #58
This is solved by:
* https://github.com/chaoss/grimoirelab-elk/pull/616
* https://github.com/chaoss/grimoirelab-sigils/pull/358
* https://github.com/chaoss/grimoirelab-sirmordred/pull/297

[2019-05-06 17:02] #58 closed

[2019-05-06 17:04] alpgarcia commented on #1
https://github.com/chaoss/grimoirelab/issues/58 focused on Gerrit is closed and thus this issue is partially solved.

[2019-05-07 10:39] miscellaneously commented on #183
hi @alpgarcia @mafesan

Well, thanks for so much transparency and community buildup so far, because I don't know why my proposal was rejected or what improvements I could have done, and this happening even when your organization was literally created for open source health and encouragement.

With your novel innovation of github issue page as primary communication channel between members, you guys

[2019-05-07 21:59] jgbarah commented on #183
Thanks a lot for your comments, @miscellaneously. I'm sorry that you dind't find the communication channels provided as appropriate for this task. I personally take not of your opinions, and I'm sure that we as a commuity will do so. Thanks also for your interest in our project, and for taking the time to share your thoughts with us.

[2019-05-08 08:33] alpgarcia commented on #183
You are totally right on this, this is my first year on this and I also missed a way to communicate some feedback on your final proposal to let you know what we had expected.

We basically decided the selected students based not only on their proposals, but the work they did, and in this case other students works were more complete that yours. Basically they were able to provide better solutions t

[2019-06-03 09:27] FredaPinto opened #195 "error while creating simple dashboard using ELK and kibana"
Below command i am trying to execute to get kibana dashboard with git data.
**Laptop-15-bs0xx:**~$ p2o.py --enrich --index git_raw --index-enrich git -e http://localhost:9200 --no_inc --debug git https://github.com/grimoirelab/perceval.git

Output:-
2019-06-03 10:21:16,346 Debug mode activated
2019-06-03 10:21:16,346 Feeding Ocean from git (git_raw)
2019-06-03 10:21:16,354 Found version of ES inst

[2019-06-03 13:23] valeriocos commented on #195
Hi @FredaPinto , thank you for reporting this issue. Which version of ELK and elasticsearch are you using ?

I tried with the following docker-compose https://github.com/chaoss/grimoirelab-sirmordred/blob/master/README.md#source-code-and-docker and the master branch of ELK, and I didn't detect any problem. Please find below the params of p2o:
[code]

[2019-06-03 16:41] FredaPinto commented on #195
Hi Valerio,
The elasticsearch is 7.1.1
And i had installed grimoirelab through python library by using command pip3 install grimoirelab so it should be standard one that comes with grimoirelab 0.2.14
I can't find ELK version ,could you please guide me to check same ?

Regards,
Freda

[2019-06-03 16:59] valeriocos commented on #195
Please try with elasticsearch 6.1.0 (recent versions are not guaranteed to work).
The grimoirelab version is enough to know the version of ELK (I thought you were using only the ELK repository). Btw, you can check the version of ELK for grimoirelab 0.2.14 at: https://github.com/chaoss/grimoirelab/commit/6a922ab56f7b6ccb6209296f91a1dc033a0d0bcc#diff-db7d281f2bc6a16ae8cd42a319150ff6R6

Cheers,
Valer

[2019-06-03 19:19] nedbat opened #196 "Python 3.4?"
The setup.py classifiers list only Python 3.4 as a Python 3 version.  Is there a reason to stick with (old) Python 3.4, or are newer versions supported?

[2019-06-05 12:18] valeriocos commented on #195
Hi @FredaPinto , were you able to resolve this issue ?

[2019-06-05 19:18] FredaPinto commented on #195
Hi Valerio,

Can you please guide me how to uninstall and install older elasticsearch...i searched it on google but its giving me errors.

Regards,
Freda

[2019-06-06 15:18] sduenas commented on #196
Python 3.5 and 3.6 are also supported. Sorry for the mistake. I think we should add more labels to the classifiers. It works with 3.5 and 3.6 too. We couldn't test it with newer versions.

And you are right. We need to consider to deprecate the support for 3.4 during the next months since it was deprecated in March, I think.

[2019-06-06 15:18] #196 closed

[2019-06-07 08:32] valeriocos commented on #195
Sorry for the late reply, Freda.
The error is due because the port 9200 is already in use by another process in your system.

you can check the applications using ports with: `sudo netstat -tulpn`, more info at:
https://www.cyberciti.biz/faq/unix-linux-check-if-port-is-in-use-command/

[2019-06-07 16:38] jgbarah commented on #195
Besides, and just in case, update your grimoirelab version:

[code]

Current version is 0.2.23. You can find out your version with:

[code]

[2019-06-08 11:49] FredaPinto commented on #195
Hi Valerio and Jesus,

Thanks for suggesting above steps but no luck error still exists.
@valeriocos--> port is not occupied i checked given command.I looked up error and installed xpack even downgraded java jdk version.
@jgbarah updated the grimioirelab version.
The error log of elasticsearch is as below:-
[2019-06-08T11:54:48,100][ERROR][o.e.b.Bootstrap          ] Exception
org.elasticsearch.Ela

[2019-06-10 11:00] valeriocos commented on #195
Is it possible that you have data from different ES versions (from the log above `Caused by: java.lang.IllegalArgumentException: Unexpected field [mapping_version]`) ?

[2019-06-10 22:52] FredaPinto commented on #195
Hi valerio,

I am not sure about that but i tried again uninstalling 6.1.4 and installing 7.1.1 that works fine with url but gives error when i try to create dashboard as before.
I am checking for that error but no luck also i am trying to deploy via dockerhub the whole grimoirelab project.I will update you if that works for me.
Thank you.

Regards,
Freda Pinto

[2019-06-12 18:59] valeriocos commented on #195
Hi @FredaPinto , any news about this issue ?  thanks :)

[2019-06-13 21:49] FredaPinto commented on #195
Hi Valerio,

I have been trying to connect via dockerhub but facing issue with that too.
Can you check if im my input is correct,i have followed the document still facing issue.
command:-
sudo docker run -p 127.0.0.1:5601:5601     -v $(pwd)/credentials.cfg:/override.cfg     -t grimoirelab/full

output:-
docker: Error response from daemon: OCI runtime create failed: container_linux.go:345: starting

[2019-06-14 07:37] valeriocos commented on #195
Hi Freda,

The error should be related to the fact that the file `credentials.cfg` is missing.

Please try to create a file `credentials.cfg`, with the following content:
[code]

and then execute again:
[code]

[2019-06-14 07:54] GeorgLink commented on #195
@FredaPinto you seem to be determined to get a GrimoireLab dashboard to work.  :smile:

I ran into similar issues but I have been able to get a dashboard to work. I can offer a video call with you to trouble shoot issues together. Ping me at georglink@bitergia.com if you are interested.

[2019-06-14 12:25] FredaPinto commented on #195
@valeriocos definitely will try doing this and let you know.

@GeorgLink :-thanks will reach out to you for some help :)

[2019-06-16 16:16] valeriocos commented on #195
@FredaPinto please let us know if you need some help, or feel free to close this issue, thanks :)

[2019-06-17 17:50] GeorgLink commented on #195
@valeriocos: I met with @FredaPinto today but we had technical issues connecting and will try to meet again tomorrow.

[2019-06-18 18:07] alangsto opened #200 "Error with grimoirelab/secured docker image"
There is a documented error for the searchguard version being used as a plugin for kibiter.
See more here: https://github.com/floragunncom/search-guard-kibana-plugin/issues/95

Should upgrade to version 13 to eliminate the error in the grimoirelab/secured image.

[2019-06-24 09:04] valeriocos commented on #195
Hi @FredaPinto , how is it going with this issue, can we close it ?

[2019-06-24 23:51] FredaPinto commented on #195
Hi Valerio,

I am trying different version of grimoirelab as suggested by @GeorgLink but facing different issue posted on Gitlab.
I am trying that demo grimoirelab dashboard if it goes well i will close this issue or else i would post update on older method that i tried.

Regards,
Freda

[2019-06-25 07:04] valeriocos commented on #195
Thanks @FredaPinto , let us know if we can help you in some way.

[2019-06-25 13:25] #183 closed

[2019-06-25 17:58] jgbarah commented on #200
Reopening, because this seems like a valid issue. In fact, I see that current version of Kibiter (6.1.4) is no longer supported by SearchGuard...

@alangsto, did you close this for some specific reason?

[2019-06-25 18:19] alangsto commented on #200
@jgbarah I originally reported this issue because I thought it was causing an error with my image, although I actually believe the issue I was having was due to an elasticsearch connection problem.

I haven't retested the secured image, so maybe it was related to the searchguard version.

[2019-06-25 18:24] jgbarah commented on #200
Thanks! I was observing that very same behavior with a local docker container, so i think it is a valid issue. I will still re-test it, just to be sure.

[2019-06-26 17:01] FredaPinto commented on #195
Hi All,
 I am closing this issue as the other solution worked finally.
Thanks to @GeorgLink for all the support and help and @valeriocos thanks a lot for your constant feedback and help.

Regards,
Freda Pinto

[2019-06-26 17:01] #195 closed

[2019-06-26 17:40] valeriocos commented on #195
Great news! Thank you @FredaPinto , don't hesitate to ping us if you experience other problems.

[2019-07-15 15:28] alangsto opened #201 "Github Repos Panel Not Loading"
While running the grimoirelab/full docker image, the GitHub Repositories panel will not load and shows an error message. I've included the image of what the dashboard looks like. I have not changed anything from the original docker image except for my github api key.

<img width="1238" alt="Screen Shot 2019-07-15 at 11 25 07 AM" src="https://user-images.githubusercontent.com/46360176/61228117-9e9f

[2019-07-15 15:55] valeriocos commented on #201
Hi @alangsto , the issue is related to the missing index `github_repositories`. Please check your setup.cfg, in the `panels` section you should set `github-repos = false`. On the other hand, if you want github repos stats, please add in the setup.cfg and projects.json something similar to:
- https://github.com/chaoss/grimoirelab-sirmordred/blob/master/utils/setup.cfg#L101
- https://github.com/chao

[2019-07-15 20:34] alangsto commented on #201
Hi @valeriocos,

This did fix the issue! Is there any other place that this was documented? It might be useful for a new user (like myself) to have this be more permanently documented.

Thanks for your help!

[2019-07-16 06:32] valeriocos commented on #201
You're welcome @alangsto . The description of the panel section params is at: https://github.com/chaoss/grimoirelab-sirmordred#panels. If you find it useful, feel free to submit a PR to improve the doc. Thanks!

[2019-07-17 07:56] valeriocos commented on #201
@alangsto let's close this issue. Feel free to submit a PR to improve the doc, thanks!

[2019-07-17 07:56] #201 closed

[2019-08-16 12:41] valeriocos commented on #96
A PR is available on ELK: https://github.com/chaoss/grimoirelab-elk/pull/679, please @sduenas @aklapper @dicortazar have a look at it

[2019-08-19 10:19] rootsongjc opened #202 "Visualize: Error: in cell #1: [index_not_found_exception] no such index, with { resource.type="index_or_alias" & resource.id="github_repositories" & index_uuid="na" & index="github_repositories" }"
I followed the doc [deploying Grimoire from Dockerhub](https://chaoss.github.io/grimoirelab-tutorial/basics/dockerhub.html), everything worked smoothly but the Github Repositories had no data with the following messages.

![image](https://user-images.githubusercontent.com/3328185/63257762-13dea580-c2ad-11e9-9bbc-1cce124ec17c.png)

**Error messages**
Visualize: Error: in cell #1: [index_not_found_e

[2019-08-19 11:02] valeriocos commented on #202
Hi @rootsongjc ,

Can you share the setup.cfg? it may be possible that in the section `panels` the param `github-repos` is set True?

[2019-08-19 11:26] rootsongjc commented on #202
I can't find the `setup.cfg`, do you mean the `dashboard.cfg`.

**dashboard.cfg**
I just keep it as the original of docker image.
[code]

I want to figure out why these errors came out because I want to monitor the GitHub repos.

[2019-08-19 11:35] valeriocos commented on #202
Thank you for sharing it. Try to modify your projects.json in the following way:
[code]

[2019-08-19 11:51] valeriocos commented on #202
Feel free to close the issue @rootsongjc if the problem is solved, and don't hesitate to leave comments on the referenced PR if you think it's missing something. Thanks

[2019-08-19 12:00] rootsongjc commented on #202
@valeriocos Thank you, I am working on it, if I have any new progress, I will leave a comment here.

[2019-08-19 12:48] rootsongjc commented on #202
@valeriocos I didn't find the `setup.cfg` file. Here are my config files.

**dashboard.cfg**

[code]
**infra.cfg**

[code]

**project.cfg**

[code]

Every time I open <http://localhost:5601>, the link below repositories didn't appear.

![image](https://user-images.githubusercontent.com/3328185/63266273-2f07e000-c2c2-11e9-812a-3edf96ec688f.png)

github_repositories has no data.

![image](https://us

[2019-08-19 12:59] valeriocos commented on #202
The dashboard.cfg should be fine.

Can you share the output of:
- https://localhost:9200/_cat/indices
- https://localhost:9200/_alias?pretty

[2019-08-19 13:08] rootsongjc commented on #202
[code]

[code]

[2019-08-19 13:37] valeriocos commented on #202
Thank you for sharing.
There is data about github repo stats (`github_grimoirelab_stats`), however the alias on that index is not correctly set (I'll check why).
To fix your problem, try the following:
- In kibiter, click on the wrench on the left, a console will appear
- write and execute
the following instructions:
[code]
this will add the alias `github_repositories` to the index `github_grimoir

[2019-08-19 13:48] rootsongjc commented on #202
@valeriocos It works, thank you. I think we should update the [Grimoirelab Tutorial](https://chaoss.github.io/grimoirelab-tutorial) to guide users on how to monitor GitHub repositories correctly.

[2019-08-19 13:49] #202 closed

[2019-08-19 13:59] valeriocos commented on #202
Thank you for your feeback, it would be great if you could contribute to the tutorial (@jgbarah can help you on this).

[2019-08-19 18:59] GeorgLink opened #203 "Question about heat map visualization."
I am looking at the heatmap at https://chaoss.biterg.io/app/kibana#/dashboard/b7b169e0-14e3-11e9-8aac-ef7fd4d8cbad

When I filter out Bitergia, the colors change in the heatmap, even though the legend on the right says the colors should still apply to the same numbers.

I don't understand why the colors get darker, despite taking away entries, not adding any.

Thoughts?

/cc @dicortazar @alpgarcia

[2019-08-19 19:03] sanacl commented on #203
@GeorgLink can u please create two short links? We need one before you apply the change and another one after you filter out the organization.

In order to create short links you must be logged in (click on Login on bottom left)

[2019-08-19 19:14] GeorgLink commented on #203
Snapshot before filter: https://chaoss.biterg.io/goto/b1475c26efeefbae1791dd583c8c7434
Snapshot after filter: https://chaoss.biterg.io/goto/a0022929b170187423e5966d4deacdc4

-----

I may have found something...

Screenshot when I created the snapshot short URL
<img width="635" alt="Screen Shot 2019-08-19 at 12 05 49 PM" src="https://user-images.githubusercontent.com/8862021/63292075-b9782180-c279-

[2019-08-19 19:23] sanacl commented on #203
I reproduced the error @GeorgLink . This is what I did:
* click on https://chaoss.biterg.io/goto/b1475c26efeefbae1791dd583c8c7434
* using the dropdown menu on the left I select "Bitergia" and I click on the (-) filter on top to filter out Bitergia
* the legend is not updated
![imagen](https://user-images.githubusercontent.com/326719/63293008-45fd0100-c2c7-11e9-8a35-d4314e4ee61e.png)
* if I hide th

[2019-08-19 19:24] GeorgLink commented on #203
I don't know where to report it - If you could do it, that would be great 👍

Thanks for confirming the bug.

[2019-08-19 19:28] sanacl commented on #203
Already reported at https://github.com/chaoss/grimoirelab-kibiter/issues/113

[2019-08-20 10:25] asharabu opened #205 "Unable to fetch private repositories via grimoirelab/full image."
Hi,

I have deployed a grimoirelab using docker image "grimoirelab/full".
I have generated personal access token with full permission and given it on credentials.cfg to mount override.cfg.
Removed all the projects from projects.json and file and added one public and private repositories link on it. The public repo details is showing on kibana but the private repo is not fetching in to the director

[2019-08-20 12:36] valeriocos commented on #205
Hi @asharabu, sorry for the late reply. I'm looking into it.

[2019-08-20 13:26] valeriocos commented on #205
The analysis of private repos on GitHub is not fully supported. A workaround is to include the credentials in the projects.json as follows:
[code]

Please let me know if this solves your issue, thanks

[2019-08-20 14:44] asharabu commented on #205
Hi,
Thanks for your update.
It is not working. It seems there should change on api related codes.  Please check and let me know.

[2019-08-20 15:15] valeriocos commented on #205
Can you share your dashboard.cfg and projects.json, please?

[2019-08-21 04:56] asharabu commented on #205
/$ cat dashboard.cfg
# Mordred configuration file (Dashboard)
# Parameters related to the dashboard and how it is produced
# This is usually updated by the person maintaining the dashboard
#
# List: [val1, val2 ...]
# Int: int_value
# Int as string: "Int"
# List as string: "[val1, val2 ...]"
# String: string_value
# None: None, none
# Boolean: true, True, False, false

[general]
# Update increment

[2019-08-21 08:39] valeriocos commented on #205
You don't need to pass the username and token to GitHub repos, since the token you set in `credentials.cfg` should have the right scope to access your GitHub data (e.g., issue, issue comments, etc.).

Try with the projects.json below.
[code]

Note that you can try to get access to your private Git repos via ssh (instead of passing the username and password on the projects.json), please check these

[2019-08-21 10:14] asharabu commented on #205
Hi,

Direct cloning is working in the container using the username and key OR ssh key. But the cloning is still not possible using projects.json.

I tried as you suggested on projects.json but still getting the below error,

-----------
2019-08-21 10:09:47,789 - grimoire_elk.elk - ERROR - Error feeding ocean from github (https://github.com/asharabu/ttt.git): 404 Client Error: Not Found for url: ht

[2019-08-21 11:11] valeriocos commented on #205
Hi @asharabu
The error is now different from the one you reported originaly. Git works fine, the problem is with fetching GitHub data.
Is it possible that the credentials.cfg is not properly configured? The other option could be that the token doesn't have permission to access that repo.

In order to discard the second option, would you mind execute perceval from command line:
[code]

[2019-08-22 07:52] valeriocos commented on #205
any news on this issue @asharabu ?

[2019-08-22 08:53] asharabu commented on #205
Hi,

The issue not yet solved. The above command returns the below output,

---

[2019-08-22 08:49:53,967] - Sir Perceval is on his quest.
[2019-08-22 08:49:54,996] - Sir Perceval completed his quest.

---

Also please see the credentials.cfg file,

----

 [github]
 api-token = key

---

[2019-08-22 09:46] valeriocos commented on #205
This means that the token has the right permissions to access your private repo.
The problem should be in the configuration. Your `credentials.cfg` looks OK, maybe the `credentials.cfg` is not correctly set with `$(pwd)/credentials.cfg:/override.cfg` (see full command below). Do you have other `credentials.cfg` files?

[code]

[2019-08-22 14:19] asharabu commented on #205
Hi,

I have already verified the file credentials.cfg is correctly mounting to inside the container as the name override.cfg on the location root (/). But the issue still persists.  I suspect that the issue on the GitHub API calls on Grimorielab code.

[2019-08-22 14:23] valeriocos commented on #205
thank you for the info. I'll check on some private repos and get back to you.

[2019-08-24 13:09] GeorgLink opened #206 "Evaluate adding feature for qualitative analysis by Social Currency method"
At OSSNA19, [Samantha](https://www.linkedin.com/in/samanthavlogan/) introduced me to a method she is using for understanding the health of an online community, using Social Currency constructs.

The method is:
1. Collect text (e.g., emails, comments, issues, pull requests, tweets, stack-overflow questions)
2. Tag the text with topics (e.g., bug, feature request, question, complement)
3. Tag the te

[2019-08-25 13:26] valeriocos commented on #206
Hi @GeorgLink,

The idea sounds interesting, I have some questions :)

Do you have some references to read more about this method? A reference that compares/evaluates this approach with other ones (e.g., quality models) would be helpful too.

Once the method/model is trained, what does it happen with new text? It should be automatically tagged within GrimoireLab or it will be the input of Samantha

[2019-08-25 14:17] GeorgLink commented on #206
I expect that we'll discuss all these things in CHAOSS meetings because I
would like this to be an official CHAOSS metric, if others agree.

I don't know all the implementation specifics at this time. We can revisit
them later.

[2019-08-26 02:10] valeriocos commented on #205
Hi @asharabu,

I don't see any issue when fetching github private repos. These are the steps I followed and the output of the container:
- create dir `/tmp/test-full`

- create the `credentials.cfg`
[code]

- create the `projects.json`
[code]

- execute the following command :
[code]

- output
[code]

[2019-08-26 06:35] asharabu commented on #205
Hi,

I can see that you have given public repo under git.

 slimbook@slimbook-KATANA:/tmp/test-full$ cat projects.json

{
    "grimoire": {
        **"git": [
            "https://github.com/chaoss/grimoirelab-toolkit"**
        ],
        "github": [
            "https://github.com/Bitergia/\<private-repo\>"
        ]
    }
}

Please use private repo instead of public on git and see.

[2019-08-26 07:16] valeriocos commented on #205
I understood that the error with git was solved using the urls https://user:key@github.com... since the error you posted at https://github.com/chaoss/grimoirelab/issues/205#issuecomment-523393506 was just about github.
I changed the projects.json, followed the steps at https://github.com/chaoss/grimoirelab/issues/205#issuecomment-524689912 and no error was thrown (see details below).

Note that re

[2019-08-26 07:17] valeriocos commented on #205
plese, can you check on your side @asharabu ?

[2019-08-26 08:15] valeriocos commented on #205
I didn't detect any issue @asharabu , let's close this issue. Feel free to reopen it if needed, Thanks

[2019-08-26 08:15] #205 closed

[2019-08-26 17:54] aserebrenik commented on #206
This sounds interesting and related to the recent work of Qiu et al. on social capital in open source projects: https://www.win.tue.nl/~aserebre/ICSE2019.pdf

Huilian Sophie Qiu, Alexander Nolte, Anita Brown, Alexander Serebrenik, Bogdan Vasilescu. Going Farther Together: The Impact of Social Capital on Sustained Participation in Open Source 41st International Conference on Software Engineering (I

[2019-08-26 18:39] valeriocos commented on #206
Thank you @aserebrenik for sharing that reference, I'll read it.

[2019-08-26 20:29] aserebrenik commented on #206
@GeorgLink Unfortunately I will not be able to attend the meeting tomorrow but it will be my pleasure to learn about your approach.

[2019-08-26 22:36] GeorgLink commented on #206
Awesome, I will make sure to take notes during the meeting and hopefully
document a new CHAOSS metric.

[2019-08-27 01:31] jsmanrique commented on #68
I think this has been already solved

[2019-08-27 01:48] jsmanrique opened #207 "Comments authors in GH issues, PRs"
It seems there is already information about reactions and comments, but I'm missing the comments and reactions authors information.

Wouldn't it be nice to have in `author_name`, `author_uuid`, and related fields, information about the people commenting and reacting in issues and PRs. Perhaps indexes with just `github_comments` and `github_reactions` as items, with basic data schema about:
* Autho

[2019-08-27 01:50] jsmanrique opened #208 "Comments authors in GitLab issues, and Merge Requests"
Like #207, but for GitLab data source

[2019-08-27 07:05] valeriocos commented on #68
There are some work to do to propagate the [change](https://github.com/chaoss/grimoirelab-perceval/commit/65a5e757a7c07a2dbbe0866a455ee38f96cec5e6) on Perceval to the enricher and dashboards.

[2019-08-27 07:16] valeriocos commented on #207
User information of reactions and comments are already retrieved from GitHub:
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L333
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L348
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L368
- https://github.com/chao

[2019-08-27 07:17] valeriocos commented on #208
Comments and emojis are already fetched by Perceval. We could include them in the enriched indexes,
WDYT @alpgarcia ?

[2019-08-27 07:46] jsmanrique commented on #207
Thank you @valeriocos. So it seems that the info is missing in the enriched indexes :-)

I like the idea of different types in same existing index. I haven't thought about it.

[2019-08-27 07:48] jsmanrique commented on #208
I would suggest that any information recovered by Perceval should be shown in enriched indexes somehow. It would not make sense to spend effort developing support to retrieve such data to not use it and the end.

[2019-08-27 08:07] valeriocos commented on #208
Please @sduenas share your thoughts

[2019-08-27 08:08] valeriocos commented on #207
You're welcome @jsmanrique . Please @sduenas share your thoughts

[2019-08-27 10:24] asharabu commented on #205
Hi,

Thanks. It was working and displaying the output when we give only git and github section on projects.json.

When adding the github:repo for private repo, it is still showing the error and the repository is not showing under tab "GitHub Repositories" on kibana dashboard. Please note that commit message counts are showing for the private repo on kibana dashboard under Overview.

Please see the

[2019-08-27 14:06] asharabu opened #209 "Unable to fetch private repositories via grimoirelab/full image."
Reopening the issue https://github.com/chaoss/grimoirelab/issues/205

Hi,

Thanks. It was working and displaying the output when we give only git and github section on projects.json.

When adding the github:repo for private repo, it is still showing the error and the repository is not showing under tab "GitHub Repositories" on kibana dashboard. Please note that commit message counts are showing fo

[2019-08-27 14:16] valeriocos commented on #209
Hi @asharabu

try with the following:

your projects.json should have this section:
[code]

your credentials.cfg should include:
[code]

Please check that in the dashboard.cfg you have `github-repos = true` in the section `panels`:
[code]

[2019-08-27 15:25] alpgarcia commented on #207
I basically agree, we solved a similar problem in other sources as Gerrit and Jira and I'd follow a similar approach here, unless anyone has any concern about that solution.

See:
https://github.com/chaoss/grimoirelab-elk/pull/616
https://github.com/chaoss/grimoirelab-elk/pull/661

Please @valeriocos add any other reference I could have missed if you think it is useful here.

[2019-08-28 03:57] asharabu commented on #209
Hi,
Thanks for your update.
As you instructed we tried as below,

    "Ashar-private": {
        "git": [
            "https://asharabu:<key>@github.com/asharabu/Testgit123"
        ],
        "github": [
            "https://github.com/asharabu/Testgit123"
        ],
        "github:repo": [
            "https://github.com/asharabu/Testgit123"
        ]
    }

But still getting the below error.

[2019-08-28 07:21] valeriocos commented on #209
Hi @asharabu,

You're welcome :)

- Have you included in the credentials.cfg the section about `[github:repo]`?
[code]

- Can you share your dashboards.cfg/setup.cfg?

GitHub repositories data is not related to Git, it is fetched from the API and declared in a dedicated projects.json and dashboards.cfg section (`github:repo`).

[2019-08-28 09:17] valeriocos commented on #68
Sorry @jsmanrique you were right. This issue was about supporting mattermost.

An upcoming feature for the next release will include also details about mattermost channels. Details on:
- Perceval https://github.com/chaoss/grimoirelab-perceval/pull/562
- ELK https://github.com/chaoss/grimoirelab-elk/pull/681
- Sigils https://github.com/chaoss/grimoirelab-sigils/pull/382

![captura_51](https://user-

[2019-08-28 09:17] #68 closed

[2019-08-28 09:29] valeriocos commented on #182
A [summary](https://inishchith.github.io/blog/2019/08/coding-period-3-11.html) and [details](https://inishchith.github.io/blog/) of the work carried on for this idea is available @inishchith blog.
A demo has been also produced, feel free to have a look at [it](https://drive.google.com/file/d/1ScDE5xHP2Yd83sotmM8ajpNTC2xkoH1e/view).

[2019-08-28 10:27] asharabu commented on #209
Hi,
Thanks for your update. It is working now.

There is one more issue we are seeing which is under the "Git" tab on kibana the private URL is displaying with username and key which will affect the
![Screenshot_14](https://user-images.githubusercontent.com/42669995/63847958-7ff79280-c9ac-11e9-81c8-06423e5bc8f9.jpg)
high-security issue.

[2019-08-28 11:03] valeriocos commented on #209
You're welcome! Good news!

This is due to the fact that the username and password is set in the Git URLs of the projects.json (the URLs are directly mirrored to the dashboards. Please have a look at: https://help.github.com/en/articles/about-ssh, this should solve your problem.

If this won't solve your problem, I can check how to modifiy the code (it shouldn't be difficult)

[2019-08-28 12:08] asharabu commented on #209
Hi,
If we use ssh authentication it will not help https://github.com/asharabu/Testgit123 that should be ssh URL git@github.com:asharabu/Testgit123.git . But if you use ssh URL the projects.json file will not read ssh URL. We suspect that there should be code changes on grimoirelab/full which should read the key from override.cfg.

[2019-08-28 12:17] valeriocos commented on #209
I'll have a look and go back to you in the next days, thanks

[2019-08-29 07:34] valeriocos commented on #206
It seems this issue has been opened a bit too early, since the closing conditions require some clarifications (e.g., https://github.com/chaoss/grimoirelab/issues/206#issuecomment-524630360) and the outcome of CHAOSS meetings discussions (which are still ongoing).

Although the Social Currency method is really interesting and promising, this issue should be closed (or marked as blocked) until the a

[2019-08-29 11:17] alpgarcia commented on #96
This should be solved via https://github.com/chaoss/grimoirelab-elk/pull/679

Please @sduenas and @aklapper review it and close the issue :)

[2019-08-29 14:49] valeriocos commented on #209
Hi @asharabu, a PR is available at: https://github.com/chaoss/grimoirelab-elk/pull/682

[2019-08-29 15:23] GeorgLink commented on #206
I know it looks bad to have an issue open for too long 😔

If you want to close it, that's fine.

[2019-08-29 16:21] GeorgLink commented on #206
@aserebrenik , here is the summary from our conversation on Tuesday: https://lists.linuxfoundation.org/pipermail/chaoss/2019-August/000740.html

[2019-08-29 17:51] aserebrenik commented on #206
@GeorgLink This sounds interesting. If "sentiment" in their discussion is similar to "sentiment" in "sentiment analysis", then there are multiple research prototype tools capable of identifying sentiment (polarity) of a software engineering text.

[2019-08-29 19:46] GeorgLink commented on #135
Possibly related issue: https://github.com/chaoss/grimoirelab-tutorial/issues/93

[2019-08-29 20:46] GeorgLink opened #210 "Analysis by GitHub issues closed from pull-request or not"
The goal of the analysis is to see whether GitHub issues are closed through pull-requests (either automatically or simply because an issue had a related, merged pull request) VERSUS issues are closed for other reasons (e.g., an idea dismissed without code change, request resolved).

The analysis may be expressed in total numbers and a ratio:

Week | Issues closed with PR | Issues closed without PR

[2019-08-29 21:10] GeorgLink opened #211 "Analysis by GitHub Teams"
Is there a way in GrimoireLab to filter contributors based on the GitHub teams they are a member of?

Relevant API call: https://developer.github.com/v3/teams/members/#get-team-membership

For example, I want to analyze and compare metrics by maintainers (team members) vs. non-maintainers.

Alternatively, I may have several teams in the GitHub organization because they have different permissions f

[2019-08-29 21:26] GeorgLink opened #212 "Analysis of issues by stage they are in on GitHub Project Kanban"
GitHub has a Projects module in which a Kanban view can be used to organize issues and track their development progress.

Looking at the github_issues index on chaoss.biterg.io, I didn't see any information related to GitHub Project Kanban stages.

The relevant GitHub API seems to be: https://developer.github.com/v3/projects/

Does GrimoireLab enrich issue data with information about which project

[2019-08-29 22:14] GeorgLink opened #213 "Analysis of user activity on GitHub on issues/PRs: adding/removing labels and commenting"
1) I thought GrimoireLab provided information about comments posted on GitHub issues and pull requests. Where would I find this?

2) Since I'm looking at user activity on issues, where can I find information about when a user adds or removes a label from an issue/pull request?

I posted these two questions together because they relate to "activity" data and not "status" data. My suspicion is that

[2019-08-30 08:10] valeriocos commented on #210
The GitHub issue index contains part of this info. In a nutshell, if an issue contains PR data, the enriched item_type is `pull request` otherwise `issue` (see details at: https://github.com/chaoss/grimoirelab-elk/blob/c723df770bf8ff5f5bc5ee31551c77b73d89ac2c/grimoire_elk/enriched/github.py#L714).  This should be enough to identify issues with PRs and issues without PRs.

What is missing from the

[2019-08-30 08:11] valeriocos commented on #210
@alpgarcia @sduenas feel free to jump into the conversation, thanks

[2019-08-30 08:33] valeriocos commented on #211
At the moment Perceval doesn't fetch this data. To get it, the token should have read:org scope (something that should be taken into account if we decide to include team data).

[code]

Generally, organization info is handled via SortingHat*, so I'm not sure whether it could be useful to (i) extend SortingHat DB to include the concept of teams, or (ii) just fetch this info for GitHub data.

(i) wi

[2019-08-30 08:47] valeriocos commented on #212
Perceval doesn't fetch GitHub project information and timeline. The inclusion of this new feature requires changes on the whole chain (raw, enrichment, visualziations).

[2019-08-30 09:20] valeriocos commented on #213
1. Issue/pr comments are in the raw indexes but are not propagated to the dashboards. However, as you can see [here](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/github.py#L272), comments info is used to derive some metrics such as [time_to_first_attention](https://github.com/chaoss/grimoirelab-elk/blob/c723df770bf8ff5f5bc5ee31551c77b73d89ac2c/grimoire_elk/enriched/g

[2019-08-30 14:00] GeorgLink commented on #210
To clarify my request.
Issue https://github.com/chaoss/wg-diversity-inclusion/issues/188 was closed automatically by merging pull request https://github.com/chaoss/wg-diversity-inclusion/pull/203

The analysis I want to see is the number of issues (like 188) that were linked to a merged pull request (like 203) compared to the rest of the issues

[2019-08-30 15:17] GeorgLink commented on #211
If option (i) and (ii) both allow to filter by team membership, then I'm okay with either.

[2019-09-01 20:23] samanthavenialogan commented on #206
Hello everyone,

This is Samantha of SociallyConstructed.Online (Website to come as soon as life calms down, promise!).  I've also sent this email to the mailing list as I recognize neither Dylan nor I have been around to answer some of the more pertinent questions about the Social Currency Metrics System.

Dylan and I spent some time over the meeting talking about social scientific theories, whic

[2019-09-03 18:51] GeorgLink commented on #206
@samanthavenialogan thank you for posting your answers here and on the CHAOSS mailing list. I will reply more fully on the mailing list, because I think we can move the discussion forward there better.

[2019-09-04 13:49] stoewer opened #214 "Import projects from public GH and private GHE at the same time"
Hello, we successfully managed to import repositories and related data from our private GHE instance to our grimoirelab dashboard. And it works pretty fine. Now we would like to import data from the public `github.com` into the same dashboard.

We created a project file with projects from GHE and GH:
[code]
While still setting `api-token' and 'enterprise-url' in sirmordred's configuration:
[code]

[2019-09-04 14:48] valeriocos commented on #214
Hi @stoewer , thank you for using GrimoireLab :)

Try to define more github sections, for instance:
[code]

[code]

For more examples, please, have a look at:
- https://github.com/chaoss/grimoirelab-sirmordred/blob/master/utils/setup.cfg
- https://github.com/chaoss/grimoirelab-sirmordred/blob/master/utils/projects.json

Hope this helps!

[2019-09-05 22:04] GeorgLink opened #215 "Display how many pull requests a contributor accepted and closed"
I would like to know on an individual maintainer level, how many pull requests that contributor accepted and merged or closed without merging.

| Contributor | Merged/Accepted PR | Closed/Rejected PR |
|---|---|---|
|Georg|0|42|
|Adam| 12|1|
|Eve|10|0|

Is that data already available in GrimoireLab?
If yes, how can the above visualization be built?

[2019-09-05 22:35] jsmanrique commented on #215
Do you mean for each contributor, how many PRs get accepted and rejected? Or for each maintainer or reviewer, whose PRs they have a accepted or rejected and how many?

I'm not sure, but for the 1st question there might be data, but it might be a matter of building a visualization, and maybe a custom index. I think @alpgarcia has more expertise than me on this.

For the second, there might be data,

[2019-09-05 22:47] GeorgLink commented on #215
I'm asking about the second. I'll revise the first column to "Maintainer".

How many times has a "maintainer" clicked the "merge" button or "close" button (assuming the pr stays closed). The PR may have been opened by someone else and I don't care about who created the PR, only who decided to merge or close it.

[2019-09-05 22:50] GeorgLink commented on #213
Thank you @valeriocos, my understanding is that:

1. may be resolved by exposing the available data to the dashboard and building a visualization for it.

2. requires substantive new development on data ingestion, enrichment, and visualization.

[2019-09-05 22:55] GeorgLink commented on #211
I spoke with @sduenas about this feature request. His biggest concern is that:

- GitHub Team information may be private or hidden.

[2019-09-05 23:02] jsmanrique commented on #215
So, you are asking for a third one 🤣

[2019-09-05 23:18] GeorgLink commented on #215
🤯 It can be complicated to describe analyses - we need a CHAOSS metric for this to make it easier.

Well, is it possible with the current data in GrimoireLab or is new development needed?

[2019-09-06 12:04] aklapper commented on #96
I'm a bit lost I admit - is there a way to verify in some UI (e.g. using "Discover" in Grimoire), as I'm not very good when it comes to starring at Python code? :)

[2019-09-06 14:25] alpgarcia commented on #215
We have the merger, so it is possible to get the number of PRs merged by a given author. What I think we don't have, and please @valeriocos correct me if I'm wrong, is the name of the person closing a PR.

[2019-09-11 09:27] valeriocos commented on #214
Hi @stoewer , do you have any news on this issue?

[2019-09-11 09:33] #182 closed

[2019-09-11 09:38] valeriocos commented on #206
closing this issue, since the discussion has been moved elsewhere.

[2019-09-11 09:38] #206 closed

[2019-09-13 07:13] #209 closed

[2019-09-24 04:14] asharabu opened #216 "Unable to see documents to implement GitLab repos on grimoirelab/full."
Hi,

We could able to configure kibana dashboard using grimoirelab/full for GitHub public and private repos.

![image](https://user-images.githubusercontent.com/42669995/65480515-66fcd700-deaf-11e9-92d2-1b1a57105ac6.png)

But we are unable to see the documents to append the GitLab private repos along with the above picture.  Please share the steps how to append the buttons GitLab issues, GitLab PR

[2019-09-24 07:02] valeriocos commented on #216
Hi @asharabu ,

Please set to `true` the attributes `gitlab-issues` and `gitlab-merges` in the section `panels` of the dashboard.cfg/setup.cfg. Make sure you have defined in that file and in the projects.json the section `gitlab:issue` and `gitlab:merge` (see example below). Note that the repositories section doesn't exist for GitLab.

**setup.cfg**
[code]

**projects.json**
[code]