[2019-09-24 09:21] asharabu commented on #216
Hi,

Thanks for your update.

I am using dashboard.cfg file and I have added as you mention on dashboard.cfg

---
[gitlab:issue]
category = issue
raw_index = gitlab_grimoirelab-issues
enriched_index = gitlab_grimoirelab_issue
api-token = \<key\>
sleep-for-rate = true
no-archive = true

[gitlab:merge]
category = merge_request
raw_index = gitlab_grimoirelab-merges
enriched_index = gitlab_grimoirelab

[2019-09-24 14:09] GeorgLink opened #217 "add new enriched field utc_commit_time_of_day"
The goal is to add a new enriched field `utc_commit_time_of_day` to the git index.

`utc_commit_time_of_day = REMOVEDATEBUTKEEPTIME(utc_commit)`

This new field will support the new common metric "Commit Hours and Time"

The idea for this feature came from: https://github.com/chaoss/wg-common/issues/29

[2019-09-24 16:12] GeorgLink opened #218 "Include release notes in releases on GitHub"
When I look at the releases on GitHub, there is no indication of what is new or changed.

It would be great to have a list of new features, bug fixes, and other changes in a simple list format.

I know the information is available in https://github.com/chaoss/grimoirelab/blob/master/releases/NEWS
But it would be great to have a copy of that information in https://github.com/chaoss/grimoirelab/rele

[2019-09-24 16:15] valeriocos commented on #216
It's probably better to pass it via the credentials.cfg

The token is not correctly passed, this is reason of `401 Client Error: Unauthorized for url`

If this applies also to your gitlab projects, you should add to the dashboard.cfg the param `enterprise-url`, which is the `Base URL for GitLab Enterprise instance`

[2019-09-24 16:31] valeriocos commented on #218
@sduenas has an idea about how to improve the release notes. @sduenas please share your thoughts.

[2019-09-24 16:51] sduenas commented on #218
Starting in October we're going to work in a different way to generate the news documents and the way we release the software.

Currently, NEWS document is not useful for anyone because it contains the commit logs which usually are very technical and they don't give enough context. It would be better to have something like in Perceval (see https://github.com/chaoss/grimoirelab-perceval/releases/ta

[2019-09-24 17:03] GeorgLink commented on #218
Excellent. That would be great.

There is one project where I always enjoy reading the release notes because
they are funny: https://www.youneedabudget.com/release-notes/

[2019-09-24 17:25] jgbarah commented on #218
Great! Please, keep mi in the loop!

[2019-09-24 17:48] GeorgLink commented on #218
Also, the release notes don't have to be fancy. The commit logs would already be helpful to get started.

[2019-09-26 05:37] asharabu commented on #216
Hi,

Can we use more than one URL at a time for Gitlab URLs? for example gitlab.com and customdomain.com?

[2019-09-26 09:12] valeriocos commented on #216
It's not possible to pass the entreprise-url via the projects.json. However, you can create other gitlab sections in the dashboard.cfg, where the raw and enriched indexes are the same of the previous gitlab sections you defined. For instance:
[code]

The new sections should appear also in the projects.json

Let me know if this helps, thanks

[2019-09-27 15:10] valeriocos commented on #216
Feel free to reopen the issu @asharabu , thanks

[2019-09-27 15:10] #216 closed

[2019-09-30 15:32] alpgarcia commented on #217
Closing this via chaoss/grimoirelab-elk#691

[2019-09-30 15:32] #217 closed

[2019-10-11 17:42] GeorgLink opened #219 "Port GrimoireLab to Open Distro"
This issue is an idea for the Open Distro Hack Day at All Things Open on October 14.

GrimoireLab currently works with Elasticsearch.
The idea is to:
1. deploy GrimoireLab with Open Distro for Elasticsearch, matching the same version of Elasticsearch
2. port GrimoireLab to the latest version of Open Distro.

[2019-10-11 18:22] valeriocos commented on #219
AFAIK porting grimoirelab to open distro is part of the roadmap, but doing it in 3 days sounds a bit difficult :)

The main reasons of being unable to do this task in the short-term are:
- Migrating all current data to the latest open distro version (and make sure that the data is correct).
- Handle breaking changes between the current ES version used in GrimoireLab and the target one.

@sduenas p

[2019-10-11 20:18] GeorgLink commented on #219
That's good to know. I had [searched the issues](https://github.com/chaoss/grimoirelab/issues?utf8=%E2%9C%93&q=is%3Aissue+open+distro) but didn't see anything.

Anyways, it may be more challenging for a one-day project. Any suggestions on smaller steps that can move us in the right direction and earn an easy win for the Hack Day participants?

[2019-10-11 20:57] valeriocos commented on #219
https://github.com/chaoss/grimoirelab-sirmordred/issues/330
The corresponding internal ticket is in the backlog of the roadmap kanban.

I'll think about suggestions and let you know.

[2019-10-12 07:35] valeriocos commented on #219
An idea could be to:
- a. have a docker compose with OD and Kibana
- b. install Perceval
- c1. execute Perceval against Git/GitHub/GitLab/Meetup/... repo
- c2. take the JSON documents returned and save them to OD
- d. create visualizations via Kibana

Points c1 and c2 would require the participants to write a Python script combining Perceval and ElasticSearch (or requests) library. In this way, th

[2019-10-12 11:48] sduenas commented on #219
What do you mean to port GrimoireLab to OpenDistro? GrimoireLab (especifically Mordred and ELK) only need a ElastickSearch and Kibana endpoints to work. As far as I know, that's what OpenDistro provides.

So configuring SirModred would be more than enough if you have running OpenDistro. Am I missing something?

[2019-10-12 12:29] valeriocos commented on #219
You're right @sduenas, however there are some considerations to take into account.

- `deploy GrimoireLab with Open Distro for Elasticsearch, matching the same version of Elasticsearch`

  Our stack is Elasticsearch and Kibiter 6.1.x, the first OD version available is 6.5.4 (https://opendistro.github.io/for-elasticsearch-docs/version-history/). Switching to 6.5.4 it might work, but we've never tes

[2019-10-12 15:29] sduenas commented on #219
@dlumbrer was able to use GrimoireLab with OpenDistro. Probably he can give us more info.

[2019-10-12 16:57] valeriocos commented on #219
that's true, I forgot about the evaluation of @dlumbrer

[2019-10-14 07:15] valeriocos commented on #219
While waiting for @dlumbrer feedback, we got the one from @jjmerchante (please, feel free to join the discussion) who is using OD 0.9.0 for Cauldron. The platform seems to work fine at least for the following data sources: git, gitlab, github, meetup. He also reported that there are some minor changes to apply on the docker-compose.

For the next time @GeorgLink, it would be great to start this ki

[2019-10-14 08:08] jsmanrique commented on #219
FYI, there is already possible to use core GrimoireLab with Open Distro for Elasticsearch (ODFE), but not with the latest version of ODFE (check chaoss/grimoirelab-sirmordred#330 and chaoss/grimoirelab-sirmordred#318). But if you wanna play I've created a custom `docker-compose.yml` file for testing ODFE 0.9.0:

https://gitlab.com/jsmanrique/grimoirelab-for-demos#bonus

The main differences with [

[2019-10-14 08:11] jsmanrique commented on #219
He only tested some data dumps with mini mordred and ODFE 0.9.0. A couple of weeks ago, we tested with the latest ODFE and it was when we realized about the mapping issues mentioned before.

[2019-10-14 08:37] dlumbrer commented on #219
That's right, I want to add that we can modify the Kibana provided in Open Distro in order to have our Kibiter, because the docker images are available and we can add the features on it.

[2019-10-14 08:45] jsmanrique opened #220 "Update README to include how to run GrimoireLab"
Potentially related with:
* chaoss/grimoirelab#135
* chaoss/grimoirelab-tutorial#93

I am missing information about how to run GrimoireLab in its project README file. At least a basic structure like:

# Getting started

Of course, first, you need git and to clone this repository.

You need to modify at least 2 configuration files to get ready:
* `projects.json` to describe the projects and data so

[2019-10-14 11:08] GeorgLink commented on #219
Sorry about the short notice. I strive to give everyone as much time as possible. I posted the issue as soon as I knew that we needed an issue. With the short time left, I was not expecting the level of detail that everyone provided, but I very much appreciate all of the input here. I think it is great that we have this much information that will be valuable to hackathon participants.

[2019-10-14 13:17] valeriocos commented on #219
no worries @GeorgLink :) good luck with the hackathon!

[2019-10-16 17:58] GeorgLink commented on #219
Thank you @valeriocos @GeorgLink @jsmanrique @dlumbrer for the discussion and pointing out the potential pitfalls and steps required for resolving this issue. This information was very helpful for me when I was asked about this issue during the Hackathon. Due to the complexity of this issue and the limited time during the Hack day, no one went for this issue. However, someone started and got fairl

[2019-10-17 15:56] jsmanrique opened #222 "Fix wrong links to GrimoireLab website and tutorial in README.md"
GrimoireLab tutorial is not anymore in GitBooks, so it would be nice to have the right link fixed in the README.md file

The right link are:
* Website: https://chaoss.github.io/grimoirelab
* Tutorial: https://chaoss.github.io/grimoirelab-tutorial/

[2019-10-17 17:37] #222 closed

[2019-10-22 17:11] Gemarodri opened #227 "Dashboard Organizations "Unknown" when installing Grimoirelab using Docker"
Hi everyone,

I followed this [recent post](https://chaoss.community/blog-post/2019/10/08/simplifying-how-to-install-grimoirelab/) to install Grimoirelab using Docker containers. Everything worked well, I was able to see and play with the data from Perceval. However, I noticed that in the organizations graph all the developers belong to "Unknown" organization (see screenshot attached).  I looked w

[2019-10-22 19:27] jgbarah commented on #227
By default, SortingHat is not guessing affiliations for developers. But you can fill in data to teach SoetingHat how to affiliate people, in the [idemtities.yaml](https://github.com/chaoss/grimoirelab/blob/master/docker/identities.yaml) file (that link is just an example, more info about it in the Sorting Hat documentation).

[2019-10-23 19:09] Gemarodri commented on #227
Thank you!
It works now. The problem was that I cloned the analytics-demo repository and in the repo the organizations file is called "organizations.json" but it is referenced as "orgs_file" in the docker-compose file. So, I changed the name in the docker-compose file, I added the identities.yam file because is missing in the repo and it works. :)

[2019-10-24 07:48] jgbarah commented on #227
Great! Please, feel free to pull-request those changes, so that it works for other people.

Closing the issue.

[2019-10-24 07:48] #227 closed

[2019-10-30 19:42] mpas opened #229 "How to set period between data pulls?"
I am trying to setup and understand how the configure a simple stack and was wondering if there is parameter that influences at what time interval data is being pulled from sources. In the configuration there is a general setting called `min_update_delay ` but according to the documentation this is a setting that tries to influence the time between tasks (collect, enrich ...) etc.. Is there a sett

[2019-10-30 20:26] valeriocos commented on #229
Hi @mpas, thank you for your interest in GrimoireLab. I'm pretty sure there is no param that check a data source every x seconds, I'll double-check and let you know.

Why you need to check a source every x seconds?

[2019-10-30 20:49] mpas commented on #229
@valeriocos There is no real need, but i was just wondering what the interval would be that GrimoireLab is using when trying to get data from external resources. When checking the logging i saw stuff like "sleeping for 300 seconds" and was wondering what is influencing the timer etc :) So just being curious.

[2019-10-30 21:56] jgbarah commented on #229
I think it is `min_update_delay` in the SirMordred configuration file(s). For example, in [the one we use for `grimoirelab/installed` and `grimoirelab/full` Docker containers](https://github.com/chaoss/grimoirelab/blob/1f6c10a6477cf74b79cafe475f95cd5ea354b457/docker/mordred-dashboard.cfg#L16), you can find the lines:

[code]
You can tweak it to shorten or enlarge the period until trying to update

[2019-10-31 11:38] valeriocos opened #231 "Problems with the docker-compose installation"
@Virkeipa reported that she isn't able to install GrimoireLab using the [docker-compose instructions ](https://github.com/chaoss/grimoirelab#using-docker-compose). After a troubleshooting session with @zhquan @sanacl @alpgarcia , it seems that the problem is due to limited resources in her machine.

Furthermore some instructions (e.g., `sysctl -w vm.max_map_count=262144`) weren't directly accessib

[2019-10-31 13:06] jsmanrique commented on #231
Thank you. It seems that the Requirements section in the main README.md is not clear enough:
[code]

And the last part is a link to Elasticsearch documentation about the topic:
https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html

I'll try to make the requirements more prominent, because the "documentation" is already there.

What do you think?

[2019-10-31 13:15] valeriocos commented on #231
+1, thanks!

[2019-11-04 09:33] mpas commented on #229
@jgbarah Thanks for the explanation.

My expectation would be that if i set this value to a low number like 10 (seconds) the update will be triggered every 10 seconds or am i missing something? I tried to set this value to a low number and see what the effect in on the collection of data. Setting this parameter to a low value actually seems to influence little.

[code]

[2019-11-04 09:48] sduenas commented on #229
Hi @mpas,

That depends of how fast the processes retrieving and updating data are. The idea is once these processes finish, a new iteration will start again. As we cannot guarantee the processes will finish fast, nothing will be triggered to start again even if you set a very small delay.

[2019-11-04 10:03] mpas commented on #229
@sduenas that makes perfect sense, but when i check the logs using the official `grimoirelab/installed:0.2.32' image the retrieval is fast using a github project.

[code]

Letting the process run for a number of minutes i would expect that the number of messages telling me that Collection is starting and finishing would be a lot more when setting this number to a lower number like 10's.

[2019-11-04 13:38] mpas opened #232 "How to use multiple tokens for multiple different git repository backends?"
How can we use multiple tokens for different git backends?

Lets say that i have repositories remotely on github and i set a github api token using..

[code]

This works nicely.. but if I also want to integrate repositories from local gitlab for example how can i add an additional token and get the different projects aware on what token to use??

[code]

[2019-11-04 15:36] valeriocos commented on #232
Hi @mpas , private repos are not directly supported by GrimoireLab. For these cases, you should pass the credentials directly in the projects.json
[code]
Similar issues have been addressed in the past, please have a look at them:
- https://github.com/chaoss/grimoirelab/issues/216
- https://github.com/chaoss/grimoirelab/issues/205
- https://github.com/chaoss/grimoirelab/issues/209

Don't hesitate t

[2019-11-04 17:38] mpas commented on #232
@valeriocos Is there any chance that the projects file is being pre-processed or that tokens are also read via environment variables? I am looking for a way to inject the tokens via environment variables so i do need to expose them directly in the file.

I can create my own container with for example `envsubst` in it or do a custom pre-process step using `sed` but maybe there is already a mechanis

[2019-11-04 17:49] valeriocos commented on #232
It sounds like a nice feature to have.
I'd say there is no mechanism in place for this at the moment, @sanacl @jgbarah any thoughts?

[2019-11-05 07:08] mpas commented on #229
If the setting `min_update_delay` is changed in the infra.cfg file do you see any changes to the data requests? Or any log messages that this setting is actually being overriden ?

[2019-11-05 11:17] mpas commented on #229
I have set the setting on a strange value like 12345 (seconds) and the data pulls are still every 300 seconds (5 minutes)

[code]

[2019-11-05 16:34] valeriocos commented on #229
sorry for the late reply @mpas

A log message should be produced by this code:
https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/task_manager.py#L104

[2019-11-06 08:59] sduenas commented on #220
@jsmanrique can you check the current version of the README file. Maybe it contains all you described here. If doesn't not the case, please create a PR adding the text you wanted to include.

[2019-11-06 09:00] jsmanrique commented on #220
I think this issue can be closed thanks to #221

[2019-11-06 09:01] sduenas commented on #220
Thanks!

[2019-11-06 09:01] #220 closed

[2019-11-07 10:36] rootsongjc opened #233 "Github index not generated when using grimoirelab/full image"
I setup Grimoirelab with grimoirelab/full docker image.

Here is my setup command.
[code]
Here are my config files.

### projects.josn
[code]

### setup.cfg
[code]

### dashboard.cfg
[code]

### Debug

After the container started for a while, I logged in and run this command to figure out if the indexes generated.

[code]
No Github data.

![image](https://user-images.githubusercontent.com/3328185/

[2019-11-07 11:38] sduenas commented on #233
I don't see you are using a github token to analyze those repositories. Maybe the process is still running because the rate for non-authenticated users is 60 (which runs out pretty fast).

I recommend to add your github token to `[github]` section with the paratemer `api-token`.

[code]

[2019-11-07 11:55] valeriocos commented on #233
There is a typo in the projects.json
[code]

[2019-11-07 12:47] rootsongjc commented on #233
I have configured it on `setup.cfg` file at the first line.

[2019-11-07 13:04] sanacl commented on #232
There is not way to do that right now. Reading secrets from env. variables would be a nice improvement for sure.

[2019-11-07 13:07] rootsongjc commented on #233
@valeriocos Thank you. That's exactly a typo. After fixed it, github_grimoirelab appeared but the index has no document.
[code]

[2019-11-07 13:23] valeriocos commented on #233
you're welcome @rootsongjc .

It could be related to `min_update_delay = 300`, which is the number of seconds between two mordred loops or an error in the enricher. Do you have some logs to share?

[2019-11-07 13:30] rootsongjc commented on #233
I can see grimoirelab backend request Github in `/logs/all.log` like these:
[code]
and these

[code]
No error found in the logs.

[2019-11-07 19:08] jgbarah commented on #233
Your configuration worked for me as I describe below. Could you please check exactly this procedure?

I got your `projects.json` file (with the typo fixed), and a file `mordred-credentials-jgb.cfg` with just my GitHub credentials:

[code]

I put both of them in the same directory, and from it, I run the `grimoirelab/fullI` container as:

[code]

I get the following output:

[code]

At this point,

[2019-11-07 19:59] valeriocos commented on #233
thank you @jgbarah for the feedback.

If this can be of any help, I changed a bit the configuration files and I was able to see the data too.

[code]

the projects.json is:
[code]

the credentials.cfg is
[code]

and in the dashboard.cfg I have just added `no-archive = true` in the github section:
[code]

This is the info about the indexes:
[code]

[2019-11-08 03:37] rootsongjc commented on #233
@valeriocos I used the same configuration on my Mac computer and Alibaba Cloud to creating the Grimoirelab. My computer took a long time to show the collection of Github data, and there was no Github data on Alibaba Cloud, although I can see `github_grimoirelab` index.

[2019-11-08 10:19] rootsongjc commented on #233
I finally know why, because Alibaba Cloud China's servers can't access some google services, and the program can't continue to run. After changed an oversea server, it works.

[2019-11-08 11:32] valeriocos commented on #233
Thank you @rootsongjc for your feedback!

[2019-11-08 11:47] rootsongjc commented on #233
@valeriocos While I change an oversea server, it only works for little repo, if I want to analysis a large one such as [Kubernetes](https://github.com/kubernetes/kubernetes) or [istio](https://github.com/istio/istio), it didn't work.

[2019-11-08 16:57] valeriocos commented on #233
Sorry for the late reply @rootsongjc !

 When you say `it didn't work`, you mean that you don't see the enriched index? If this is the case, it's probably due to the large size of the repos. In GrimoireLab, the enrichement starts after the collection, so for large repos you may need to wait for a while. In order to handle these cases, you can pass more GitHub tokens via the credentials.cfg file as

[2019-11-09 08:05] rootsongjc commented on #233
Yes, it didn't work means no `github_grimoirelab`. I am using grimoire to analysis large repositories. Thank you for your reply. @valeriocos

[2019-11-09 18:06] valeriocos commented on #233
Please @rootsongjc let us know if this issue gets solved or don't hesitate to report errors if needed, thanks!

[2019-11-10 01:52] rootsongjc commented on #233
@valeriocos It needs a long time to walk through, but it works now. I think this program may have a bit of a problem with concurrent performance.

[2019-11-10 01:52] #233 closed

[2019-11-12 13:38] jsmanrique opened #234 "Getting Meetup groups information from a Pro account"
Current analysis scope definition is based on a list of repositories (URLs mainly) by data source (git, github, meetup, etc.). [More information about this](https://github.com/chaoss/grimoirelab-sirmordred#projectsjson).

Wouldn't it be nice to use Meetup Pro account `urlname` to get the list of Meetup groups under such account automatically without needing to periodically check it?

I think this

[2019-11-12 16:04] GeorgLink opened #235 "Add comment about having implemented CHAOSS metrics"
Add to the website somewhere:

[2019-11-12 16:33] valeriocos commented on #235
Fixed by https://github.com/chaoss/grimoirelab/pull/236

[2019-11-12 16:33] #235 closed

[2019-11-13 16:54] valeriocos commented on #219
An initial support for ODFE is ready for review:
- https://github.com/chaoss/grimoirelab-elk/pull/716
- https://github.com/chaoss/grimoirelab-sirmordred/pull/362 (the previous PR should be accepted to avoid Travis to fail)

Note that uploading panels to Kibana is currently not supported for ODFE

Please @sduenas have a look

[2019-11-14 14:40] RCheesley opened #238 "Multiple uuid's which don't exist"
I have an issue with multiple UUID's being displayed in the Affiliations view, but they don't exist in Hatstall.

Is there some way to refresh or clear out any where this is the case?

I'm not sure how it has occurred but it's clogging up the view and I'm somewhat concerned for the data validity if we have duplication going on.

[2019-11-14 14:43] GeorgLink commented on #238
Did you recently merge identities? The data in the dashboard will be updated over time (I think because it has to alter the history of all activities). Until that update is complete, you will continue to see outdated identities (outdated because you merged them with a different identity).

[2019-11-14 14:57] RCheesley commented on #238
Ahhh, that could be the case! I had been seeing them for some time but I'll wait and see if it sorts itself out in a bit (it's currently working through updating data sources so maybe this will be resolved once those are done!).

Is it feasible to do some kind of internal lookup for the old UUID once it has been merged, or does hatstall drop the references to the old UI?

[2019-11-15 06:22] GeorgLink opened #239 "remove identities file and its git history"
#237 raised an important point about not providing an identities file.

I'm sure @sanacl has more insights about the legal problem with sharing personal identifiable information.

The argument that the information already existed in the repo is not substantive. The data, in my understanding, should never have been in the repo.

Further, providing an identities file comes with the expectation that

[2019-11-15 08:32] valeriocos commented on #239
To give more context to the people that want to join the discussion, we are talking about two identities.yml files
- One is in the docker [folder](https://github.com/chaoss/grimoirelab/blob/master/docker/identities.yaml) since `Jan 31, 2018`
- Another one is in the default-grimoirelab-settings [folder](https://github.com/chaoss/grimoirelab/blob/master/default-grimoirelab-settings/identities.yml) s

[2019-11-15 10:16] jgbarah commented on #239
To extend the context:
* The data is needed to have a sensible output of the grimoirelab/installed container, which produces a visualization of CHAOSS projects. If we don't have this file, we cannot produce a sensible affiliation information.
* Emails are readily available from GitHub itself if you just clone the repo and run "git log" (I'm not sure all of it, but certainly most of it)
* Affiliati

[2019-11-16 16:22] RCheesley commented on #238
I don't think this is the case now, it's been three days and I've had more data coming in, still some people are not being correctly associated to the company (although others have been successfully) and the UUID's remain.

[2019-11-16 19:53] GeorgLink commented on #238
Then I don't know. @valeriocos might be able to help.

[2019-11-17 08:02] sanacl commented on #239
Hi folks,
in terms or regulation this is what Github says:

So, we (as a community) are the [data controllers](https://www.gdpreu.org/the-regulation/key-concepts/data-controllers-and-processors/). This places us in the position of letting the people know we are using their information to allow our CHAOSS demo to run smoothly. It is important that we as a community provide them a way to request to

[2019-11-17 12:28] valeriocos commented on #239
Thank you @sanacl for the details and proposals.

I vote for a message via the mailing list, I guess it should be enough (given also the last point mentioned by @jgbarah). WRT new comers, we can add a section in the README of this repo saying that contributor's information may appear in the CHAOSS dashboard (and if they are not happy with that we can remove their data).

WDYT?

[2019-11-17 16:09] GeorgLink commented on #239
Thank you for the clarifications and discussion.

Because the file only contains contributors to the chaoss/grimoirelab repo and we do not claim to maintain a larger context of identities, I am okay with the proposed course of action:
- inform via email list
- add a disclaimer on README
- add a disclaimer on CONTRIBUTING (I added this because it's the place for contributors to check how to contrib

[2019-11-18 09:32] jsmanrique commented on #239
IMHO, GrimoireLab starting point should not require any `identities.yml` file, specially **without any clear explanation of what that file is for**, so I would vote for, either:

* remove or empty `identities_file = [/home/bitergia/conf/identities.yml]` line from any `setup.cfg` deployment file in this repository. Of course, I would remove/delete any `identities.yml` file in this repository.

or

[2019-11-18 09:38] jgbarah commented on #239
@jsmanrique can you pleas elaborate on your rationale for removing `identities.yml`, assuming the community is properly informed?

[2019-11-18 10:09] jsmanrique commented on #239
1. The identities file here, AFAIK, is not the one being used to build chaoss.biterg.io
2. The identities file is not needed to start playing with GrimoireLab, so it only adds an additional step to be aware of
3. The identities file creates conflicts with data changed with HatStall (another issue that need to be addressed AFAIK)
4. The profiles described in the identities file provided in this rep

[2019-11-18 10:39] jgbarah commented on #239
1. That file is for use with the grimoirelab/full container, which is intended as a demonstrator. As such, it builds a dashboard for CHAOSS. No input nor configuration needed, except for your GitHub token. It could be used for chaoss.biterg.io, and in general, I try to maintain them in sync (I'm not sure if they are exactly the same now, but they should).

2. I agree, but it is also a nice thing t

[2019-11-18 11:09] valeriocos commented on #238
Hi @RCheesley , have you tried to recreate your enriched indexes?

[2019-11-19 15:06] RCheesley commented on #238
@valeriocos can you point me at some documentation which explains how to do this please, and I'd gladly try! :)

[2019-11-19 17:33] sduenas opened #240 "Redefine GrimoireLab releases"
Over the last few years we have been doing GrimoireLab releases manually. The process is long and tedious and full of steps. Moreover, the artifacts generated (pip packages, docker images and tarballs) are not well defined.

For those reasons I think is the time to improve this process focusing in the next topics:

- [x] Generate better documentation with each release
- [x] Improve versioning
- [x

[2019-11-19 18:21] jgbarah commented on #240
The process for generating pip packages & Docker images is at least in part automated, once the release file is produced: have a look at the [Building.md](https://github.com/chaoss/grimoirelab/blob/master/BUILDING.md), and in particular to section "[pip packages and Docker images using Ansible](https://github.com/chaoss/grimoirelab/blob/master/BUILDING.md#pip-packages-and-docker-images-using-ansib

[2019-11-20 15:31] sduenas opened #241 "Proposal to improve GrimoireLab release notes"
### Rationale

I think we should improve the release notes we generate in GrimoireLab. Right now they are not really useful for someone that wants to understand the latest features, changes or fixed bugs in the project. Release notes are only generated using the git log messages. That is unhelful for someone non-technical or not involved in the project.

A better idea would be to have release note

[2019-11-20 16:08] GeorgLink commented on #241
+1 to better release notes.

I'll leave the technical details to others.
The [GitLab guidelines for good change log entries](https://docs.gitlab.com/ee/development/changelog.html#what-warrants-a-changelog-entry) is great.

[2019-11-20 16:10] sanacl commented on #241
@sduenas how does the script distinguish between new features and fixes?

[2019-11-20 16:25] sduenas commented on #241
Each entry stores the category of the change. See https://docs.gitlab.com/ee/development/changelog.html#how-to-generate-a-changelog-entry.

[2019-11-20 16:36] sanacl commented on #241
I understand then that PRs with more than 1 commit will be welcome then. Am I right? I mean, if they are related, several commits can be published in the same PRs with a single YAML file with the description. Is this right?

[2019-11-20 16:41] sduenas commented on #241
Yes, that's the idea.

[2019-11-20 16:44] sanacl commented on #241
LGTM. :+1:

[2019-11-20 17:10] GeorgLink commented on #238
@RCheesley have you tried the command from this section of the GrimoireLab tutorial?

https://chaoss.github.io/grimoirelab-tutorial/sortinghat/basic.html#regenerating-enriched-indexes

[2019-11-21 08:27] valeriocos commented on #241
LGTM!

[2019-11-21 09:42] jgbarah commented on #241
I like the idea very much!

[2019-11-21 11:54] valeriocos commented on #238
Sorry for the late reply @RCheesley !!

you can do it from command line:
[code]

For instance, my elasticsearch is at https://admin:admin@localhost:9200 and the index to delete is `github_chaoss_enrich`, thus the curl command is:
[code]

In case you want to delete all indexes that share the same initial chars you can execute:
[code]

[2019-11-21 12:06] RCheesley commented on #238
Is this the case when using the docker setup?  Also, how do I find the name of the index?  Thanks!

[2019-11-21 12:14] valeriocos commented on #238
The indexes are declared in your setup.cfg. Taking https://pastebin.com/rMSpguBy as a reference, the git enriched index is `git_demo_enriched`, the github enriched index is `github_demo_enriched` and so on.

If you want to list all indexes in your elasticsearch, you should execute this command from terminal (or directly from the dev tool of Kibana): `your-elasticsearch-url/_cat/indices?pretty`. A

[2019-11-21 12:20] RCheesley commented on #238
OK thanks, appreciate the explanations to a newbie!

[2019-11-21 12:32] valeriocos commented on #238
you're welcome @RCheesley !!

[2019-11-21 17:18] RCheesley commented on #238
Here's a screencast, this is after completely rebuilding from scratch and pulling in the data sources again, I tried to delete the indexes and rebuild but it persisted.

Some of the screens are showing correct attributions from hatstall, but the git, overview, and the affiliations screen are not, and only show two companies and unknown despite the users being associated with companies.

Quick scre

[2019-11-21 17:37] valeriocos commented on #238
Thank you @RCheesley for the screencast, this is going to be helpful to understand the problem. We will address your issue ASAP.

[2019-11-22 17:17] valeriocos commented on #238
@zhquan and I had a look at your issue. We relied on the configuration files at https://github.com/chaoss/grimoirelab-sirmordred/issues/374. We included some organizations (e.g., `Mautic`, `Acquia`) via sortinghat (see command below), however you can achieve the same results by modifying the orgs_file.
[code]

 As you can see from the screenshots below git, github and affiliations seem fine.
![ima

[2019-11-22 17:28] RCheesley commented on #238
I have an organizations.json and orgs_file in the root of the directory, is that what you mean, or do I need to look within the docker containers themselves?

[2019-11-22 17:29] RCheesley commented on #238
(note, most of the organisations I have added via Hatstall manually, rather than with the orgs files)

[2019-11-22 18:18] valeriocos commented on #238
I guess it's ok, i was referring to the orgs_file loaded at line 25 of https://pastebin.com/rMSpguBy.

When you added the organizations, did you add also the domains? Next week we can try to replicate your issue by inserting orgs from hatstall.

[2019-11-22 18:21] RCheesley commented on #238
When you add an organisation in Hatstall, it does not ask you for a domain, only the organisation name:

![screenshot-157 245 245 139_8000-2019 11](https://user-images.githubusercontent.com/2930593/69450382-ee9e7f00-0d54-11ea-8270-525b54e5c63b.png)

[2019-11-23 17:20] harshavardhanc opened #242 "Not getting data for github issues and PR's"
I'm trying grimoirelab for some open source repositories, I'm getting the data of github commits and repositories. But not getting data for github PR's and issues.
Is there any configuration changes which I need update?

[2019-11-23 17:51] valeriocos commented on #242
Hi @harshavardhanc , could you share your configuration files?

Supposing there is no bug ^^, there are two possible explanations that come to my mind:
- Missing `sleep-for-rate` param, which sends the backend to sleep until the API token is exhausted. If this is the case, the collection process will raise an error when the API token gets exhausted. To enable the `sleep-for-rate`, you should modif

[2019-11-24 15:17] harshavardhanc commented on #242
Hi @valeriocos Thanks for the response. Below is my configuration

`
[git]
raw_index = git_demo_raw
enriched_index = git_demo_enriched
latest-items = true
studies = [enrich_demography:git, enrich_areas_of_code:git, enrich_onion:git]

[github]
api-token = XXXX
raw_index = github_demo_raw
sleep-for-rate = true
sleep-time = "300"
enriched_index = github_demo_enriched
`

[2019-11-24 18:30] valeriocos commented on #242
the github configuration looks ok. Please remember that you can pass a list of tokens to `api-token` if needed. The tokens should be obtained by different github accounts (otherwise all tokens will share the same petitions).

Could you list the github projects you want to analyse?

Thanks

[2019-11-25 04:41] harshavardhanc commented on #242
@valeriocos All the repositories in our organization account **project-sunbird**.

[2019-11-25 11:39] valeriocos commented on #238
Sorry for the late reply @RCheesley .

Domains can be added only via SortingHat, please try the following:
- access your server where grimoirelab is running
- execute `docker ps` to get the list of containers
- execute `docker exec -it <mordred-container-ID> bash` to access the container
- within the container, execute `sortinghat -u root -p <password> --host <mariadb-host> -d <database-name> orgs

[2019-11-25 15:59] valeriocos commented on #242
Sorry for the late reply @harshavardhanc . I'm testing it locally, see below my projects.json and snippet of the cfg file

[code]

[code]

[2019-11-25 16:04] RCheesley commented on #238
I think I'm missing something here, what has adding domains got to do with
the UUID's being unknown and profiles not being merged when they are merged
in Hatstall?

Ruth Cheesley

ACQUIA

Mautic Community Manager

p: +44 (0)1442 734282 | m: +44 (0) 7308 164475 | e: ruth.cheesley@acquia.com

/ WE ARE THE OPEN SOURCE DIGITAL EXPERIENCE COMPANY.
<https://www.acquia.com/>

On Mon, 25 Nov 2019 at 11:39

[2019-11-25 16:50] valeriocos commented on #238
Let's suppose you create a commit with `ruth.cheesley@acquia.com` and `acquia.com` is a domain registered for the `Acquia` in SortingHat. When the matching operation is executed, the organization `Acquia` is retrieved from `acquia.com` (thanks to the info stored in SortingHat) and automatically set to your profile.

If the connection between `Acquia` and `acquia.com` isn't defined, the profile inf

[2019-11-25 17:48] valeriocos commented on #242
The test has finished and I didn't spot any error, it took around an hour to process the data.
Please find below the indexes generated.

[code]

[2019-11-25 18:22] harshavardhanc commented on #242
Thanks @valeriocos, I was missing **github** and **github:prs** section in project.json. I have updated that and re-ran, but I'm getting _401 Client Error: Unauthorized for url_. I'm passing the correct api token, but still getting this issue and also indices are not getting created.
Do I need to pass multiple api tokens?

[2019-11-25 18:48] valeriocos commented on #242
You're welcome @harshavardhanc !

Are you running [grimoirelab](https://github.com/chaoss/grimoirelab) via docker-compose or docker?

[2019-11-25 19:01] harshavardhanc commented on #242
@valeriocos using docker

[2019-11-25 19:05] RCheesley commented on #238
OK, but the issue is that I have *already* associated the user in Hatstall
with an organisation. Their profiles have already been merged, yet in the
Affiliations screen the old UUID's are still showing from before the merge.

So the user and organisation associations are (apparently) working
correctly, as expected, but we're seeing what seem to be orphaned UUID's
still remaining in the Affiliation

[2019-11-25 19:31] valeriocos commented on #242
Ok, sorry for the imprecision then (I was using the docker-compose) :)

the github token should be defined in the credentials.cfg, as shown below
[code]

[2019-11-25 19:48] harshavardhanc commented on #242
I have passed the token in credentials.cfg file, after while starting the docker container it is throwing this error.
`This will usually take a while...
Error while consuming configuration:  ('Missing section param:', 'github:prs', 'raw_index')
`

[2019-11-25 19:56] valeriocos commented on #242
it seems that `raw_index` isn't defined in `github:prs` section.
Tomorrow I'll send you a working example with your repos for git and github, using docker.

[2019-11-26 03:04] harshavardhanc commented on #242
raw_index is defined in the github:prs section, you can see that in the above config. Thanks @valeriocos, will be waiting for your response.

[2019-11-26 19:05] valeriocos commented on #242
Hi @harshavardhanc , please find below the configurations I used, the docker command and the summary of the results.

**projects.json**
[code]

**dashboard.cfg**
[code]
**credentials.cfg**
[code]

**docker command**
Run the command in the same folder where the credentials.cfg, dashboard.cfg and projects.json are located.

[code]

**results**
The results can be seen using the curl command:
[code]

[2019-11-27 05:58] harshavardhanc commented on #242
Great @valeriocos, It worked perfectly. Thanks a lot.
Is there any documentation page where I can refer for running it in docker or docker-compose?
If any, please provide the link.

[2019-11-27 07:24] jsmanrique opened #244 "Stop any further development on Kibiter"
GrimoireLab Kibiter has been an important part of GrimoireLab toolkit for a long time, but mainly because it has been part of Bitergia Analytics offering. But the value it provides to any GrimoireLab user is too low to justify maintaining a fork of Kibana as part of GrimoireLab toolkit at all, specially since important features like security access, or desired ones like multitenancy or alerts, are

[2019-11-27 07:57] valeriocos commented on #242
You're welcome @harshavardhanc !

Sure, please have a look at:
- https://github.com/chaoss/grimoirelab#using-docker-compose
- https://github.com/chaoss/grimoirelab#using-docker-run
- https://chaoss.github.io/grimoirelab-tutorial/sirmordred/container.html

Let's close the issue, feel free to reopen it if needed, thanks

[2019-11-27 08:47] harshavardhanc commented on #242
Sure @valeriocos closing the issue.

[2019-11-27 10:20] sduenas commented on #244
What should I do then with the components developed in Kibiter? The menu for example?

[2019-11-27 10:39] sduenas commented on #241
I created a new repository in Bitergia where I'm going to create these tools: https://github.com/Bitergia/release-tools. Not sure if makes sense to move this repository to CHAOSS/GrimoireLab now or if we should wait until this is more stable.

I created a new PR with a script to help developers to create the entries mentioned above: https://github.com/Bitergia/release-tools/pull/1

[2019-11-27 11:01] jgbarah commented on #241
I think it makes sense to have it in chaoss, so it is more apparent to any contributor. Maybe this repo is the right one for it, under `/utils`.

[2019-11-27 15:08] valeriocos commented on #239
which action should be taken to close this issue @jgbarah @jsmanrique ? thanks

[2019-11-27 17:48] valeriocos commented on #238
Sorry for the misunderstanding and late reply, @RCheesley

In theory this should solved in the next enrichement phase, however in your case it doesn't seem to work (https://github.com/chaoss/grimoirelab/issues/238#issuecomment-554651656).

It is difficult to replicate your issue since we don't have access to the data and the test we performed locally (https://github.com/chaoss/grimoirelab/issues/2

[2019-11-27 20:39] GeorgLink commented on #239
I vote for

Because:
1. it still gives an example of how to load an identities.yml file
2. no personal information in the repo files

_optional:_ If the maintainers of this repo want to include their own personal information in the identities.yml file, then that's up to them, but I would not include anyone else.

[2019-11-27 22:10] jgbarah commented on #239
I think i have nothing else to say, in addition to my previous comments ;-)

[2019-11-28 09:27] harshavardhanc commented on #242
@valeriocos After specifying all the repositories which are there in our organization account, it is throwing 404 error, below is the complete error.

I tried passing mutliple api-tokens as well.

[2019-11-28 10:11] valeriocos commented on #242
It looks like the github repos in your projects.json end with `.git`, try to remove it (and it should work :)). For instance,
`https://github.com/project-sunbird/openrap-device-mgmt-plugin.git` should be `https://github.com/project-sunbird/openrap-device-mgmt-plugin`

[2019-11-28 15:36] jsmanrique commented on #244
Sorry, I don't understand the question. Which component are you talking about when you say "menu"? The custom html for having a top navigation menu?

In Kibana that's solved with "Dashboards" link. I know, it is not perfect, but it works.

The navigation menu, I would say it's a "extra feature" developed by Bitergia for its customers, not strictly linked with GrimoireLab toolkit (to gather, to pro

[2019-11-28 16:21] RCheesley commented on #238
Thanks again!

I think the issue was a delay in the enrichment (several days worth or
delay!) or some kind of problem stalling the process silently.  We had to
rebuild the containers to do some work to move it to SSL and set up
security, and after they were rebuilt the UUID's seemed to start working as
expected and being cleared out when a user was merged.

So we can close this issue now as the pr

[2019-11-28 16:35] harshavardhanc commented on #242
Ohh thanks, @valeriocos. It's working. Close it again.

[2019-11-28 16:53] valeriocos commented on #238
great @RCheesley , you're welcome! Thanks @zhquan @GeorgLink for helping!

[2019-11-28 16:53] #238 closed

[2019-12-02 10:03] anajsana opened #247 "Measuring GitLab activity, community and performance with GrimoireLab"
Issue related with blog post from blog.bitergia.com [ https://blog.bitergia.com/2019/01/04/measuring-gitlab-activity-community-and-performance-with-grimoirelab/ ]

Asking for steps related with configuration files (in order to graph GitLab contribution activity)

[2019-12-02 13:23] valeriocos commented on #247
Please, find below the steps and examples of the configuration files. Note that the figures with captions `Network analysis visualization..` and `Median time open issue..` are related to visualizations created for the blogpost (thus not included in the standard panels).

**steps**
- clone the repo https://github.com/chaoss/grimoirelab
- cd to `grimoirelab/default-grimoirelab-settings`
- modify the

[2019-12-02 16:38] #239 closed

[2019-12-03 10:02] #247 closed

[2019-12-03 10:03] valeriocos commented on #247
Issue closed, @anajsana feel free to reopen it if needed, thanks

[2019-12-04 07:57] sduenas commented on #244
Well, it was developed by Bitergia but it was integrated with GrimoireLab and it's part of the code of GrimoireLab.

So my question is, should GrimoireLab stop proving menus and a way to organize panels?

[2019-12-04 08:32] #231 closed

[2019-12-06 18:07] GeorgLink opened #250 "Why do we have two docker-compose solutions?"
In the [Docker-Compose folder](https://github.com/chaoss/grimoirelab/tree/master/docker-compose), we have the regular 'docker-compose.yml' and the 'docker-compose-secured.yml'.

From the README in that folder, I cannot see why we need to different files.

Why not simply make the "secured" solution the only one we offer?

[2019-12-06 18:41] valeriocos commented on #250
The `secured` solution is documented at https://github.com/chaoss/grimoirelab/blob/master/docker-compose/README.md#secured-infrastructure. Depending on the type of the grimoirelab users, it seems reasonable to have the non-secured and secured solutions.

[2019-12-06 18:42] valeriocos commented on #250
(I clicked on the wrong button, however we could close this issue)

[2019-12-06 18:46] GeorgLink commented on #250
According to the README section on the secured solution, it is not clear to me what the difference is between to the none-secured option.

If there is no difference in how I can use it, then I propose to eliminate the non-secure solution and make the secured solution the only available option.

[2019-12-06 18:54] valeriocos commented on #250
Related to this issue: https://github.com/chaoss/grimoirelab/pull/251

The difference is that kibiter is protected by a password in the `secured` solution (https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose-secured.yml#L43).

It may be possible that some users (e.g., students) don't need a password to play with grimoirelab.

[2019-12-06 20:00] GeorgLink commented on #250
I compared the secured files with the non-secured files (and created pr #252).

I see two differences in the docker compose instructions:
- different elasticsearch image: our own elastisearch version vs. the official oss elastic verison.
- a secured kibiter image

This requires two changes in the setup.cfg file:
- different elasticsearch url
- different kibiter url

[2019-12-06 20:07] #250 closed

[2019-12-10 02:02] harshavardhanc commented on #242
@valeriocos I was using same configuration which you have provided, everything was working perfectly but after that, we wanted to move this to a different instance after doing that for PR data we are getting only raw data not enriched data. There are no changes in any configuration.

[2019-12-10 03:14] #242 closed

[2019-12-20 16:18] sanacl opened #257 "Add Rocket.chat support"
It would be nice to support FLOSS alternatives to Slack suck Rocket.chat. As they define the product in the web "Rocket.Chat is free, unlimited and open source. Replace email, HipChat & Slack with the ultimate team chat software solution."

The ideal scenario would be to have a compatible mapping between Slack and these alternatives, so it is possible to study the evolution of the data when organi

[2019-12-20 16:24] valeriocos commented on #257
Related to https://github.com/chaoss/grimoirelab-perceval/issues/543

[2019-12-23 00:29] valeriocos opened #258 "Add support for sentiment and emotion data"
As part of the explotation plan in the context of CROSSMINER, GrimoireLab should leverage on the nlp-rest-api [tool](https://github.com/crossminer/nlp-rest-api) to add sentiment and emotion information to the data extracted from issue trackers (e.g., GitHub). This new information should be available for the community for early feedback and evaluation purposes.

The idea is to include the nlp-rest-

[2019-12-23 01:41] valeriocos commented on #258
A test has been done on the GitHub issue trackers of CHAOSS repos. Below, the projects.json, part of the setup.cfg and some initial visualizations to evaluate the feeling data are reported.

**projects.json**
[code]

**setup.cfg**
[code]

![captura_175](https://user-images.githubusercontent.com/6515067/71330474-9f06cb00-252d-11ea-9225-d522103a927f.png)
![captura_176](https://user-images.githubuser

[2019-12-23 10:18] jsmanrique commented on #244
IMHO, yes. Kibana already provides a way to access and search for existing dashboards, through the "Dashboard" button.

From GrimoireLab point of view, the need to update Kibiter for such features avoids more synced updates with Elasticsearch + Kibana or the Open Distro for Elasticsearch upstream projects

But I would love reading others' comments.

[2019-12-26 10:15] Pretice opened #260 "Following the readme, there is no result on the dashboard"
Following the readme, I use docker run to run grimoirelab. However, it shows 'No results displayed because all values equal 0'. So what can I do to resolve this?

[2019-12-26 10:57] jgbarah commented on #260
Did you wait for a little while? Data has to be retrieved, and enriched, before it shows up in the dashboard.

If you waited for say 10 min (likely less, but let's stay on the safe side), and still get nothing, please post here:

* The exact command that you executed to "run grimoirelab"
* The output you got on the console where you executed it.

[2019-12-26 12:13] Pretice commented on #260
Sorry, I have waited for more than 10 min but there is still no results. Maybe it need more time to show up in the dashboard? Because there is no error or other tips on the console.

[2019-12-26 12:18] Pretice commented on #260
I also used the 'docker-compose' to run the grimoirelab just, but on the dashboard, it showed 'Status: Red', and showed 'Status BreakDown plugin:metrics@6.1.4-1 Request Timeout after 3000ms'.

[2019-12-26 12:30] Pretice commented on #260
The exact command I used to executed is:

`sudo docker run -p 127.0.0.1:5601:5601 \
-v $(pwd)/default-grimoirelab-settings/projects.json:/projects.json \
-v $(pwd)/default-grimoirelab-settings/setup.cfg:/setup.cfg \
-t grimoirelab/full`

[2019-12-26 12:40] valeriocos commented on #260
Hi @Pretice, did you try to give more virtual memory to elasticsearch?
You can do it with `sysctl -w vm.max_map_count=262144` on Linux (more info at: https://github.com/chaoss/grimoirelab/tree/master/docker-compose#requirements)

[2019-12-26 13:11] Pretice commented on #260
Thank U so much, it works. But it still shows 'no results' on the dashboard, maybe it need some time to show up?

[2019-12-26 13:23] valeriocos commented on #260
You're welcome! If you are using the [default conf files](https://github.com/chaoss/grimoirelab/blob/master/default-grimoirelab-settings), it should take around 10 minutes.

To check that the data is flowing to ElasticSearch, you can use the following command: `<es-url>:<es-port>/_cat/indices?pretty` (e.g., http://127.0.0.1:9200/_cat/indices?pretty). More info on `_cat/indices` is available at: ht

[2019-12-26 13:32] Pretice commented on #260
There is something :

`yellow open git_demo_raw qH2BeI_mTNyPSVaOB0kR3A 5 1   0  0   1.1kb   1.1kb
yellow open .kibana      KdrpEGvcR6aneeFnAgX1_w 1 1 178 22 253.5kb 253.5kb
`

Does this mean I will continue to wait?

[2019-12-26 14:15] valeriocos commented on #260
[code]
The index `git_demo_raw` is empty (first 0, after 5 and 1). It is possible that the repo is still being downloaded.

If you want see some results quickly, you can analyze https://github.com/chaoss/grimoirelab-toolkit, which is a small repo in terms of commits and issues. To do so, please change the projects.json at https://github.com/chaoss/grimoirelab/blob/master/default-grimoirelab-settin

[2019-12-27 02:44] Pretice commented on #260
Thank U, it works! Using the smaller repo, I can see some results in the dashboard quickly. But I can only see the results about author , commits and organizations. I want to see the resluts about Issues and merge, if I need more configuration in the projects.json and setup.json?

[2019-12-27 09:18] valeriocos commented on #260
Cool! Yes, you need to modify the projects.json and add some conf files. Please, find them below.

**projects.json**
[code]

**credentials.cfg**
[code]

**dashboard.cfg**
[code]

**docker command**
[code]

Hope it helps!

[2019-12-27 11:49] Pretice commented on #260
After modifing the three configurations above, there is another error when using the docker run:

`
2019-12-27 11:32:38,521 - grimoire_elk.elk - ERROR - Error enriching ocean from github (https://github.com/chaoss/grimoirelab-toolkit): HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/geocode/json?address=Austria&sensor=false (Caused by ProtocolErr

[2019-12-27 12:03] Pretice commented on #260
If I change to use the docker-compose, I can see something access to "http://127.0.0.1:9200/_cat/indices?pretty"

[code]
The index `github_demo_enriched` is always empty (first 0, after 5 and 1). It looks the same as the question in Issue #247

[2019-12-27 12:22] valeriocos commented on #260
That's possible, it worked for https://github.com/chaoss/grimoirelab/issues/233#issuecomment-551523392

[2019-12-27 23:44] florentk opened #261 "Dockerfile-full does not compile"
after commit 1a1d4012425712b3bc2c9fd0a4c6c6bdf3cae550 Dockerfile-full does not build, I got this error :
[code]
When I try to install Kibiter on my local host with the last release (community-v6.1.4-4) I got the same error !

[2019-12-28 17:59] valeriocos opened #262 "Add support for docker dependencies and smells analysis"
As part of the explotation plan in the context of CROSSMINER, GrimoireLab should leverage on the Jadolint tool (https://github.com/crossminer/crossJadolint) to add docker dependencies and smells information to the data extracted from Dockerfile. This new information should be available for the community for early feedback and evaluation purposes.

The idea is to include Jadolint in the Grimoirelab

[2020-01-02 10:18] sanacl commented on #244
From the community point of view I don't see a huge difference in the added value and the scope of the project is more clear. We would miss in the community version would be the new viz we created such as the network chart.

Said that, the plan makes sense to me. Maybe we could tell the rest of the community to take care of this component if they want to keep it alive.

:+1:

[2020-01-02 22:54] acs commented on #244
AFAIK these are plugins maintained by their original developers, in this case, @dlumbrer : https://github.com/dlumbrer/kbn_network. And it should work in Kibana and probably in Open Distro is the plugins has been updated to the needed version. So IMHO no losses about it if Kibiter is not maintained anymore. The same applies for he rest of the features implemented as plugins.

And for the specific

[2020-01-04 23:39] hmitsch opened #264 "Gitlab Issues are retrieved but not visible in index"
I followed the Gitlab Issues configuration based on the documentation (https://github.com/chaoss/grimoirelab-sirmordred) and the example files provided by in the `default-grimoirelab-settings` directory.

It turns out that the naming of `issue` and `issues` (trailing `s`) is inconsistent. For this reason the Elasticsearch index is called `gitlab_issue` while all Kibiter panels expect it to be call

[2020-01-09 15:21] valeriocos commented on #260
@Pretice were you able to see data in the dashboard?

[2020-01-10 02:02] Pretice commented on #260
Sorry for replying so late. After using a proxy, the index `github_demo_enriched` is still empty(first 0, after 5 and i)
[code]
So there is still no data in the dashborad about github. I can't find the reason about the question.

[2020-01-10 16:51] valeriocos commented on #260
That's possible that the error is due to a call to `maps.googleapis.com`. We have recently removed that code (https://github.com/chaoss/grimoirelab-elk/commit/c63c98ec387f443fae7d1cd27ef2e038051e77dd). As soon as a new release is out, I'll ping you so you can test it again.

Sorry for the inconvenience,
Valerio

[2020-01-11 00:29] Pretice commented on #260
Thank u so much! I am looking forward to seeing the new release.

[2020-01-15 07:52] lukaszgryglicki opened #266 "Docker image "grimoire/full" doesn't support ES 7.X"
When trying to use "grimoire/full" with ES 7.X it doesn't work, see
- Start grimoire stack:`docker run -e RUN_MORDRED=NO -it grimoirelab/full`
- Start ES 7.X: `docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.5.1`
- Shell into `grimoire/full`: `docker exec -it b26c4856cf8e env TERM=xterm /bin/bash`
- Inside the grimoire try to use

[2020-01-15 08:27] jgbarah commented on #266
Transferring this issue to the `grimoirelab` repo because here is where the `grimoirelab/full` Docker image belongs.

[2020-01-15 08:32] jgbarah commented on #266
Of course you're right, @lukaszgryglicki. Usually there is some delay from the moment new stuff enter the different repos and the moment that reaches the Docker images in this repo. Meanwhile, if you want, you have the scripts to produce the image in this repo, as well (check the `BUILDING.md` file).

[2020-01-16 13:37] #264 closed

[2020-01-21 22:09] rlukata opened #267 "Building from developer repos fails"
**Query:**
sudo python3 bg -l debug --logfile /apps/GrimLab/log --build --install --check --relfile 236 --distdir /apps/GrimLab/dist/ --reposdir /apps/GrimLab/reposdir/ --install_venv /apps/GrimLab/venv/
_(bg is the build_grimoirelab util, 236 is the release version file)_

**Expected Output:**
GrimoireLab release: 0.2.36
Building...
Built module perceval-opnfv: OK
Built module perceval-mozilla: O

[2020-01-26 02:04] marcrepo opened #273 "https vs http in docker instructions"
In the docker-compose instructions (README.md on https://github.com/chaoss/grimoirelab)
the user is instructed to pull up the dashboard using **https**://localhost:5601

whereas the docker instructions mention using **http**://localhost:5601

I suspect the **https** instructions are incorrect as my web browser was never able to make
a secure connection to the localhost  5601 socket. But worked fin

[2020-01-26 14:20] valeriocos commented on #273
Thank you @marcrepo for reporting this issue!

The instructions at https://github.com/chaoss/grimoirelab#using-docker-compose rely on the non-secured [docker-compose](https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml). In this scenario, the `http://localhost:5601` is the right URL.

`https://localhost:5601` is the right URL when using the secured [docker-compose](

[2020-01-26 14:31] valeriocos commented on #207
ELK already supports this feature (https://github.com/chaoss/grimoirelab-elk/pull/737). New panels are available in Sigils:
- https://github.com/chaoss/grimoirelab-sigils/blob/master/json/github2_pull_requests_comments_and_collaboration.json
- https://github.com/chaoss/grimoirelab-sigils/blob/master/json/github2_issues_comments_and_collaboration.json

A recent PR in mordred will allow to upload th

[2020-01-26 15:10] valeriocos commented on #267
Hi @rlukata, I followed the steps at https://github.com/chaoss/grimoirelab/tree/master/utils#examples, I don't detect any problem. Please let me know if I misunderstood something, thanks

[code]

[2020-01-26 18:05] drewkhoury opened #274 "Docker Compose Clarification"
When running `docker-compose up -d` what is the expected next step?

Am I likely to have to wait 10 seconds, 30 seconds, or 5 minutes? (would be nice to have a script that checks `docker-compose -f` for a successful 200 response and/or errors that you care about).

I ran `docker-compose -f` but not sure what good looks like here.

I suspect a memory issue but not sure how to confirm.

[code]

Runn

[2020-01-26 18:17] valeriocos commented on #274
Hi @drewkhoury,

Yes, it should be a memory issue. ES doesn't have enough memory.

The instructions below should work on Mac (details at https://github.com/chaoss/grimoirelab/tree/master/docker-compose#mac):
[code]

Less than 1 minutes to have things up and running. On the other hand, to see data in the dashboards, it depends on the size of your repos. You can use the curl commands below to inspec

[2020-01-26 18:35] drewkhoury commented on #274
Oh I totally missed the Mac instructions. Thankyou!

[2020-01-26 18:39] valeriocos commented on #274
you're welcome!

[2020-01-26 19:05] #274 closed

[2020-01-27 19:58] rlukata commented on #267
You didn't, it's a problem on my end.
**git -C** only works with git > 1.8. I guess it's time to upgrade my GIT instance.

[2020-01-27 19:58] #267 closed

[2020-01-29 03:33] marcrepo commented on #273
Thanks. I just submitted the pull request.

[2020-01-29 07:12] valeriocos commented on #273
Great! Thanks for submitting the PR

[2020-01-29 07:12] #273 closed

[2020-01-29 07:36] valeriocos commented on #207
The upcoming release includes a new dashboard that highlights the community interactions on github issue and pull request comments. To activate it, you need to define the sections `github2:issue` and `github2:pull` in the setup.cfg and projects.json. The dashboard can be uploaded by setting the param `github-comments = true` in the panels section. See a snippet of the setup.cfg below.

[code]

Not

[2020-01-31 15:17] ioiobzit commented on #202
Hello,

I got a similar error with the grimoire/full docker image:
[code]
![image](https://user-images.githubusercontent.com/7383572/73550139-53a4de00-4444-11ea-89f6-c9a7228be2d7.png)

This is because my resource.id is different.

Here the result of ```curl http://localhost:9200/_cat/indices```
[code]
As soon as I changed the alias with:
[code]
It started working again:
![image](https://user-image

[2020-01-31 16:05] valeriocos commented on #202
Hi @ioiobzit, thanks for reporting this problem.

The aliases are declared at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/aliases.json (note that the format has recently [changed](https://github.com/chaoss/grimoirelab-sirmordred/commit/b6fa5962bfc5dcb7cc779a71586d91c92f3a7057#diff-b6d56075b6e9c4f45704f37afc64257e)). For every raw/enriched index, the corresponding aliases are set b

[2020-02-02 13:03] sanacl opened #276 "GrimoireLab logs should be sent to Elasticsearch"
Debugging GrimoireLab is not easy as we force the user to read the logs file. Having the ELK deployed we can send the logs to Elasticsearch and allow our users to browse the logs using the UI. By doing this we will improve the way the users can debug the tool so we will have more feedback.

The aim of this Feature Request is to provide a way to get the logs in the ELK stack at least for the deploy

[2020-02-02 14:06] RCheesley opened #277 "Meetups do not appear on data status screen"
It would be helpful if meetups could appear on the data status screen in the same way as other projects (e.g. git, slack, discourse) showing the last retrieval date etc.

[2020-02-02 15:22] RCheesley opened #278 "Identify potential duplicated users"
As a user, it would be helpful to have some way of identifying potential duplicated users, so that I can then search for and merge them in Hatstall.

At the moment, this is a manual process of eyeballing the data and spotting duplicates, but having some way to identify them (e.g. these users all have the same or similar name, or the same email address, for example) would massively improve this pro

[2020-02-02 20:18] RCheesley opened #279 "No such index error on new dashboards"
Hi folks,

Just updated and have all the new dashboards, but when I access them I get the following errors appear:

Timelion: Error: in cell #1: [index_not_found_exception] no such index, with { resource.type="index_or_alias" & resource.id="all_enriched" & index_uuid="na" & index="all_enriched" }
Visualize: Error: in cell #1: [index_not_found_exception] no such index, with { resource.type="index_o

[2020-02-03 08:10] valeriocos commented on #279
Hi @RCheesley ,

Can you post the result of the command `GET _aliases` (you can executed from the dev tools in Kibiter). Thanks

[2020-02-03 08:26] RCheesley commented on #279
Sure, here you are:

`{
  "slack_demo_raw": {
    "aliases": {
      "slack-raw": {}
    }
  },
  "discourse_demo_enriched": {
    "aliases": {
      "discourse": {}
    }
  },
  "meetup_demo_enriched": {
    "aliases": {
      "meetup": {}
    }
  },
  "slack_demo_enriched": {
    "aliases": {
      "slack": {}
    }
  },
  ".kibana": {
    "aliases": {}
  },
  "github_demo_raw": {
    "aliases":

[2020-02-03 09:42] valeriocos commented on #279
The problem is due to the fact the `all_enriched` is not set in your indices. Furthermore, you miss also other aliases, which are declared at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/aliases.json.

Could you enter in the mordred container and check that the aliases.json is aligned with the one pointed to the link above?

To add the missing aliases, please execute the following

[2020-02-03 13:29] RCheesley commented on #279
Happy days, that fixed the issue completely! Guess it must have been a problem as a result of updating the version of the container :) Thanks for the help!

[2020-02-03 13:29] #279 closed

[2020-02-03 13:35] valeriocos commented on #279
great! you're welcome!

[2020-02-04 11:27] mhow2 opened #280 "warning/errors with pip3 install grimoirelab in venv"
(Not urgent)

I'm confused with installation instruction at https://chaoss.github.io/grimoirelab-tutorial/basics/install.html. Here how it goes on my system. I wonder if it's expected or if I'm doing something wrong:

List of python3 package installed :

https://privatebin.ow2.org/?0e2dea1285baffdb#HOCIc7gBVYMgDrIiaYL6FEzIAkB5p4XqI8ct2vU33WA=

[code]

Then from the venv I run the following command

[2020-02-04 15:03] mhow2 opened #282 "shrink grimoirelab repo size"
the `grimoirelab` repository is 265MB to be pulled from GitHub, it looks at bit heavy.

If it's relevant, I found this thread https://stackoverflow.com/questions/2100907/how-to-remove-delete-a-large-file-from-commit-history-in-git-repository

You might have tried some of those, but at least we have an issue where we discussion and work on.

[2020-02-04 16:18] mhow2 opened #283 "docker-compose setup : unexpose mariadb"
The following docker-compose statement at https://github.com/chaoss/grimoirelab/blob/10846f897181d8bc755ef96e0a52f3c111289a3e/docker-compose/docker-compose-secured.yml#L8-L9

publish the port as to make it available to the external world, which is not what we could expect : I think we only want mariadb to be reachable from others containers only (by using `links`)

[2020-02-04 16:56] GeorgLink commented on #278
Ruth, maybe something like describe here https://github.com/chaoss/grimoirelab-sortinghat/issues/224 ?

[2020-02-04 17:00] GeorgLink opened #284 "Consider a different issue tracker solution for GrimoireLab"
**Proposal:** Adopt a single issue tracker for GrimoireLab and use "labels" or something similar to indicate which component an issue is for. This can be a GitHub native issue tracker or a third-party solution.

**Rationale:** GrimoireLab is using GitHub native issue tracker. However, the issues are spread across different repositories for the different modules. This makes it difficult to search a

[2020-02-04 17:06] RCheesley commented on #278
Yes, perfect! Will add my comments there!

[2020-02-04 17:06] #278 closed

[2020-02-04 17:15] jgbarah commented on #280
Usually, these problems have to do with the version of Python that you have. With Python 3.5 and 3.6, that should not happen. With Python 3.7, that's going to be fixed in the next release of pip packages. Which version do you have?

[2020-02-04 17:30] valeriocos opened #285 "GSoC Idea: Boosting data processing in GrimoireLab"
GrimoireLab allows to produce analytics with data extracted from more than 30 tools used for contributing to Open Source development such as version control systems, issue trackers and forums. A common execution of GrimoireLab consists in collecting data from a given repository, processing and enriching the data obtained and finally visualizing it on dynamic Web dashboards. At the core of this pro

[2020-02-04 17:33] valeriocos opened #286 "GSoC Idea: Packaging and Sharing CHAOSS metrics using GrimoireLab dashboards"
GrimoireLab is a powerful toolset for software development analytics. It is able to collect, process and visualize data from a large plethora of tools and platforms used in software development. The obtained data is stored in ElasticSearch and shown via web-based dashboards built on top of Kibana. Predefined dashboards are provided by GrimoireLab, however each user can easily create their own ones

[2020-02-04 18:36] valeriocos opened #287 "GSoC Idea: Creating Quality models using GrimoireLab and CHAOSS metrics"
GrimoireLab is a powerful open source platform that provides support for monitoring and in-depth analysis of software projects. It produces a rich set of dashboards, which can be easily inspected by decision makers to help them understanding the evolution and health of their projects. Despite the large set of dashboards available in GrimoireLab, comparing projects between each others is not straig

[2020-02-05 08:14] mhow2 commented on #280
Hi @jgbarah !

$ python3 --version
Python 3.6.9

(And you have the list python3 package I have installed on my host).

But I noticed one thing: the output is very different if I **omit** this three commands in the sequence:
[code]
If omitting those, and issue `pip3 install grimoirelab` I got [this result](https://gist.github.com/mhow2/05c78a059f045a334be2dc06be29e7b3)

Btw, I have the following py

[2020-02-05 11:21] sduenas commented on #284
I think that's a good idea. The problem is how to implement it. My main concern is related to how to manage PRs and close issues. If we open issues in this repository only, we need to find the way to close those issues automatically when merging the PRs opened in the other repositories.

Apparently it's possible to close issues doing this: https://github.blog/2013-03-18-closing-issues-across-repos

[2020-02-05 11:37] valeriocos commented on #284
It would be easier to define a process, where issues are first opened to the grimoirelab repository. The maintainers review them and add labels based on the component(s) involved. Issues on specific repositories can be opened, linking these issues with the main issue in the grimoirelab repository. Also in this case we could use labels to quickly identify which issues have no relations with the gri

[2020-02-05 11:57] sduenas commented on #284
@valeriocos the problem that I see with that workflow is that requires a lot of interaction and it's prone to errors. You might either forget to open a new issue in the component repository, forget to assign the proper tags, or forget to close the issues in both repositories.

Moreover, we will need to define where to write comments. People reporting will have problems to follow the progress of th

[2020-02-05 12:21] GeorgLink opened #288 "GSoC Idea: Implement the Social Currency Metrics System in GrimoireLabs"
## Idea: Implement the Social Currencyy Metrics System in Grimoire Labs

The Social Currency Metrics System (SCMS) is a qualitative data collection, processing, and measurement system that augments quantitative community management metrics already available in CHAOSS properties. Implementing the SCMS will ultimately help community leaders, power users, and other stakeholders leverage qualitative d

[2020-02-05 14:00] GeorgLink commented on #284
I agree that the tools best live in different repositories

[2020-02-05 17:33] zhquan commented on #277
Hi @RCheesley ,

The widget appears on the `Data Status` panel if you have the data source added in the `setup.cfg` at the very first time you execute mordred. If you add a new data source after the first execution, you have to remove the panel `Data Status` manually (see image below) and execute/restart mordred again (making sure that the option `panels` is set to `true` in the section `phases`).

[2020-02-05 18:18] valeriocos commented on #284
The issues can be opened in the grimoirelab repository, tagged and then moved to the specific repository (github provides a features to transfer issues) by maintainers.

With this workflow the comments are centralized, the interactions minimized and we can have tools in different repos.

[2020-02-05 18:23] GeorgLink commented on #284
I guess I am not familiar with GitHub features for discovering issues across repositories? How can a user or contributor find an issue after issues were moved out of chaoss/girmoirelab issue tracker?

[2020-02-05 18:32] valeriocos commented on #284
the contributor should receive a notification about the issue that has been transfered: https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2020-02-05 18:43] GeorgLink commented on #284
Okay, so the author of an issue gets notified. When they come back to our issue tracker, do we expect them to remember that an issue had been moved? What about someone who comes for the first time and wants to see if someone else has asked the same question before; how will they go about finding issues?

[2020-02-05 18:49] sduenas commented on #284
I was just writing about it. This is a problem because people would have to look for the issues in each repository (as now), and they probably end up opening an issue in **grimoirelab** (as now) because they don't know which components/repositories **GrimoireLab** has. Also, a normal user won't know whether the problem is in **perceval** or in **ELK**. In fact, they shouldn't care, so to have ever

[2020-02-05 19:02] valeriocos commented on #284
@GeorgLink @sduenas , this is the reason why I suggested at https://github.com/chaoss/grimoirelab/issues/284#issuecomment-582367772 to open the issues in the grimoirelab repository (this one), and then the maintainers take care of creating issues in other repositories (if needed) and linking them with proper labels to the original one.

@sduenas you can't prevent people to open duplicated issues a

[2020-02-05 23:26] GeorgLink commented on #284
Hi @valcos, I went back to read your original suggestion. Is the reason you want to keep different issue trackers so that you can easily see which issues relate to a specific tool? How does filtering by tag not already provide you the overview you want? Or am I missing the reason and benefit of your process suggestion?

[2020-02-06 09:12] valeriocos commented on #284
From an end-user perspective (someone that wants just to use grimoirelab) it makes sense to open an issue in the grimoirelab repo (e.g., https://github.com/chaoss/grimoirelab/issues/233). For users interested in single tools (e.g., perceval and graal), it makes probably much sense if they open issues in the repository hosting the tool.

Example of issues that may not fit with having just a single

[2020-02-06 09:14] ioiobzit opened #289 "[Docker image] grimoirelab/full: manuscript - latex packages missing"
Hello,

during the generation of reports, manuscript gives following error:
[code]

To make sure that the reports could be exported correctly the following list of packages have been installed manually:
* texlive-latex-base
* texlive-latex-extra
* latex-cjk-common

How to install them:
1. enter the docker container
```docker exec -it CONTAINERNAME /bin/bash```
2. install packages
[code]

If possib

[2020-02-06 12:19] jgbarah commented on #284
Let me summarize, and have some reality contrast. Please take all of this with a grain of salt.
* It would be convenient to have a clear way of reporting and tracking issues for GrimoireLab
* Having separate repos for each of the tools makes sense. Having a specific repo for dealing with all the toolset also seems reasonable (this one is the `grimoirelab` repo).
* Issues can be transferred from re

[2020-02-06 12:45] jgbarah commented on #280
Hi, @mhow2 ;-)

Hmmm. Curious. If you don't upgrade to recent versions of distutils and Co. then you can install everyting, right? I'm going to have a look at that. I also realized that in the previous install you have pandas-1x, which should be new afaik, and maybe is breaking something....

[2020-02-06 16:01] valeriocos commented on #289
Hi @ioiobzit , I have prepared a PR to include these packages in `docker/Dockerfile-installed`. If I understood correctly, these packages should be included in that image (https://github.com/chaoss/grimoirelab/tree/master/docker#grimoirelabinstalled). Grimoirelab/full inherits from the installed one (https://github.com/chaoss/grimoirelab/blob/master/docker/Dockerfile-full#L17)

[2020-02-06 16:06] valeriocos commented on #282
Thanks @mhow2 for opening this issue. I tried BFG in the past but with no success (see details below). Do you have any idea to reduce the size of the repo?

[code]

[2020-02-06 20:20] sduenas commented on #284
I don't like the idea of moving issues from one tracker to another. It makes so complex the whole process and managers will need to spend more time managing the issues. It also makes hard to track issues in other trackers ;-). It also makes the process complex to the users which need to figure out if the issues go to the main repository or to a specific one.

[2020-02-07 15:57] valeriocos commented on #283
Fixed with #290

[2020-02-07 15:57] #283 closed

[2020-02-07 17:25] GeorgLink commented on #284
@valeriocos :

From the perspective of someone who knows all the tools, this makes sense. I prefer to have all issues in one place and using tags for those who want to filter issues and see only the ones relevant to the module they care about.

@jgbarah 👍

+1

+1 (but only for the repository and code base, not for the issues)

-1 (Technically possible, but that is the current state and not solving

[2020-02-08 10:35] valeriocos commented on #284
The discussions around this proposal seem enough to let everybody evaluate the proposal and vote for it.

@GeorgLink can you update the proposal with the outcome of these discussions (e.g., which repo will be used, document the decision in the single repos)? Then, anyone interested in this proposal can vote for it, and democratically we will take a final decision. WDYT?

[2020-02-08 10:52] snack0verflow commented on #285
Hello mentors! I am Abid Abdullah a CS undergrad at BITS-Hyderabad. I am going through the microtasks now. I have college and industrial experience in python and pandas. I would like to work on this project and had a few queries:
* Is there any Slack/IRC channel where I can be in touch with the community?
* Will there be any evaluative tasks other than the ones listed above?
Thanks 😃

[2020-02-08 11:10] valeriocos commented on #285
Hi @snack0verflow, it's great that you want to work on this idea!

- Is there any Slack/IRC channel where I can be in touch with the community?

The IRC channel is `#grimoirelab at Freenode`, you can find more details [here](https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md#irc-channel). I would suggest to use issues as first option to engage conversations with the community. Thus,

[2020-02-08 12:40] GeorgLink commented on #284
I agree that we seem to have discussed all relevant points and additional discussion would be fruitless. This is my last comment unless someone asks me a direct question.

I would prefer the maintainers make a decision because they have to enforce it. Lazy consensus for the maintainers' decision would work better than voting for several reasons.

Right now, with the four participants in this threa

[2020-02-10 10:43] valeriocos commented on #289
Fixed with #291

[2020-02-10 10:43] #289 closed

[2020-02-10 16:24] sduenas commented on #284
To summarize, the proposals are:

* One single repository
  * Use `grimoirelab` as the hub where issues will be reported
  * Use tags to categorize which component/ is/are related to which issue/s.
  * When working with pull requests, use references to issues as described [here](https://github.blog/2013-03-18-closing-issues-across-repositories/).

* Multiple repositories
  * Issues can be reported

[2020-02-10 16:27] sduenas commented on #284
I'll go with the first one. In somehow, we have been working with the second option since we started the project. I cannot say it didn't work but I think is not the best option. I'd like to try with the first proposal and see how it goes.

[2020-02-10 18:35] jgbarah commented on #284
If that's finally what we do, we need to figure out how to avoid people filing issues in the tool repositories instead of in the `grimoirelab` "hub". Likely, we need also to figure out how to let submitters tag issues, so that developers don't have that extra overhead.

[2020-02-11 08:38] sduenas commented on #284
Issues can be disabled in GitHub.

We can create tags for each component but I'm afraid tags cannot be assigned by people who are not contributors or owners. Apparently, the only way is to define issue templates:

https://stackoverflow.com/questions/13829466/how-to-put-a-label-on-an-issue-in-github-if-you-are-not-a-contributor-owner/31366954#31366954

[2020-02-11 09:28] valeriocos commented on #284
I'm fine with any proposal @sduenas . Can we draft a plan to implement the first proposal (if this one is finally selected)? For instance, do we want to do a hard switch to apply the first proposal or we go for a transition/testing period? How do we want to notify the community? Since we will start using labels, do we want use them also to mark issues as bugs, features, release they will be includ

[2020-02-11 16:13] GeorgLink commented on #284
For the tags, we can maybe use the name of the repository that it an issue belongs to:

* `component:chaoss/grimoirelab-elk`
* `component:chaoss/grimoirelab-sigils`
* ...

[2020-02-12 16:02] valeriocos commented on #277
Hi @RCheesley , we have added some doc here: https://github.com/chaoss/grimoirelab-sirmordred#setupcfg. Feel free to have a look, thanks

[2020-02-12 16:02] #277 closed

[2020-02-15 05:19] snack0verflow commented on #285
@valeriocos I want to increase the code coverage of some tests at https://github.com/chaoss/grimoirelab-elk/tree/master/grimoire_elk/enriched
Is there any tool/dataset that can get me file-wise code coverage of these tests so I can easily target what test files to work on?
I couldn't find you on #grimoirelab channel on IRC(Freenode) so I asked my query here.

[2020-02-15 06:10] snack0verflow commented on #285
One more query: Is docker required for running SirMordred? The pycharm part of the documentaion at https://github.com/chaoss/grimoirelab-sirmordred#setting-up-a-pycharm-dev-environment ,isn't clear. The image doesn't show the parameters field entirely.

[2020-02-15 10:08] valeriocos commented on #285
Hi @snack0verflow , find below the answer for https://github.com/chaoss/grimoirelab/issues/285#issuecomment-586558634

If you want to execute mordred with docker, you should follow the instructions at https://github.com/chaoss/grimoirelab#using-docker-run. However in this case, you won't be able to easily use the latest changes in the master branches of the grimoirelab repos (or test your changes)

[2020-02-15 10:13] valeriocos commented on #285
@snack0verflow find below the answer for https://github.com/chaoss/grimoirelab/issues/285#issuecomment-586555523.

Nice catch! The doc misses this info, I'm going to upload a PR to the ELK repo with the details to run the tests and coverage. I'll ping you soon, thanks

[2020-02-15 10:16] snack0verflow commented on #285
@valeriocos Let me rephrase my question about docker: Is it possible to execute mordred without docker?

[2020-02-15 11:11] valeriocos commented on #285
Yes, you can! Mordred can be executed in the following ways:

- **Only source code**
  You need to install ElasticSearch, [Kibiter](https://github.com/chaoss/gri) and MySQL (more details about the specific versions to install are at https://github.com/chaoss/grimoirelab-sirmordred#source-code)  plus you need to fork and clone all GrimoireLab repos (details https://github.com/chaoss/grimoirelab-sir

[2020-02-15 11:25] snack0verflow commented on #285
Thanks for the comprehensive answer @valeriocos !
 The second method looks efficient. I was a bit apprehensive about it because I haven't tried containerization before. Now that you mention, I will surely check it out.

[2020-02-15 11:29] valeriocos commented on #285
you're welcome @snack0verflow

[2020-02-18 16:21] sanacl commented on #212
This would be pretty interesting to measure the throughput of kanban boards and could be applied not only to Github. I'm thinking about Phabricator which would be interesting for the Bitergia team but Gitlab would be also pretty interesting.

[2020-02-19 11:54] snack0verflow commented on #285
@valeriocos
I have set up a dev environment in Pycharm but when I run `~/sources/grimoirelab-sirmordred/utils$ python3 micro.py --raw --enrich --cfg ./setup.cfg --backends git cocom` I get the following error:

  File "micro.py", line 27, in <module>
    from sirmordred.config import Config
ModuleNotFoundError: No module named 'sirmordred'

I have forked and cloned https://github.com/chaoss/grimoi

[2020-02-19 12:51] sduenas commented on #284
I've been checking how to do this process. Issues can only moved one by one and manually. There's no API calls to move issues. We can automate some parts using `selenium` or similar, though.

Another collateral problem is related to Grimoirelab tool itself and how it will analyze this data. If we move issues to this repository our platform will consider all the issues belong to grimoirelab project

[2020-02-19 13:32] GeorgLink commented on #284
Does GrimoireLab support issue labels that can be used for analyzing the issues belonging to a sub-project or component?

Not sure if  [GitMover](https://github.com/ahadik/git_mover) Python script could help?

I'm open to the idea. Maybe something to discuss in the CHAOSS GrimoireLab call, CHAOSS weekly call, and CHAOSS mailing list maybe?

[2020-02-19 16:05] snack0verflow commented on #285
@valeriocos
I am facing two issues right now:

- I ran docker-compose with the `docker-compose.yml` specified in https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker but Kibiter(http://localhost:5601/) is refusing to connect. Elasticsearch(http://localhost:9200/) is connecting fine. I then installed and ran Kibana(Kibiter was showing syntax error) and Elasticsearch manually(7.6.

[2020-02-19 16:49] valeriocos commented on #285
@snack0verflow thanks for your interested in GrimoireLab!

The docker-compose there is using a secured connection, please try to connect to:
- https://admin:admin@localhost:9200 for elasticsearch
- http://admin:admin@localhost:5601 for kibiter

Let me know if this solves your issue

Can you submit a PR to sirmordred. The fix should remove lines 57 and 58 of the https://github.com/chaoss/grimoirela

[2020-02-19 18:11] sduenas commented on #284
No, it doesn't. The main problem is it will be an ad-hoc analysis because I don't know other projects that use labels to categorize their components. I'm sure there are but I don't think that's the common case.

If it works, that might be very helpful.

Sure. I think we should talk about it and I'm not talking about GrimoireLab only. Other projects in CHAOSS should probably do the same. You know w

[2020-02-19 19:09] snack0verflow commented on #285
@valeriocos At some point I installed mariadb https://chaoss.github.io/grimoirelab-tutorial/basics/supporting.html#installing-mariadb after which docker compose stopped working:

I then uninstalled mariadb like this https://askubuntu.com/a/806441
Now docker-compose is not showing error but neither kibiter nor elastisearch are working, with or without https.

[2020-02-19 20:23] GeorgLink commented on #284
There was no deliberation. We needed a platform that worked better than a wiki.

[2020-02-20 07:02] snack0verflow commented on #285
@valeriocos I want to be sure that the problem is not with my setup. So I'll wait till I get the dependencies working.

[2020-02-20 07:59] valeriocos commented on #285
I'll be on IRC today, so we can have a look at this together

As you prefer.

[2020-02-20 08:20] vchrombie commented on #285
I am not sure about the exact reason, but please have a check with this. Make sure you have the same version of kibiter and elasticsearch.

I just saw in the [#285 comment](https://github.com/chaoss/grimoirelab/issues/285#issuecomment-588297412), that you installed elasticsearch (v7.6.0). It might give an error if the version of kibiter is not the same. Refer to this, in case of any doubt [chaoss/

[2020-02-20 10:24] snack0verflow commented on #285
@vchrombie I am sure the versions of kibana and elasticsearch are matched. I have messed up my MySQL installation.

[2020-02-20 11:04] sduenas opened #296 "Should we move to GitLab?"
As part of the discussion in #284 (284#issuecomment-588211843) I suggested the possibility of moving GrimoireLab (and probably CHAOSS) to GitLab.

As we all know, GitHub is a great platform but it's not open source. In GrimoireLab we are committed to FLOSS philosophy. Everything we produce and we use is free/libre/open source software. Everything but GitHub. GitHub is not open source.

When we sta

[2020-02-20 11:22] alpgarcia commented on #296
My questions are:
* Could we move GrimoireLab to GitLab even if other CHAOSS projects are still on GitHub or we need to make a joint decision?
* Could we have CHAOSS organization on both platforms so each project can decide its own way?

[2020-02-20 11:31] sduenas commented on #296
We can communicate our decision to the board and I think they will need to decide what to do.

Probably but I think the board will need to decide. I still think it was a bad idea to move GrimoireLab repositories under CHAOSS organization when we already had one. I understand the reasons, though. In GitLab, our project can be organized in a subgroup or subproject among the other repositories.

[2020-02-21 12:51] lukaszgryglicki commented on #296
I prefer GitHub, but it's not me to decide.

[2020-02-21 14:24] geekygirldawn commented on #296
It's probably a good idea to have some of this discussion on the CHAOSS mailing list, and maybe in the Tuesday CHAOSS project meeting?

[2020-02-22 11:00] valeriocos commented on #287
For all students interested in this idea, please comment on this issue to get in touch with the mentors. This is the main communication channel.

[2020-02-22 11:00] valeriocos commented on #288
For all students interested in this idea, please comment on this issue to get in touch with the mentors. This is the main communication channel.

[2020-02-22 11:01] valeriocos commented on #286
For all students interested in this idea, please comment on this issue to get in touch with the mentors. This is the main communication channel.

[2020-02-22 11:01] valeriocos commented on #285
For all students interested in this idea, please comment on this issue to get in touch with the mentors. This is the main communication channel.

[2020-02-22 11:57] vchrombie commented on #286
Hi @valeriocos

I am interested to apply for this idea. :slightly_smiling_face:

I am currently working on the microtasks.

[2020-02-22 12:01] valeriocos commented on #286
That's great @vchrombie !

[2020-02-22 15:12] ederag opened #297 "Failed to establish a new connection: [Errno 111] Connection refused"
Following https://chaoss.github.io/grimoirelab-tutorial/basics/install.html (nice docs, by the way !)
on openSUSE Leap-15.1

[code]

There were errors above, but they do not seem related to the main issue:
[code]

Trying with ssh or giving a `--github-token <token>` did not change anything
(in agreement with the doc).
What is strange is that `perceval` works just fine.

`elasticsearch-7.5.0` is on

[2020-02-22 17:04] Syn3rman commented on #286
Hey @valeriocos,
I'm a junior year undergrad from the Mumbai university interested in working under this project. I have started working on the microtasks and will update my progress accordingly.
I had a couple of queries so here I go:

- How should I document the work done by me for the microtasks? Should I make a GitHub repository or a google doc and provide the link here?

- Is this the right p

[2020-02-22 18:25] snack0verflow commented on #285
@valeriocos I finally started with a fresh install of linux but I am not able to run elasticsearch/kibiter via docker-compose method. I have cloned the repos in `~/sources/grimoirelab-...` and my yml file is at `~/Containers/docker-compose.yml`. This is the console output:
[code]
Please help. Thanks :)

[2020-02-22 18:36] valeriocos commented on #286
Hi @Syn3rman , thank you for your interest in this idea!

A GitHub repository is perfect. You can work there on the microtasks and ping the mentors (using the mention mechanism provided by GitHub) for feedback/help

This is the main communication channel. If you need help on something we can meet on IRC or you can send an email to the mailing list (see [here](https://github.com/chaoss/grimoirelab/

[2020-02-22 18:43] valeriocos commented on #285
That's a good news @snack0verflow ! Now you can use micro-mordred to start playing with the platform (https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred). Please have a look also at the sirmordred documentation (https://github.com/chaoss/grimoirelab-sirmordred#sirmordred-) to have a first understanding of the configuration files (i.e., setup.cfg and projects.json) used by the platform.

[2020-02-22 19:05] snack0verflow commented on #285
@valeriocos maybe you misread my comment :smile_cat:  I meant to say it is not working.

[2020-02-22 19:07] snack0verflow commented on #285
When I run docker-compose for the first time, it is pulling the more recent versions of elasticsearch/kibiter which might cause version mismatch. Could you please check if it is working for you?

[2020-02-22 19:18] valeriocos commented on #285
sorry @snack0verflow ! from the output you posted, I understood that you had something working.

Do you have some logs or can you summarize why you cannot use the docker-compose?

Are you using the docker-compose at https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker ?

[2020-02-22 19:32] ederag commented on #297
Thanks for the swift and accurate reply ! Indeed:
[code]

So the issue is clearly in my system.

Is it possible to use this docker approach to get information on a specific repo,
or is it showcasing on pre-defined examples only ? (the docs are very seductive already)

[2020-02-22 19:34] snack0verflow commented on #285
@valeriocos I ran docker-compose without -d and got this and a bunch of other stuff.
[code]

[2020-02-22 19:45] snack0verflow commented on #285
@valeriocos  Here is the verbose [output](https://github.com/chaoss/grimoirelab/files/4239842/log.txt).

[2020-02-22 19:48] valeriocos commented on #297
You're welcome!

or is it showcasing on pre-defined examples only ? (the docs are very seductive already)

Yes, it's possible. Please follow the steps at https://github.com/chaoss/grimoirelab#using-docker-run and modify the setup.cfg and projects.json used (both files are at https://github.com/chaoss/grimoirelab/tree/master/default-grimoirelab-settings).

Details about how to modify the setup.cfg

[2020-02-22 22:13] itsariella commented on #286
Hi @valeriocos @alpgarcia @sduenas
I'm interested in this project and I have started working on the microtasks 😄

[2020-02-22 22:26] ederag commented on #297
The docker solution is big (2±0.5 GB) but works fine. Thanks !

[2020-02-22 22:26] #297 closed

[2020-02-23 07:24] valeriocos commented on #286
Great! @itsariella don't hesitate to write if you have any question or need clarifications

[2020-02-23 07:28] valeriocos commented on #297
thanks for the info @ederag ! The size of the image should be related to the issue https://github.com/chaoss/grimoirelab/issues/282

[2020-02-23 07:49] snack0verflow commented on #285
@valeriocos I tried running docker-compose on other systems as well and I am running into the same problem :disappointed: . Could you please provide detailed steps on how to run docker-compose? Thanks :)

[2020-02-23 07:52] Syn3rman commented on #286
Hey @valeriocos,
I'm trying to set up micromodred and am running into the following error:
[code]

The stack trace is:
[code]
I've forked and cloned the modred, elk and arthur repos into a local folder as mentioned [here](https://github.com/chaoss/grimoirelab-sirmordred#setting-up-a-pycharm-dev-environment) and I've also set up a GitHub repo as discussed above, and documented what I've done in the

[2020-02-23 07:54] valeriocos commented on #285
Thank you @snack0verflow for the logs!

I'm investigating the error `error: ELASTICSEARCH_USER or/and ELASTICSEARCH_PASSWORD environment variables were not configured`. I'm using the same docker-compose, but I've never seen this error.

In the logs I see the following:
[code]

Please try to increase the virtual memory of ElasticSearch with this command (more info at [here](https://www.elastic.co/g

[2020-02-23 08:04] valeriocos commented on #286
The param `bots_names` was removed time ago (https://github.com/chaoss/grimoirelab-sirmordred/commit/3cf2cd04ad5d3c95a9653387dd80d85d6c7214b9), but that setup.cfg hasn't been updated. Please remove lines 57 and 58 from https://github.com/chaoss/grimoirelab-sirmordred/blob/master/utils/setup.cfg#L57, and consider to submit a PR :)

[2020-02-23 08:07] snack0verflow commented on #286
@valeriocos @Syn3rman I have raised a pull request for this issue, #406

[2020-02-23 08:57] snack0verflow commented on #285
@valeriocos elasticsearch is working on https://localhost:9200/ when I did `sysctl -w vm.max_map_count=262144` but kibiter is still not working.

[2020-02-23 09:26] Syn3rman commented on #285
@valeriocos @snack0verflow
I was running into the same problem so I tried adding the username and password env variables to the docker compose file so that it now looks like:

[code]

Kibiter still fails to connect to elasticsearch (though idk why since these are the default credentials) but it at least starts now.

[2020-02-23 09:42] snack0verflow commented on #285
@Syn3rman Thanks a lot. Just setting the environment variables in the yml file worked for me.
@valeriocos after I run micro-mordred from pycharm I get this on Kibana I hope its working fine:
![Screenshot from 2020-02-23 15-11-35](https://user-images.githubusercontent.com/36734587/75110034-db9a9400-564e-11ea-83a6-74546690e5a1.png)

[2020-02-23 10:02] Syn3rman commented on #285
I'm still getting ` Authentication finally failed for elastic`. @snack0verflow could you confirm if you are using the same docker-compose file I've posted above?
Thanks :)

[2020-02-23 10:07] snack0verflow commented on #285
@Syn3rman No, I'm using the one specified at https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker with the following two lines added to the kibiter environment:

    - ELASTICSEARCH_PASSWORD=admin

[2020-02-23 11:10] Syn3rman commented on #285
@valeriocos Should I open a pr adding the two fields to the docker file? I think it would be a good place for me to start contributing (provided the change is needed :) )

[2020-02-23 11:20] valeriocos commented on #285
Thank you @Syn3rman and @snack0verflow to spend time on the docker-compose issue! I'm trying to replicate this behavior on my machine, to confirm the problem. Once confirmed, I'll be absolutely happy if you can submit a PR :)

I did a `docker system prune -a --volumes` to remove all containers/images/volumens and I'm now trying a fresh installation

The screenshot looks good, however the default i

[2020-02-23 11:25] snack0verflow commented on #285
@valeriocos  I used these parameters

I did not use --panels option

[2020-02-23 11:30] valeriocos commented on #285
Ok @snack0verflow , in this case the screenshot makes sense. Thanks for the quick reply.
Did you have any problem to execute `cocom`?

[2020-02-23 11:34] snack0verflow commented on #285
@valeriocos Not then, but now when I run with the same params I get this error:
[code]

[2020-02-23 11:36] valeriocos commented on #285
@snack0verflow you need to install cloc, see here the steps: https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables

[2020-02-23 11:41] snack0verflow commented on #285
@valeriocos  Should this be mentioned in mordred readme?

Also I got this error while running micro-mordred now:

2020-02-23 17:07:43,693 [git] Problem executing study enrich_areas_of_code:git, RequestError(400, 'search_phase_execution_exception', 'No mapping found for [metadata__timestamp] in order to sort on')
2020-02-23 17:07:43,693 RequestError(400, 'search_phase_execution_exception', 'No mapp

[2020-02-23 12:08] valeriocos commented on #285
Good idea @snack0verflow ! Could you add a section about cocom at https://github.com/chaoss/grimoirelab-sirmordred#supported-data-sources? The new section should be similar to the other ones, thus it should contain an example of setup.cfg and projects.json (you can take the example from https://github.com/chaoss/grimoirelab/tree/master/third-party#preparation). At the beginning of this section, yo

[2020-02-23 12:15] valeriocos commented on #285
@snack0verflow @Syn3rman I was able to replicate the problem you reported about the docker-compose (https://github.com/chaoss/grimoirelab/issues/285#issuecomment-589990729).

At very beginning I wasn't able to reproduce it because my docker compose was using a different image of kibiter (`bitergia/kibiter:secured-v6.1.4-2`), which didn't need the params `ELASTICSEARCH_USER` and `ELASTICSEARCH_PASS

[2020-02-23 12:20] snack0verflow commented on #285
Thanks a lot @valeriocos. I will prepare a pull request for enhancing the readme with cocom info. Also, I would request @Syn3rman to make https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker a little bit more descriptive to help newcomers. Thanks again :)

[2020-02-23 15:39] Syn3rman commented on #285
Sorry for the hold-up, but I'll get right at it.

[2020-02-23 16:33] sduenas commented on #296
I won't be available next Tuesday but maybe you can talk about it. Btw, I've just sent a message the the mailing list, so we can discuss about it there too.

[2020-02-23 16:56] GeorgLink commented on #296
Thanks for bringing the discussion to the mailing list.

[2020-02-23 17:21] vchrombie commented on #287
Hi @valeriocos

I am interested to apply for this idea. :slightly_smiling_face:

I am currently working on the microtasks.

Actually I started working on this idea, [287](https://github.com/chaoss/grimoirelab/issues/287). But (out of slight confusion) I [commented](https://github.com/chaoss/grimoirelab/issues/286#issuecomment-589949305) on [286](https://github.com/chaoss/grimoirelab/issues/286) by

[2020-02-23 17:29] valeriocos commented on #287
ok, no worries! thank you for working on this idea :)

[2020-02-24 03:57] animeshk08 commented on #288
Hello Mentors,
I am Animesh Kumar. I am a student at NITK Surathkal. I would be interested in working on this idea. I have started working on the micro-tasks and will send a PR for the same soon.

[2020-02-24 06:13] valeriocos commented on #288
Thank you @animeshk08 for your interest in this idea! Don't hesitate to write here if you need feedback or help!

[2020-02-24 13:29] valeriocos opened #298 "Evaluate removal of dashboards automatic upload"
In the current status GrimoireLab provides a feature to automatically upload a set of predefined dashboards. This feature can be enabled or disabled from the configuration file (i.e., setup.cfg). When this feature is on, the upload occurs every time grimoirelab is (re)started.

Some of the drawbacks of this feature are:
- The complexity/maintainability of ELK (the component in charge of producing

[2020-02-24 13:51] valeriocos opened #299 "Evaluate removal of kingarthur support"
GrimoireLab relies on two ways to fetch data from software repositories which are:
- the scheduler in [sirmordred](https://github.com/chaoss/grimoirelab-sirmordred/tree/master/sirmordred), which is the current solution.
- [kingarthur](https://github.com/chaoss/grimoirelab-kingarthur), which was introduced time ago but never reached the integration maturity to replace the sirmordred scheduler.

Bas

[2020-02-24 17:26] abhiandthetruth commented on #288
Hello everyone,
I am currently eorking on the micro-tasks, will send the pr on completion. Hoping to have a good coding community ahead!

[2020-02-25 00:23] killerpanda101 commented on #287
Hello @valeriocos

I am a B.tech student from India and an interested to apply for this idea.
I have a descent understanding of Django and a currently working on the micro-tasks
will let you know once that's done.

[2020-02-25 05:57] valeriocos commented on #287
Hi @killerpanda101! Don't hesitate to write here if you need feedback/clarifications on the microtasks. Thanks

[2020-02-25 07:53] valeriocos commented on #288
HI @abhiandthetruth , great! Don't hesitate to write here if you need any help/clarification/feedback, thanks!

[2020-02-25 09:53] kunakl07 commented on #288
Hey everyone,
I am Kunal Mehta currently in my Final Year of Computer Engineering and I really loved this project topic. I am currently working on micro-tasks and would love to contribute as much as I can to the open-source and would strive to be an active part of this organization in the future.

[2020-02-25 10:17] valeriocos commented on #288
Hi @kunakl07, thank you for your interest!
If you are looking for contributions, don't hesitate to have a look at the issues in the https://github.com/chaoss/grimoirelab* repos. Fixes and improvements on the grimoirelab tools documentation and [tutorial](https://github.com/chaoss/grimoirelab-tutorial) are also welcomed! Finally, if you have some ideas in mind which aren't reflected in any existing

[2020-02-25 10:20] kunakl07 commented on #288
Sure, Thank you for replying.

[2020-02-25 10:27] valeriocos commented on #262
The support for analysing docker dependencies and smells are already part of grimoirelab (via the third-party image: https://github.com/chaoss/grimoirelab/tree/master/third-party). Details to get this data are available at:
- https://github.com/chaoss/grimoirelab-sirmordred#dockerdeps
- https://github.com/chaoss/grimoirelab-sirmordred#dockersmells

[2020-02-25 10:27] #262 closed

[2020-02-25 10:29] valeriocos commented on #258
The support for analysing sentiment and emotions in github comments are already part of grimoirelab (via the third-party image: https://github.com/chaoss/grimoirelab/tree/master/third-party#docker-image-cross-nlp-rest-api). Details to get this data are available at: https://github.com/chaoss/grimoirelab-sirmordred#github2

[2020-02-25 10:29] #258 closed

[2020-02-26 02:39] penyuan commented on #296
I'm a very new user who is starting to learn about, make use of, and ideally contribute in a small way to the GrimoireLab repositories.

First of all, in general I think it is a good idea to move from a completely closed source platform (Github) to one that is slightly more open source friendly and at least partly open source (Gitlab). This is indeed in line with the values behind CHAOSS.

Just to

[2020-02-26 12:59] GeorgLink commented on #296
This is interesting. Do you have a news article or something that describes which countries GitHub is blocked in?

[2020-02-26 16:57] penyuan commented on #296
I remember the Github blocking problem raised in an issue for another active Github repository, unfortunately I can't remember which repository! However, I clearly recall that it was an Iranian developer who really want to contribute but couldn't because Github is blocked in Iran (at least at the time, i.e. last year).

I quickly searched for some examples, though:

* [GitHub starts blocking devel

[2020-02-27 12:46] vchrombie opened #301 "Automate the process of updating the license"
As of now, we have a manual process of updating the license at least updating the year.

Example: https://github.com/chaoss/grimoirelab-perceval/commit/076953e95735401b4d9266562f9ae406a30751a0

We can automate this as this applies to all the components in the grimoirelab. Maybe a small script that updates the year, which can be executed yearly once.

This can be extended to updating the Authors in

[2020-02-27 12:49] vchrombie commented on #301
This issue is open for discussion. Once we decide on what all things we need to automate, then we can proceed on for implementation.

I would like to help with the implementation part too. :slightly_smiling_face:

[2020-02-27 12:56] valeriocos commented on #301
Thank you for opening this issue @vchrombie!

Please could you propose a possible implementation to update the metadata information in a file (then we can extend it to a repository)? We can use it as baseline for discussions.

[2020-02-27 14:12] abhiandthetruth commented on #288
@valeriocos I had an Idea in my mind. Should I make an Issue or are we free to discuss here?

[2020-02-27 14:17] valeriocos commented on #288
If the idea isn't related to this issue, please open a new one in this repo, thanks!

[2020-02-27 14:18] abhiandthetruth commented on #288
Sure Thanks!

[2020-02-27 18:54] itsariella commented on #286
Hi @valeriocos

I feel like I'm running a little behind on the microtasks, so after a few days of trying to figure out on my own, I'll figured I might as well just ask  :sweat_smile:

I am running a Windows Subsystem for Linux (WSL), and am using Ubuntu for my Pycharm terminal. I was able to run Perceval with git through the terminal , but am having trouble getting the Git and Github backends to w

[2020-02-27 19:34] valeriocos commented on #286
Hi @itsariella !

GrimoireLab is tested and works on Linux distributions. The error you are having (`C:\Users\Ariella/.perceval/repositories/http://github.com/grimoirelab/perceval-git`) is due to the way Perceval creates the folder .perceval (used to store the clones of git repositories). Most of the other backends (e.g., GitHub, GitLab) should work without any issue on Windows.

It would be creat

[2020-02-27 22:03] abhiandthetruth commented on #288
@valeriocos sorry for mentioning it here but I just wanted your opinion before creating the issue since I am new to grimoire labs. Is adding a voice query feature relevant? It will be a great feature which will help the target analysts in their research in this age of voice assistants but may not make sense if grimoire lab is not that end user oriented. Do you think it is feasible? If it is I have

[2020-02-28 09:14] vchrombie commented on #301
Hi @valeriocos

- We have to update the copyright year period in each file. [perceval/__init__.py#L3](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/__init__.py#L3)

- I am not sure about the `Author` field, as I have a doubt. My question is how do you define `author` over here? Is it like only the person who created the file in the starting or something like a contributor to

[2020-02-28 10:29] valeriocos commented on #288
@abhiandthetruth thank you for sharing this interesting idea!

Having a voice assistant help to create queries in ElasticSearch could be useful from an end-user/analyst perspective. This could be interesting not just for GrimoireLab, but for the ElasticSearch community.

Maybe we can explore this idea (or voice assistant related ones) in one of your personal repositories. Once the implementation i

[2020-02-28 11:29] jacintoj commented on #287
Hi @valeriocos

I am interested in this idea for Google Summer of Code 😃  I´m a student from Rey Juan Carlos University.
Can I start now with the microtasks or I have to wait until my student apply for GSoC?

Thanks! 👍

[2020-02-28 11:50] valeriocos commented on #287
Hi @jacintoj !

Great! Please start with the microtasks, you should include them as part of your application. Don't hesitate to write if you need help or feedback.

Thanks!

[2020-02-28 12:29] valeriocos commented on #301
I would go for a simple and common definition: `An author is anyone that at some point has edited/authored the file`. For instance, in the case of [perceval/init.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/__init__.py), we should have 3 authors (as pointed by the GitHub UI).

Why solution 1. is weird? If I understand the approach correctly, it looks for some text in a g

[2020-02-28 12:41] vchrombie commented on #301
Okay.

The approach involves making a temporary file, writing all contents of the source file in the temporary file and substituting the string and at the last replacing the source file with the temporary file. I just felt weird because it is a lot of process, nothing else. :sweat_smile:

Yes, exactly.

This seems to be a perfect idea. :smiley:

[2020-02-28 12:47] valeriocos commented on #301
I see :) it's a PoC, it can be improved in the next iteration

[2020-02-28 15:19] sp35 commented on #287
Hi @valeriocos
I'm interested to apply for this idea. As stated, I'll start with the microtasks :)

[2020-02-28 15:29] valeriocos commented on #287
Great @sp35 ! thank you for your interest in this idea!

[2020-02-28 17:21] abhiandthetruth commented on #288
Glad that you liked the idea! Certainly voice interfaces are the future and the sooner we adopt it the better. I am excited to work on it but my priority is GSoC so I have to complete the microtasks. I will be working on the idea definitely. First we need to plan the structure of the software. I initially planned to use Sir Perceval as our first voice agent ;) and try to implement voice queries on

[2020-02-28 17:51] valeriocos commented on #288
Cool! Using Perceval is a good starting point!

Yes, please create the repo, thanks! (cc @jgbarah)

[2020-02-28 20:55] abhiandthetruth commented on #288
repo created and invite sent to you! @valeriocos

[2020-02-28 21:14] GeorgLink commented on #288
@abhiandthetruth, it's great to see your initiative in this. Would you be okay with having your repo public and sharing the link here? It is in the spirit of open source to share publicly and discuss in the open.

[2020-02-28 21:24] abhiandthetruth commented on #288
Yes of course @GeorgLink. The repo link is https://github.com/abhiandthetruth/perceval-voice. I have opened an issue with a short description of the challenges I think we will face, the resources needed and to discuss the basic structure of the initial software. Everyone is welcome to contribute :).

[2020-02-28 23:10] GeorgLink commented on #288
For this proposal to be interesting to me, I would be interested in a sound use case. To be frank, I am lacking the imagination to see how a voice interface will be useful (I am struggling with the Google assistant in our home and it is not a pleasant experience for me). The users of GrimoireLab tend to be interested in trends, seeing relationships, exploring the data through filters. I believe th

[2020-03-01 13:26] arnonm-intel opened #302 "Building docker on linux fails - expecting MacOS"
Building grimoirelab dockers on linux fails, as utils/build_grimoirelab expects MacOS environment

def __init__
..
 self.system = system
        if self.system:
            self.name = "System"

Had to change last line to "/usr" to run on linux

[2020-03-02 03:03] imnitishng commented on #287
Hi! This project strikes my interest would love to work on this, I will start off with the microtasks ASAP and update my progress here.

[2020-03-02 08:34] valeriocos commented on #287
Hi @imnitishng ! thanks for your interest and don't hesitate to write if you need feedback/clarifications

[2020-03-02 09:04] jgbarah commented on #302
Hmmm. Weird, as GrimoireLab developers are mainly Linux-based people. In any case, I myself am running it on Debian GNU/Linux right now, and I see no problem... Could you please let us know how you run it and what was the wrong output you got? (likely it is a command line option we don't use normally)

BTW, in which line you had to change that code? 359 maybe?

[2020-03-02 18:43] sduenas opened #304 "Define a service to manage projects structure"
Currently, GrimoireLab uses the `projects.json` file to define the structure of the projects to analyze. This file stores a JSON structure that contains a list of projects and for each project, its list of repositories.

Although this file works fine, it has a lot of problems: for end users it is hard to edit and it only has one level so a project with multiple subprojects it's not allowed.

Some

[2020-03-02 18:48] abhiandthetruth commented on #288
@valeriocos there seems to be a problem with search guard permission in my machine. I can't create indexes due to a 403. I have enriched it though, and the indices are showing up during creation of index. But when I click create index button nothing happens at the frontend. Following are the logs for the same.

<em>elasticsearch_1  | [2020-03-02T18:41:15,716][INFO ][c.f.s.c.PrivilegesEvaluator] No

[2020-03-02 19:04] snack0verflow commented on #288
@abhiandthetruth did you try https while accessing the elasticsearch server? This is required if you elasticsearch is of the secured version.

[2020-03-02 19:06] abhiandthetruth commented on #288
Yup!

On Tue, Mar 3, 2020, 12:34 AM Abid Abdullah <notifications@github.com>
wrote:

[2020-03-02 19:12] snack0verflow commented on #288
@abhiandthetruth hmm
Try increasing the virtual memory of elasticsearch:
`sudo sysctl -w vm.max_map_count=262144`
This is valid only for the current session.

[2020-03-02 19:16] abhiandthetruth commented on #288
@snack0verflow ya I have done that, that is why I was able to enrich it. The elastic search server can be accessed over https in my machine. I think it's an issue with search guard. But that was one of the problem I also encountered during maybe we should mention it in the readme? Thanks for helping :)

[2020-03-02 19:21] abhiandthetruth commented on #288
@snack0verflow are you using the same docker-compose.yml file or have you tweaked it? Is everything working fine in your machine? Can you try
<em>curl -XGET https://admin:admin@localhost:9200</em>
and tell me the response?

[2020-03-02 19:29] snack0verflow commented on #288
@abhiandthetruth I got the same "dictionary" result that shows up on my browser. Just added -k to the curl command.
Yes I am using the same yml.

[2020-03-02 19:31] abhiandthetruth commented on #288
does it give an ssl error without -k?

[2020-03-02 19:32] vchrombie commented on #288
Hi @abhiandthetruth
Not sure if this would help, but just try with just `http` everywhere instead of `https`.

[2020-03-02 19:33] snack0verflow commented on #288
Not an error but certificate problem curl: (60)
Sorry I'm typing on my phone. My PC is offline.

[2020-03-02 19:34] abhiandthetruth commented on #288
@vcrombie using http, there is a connection was reset error so can't do that. Thanks :)

[2020-03-02 19:37] abhiandthetruth commented on #288
Yes I am also having the same problem. I was just verifying whether this was the root cause, apparently it wasn't ! Thanks :)

[2020-03-02 19:47] snack0verflow commented on #288
@abhiandthetruth hmm
I got a 403 as well, don't think it happened last time I tried creating index.
@valeriocos Here is the response to the UI payload if it helps:
[code]

[2020-03-03 03:01] imnitishng commented on #287
Don't understand this microtask.
As far as I know I see we need to call perceval on some github repo but not by the default way given on perceval readme via terminal.
How do I do the same with a "python interface" please guide.

[2020-03-03 03:34] animeshk08 commented on #287
@imnitishng . You can refer [this](https://chaoss.github.io/grimoirelab-tutorial/perceval/git.html#using-perceval-as-a-python-module) documentation for a better understanding. In the given script a git backend is used to fetch the commits from a repository. The given microtask require us to create a similar script using GitHub and GitLab backend to retrieve the data from repositories of our choice

[2020-03-03 09:20] valeriocos commented on #288
Sorry for the late reply!

I'm using the master branch of all components (note that a PR on mordred was just merged: https://github.com/chaoss/grimoirelab-sirmordred/pull/412)
- start from a fresh installation (docker prune -a --volumes)
- use the docker-compose at https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker
- launch micro-mordred with the setup.cfg and projects.json at

[2020-03-03 14:10] snack0verflow commented on #288
@valeriocos logging in to kibana worked. Need to document this in micro-mordred?

[2020-03-03 16:50] Syn3rman commented on #286
Hey @valeriocos,
I've completed most of the microtasks, link [here](https://github.com/Syn3rman/CHAOSS-microtasks). Is there anything in there that I should work on?

I've gone through the codebase for sir-mordred and perceval and I'd like to start working on some issues, so what would be a good place to start? (considering that this idea seems to be focused on kibiter and archimedes). I am also i

[2020-03-03 20:49] abhiandthetruth commented on #288
@snack0verflow are you able to execute the study 'enrich_areas_of_code:git'. The following error occurs while execution of mine,
[code]

while running.
The ui payload shows a RemortTransportationException, caused by a QueryShardException.

[2020-03-03 20:51] abhiandthetruth commented on #288
And yes @valeriocos the 403 is solved by logging in. I think the user should be notified to login if that 403 is recieved by the frontend.

[2020-03-04 09:16] valeriocos commented on #288
@abhiandthetruth the error should pop up when the input index of the study is empty

@abhiandthetruth @snack0verflow it's a good idea to document the different problems you are having!

@snack0verflow can you add the section `Troubleshooting` to the mordred README before https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred ? In this section you can add an entry to comment about https://g

[2020-03-04 09:43] arnonm-intel commented on #302
I ran the docker build command on the Dockerfile-installed
docker build -f docker/Dockerfile-installed -t local-grimoirelab:installed .

[2020-03-04 10:18] valeriocos commented on #286
Thank you @Syn3rman ! I had a look at your repo and overall looks good (some questions are still missing), I opened an issue for micro-task 4.

A good starting point would be to have a look at the support to ODFE (https://github.com/chaoss/grimoirelab/issues/219#issuecomment-553491982).
ELK already supports it, but Kidash (the component in charge of uploading the dashboards) doesn't.

To start div

[2020-03-04 11:05] abhiandthetruth commented on #288
Definitely. We can name the section 'Debugging' @valeriocos @snack0verflow.

On Wed, Mar 4, 2020, 2:46 PM valerio <notifications@github.com> wrote:

[2020-03-04 11:23] valeriocos commented on #288
I'm fine with any name, @abhiandthetruth @snack0verflow feel free to decide one, thanks!

[2020-03-04 13:54] AayushTyagi1 commented on #286
Hello @valeriocos, My name is Aayush Tyagi, a B.Tech 2nd-year student. I would like to contribute to this project for GSOC 2020.

[2020-03-04 14:14] valeriocos commented on #286
Thank you for your interest in this idea @AayushTyagi1 ! Please have a look at the microtasks and don't hesitate to write here if you need some help.

[2020-03-04 16:21] imnitishng commented on #287
Need some help, got stuck in microtask 2, when running perceval from terminal using the gitlab command provided [here](https://github.com/chaoss/grimoirelab-perceval#gitlab) I get this error

`[2020-03-04 21:47:33,381] - Sir Perceval is on his quest.
Traceback (most recent call last):
  File "/home/nitish/Projects/grimoirelab/grimo-stable-venv/lib/python3.7/site-packages/perceval/backend.py", line

[2020-03-04 16:40] valeriocos commented on #287
Hi @imnitishng, the problem is due to the fact that the repo https://gitlab.com/elastic/logstash doesn't exist. Try with some projects under https://gitlab.com/gitlab-org.

Getting commits and PR is OK, however if you want to explore more feel free to add more things to your script.

[2020-03-04 17:06] imnitishng commented on #287
Oops, really sorry for this tiny doubt, Thanks a lot @valeriocos seems to work fine now.

[2020-03-04 18:08] valeriocos commented on #287
no worries @imnitishng !

[2020-03-06 03:56] vvijayalakshmi21 commented on #288
Hi all, I am an Outreachy applicant, looking to contribute to this project.
To get started, I have to follow the micro tasks in order. Is that right?

[2020-03-06 05:54] abhiandthetruth commented on #288
Sorry for late response, since @snack0verflow seems to be busy at the time, I will be proceeding with the addition. Also I missed that you had already named the section 😅. Sorry for the override @valeriocos  :).

[2020-03-06 06:25] valeriocos commented on #288
ok thanks @abhiandthetruth

[2020-03-06 06:46] valeriocos commented on #288
Hi @vvijayalakshmi21, thank you for your interest in this idea. You don't have to follow an order to complete the microtasks.
Don't hesitate to write if you have more questions or need feedback.

[2020-03-06 08:17] Angelvicks commented on #286
Hello @valeriocos, My name is Ange Taffo. I will like to contribute to this project for Outreachy 2020.

[2020-03-06 08:23] valeriocos commented on #286
Hi @Angelvicks ! Great, please have a look at the microtasks and consider to create a personal project to work on them.

You can share your questions/doubts/feedback here, thanks

[2020-03-06 13:02] Angelvicks commented on #286
ok @valeriocos thanks

[2020-03-07 04:13] ferculell commented on #288
Hi everyone! I'm an Outreachy applicant from Argentina and, as my main academic background is in Social Sciences, I find this project very interesting. I would love to contribute to it. I will start with the micro-tasks.
See you!

[2020-03-07 08:16] valeriocos commented on #288
Hi @ferculell! if you need any help or clarification, please write in this issue.

[2020-03-07 11:00] animeshk08 commented on #288
Hi! @valeriocos I have some technical doubts regarding this project. Is there a place where I can ping you (maybe an IRC or mail id). Sorry, have a bunch of doubts so I don't think this is the appropriate place to mention them :/

[2020-03-07 11:52] valeriocos commented on #288
Sure @animeshk08 , IRC is perfect (I can be there for the next hour), otherwise by email (valcos@bitergia.com)

[2020-03-07 13:35] valeriocos commented on #287
I have just added a microtask (number 8). Thanks @vchrombie for pointing this out.

[2020-03-07 14:38] kshitij3199 commented on #285
Hello Mentors,
I am Kshitij Gupta, a CS undergraduate from BITS PILANI. I would love to work on this project, I have quite a good experience in Python and Pandas.  I am starting off with the microtasks and I will update my progress here.

[2020-03-07 14:48] GeorgLink opened #305 "Name of contributor should not be updated when name on Twitter changes"
I changed my name on Twitter. I was delighted to see that the new name was correctly merged with my other identities in the chaoss.biterg.io dashboard.

I do think it is rather awkward that the "twitter name" is now shown everywhere in the dashboard. I see it common practice for someone to change their twitter name regularly to convey more information than just the name.

This issue is about depri

[2020-03-07 14:53] Polaris000 commented on #285
@kshitij3199! Thanks for your interest in this idea. Let us know if you have any questions.

[2020-03-07 15:16] davidam commented on #284
Reading the subject I only want to say that I am using todo.org files to manage tasks is so portable if you plan migrate from github to gitlab or similar.

[2020-03-07 18:02] ria18405 commented on #286
Hello @valeriocos ! I'm Ria Gupta, an Outreachy'20 Applicant. I am enthusiastic to contribute to the project "Social Currency Metrics System in GrimoireLabs #288".

[2020-03-07 18:24] valeriocos commented on #286
Hi @ria18405 ! Welcome, write here if you need any help/feedback/clarification

[2020-03-07 18:52] snack0verflow commented on #285
@valeriocos I had a query, while enriching the raw indexes created by Perceval, how does ELK add additional data like Time to merge pull requests that are not available via Perceval?

[2020-03-07 19:14] valeriocos commented on #285
This is done during the enrichment phase.

ELK feeds the Perceval items to elasticsearch using this function: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L49 (collection phase). Then, it reads from the raw indexes this data again and creates the enriched data using this function: https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elk.py#L410 (enrichmen

[2020-03-07 19:24] snack0verflow commented on #285
@valeriocos Oh, It seems that time to merge is being calculated based on review comments by other users:
https://github.com/chaoss/grimoirelab-elk/blob/13982d4024ffcaf2d0e42a26194ec4725619fed8/grimoire_elk/enriched/github.py#L181
But I think review comments can also ask for some changes by the creator of PR. It doesn't necessarily mean that the PR is being closed.(Please correct me if I am wrong)

[2020-03-07 20:37] snack0verflow commented on #285
@valeriocos I also had a suggestion: When looking at the coverage report generated for ELK test routines, I found that the report is generated for the tests as well, for example:
[code]
To prevent this we can use the config files for exclusion as mentioned in https://coverage.readthedocs.io/en/coverage-5.0.3/excluding.html

[2020-03-07 20:38] akshitt commented on #286
Heyy @valeriocos. I'm Akshit Srivastava, applying for Outreachy. I want to contribute to the project "Social Currency Metrics System in GrimoireLabs" for Outreachy'20.

[2020-03-07 21:06] vchrombie commented on #301
Hi @valeriocos

Can you please check this repository, [vchrombie/grimoirelab-tools](https://github.com/vchrombie/grimoirelab-tools) when you have time. I have written a script which fetches the authors names and updates that with the copyright information using a template.

This is the result when I executed the script for the [backend.py](https://github.com/chaoss/grimoirelab-perceval/blob/master

[2020-03-08 10:13] valeriocos commented on #286
Welcome on board @akshitt ! Please start with the microtasks when you have time and write here if needed for clarifications/helps. Thanks!

[2020-03-08 10:30] abhiandthetruth commented on #288
@valeriocos is the kidash argument ```--elastic_url-enrich``` changed to ```--elastic_url``` bcoz trying the former gave unrecognized error whereas the later works fine. The former is also not mentioned in the command ```kidash --help``` but the tutorials are using it freely. Is it a change in development?

[2020-03-08 10:33] valeriocos commented on #285
@snack0verflow, sorry it seems there is a problem with the meaning of the enriched field `time_to_merge_request_response`. The description at https://github.com/chaoss/grimoirelab-elk/blob/master/schema/github_pull_requests.csv says that it is the `Time to merge a Pull Request in days`, however looking at the code (as you pointed out) the meaning is basically the time to first attention to the pul

[2020-03-08 10:56] vchrombie commented on #301
Hi @valeriocos

A small update.

I completed the script, at least it works now, but can be improved more. I tried updating the source code files too and I sent a draft PR testing the script, https://github.com/chaoss/grimoirelab-perceval/pull/623.

[2020-03-08 10:57] abhiandthetruth commented on #288
And also the tutorial sample mordred config still contains the ```bots_names``` param.

[2020-03-08 11:27] valeriocos commented on #288
@abhiandthetruth probably the doc hasn't been updated. Can you submit two PRs (one for https://github.com/chaoss/grimoirelab/issues/288#issuecomment-596189978 and one for https://github.com/chaoss/grimoirelab/issues/288#issuecomment-596192244)? thanks

[2020-03-08 11:28] abhiandthetruth commented on #288
ok!

[2020-03-08 11:30] snack0verflow commented on #288
@valeriocos @abhiandthetruth I think I have removed the bots_names param in an earlier PR

[2020-03-08 11:33] snack0verflow commented on #288
https://github.com/chaoss/grimoirelab-sirmordred/pull/406 this one

[2020-03-08 11:37] abhiandthetruth commented on #288
@snack0verflow it was for the setup.cfg in the grimoirelab-sirmordred repo this one is for the tutorials!

[2020-03-08 12:00] valeriocos commented on #285
@snack0verflow thank you for pointing this out!

The tests in travis (e.g., https://github.com/chaoss/grimoirelab-elk/blob/master/.travis.yml#L31) are executed only on https://github.com/chaoss/grimoirelab-elk/tree/master/grimoire_elk (e.g., https://coveralls.io/builds/29180665). On the other hand, the documentation at https://github.com/chaoss/grimoirelab-elk#running-tests should do the same but

[2020-03-08 12:20] snack0verflow commented on #288
@abhiandthetruth my bad, you can go ahead and fix that.

[2020-03-08 14:14] ria18405 commented on #286
Hi @valeriocos
I was working on the microtasks, and while doing Microtask 2, I used the github command mentioned [here](https://github.com/chaoss/grimoirelab-perceval#github). Along with the output, I'm seeing an error message -- `perceval.errors.RateLimitError: Rate limit exhausted.; 3581.0 seconds to rate reset.`

Full error is:
[code]
Is there anything that I'm possibly missing?

[2020-03-08 14:30] valeriocos commented on #286
Did you enable the param `sleep-for-rate` (ref: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L989)?

[2020-03-08 14:52] singhaltanvi commented on #286
Hi!! I am Tanvi Singhal , An outreachy applicant. I am interested in contributing to the project Social Currency Metrics System

[2020-03-08 14:58] ria18405 commented on #286
Enabling the param solves the issue. Thanks a lot :)

[2020-03-08 15:00] valeriocos commented on #286
Hi @singhaltanvi , welcome on board! Please have a look at the microtasks and write here if you need any help. Thanks!

[2020-03-08 15:19] snack0verflow commented on #285
@valeriocos Sorry for the late reply, but what do you mean by

Thanks

[2020-03-08 15:26] valeriocos commented on #285
No worries,

Sorry for not being precise, yes :)

[2020-03-08 22:06] abhiandthetruth commented on #288
@valeriocos finished all the micro-tasks!. I have made a private repo for that. It would be really helpful if you could review my work before submitting. So how should I proceed, shall I make it public and share the link? Thanks :). Also there is no Microtask-8 there in the list provided.

[2020-03-09 03:03] imnitishng commented on #287
Hi @valeriocos  I've been working on the micro-mordred task, but running
`docker-compose -f docker-config.yml up`
leads to this log message recurring
[code]

Any help on this?

[2020-03-09 03:04] AayushTyagi1 commented on #286
Hey @valeriocos,
I am trying to set up Perceval on my Windows and I got the following error

C:\Program Files\JetBrains\PyCharm Community Edition 2018.2.3\helpers\pydev\_pydevd_bundle\pydevd_resolver.py:127: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if found.get(name) is not 1:
import sys; print('Python %s on %s' % (sys.version, sys.platform))
sys.path.extend([''])
PyDev console

[2020-03-09 06:11] valeriocos commented on #286
Hi @AayushTyagi1, please use Linux. GrimoireLab (Perceval included) is developed and tested on Linux systems. Thanks!

[2020-03-09 07:13] valeriocos commented on #288
@abhiandthetruth I'm going to add a task today (sorry for the inconvenience). WRT sharing your work, you can either invite me to your private repo or you can make it public and share the link. Choose what you prefer :)

[2020-03-09 07:19] abhiandthetruth commented on #288
@valeriocos I have made it public for now :). Here is the link https://github.com/abhiandthetruth/Chaoss-Gsoc2020. Please review. Please tell if more detailed answers are needed.

[2020-03-09 08:44] valeriocos commented on #288
Task added! Please have a look, thanks

[2020-03-09 10:01] singhaltanvi commented on #288
Hi!! I am Tanvi Singhal an outreachy applicant interested in working on this project

[2020-03-09 11:56] valeriocos commented on #305
GrimoireLab defines identities as tuples composed of email, name and username. If a user changes one of these attributes, the platform will consider the new tuple as a new identity (see image below).

![captura_242](https://user-images.githubusercontent.com/6515067/76201051-f0e8f400-61f2-11ea-803d-6b66a43d1d57.png)

The platform automatically merges the identities of the same user, and randomly se

[2020-03-09 12:00] valeriocos commented on #288
Hi @singhaltanvi , welcome on board! Don't hesitate to write here if you need help/feedback, thanks!

[2020-03-09 13:14] sp35 commented on #287
@valeriocos It seems unlike GitHub API, GitLab doesn't treat merge requests and issues the same way. But Perceval handles this easily with the different functions for both. However, when fetch() is used on an object of GitLab, how can I figure out which one is what?

[2020-03-09 14:13] GeorgLink commented on #305
That is a sensible behavior over all. For Twitter, this does not make sense though because of how people use the name field.

That's what I want to avoid.

Yes, that's what I was thinking of. Twitter should have a low priority by default, in my opinion.

[2020-03-09 14:22] valeriocos commented on #305
The priority can be set like: `autoprofile = ["github", "git", "twitter]`. In this case, twitter will be at priority 3

[2020-03-09 14:24] GeorgLink commented on #305
awesome, thanks!

[2020-03-09 14:24] #305 closed

[2020-03-09 14:25] valeriocos commented on #287
The fetch accepts the param `category` (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gitlab.py#L159). This should be enough to know which type of data the backend is collecting.

Does it answer your question @sp35 ? :)

[2020-03-09 14:45] Keepingshtum commented on #286
Hello @valeriocos! Any chance this project is still open? Reading up on the post history- looks like a few people have already finished the microtasks. I would love to try my hand at it and see if I can bring a different perspective to the table. Thanks!

[2020-03-09 14:53] valeriocos commented on #286
Hi @Keepingshtum , the project is still open! Feel free to start the microtasks, the deadline is the 31st of March if I'm not wrong (https://developers.google.com/open-source/gsoc/timeline)

[2020-03-09 16:38] sduenas commented on #241
After some months working on this, I created today the release 0.2.0 of my proposal for the release tools. I think we can move the repository to grimoirelab and start with a pilot so we can evaluate if this is useful or not.

https://github.com/Bitergia/release-tools/

The release of the tools was generated with theshelves.

https://github.com/Bitergia/release-tools/releases

I suggest we can star

[2020-03-09 17:20] GeorgLink commented on #241
Release notes look good and are understandable.

[2020-03-09 18:26] sp35 commented on #287
Yes, it did :)
Thanks, @valeriocos

[2020-03-09 18:52] valeriocos commented on #287
you're welcome @sp35 !

[2020-03-09 22:36] sp35 commented on #287
@valeriocos While I was setting up a dev environment to work on GrimoireLab, I couldn't understand
[code]
I guess both the files are already defined, bit confused....
Seems like a silly doubt, please help!

[2020-03-09 23:14] vchrombie commented on #287
Hi @sp35

Yes, the files (setup.cfg and projects.json, present in the `utils` folder) are defined for the sake of the tutorial. But depending on what do you want, you can change them. GrimoireLab supports many such data sources (not just git and github). You can find all the configurations here, https://github.com/chaoss/grimoirelab-sirmordred#supported-data-sources.

[2020-03-09 23:23] kshitij3199 commented on #285
Respected Mentors @valeriocos, @Polaris000 ,@inishchith,@sduenas,@zhquan
I am currently doing MicroTask 2

I have executed Perceval via its Python interface using the Git. But facing a issue when using Guthub backend. I have selected my own [repo](https://github.com/kshitij3199/DSA_LAB) as target repo.

Issue:
When I am calling fetch method (category='issue') for calculating total number of issues

[2020-03-09 23:37] vchrombie commented on #285
Hi @kshitij3199

You are absolutely correct. In GitHub, every pull request is considered as an issue. You can read more about it from here, https://developer.github.com/v3/pulls/#labels-assignees-and-milestones.

I hope this helps you. :slightly_smiling_face:

[2020-03-10 00:03] sp35 commented on #287
Alright and then I can use micro script with the new files. Cool, thanks @vchrombie

[2020-03-10 06:34] valeriocos commented on #285
Thank you @vchrombie for the clarification

[2020-03-10 06:48] imnitishng commented on #287
Hi everyone.
I have been stuck on setting up and running micro-mordred.
`docker-compose -f docker-config.yml up`
executes but earlier had an error where the kibiter instance would not initialize
[code]
was able to fix this error.

Now when I run docker-compose, everything runs fine elastic search and kibiter both and i get the desired logs as stated [here ](https://chaoss.github.io/grimoirelab-tut

[2020-03-10 07:22] valeriocos commented on #287
Hi @imnitishng,

[code]

The error above is due to the fact the index is empty. An index for git data can be empty when the local clone of the repository you are analyzing is in sync with the upstream repo, thus there are no new commits to ingest to grimoirelab. The solution is either:

- set latest-items to false
- or delete the folder ~./perceval/repositories.

Find below some extra details to b

[2020-03-10 08:24] kshitij3199 commented on #285
Thank you very much @vchrombie for your answer.
Now I can start with Microtask 3 :slightly_smiling_face:

[2020-03-10 08:57] kshitij3199 commented on #285
Respected Mentors,

In the GitHub backend for Perceval, the parameter, API_Token accepts a list of token as mention in chaoss/grimoirelab-perceval#546 but I think this is not mention in [perceval](https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#module-perceval.backends.core.github) docs. Should I send a PR to add this information in perceval docs?

[2020-03-10 10:06] valeriocos commented on #285
Hi @kshitij3199 , thank you for raising this question. The perceval docs is automatically updated, there is already an issue open about it (https://github.com/chaoss/grimoirelab-perceval/issues/625). If you want, you could send a PR to improve the doc at https://chaoss.github.io/grimoirelab-tutorial/perceval/github.html#retrieving-from-a-python-script, WDYT?

[2020-03-10 11:02] imnitishng commented on #287
Thank you @valeriocos  for clearing this up, I will be opening an issue followed by the PR on this problem soon!

I also noticed another issue with the Grimoirelab tutorials provided [here](https://chaoss.github.io/grimoirelab-tutorial/sirmordred/micro-mordred.html#steps-for-execution)
The given steps for execution of micro-mordred have `docker-config.yml` defined as
[code]
which does not have `EL

[2020-03-10 11:08] valeriocos commented on #287
Thank for pointing this out, please @imnitishng could you submit a PR to update the tutorial (so the version of kibiter is the same)?

This shouldn't happen since `bitergia/kibiter:secured-v6.1.4-2` doesn't require the params ELASTICSEARCH_USER and ELASTICSEARCH_PASSWORD (AFAIR). These params are needed for `bitergia/kibiter:secured-v6.1.4-5`

[2020-03-10 11:16] kshitij3199 commented on #285
Hi @valeriocos, in the doc at https://chaoss.github.io/grimoirelab-tutorial/perceval/github.html#retrieving-from-a-python-script
Details regarding API_Token is already mentioned.

If I found some other things to improve in the docs, I would definitely send a PR.
Thankyou for your time

[2020-03-10 11:19] imnitishng commented on #287
Okay, I see now.
I edited my `docker-config.yml` as such.
[code]
removing the lines
[code]
restarting docker-compose and logging in as kibanaserver:kibanaserver also worked. So this might have been some default password for `bitergia/kibiter:secured-v6.1.4-2` maybe.

Anyways I will send a PR to update kibana version in tutorial to `bitergia/kibiter:secured-v6.1.4-5`.
Thank You!

[2020-03-10 11:29] valeriocos commented on #285
Sorry for not being precise, I was referring to improve the snippet of code there:
[code]

[2020-03-10 11:30] valeriocos commented on #287
Great, thanks @imnitishng !

[2020-03-10 11:58] kshitij3199 commented on #285
Thank you @valeriocos for your clarification,
I will improve the snippet of the code there and will send you a PR.

[2020-03-10 17:54] imnitishng commented on #287
Since morning everything was running file, until now when I run the micro.py script I don't see any indexes, tried with` bitergia/kibiter:secured-v6.1.4-2` and `bitergia/kibiter:secured-v6.1.4-5`
![Screenshot from 2020-03-10 23-22-19](https://user-images.githubusercontent.com/35267629/76343525-3eb24900-6326-11ea-97c4-ffc74ce78272.png)
What could be the problem now?

[2020-03-10 19:05] sp35 commented on #287
Any idea on possible sources of error?
docker-compose gives the log:
[code]

[2020-03-10 19:08] imnitishng commented on #287
Hi! @sp35
Run `sudo sysctl -w vm.max_map_count=262144` and try again.

[2020-03-10 19:20] akshitt commented on #286
Can I use VS Code instead of PyCharm? PyCharm is a bit heavy and slows down my laptop

[2020-03-10 19:22] sp35 commented on #287
Thanks for offering help, however, I couldn't find a similar error in that section.

[2020-03-10 19:25] imnitishng commented on #287
Well I faced the same problem, was able to fix it using the command.
If it is a memory issue then you can also try changing `ES_JAVA_OPTS` as stated in the tutorial.

[2020-03-10 19:30] imnitishng commented on #287
While setting up micro-mordred the I was able to get to the creating indexes screen however on clicking `Next Step>` I get this big popup error
![Screenshot from 2020-03-11 00-51-51](https://user-images.githubusercontent.com/35267629/76351377-5d6b0c80-6333-11ea-9e81-2bb0ab323013.png)
the logs are as follows
[code]
Elastic search is the causing problems I think, because I am still not able to acces

[2020-03-10 19:39] valeriocos commented on #286
Hi @akshitt, sure! please try to do the microtasks using VS Code

[2020-03-10 19:49] valeriocos commented on #287
Hi @imnitishng , have you tried to log in kibiter (the icon on the bottom left corner)?

WRT elasticsearch, are you using the secured version? if this is the case you should use https//localhost:9200

[2020-03-10 20:22] imnitishng commented on #287
Yes. I logged in using username and pass kibanaserver. Login was successful.

Yes elasticsearch version is the secured version, but on using https://localhost:9200 Google Chrome popup asking for a username and password occurs. What do i enter there?
Sorry I didn't try entering `kibanaserver` there, will try it later.
If it works I'll update here.
But if it does work what do I do next because any c

[2020-03-10 20:53] kshitij3199 commented on #285
Hello @valeriocos,

I have set up dev environment to work on GrimoireLab and executed micro-mordred. After which I got following screen in kibana

![Screenshot from 2020-03-11 01-57-25](https://user-images.githubusercontent.com/31389401/76356946-c73be400-633c-11ea-8d28-d0a4b7ad2df7.png)

But for some fields like jetkins, git, github_issues  etc  no data is available(I have tried changing time dura

[2020-03-10 21:00] vchrombie commented on #285
Hi @kshitij3199

I want to ask which backend did you run. If you are running only git backend (`--backend git`) then, in that case, you cannot retrieve other things. Also, make sure of the configurations needed for that. (I mean projects.json and setup.cfg). You can find them [here](https://github.com/chaoss/grimoirelab-sirmordred#supported-data-sources).

[2020-03-10 21:31] kshitij3199 commented on #285
Thankyou @vchrombie  for such a quick response.
I will look into my setup.cfg and project.json file for any discrepancy and reply back to you.

[2020-03-11 07:11] imnitishng commented on #287
Hi @valeriocos did everything I could from switching between ubuntu versions 19.04 to 18.04 and reinstalling everything but nothing seems to work. It is related to permissions for the `kibanaserver` user but I don't know how to assign permissions. Need some help.
Here is the error I encounter when clicking next while creating new indexes.
![Screenshot from 2020-03-11 12-41-12](https://user-images.

[2020-03-11 07:16] imnitishng commented on #285
Hi @kshitij3199 I've been having problems setting up docker-compose for micro-mordred, you seem to get it, could you send your `docker-config.yml ` file here. I can't figure out what the problem with my system is.

[2020-03-11 07:27] valeriocos commented on #285
Hi @kshitij3199,

Based on the datasource declared in the setup.cfg, the Mordred task panels automatically imports the corresponding dashboards and add them to top menu (ref: https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/task_panels.py#L239, https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/task_panels.py#L495). Thus, some dashboards may be empty if

[2020-03-11 07:29] valeriocos commented on #287
@imnitishng can we meet on IRC (https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md#irc-channel) in 1 hour (9h30 Madrid time)?

[2020-03-11 07:32] imnitishng commented on #287
Yes sure. I'll be there in 30 mins.

[2020-03-11 07:34] valeriocos commented on #287
ok perfect, thanks!

Try `admin` as user and password or `kibanaserver` if you are using https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker

[2020-03-11 07:41] valeriocos opened #306 "Impossible to build the full-3p image from 0.2.38"
Originally reported by @svdo at: https://github.com/chaoss/grimoirelab-graal/issues/86#issuecomment-595842928

[code]

In other words: 404 on https://mentors.debian.net/debian/pool/main/f/fossology/fossology_3.6.0-1.dsc...

[2020-03-11 07:41] valeriocos commented on #306
The package at https://mentors.debian.net/package/fossology has been removed. As an alternative it could be possible to use http://mirrors.kernel.org/fossology/releases/3.0.0/debian/7.0/.

[2020-03-11 07:50] imnitishng commented on #287
The usename `admin` did not work
and `docker ps` is giving this error
`Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.40/containers/json: dial unix /var/run/docker.sock: connect: permission denied`
I'll try to look into this error

[2020-03-11 07:58] imnitishng commented on #287
Yes they are,
[code]

[2020-03-11 08:17] imnitishng commented on #287
@valeriocos never mind. It is solved now.
Headed over to https://github.com/chaoss/grimoirelab/blob/master/docker-compose/ and saw default username and password as `admin:admin` and it worked, I am able to create indexes now. Thanks.

I was wondering why this information is not present [in the grimoirelab-tutorial repo](https://github.com/chaoss/grimoirelab-tutorial) or the [tutorial page](https:/

[2020-03-11 08:35] valeriocos commented on #287
ok, please go ahead, thanks!
In the troubleshooting section, maybe can you extend this part: https://github.com/chaoss/grimoirelab-sirmordred#permisssion-denied, WDYT? ?

[2020-03-11 08:36] imnitishng commented on #287
Yes I'll send a PR soon

On Wed, Mar 11, 2020, 2:05 PM valerio <notifications@github.com> wrote:

[2020-03-11 09:17] kshitij3199 commented on #285
Hi @imnitishng , you can find my docker-compose.yml file [here](https://github.com/kshitij3199/GSoc_Chaoss_microTask.git)
I Hope it helps you :slightly_smiling_face:.

[2020-03-11 10:09] mhow2 opened #307 "strenghen "secure" docker deployment"
Hi,
I'm aware that for now the docker-compose setup is intended to showcasing the platform.
There is even a warning:

So it looks a bit confusing to me. On one hand we call it "secured", but on another we're telling that the data is unprotected. I feel that if we keep calling this a "secured" setup we should develop how to strengthen it a little in terms of security, what do you think ?

So the qu

[2020-03-11 13:31] kshitij3199 commented on #285
Thankyou @valeriocos  @vchrombie for your help, I was using only git backend(  `-- backend git`), because of which I was unable to retrieve other data.

But Today when I am executing micro-mordred I am facing following issues

2020-03-11 18:48:47,751 RequestError(400, 'search_phase_execution_exception', 'No mapping found for [metadata__timestamp] in order to sort on')
Process finished with exit co

[2020-03-11 13:41] valeriocos commented on #285
can you copy here the output of these commands? thanks
[code]

[2020-03-11 13:45] kshitij3199 commented on #285
@valeriocos , this is the output i am getting for both the command

[2020-03-11 13:47] valeriocos commented on #285
can you try with -k ?

[2020-03-11 13:55] kshitij3199 commented on #285
For the command
`curl -XGET https://admin:admin@localhost:9200/_aliases?pretty -k
`
output is

for command
` curl -XGET https://admin:admin@localhost:9200/_cat/indices -k
`

[2020-03-11 14:04] valeriocos commented on #285
Did you modify this file https://github.com/chaoss/grimoirelab-sirmordred/blob/master/aliases.json by chance?

2020-03-11 18:48:47,751 RequestError(400, 'search_phase_execution_exception', 'No mapping found for [metadata__timestamp] in order to sort on')
Process finished with exit code 255

This error is due to the fact that the index `git-aoc_chaoss_enriched` is empty (0 0 and the sizes). Please

[2020-03-11 14:20] kshitij3199 commented on #285
Thankyou very much @valeriocos, finally it worked :smile: and I was able to see graphs,data etc in kibana.
Also I will be sending  a PR to improve troubleshooting section.

But I am still getting this error, I have deleted and pasted new aliases.json file

Also there is one more issue, I forgot to mention

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/grimoire_e

[2020-03-11 14:29] valeriocos commented on #285
I'll try to replicate the problem on my machine

Can you share your setup.cfg, projects.json (just the part about git and general will be good) and the version of elasticsearch you are using? Thanks

[2020-03-11 15:24] kshitij3199 commented on #285
Hi @valeriocos ,

I have used this version
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
file-read-backwards==2.0.0

setup.cfg file

raw_index = git_chaoss
enriched_index = git_chaoss_enriched
latest-items = false
category = commit
studies = [enrich_demography:git, enrich_areas_of_code:git, enrich_onion:git]

projects.json file
[code]

[2020-03-11 15:31] valeriocos commented on #285
ok, thanks! the docker compose is this one: https://github.com/chaoss/grimoirelab-sirmordred#source-code-and-docker?

[2020-03-11 15:42] kshitij3199 commented on #285
@valeriocos I have changed elasticsearch User and password for kibiter
[code]
please find complete file here [docker-compose.yml](https://github.com/kshitij3199/GSoc_Chaoss_microTask/blob/master/docker-compose.yml)

[2020-03-11 18:06] jgbarah commented on #307
Just in case it matters, I'm working on a container with GrimoireLab and the usual servers, using OpenDistro for Elasticsearch / Kibana, thus providing SSL access to Elasticsearch, and (potentially) to Kibana. Stay tuned... This is intended to be a new version of the `grimoirelab/full` container.

[2020-03-11 19:46] sp35 commented on #287
I couldn't figure out the source of error, can anybody help me please?

[2020-03-11 20:28] ria18405 commented on #286
Hi @valeriocos ,
I was setting up dev environment, and have completed all steps(including docker setup).

While running micro.py with the parms (--raw --enrich --panels --cfg ./setup.cfg --backends git cocom) , I am getting a connection refused error.

Full error message:
[code]
Is there anything that I'm missing?

[2020-03-12 03:06] vchrombie commented on #286
Hi @ria18405
It would be great if you can share the setup.cfg to dig into the problem.

**Quick hack** (just try if it works, not sure if it is the solution)
replace `https` with `http` in the es configuration in setup.cfg

[2020-03-12 03:22] vchrombie commented on #287
Hi @sp35

I think the elasticsearch is not up yet and that's why kibiter is throwing an error.

Can you try this and see if it works, https://github.com/chaoss/grimoirelab/issues/287#issuecomment-596930593.

[2020-03-12 03:46] sp35 commented on #287
@vchrombie #287 didn't work for me

[2020-03-12 03:47] sp35 commented on #287
@vchrombie it didn't work

[2020-03-12 06:05] ria18405 commented on #286
Hey @vchrombie

Thanks for the suggestion. I tried replacing ```https``` with ```http```, the error transformed into :
[code]

This is setup.cfg file:

[code]
Is there any way to fix this?
Thanks in advance

[2020-03-12 07:14] kshitij3199 commented on #285
Hi @valeriocos, I have send a  PR based on what you have said. Please have a look at https://github.com/chaoss/grimoirelab-sirmordred/pull/418 and https://github.com/chaoss/grimoirelab-sirmordred/pull/419

[2020-03-12 08:01] kshitij3199 commented on #286
Hi @ria18405, I had faced similar error earlier, this may arises when the docker container is not started.

For fixing it first make sure that virtual memory size is atleast 262144 or run command
`sudo sysctl -w vm.max_map_count=262144`
then stop the container by `docker-compose down`
and start it again by  `docker-compose up -d`
Now , try running micro.py file,
Please reply if you face some error

[2020-03-12 08:49] valeriocos commented on #287
@sp35 is the port 9200 already in used in your machine? Can you share the full log when running the docker-compose up? Thanks

[2020-03-12 08:50] valeriocos commented on #285
Thanks @kshitij3199 for the PRs

[2020-03-12 10:16] sp35 commented on #287
Mentioned twice it got hidden!

Tried ```fuser -k -n tcp 9200```
and this too ```sudo sysctl -w vm.max_map_count=262144```

[2020-03-12 10:23] valeriocos commented on #285
I'm not able to replicate your issue, I believe you are using an old version of ELK and not the one in master. From the log you posted at https://github.com/chaoss/grimoirelab/issues/285#issuecomment-597661939, I see that there are some inconsistencies between the calls in your code and the ones in the master branch. For instance:
- File "/usr/local/lib/python3.6/dist-packages/grimoire_elk/elastic

[2020-03-12 10:28] valeriocos commented on #287
@sp35 can you connect to IRC (https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md#irc-channel) ?

[2020-03-12 10:31] kshitij3199 commented on #285
@valeriocos ,
I am using grimoire-elk version 0.63.0

[2020-03-12 10:33] valeriocos commented on #285
it's a bit old :) the last one is 0.70.0: https://github.com/chaoss/grimoirelab-elk/commit/6f449a69d8730d88712bb6332227808a6bdadd4a. Can you try if with this version the error is gone? thanks

[2020-03-12 10:47] ria18405 commented on #286
Hey @kshitij3199

Thanks for suggestions! I had indeed a swap space error, got rid of it.

Also, I followed all the steps suggested above, however, I'm still facing the same error while running micro.py file.

[code]
I ensured that the status of the docker is ACTIVE while running the micro.py file.

Also, I get a warning regarding ```Your kernel does not support cgroup rt runtime, cgroup rt period

[2020-03-12 10:58] kshitij3199 commented on #285
@valeriocos , I have tried downloading the latest version with pycharm package installer and with terminal but they are not showing any package above, 0.63.0. Any other way to download it.
` pip3 install grimoire-elk==0.70.0
`
`Could not find a version that satisfies the requirement grimoire-elk==0.70.0 (from versions: 0.20rc1, 0.22, 0.22.1, 0.26.5, 0.30.4, 0.30.7, 0.30.8, 0.30.9, 0.30.11, 0.30.13

[2020-03-12 12:14] valeriocos commented on #285
The lastest version isn't available on pip. Please follow the instructions at https://github.com/chaoss/grimoirelab-sirmordred#setting-up-a-pycharm-dev-environment, so you can use the code in the master branch, thanks

[2020-03-12 13:54] valeriocos commented on #286
Hi @ria18405 ,

Can you try to execute perceval on this repo and report on the result?
[code]

[2020-03-12 15:59] vchrombie commented on #285
Hi @kshitij3199

You can use the `Project Structure` to add the repository.

[2020-03-12 16:06] kshitij3199 commented on #285
Thankyou @valeriocos @vchrombie for your help,
Now env is correctly set up as the code is running without any error or warning :smile:

[2020-03-12 16:32] animeshk08 commented on #288
Hello mentors, I have a few questions regarding the implementation of Social Currency Metric System :)

* Is there going to be a feature to add these social currencies manually? In that case who can do so? Also how often they are to be added to generate a good reflective result?

* How does one decide the weight score for these metrics?

* The process of tagging the data and inserting these metric

[2020-03-12 18:14] AChaconG commented on #286
Hello @valeriocos and everyone :)
My name is Ana and I would love to participate in this project. I think it's not too late for this, so I will try my best. I feel a bit newbie at machine learning and data science, but I am excited to learn as much as possible and push myself.

[2020-03-12 18:19] valeriocos commented on #286
Hi @AChaconG , welcome! Please start the micro-tasks and don't hesitate to write if you need help/feedback!

[2020-03-12 18:33] abhiandthetruth commented on #288
Is the implementation architecture been decided yet or is it still in progress?

[2020-03-12 18:33] ria18405 commented on #286
Hi @valeriocos

It displays all commit details:

[code]

[2020-03-12 20:58] Soniyanayak51 commented on #285
Hi, I am Soniya Nayak and I am an Outreachy applicant 2020. This project looks very interesting and I'm looking forward to contributing here!

[2020-03-12 22:04] GeorgLink commented on #288
Hi @animeshk08 ,

Social currency is an abstract idea. The concete things this project will be working with is data that GrimoireLab already collects: email text, tweet text, issue comment text, and other text. That text needs to be annotated or tagged (see [metric definition](https://chaoss.community/metric-social-currency-metric-system/)). This may be a manual process where a person reads these

[2020-03-13 02:47] animeshk08 commented on #288
Thank you @GeorgLink for the all the clarifications :) One more thing the user interface for adding the tags will also be provide be Grimoirelab or just the data fetching and visualisation part??

[2020-03-13 05:39] samanthavenialogan commented on #288
Hello everyone!

I feel a little silly for not commenting on the main thread yet but I've been supporting some side messages so I'm going to put a master here.

**But first, Introduction!**
Skip this if you don't really care  :)

My name is Samantha Venia Logan.  I go by Venia.  I am the originating creator of the Social Currency Metrics System and the CEO of SociallyConstructed.Online.

My co-fou

[2020-03-13 05:53] samanthavenialogan commented on #288
Regarding this, it's best to make the tagging a part of the native platform because then you have to handle collaboration rules and permissions, but the CSV should export with the needed container columns to tag in whatever sheet software you prefer.

We have seen it the way you're envisioning though.  In specific implementations like my use for Comcast Xfinity customer support, we had the system

[2020-03-13 06:01] animeshk08 commented on #288
Thank you @samanthavenialogan for giving such detailed answers to our questions.:)

Now I understand the direction in which you want to project to move forward and I will explore more to integrate this way of tagging the data on the SCMS platform.

[2020-03-13 07:23] valeriocos commented on #286
Hi @ria18405 , can you connect to IRC today (https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md#irc-channel) ? I'll be there for the next 6 hours, thanks

[2020-03-13 07:44] valeriocos commented on #285
Hi @Soniyanayak51, welcome on board! Please have a look at the microtasks and don't hesitate to write if you need help.

[2020-03-13 10:12] AayushTyagi1 commented on #286
Can you help me to solve this error?
![image](https://user-images.githubusercontent.com/42893909/76611916-4863c880-6541-11ea-9115-c4e16209cd89.png)

[2020-03-13 10:15] AayushTyagi1 commented on #286
@valeriocos
Can you help me to solve this problem?
![image](https://user-images.githubusercontent.com/42893909/76612093-a1cbf780-6541-11ea-8290-ef9cb350167f.png)

[2020-03-13 10:21] kshitij3199 commented on #286
Hi @AayushTyagi1 , pass API TOKEN as a list in Github
for more detail see this https://github.com/chaoss/grimoirelab-perceval/issues/546
I hope this helps :slightly_smiling_face:

[2020-03-13 10:39] AayushTyagi1 commented on #286
@kshitij3199 I already passed the API TOKEN as you can see in the image yet there is an error.

[2020-03-13 13:18] kshitij3199 commented on #286
@AayushTyagi1
I mean , pass api_token  as LIST [api_token]
 for example:
github = GitHub(owner, [api_token], reposiratory)

[2020-03-13 13:31] vchrombie commented on #286
Hi @AayushTyagi1
Maybe have like your API tokens like this, in the config file.
[code]
This configuration and https://github.com/chaoss/grimoirelab/issues/286#issuecomment-598715074 are the same anyway. :man_shrugging:

[2020-03-14 05:31] imnitishng commented on #287
@valeriocos I am not able to Login to Prosoul.
I already created superuser `admin:admin`.
But on logging in, browser keeps `Waiting for 127.0.0.1...`

Here are the logs -
[code]

[2020-03-14 06:56] Syn3rman commented on #304
Hey @sduenas,
I'm looking to participate in GSoC this year and I'd like to work on this issue if it is available!

From what I could gather, the database model has already been defined and authentication using jwt is done, so that leaves adding api endpoints and graphQL queries, which I'd like to try implementing, so could you tell me if I could work on this (and where to pick it up from)?

Thanks

[2020-03-14 07:27] valeriocos commented on #287
Hi @imnitishng,
can you write the steps you did?
please check also that your ES is reachable (curl -XGET <elasticsearch-url> -k)

[2020-03-14 09:08] animeshk08 commented on #288
Hi, @valeriocos I have been going through the microtasks. However, while running micromordred I am getting the following error could you help me with it.
![error](https://user-images.githubusercontent.com/32506591/76678853-63960d00-6601-11ea-8e52-e4172e5f58c0.png)

[2020-03-14 09:22] valeriocos commented on #288
Hi @animeshk08 ,

- Which docker-compose version are you running? The one with or without searchguard (https://github.com/chaoss/grimoirelab-sirmordred#docker-compose-with-searchguard)?

- Can you post the output of `curl -XGET <elasticsearch-url> -k` ?

- Can you post the logs of the elasticsearch container (i.e., `docker logs <es-container>`) ?

- Please check the section https://github.com/chao

[2020-03-14 09:47] animeshk08 commented on #288
Hi @valeriocos Thank you for the quick response.

Without search guard

curl: (7) Failed to connect to localhost port 9200: Connection refused

While running this command `docker-compose -f docker-compose.yml up` I am getting the following logs.
[code]

Sorry I could not find something related to my problem here.

[2020-03-14 09:53] ria18405 commented on #288
Hi @animeshk08

Your error lies in ```max file descriptors [4096] for elasticsearch process is too low, increase to at least [65536]```

You could try increasing it by : ```sysctl -w fs.file-max=65536```

Hope it helps
Thanks

[2020-03-14 10:02] animeshk08 commented on #288
HI @ria18405 I have tried running `sysctl -w fs.file-max=65536` command already however the error still persists.
I have cross-checked that the value has changed as running `sysctl fs.file-max`
gives me the following output:
fs.file-max = 65536

[2020-03-14 10:16] ria18405 commented on #288
@animeshk08
Have you tried composing the docker again?
Composing the docker again might resolve the issue.

[2020-03-14 10:17] abhiandthetruth commented on #288
@animeshk08 can you share you docker-compose.yml or the link to the tutorial you are following?

[2020-03-14 10:25] animeshk08 commented on #288
My docker-compose.yml
[code]

[2020-03-14 10:38] abhiandthetruth commented on #288
I'm trying to debug the problem by running it on my system. BTW have you tried using the with searchguard version. It worked just fine with me just make sure you set the correct vm.max_map_count
`sudo sysctl -w vm.max_map_count=262144`

[2020-03-14 10:55] animeshk08 commented on #288
Hi @abhiandthetruth @ria18405 @valeriocos Thank you everyone for looking into this issue. Its been resolved.

Modify  the docker-compse.yml by adding the following lines inder `elastic`:
[code]

The new docker-compose.yml looks as follows:
[code]

@valeriocos Let me know if you would like to document this :)

[2020-03-14 10:59] animeshk08 commented on #288
However, This error still persists: https://github.com/chaoss/grimoirelab/issues/288#issuecomment-599031158 :(

[2020-03-14 11:01] abhiandthetruth commented on #288
whats the output of the curl command now?

[2020-03-14 11:03] abhiandthetruth commented on #288
have you changed the corresponding urls in setup.cfg?

[2020-03-14 11:04] animeshk08 commented on #288
Output for curl:
[code]

Logs for docker-compose -f docker-compose.yml up:
[code]

[2020-03-14 11:04] animeshk08 commented on #288
Sorry I didn't get you.

[2020-03-14 11:07] abhiandthetruth commented on #288
the setup.cfg file needs the url to connect to elasticsearch, in the provided file the urls are `https://admin:admin@localhost:9200` which is not applicable in your case, you should change it too `http://localhost:9200`

[2020-03-14 11:09] animeshk08 commented on #288
Yes I already did that. Still I am getting an error. However the error has changes now.
[code]

[2020-03-14 11:40] animeshk08 commented on #288
Hey guys, the error has been resolved however moving forward MySQL(MariaDB) is throwing an error now.

[code]

[2020-03-14 11:43] animeshk08 commented on #288
Thank you @abhiandthetruth The issues have been resolved!!

[2020-03-14 11:44] abhiandthetruth commented on #288
@animeshk08 I am curious as to what was the issue bcoz I couldn't reproduce the same on my machine. Was it a proxy issue?

[2020-03-14 11:55] animeshk08 commented on #288
Hi @abhiandthetruth the initial issue was due to file descripter limit which was resolved as I mentioned. I think the docker was not able to read the limit configurations of my system. I still need to figure out why was that happening though.

[2020-03-14 11:59] abhiandthetruth commented on #288
Thanks for the reply @animeshk08.

[2020-03-14 14:07] kshitij3199 commented on #285
Hi @valeriocos , I am currently working on test_git.py file to increase the coverage of git.py file.
In https://github.com/chaoss/grimoirelab-elk/blob/master/tests/test_git.py  file, some tests like test [ test_refresh_identities ](https://github.com/chaoss/grimoirelab-elk/blob/master/tests/test_git.py#L151) and [test_refresh_project](https://github.com/chaoss/grimoirelab-elk/blob/master/tests/tes

[2020-03-14 14:33] valeriocos commented on #288
Thank you @abhiandthetruth and @animeshk08 to sort this problem out. @animeshk08 could you add a section to the troubleshooting in sirmordred about the problem you had (https://github.com/chaoss/grimoirelab/issues/288#issuecomment-599034741)?

I found something on stackoverflow about your problem (
https://stackoverflow.com/questions/46771233/max-file-descriptors-for-elasticsearch-process-is-too-l

[2020-03-14 14:38] abhiandthetruth commented on #288
@valeriocos I think the readme size is becoming quite large. We can refract it. Like creating a troubleshooting.md. WDYT?

[2020-03-14 14:39] valeriocos commented on #285
Thank you @kshitij3199 for working on this, there is no specific reason. Please note that you can complete the tests by querying the enriched index and check that the data is correctly stored (you can mimic the code at https://github.com/chaoss/grimoirelab-elk/pull/801/files#diff-c12d8b17feda020355ff7084da770c2bR105)

[2020-03-14 14:44] animeshk08 commented on #288
I think the same. We can reference it in the current README and create a new one.

[2020-03-14 14:54] valeriocos commented on #288
yes, it sounds good! @abhiandthetruth @animeshk08 do you think that the new md file should contain only troubleshooting info or maybe we can create a getting started md with a troubleshooting section into it? For instance the new fille could have this structure:
- getting started (content from https://github.com/chaoss/grimoirelab-sirmordred#getting-started)
  - setting up Pycharm dev environment

[2020-03-14 14:59] animeshk08 commented on #288
@valeriocos  I think we can have a complete "Getting Started" README file which in troubleshooting section is also included.

[2020-03-14 15:14] valeriocos commented on #288
ok! please @animeshk08 can you kickstart this new getting started readme? Maybe you can add the troubleshooting section plus the problem you found, @abhiandthetruth you could then focus on the content of the first section (getting started). WDYT?

[2020-03-14 15:18] animeshk08 commented on #288
@valeriocos Sure I start with it! :)

[2020-03-14 15:18] valeriocos commented on #288
thanks @animeshk08

[2020-03-14 15:33] abhiandthetruth commented on #288
ok!

[2020-03-15 13:49] imnitishng commented on #287
@valeriocos hi thank you for the response. It worked, my ES instance was not reachable.
I just noticed my reply from mail did not get posted here. Sorry for the delay.

[2020-03-15 14:01] valeriocos commented on #287
@imnitishng no worries, thanks for answering!

[2020-03-15 19:24] animeshk08 commented on #288
Hello Everyone,
Anyone who is working on Microtask 8. A few issues I came across might help you:
* If you are trying to fetch the message from a group make sure it has `"download_archives": true` permission activated. This can be checked through [this](https://groups.io/api#get-permissions) API.
For more details check this issue: https://github.com/chaoss/grimoirelab-perceval/issues/586

* Some of

[2020-03-15 19:32] valeriocos commented on #288
Thank you for reporting this info @animeshk08 . Consider to add it to the troubleshooting section (https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#troubleshooting-).

Yes, this will be really useful, thanks!

[2020-03-15 19:36] animeshk08 commented on #288
Sure! I will get on with it! :)

[2020-03-15 22:49] animeshk08 commented on #288
Hi @valeriocos. I have completed the microtasks. Can you have a look at them :)
Here's my repo: https://github.com/animeshk08/gsoc-chaoss-microtasks
Thank you so much!! :rocket:

[2020-03-16 07:35] #299 closed

[2020-03-16 07:36] anujaagarwal commented on #286
Hello @valeriocos and everyone :)
My name is Anuja Agarwal and I would love to participate in this project. I hope it's not too late for this, so I will try my best. I am excited to learn as much as possible and push myself.

[2020-03-16 08:47] valeriocos commented on #288
@animeshk08 reviewed, we can discuss each microtask in the corresponding issue

[2020-03-16 08:59] Syn3rman commented on #257
Hey @valeriocos,

I'd like to start working on this if this is still available and relevant. What data does it make sense to fetch from the API?

Thanks

[2020-03-16 09:25] valeriocos commented on #286
Welcome on board @anujaagarwal ! Please start the microtasks and don't hesitate to write if you need help.

[2020-03-16 09:40] valeriocos commented on #257
Thank you for your interest @Syn3rman!

You can rely on the same structure of slack or mattermost. Thus, the backend should receive the pointer to a channel and fetch its messages. Good endpoints should be:
- https://rocket.chat/docs/developer-guides/rest-api/channels/history/
- https://rocket.chat/docs/developer-guides/rest-api/channels/info/
- https://rocket.chat/docs/developer-guides/rest-api/c

[2020-03-16 09:51] abhiandthetruth commented on #288
@valeriocos I have modified your script to list subscription so that now it lists all your subscription as well as whether the `download_archives` permission is true or false in your subscription. Everyone can  check it at https://gist.github.com/abhiandthetruth/b198e3b965f02f1742f2f7fa9f89df7c Shall we update the script in the README WDYT?

[2020-03-16 10:13] valeriocos commented on #288
Thank you @abhiandthetruth . Can improve the printed messages as follows?
[code]

Once the fix is done, I would update the original script with your content (at some point these scripts should be move to a dedicated repo, so the fixes will be easier to do)

[2020-03-16 10:14] abhiandthetruth commented on #288
On it!

[2020-03-16 10:17] valeriocos commented on #288
thanks!

[2020-03-16 10:29] abhiandthetruth commented on #288
updated!

[2020-03-16 10:36] valeriocos commented on #288
thanks @abhiandthetruth , I have updated the script https://gist.github.com/valeriocos/ad33a0b9b2d13a8336230c8c59df3c55

[2020-03-16 11:12] animeshk08 commented on #288
Thank you for the reviews!!

[2020-03-16 20:59] jsmanrique commented on #296
+1 to move to GitLab. The capability of using groups and subgroups, [issue boards](https://docs.gitlab.com/ee/user/project/issue_board.html) where all the issues of a group and subgroups can be managed together or by subgroup, the amazing [Web IDE](https://docs.gitlab.com/ee/user/project/web_ide/) that potentially eases the contribution process al lot, the awesome [markdown support](https://docs.g

[2020-03-17 03:59] samanthavenialogan commented on #288
Hey everyone,

Thank you so much for all of the fantastic work on the GSoC project
"Implementing the Social Currency Metrics System (SCMS)!"

I am so impressed with everyone's ideas and the level of communication that
came through.

Still, I also know that the SCMS project is a bit odd relative to other
GSoC or Outreachy projects, so before you submit your final proposals, the
other mentors and I

[2020-03-17 05:30] imnitishng commented on #287
Hi @valeriocos
I have been trying to run micro.py on a github [repo](https://github.com/bogoli/-folio).
My `projects.json` file looks like this
[code]

here is the `setup.cfg`
[code]

on running `micro.py `, I get a lot of these warnings
[code]

I think that is because panels have already been exported.
But as you see even after specifying panels ` github:pull` and `github:repo` I dont see any das

[2020-03-17 06:08] imnitishng commented on #287
Also one more thing, why don't I see any data attributes in Prosoul when creating a Quality Model,
![Screenshot from 2020-03-17 11-37-43](https://user-images.githubusercontent.com/35267629/76826956-bced7e80-6843-11ea-874f-37f92396144e.png)
Any help on this?

[2020-03-17 06:33] animeshk08 commented on #287
My projects.json file looks like this

I think the problem exists with your aliases,json file.

 Can check if the path is correct in your setup.cfg
[code]

Also, can you run the below command and give the output?
`curl http://localhost:9200/_aliases?pretty=true`

Did you use the below aliases.json file?
https://github.com/chaoss/grimoirelab-sirmordred/blob/master/aliases.json

[2020-03-17 08:01] valeriocos commented on #287
In reference to https://github.com/chaoss/grimoirelab/issues/287#issuecomment-599885556 and  to complement @animeshk08 comment, @imnitishng please uncomment the sections github, github:pull and github:repo in the projects.json

[code]

Please make sure you are using the latest master branch version of ELK and your aliases.json is up to date. Its content changed time ago (https://github.com/chaoss/

[2020-03-17 11:59] imnitishng commented on #287
Thank You @valeriocos  and @animeshk08. But as you said, my `aliases.json` file was up to date, I just cloned and installed ELK from master and running the `micro.py `script again has me stuck here, it has been ~10 minutes and I have tried this multiple times, still no luck.

[code]
This seems to happen whenever I specify `--backend github`
Only `--backend git ` works fine.
I have deleted all the

[2020-03-17 12:17] vchrombie commented on #287
Hi @imnitishng

I have some help. Just try if it works.
You can see if there are any logs created in the terminal in which you are running the elasticsearch like the below picture (right side).

![on the way](https://raw.githubusercontent.com/vchrombie/chaoss-microtasks/master/microtask-5/images/otw.png "PyCharm running the micro-mordred script")

Sometimes, it might take some time (>10 minutes).

[2020-03-17 12:24] imnitishng commented on #287
Oh okay thanks @vchrombie, I do see logs getting created. Guess I will wait more for the scripts to complete.

[2020-03-17 12:32] valeriocos commented on #287
Hi @imnitishng I understand you followed the instructions at https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#setting-up-a-pycharm-dev-environment- and you are using the source code of ELK. If this is the case, it should be easy to understand the problem. For instance you can add a breakpoint at https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/elast

[2020-03-17 12:37] imnitishng commented on #287
Okay thank you @valeriocos ! I will work on resolving this.

[2020-03-17 12:59] GeorgLink commented on #288
Hi Samantha and Dylan,

I think this is a great idea. I will join for sure.

Anyone interest working on this project idea for GSoC or Outreachy, I suggest you join as well because it is a great opportunity to meet your mentors and ask questions about your project proposal.

Best,
Georg

[2020-03-17 13:29] valeriocos commented on #288
Hi @samanthavenialogan , thank you for setting up the meeting. I plan to join it.

[2020-03-17 20:53] kshitij3199 commented on #285
Hi @valeriocos,
In the [test_git.py](https://github.com/chaoss/grimoirelab-elk/blob/3685d7d7366cc2ea8c7ba66bf08a683adfe97c56/tests/test_git.py) file, we don't have tests that checks [areas_of_code](https://github.com/chaoss/grimoirelab-elk/blob/3685d7d7366cc2ea8c7ba66bf08a683adfe97c56/grimoire_elk/enriched/git.py#L512) and [git_branches](https://github.com/chaoss/grimoirelab-elk/blob/3685d7d7366cc

[2020-03-18 07:07] Syn3rman commented on #257
Hey @valeriocos,
I've started implementing the feature [over here](https://github.com/Syn3rman/grimoirelab-perceval/blob/master/perceval/backends/core/rocketchat.py) and the progress is as follows:

- [x] Add backend to fetch messages from a RocketChat server.
- [ ] Run tests
- [ ] Get channel info from channels.info

I also haven't yet looked at how ssl_verify works so I'll do that too. Is there

[2020-03-18 09:11] valeriocos commented on #257
That's a great news @Syn3rman ! Please open a PR (as draft if you want), so it will be easier to check the evolution of this work.

`ssl_verify` allows to enable/disable SSL verification. In same cases, it is useful (for instance), when dealing with private instances of gitlab and github.

[2020-03-18 09:14] valeriocos commented on #285
Hi @kshitij3199 , good idea! thanks! Maybe you can start with areas of code, the test should be similar to https://github.com/chaoss/grimoirelab-elk/blob/master/tests/test_git.py#L236

[2020-03-18 14:56] imnitishng commented on #287
Hi @valeriocos and @vchrombie with reference to https://github.com/chaoss/grimoirelab/issues/287#issuecomment-599894721, I am still facing the problem in Prosoul, I see no data in the drop down menu. What could be the problem?

[2020-03-18 15:55] valeriocos commented on #287
Sorry @imnitishng I missed that message. Did you follow the instructions at https://github.com/valeriocos/prosoul-input-data? I don't see the scava-metrics index at https://github.com/chaoss/grimoirelab/issues/287#issuecomment-599894721

[2020-03-18 17:45] valeriocos commented on #260
Hi @Pretice , sorry for the late reply. Did you have time to check if the error is gone on your side?

[2020-03-18 18:22] kshitij3199 commented on #285
Hi @valeriocos ,
I am writing test for areas_of_code, and I am facing a issue.

  File "test_git.py", line 291, in test_enrich_areas_of_code
    study(ocean_backend, enrich_backend)
  File "../grimoire_elk/enriched/git.py", line 543, in enrich_areas_of_code
    for source in self.json_projects.values():
AttributeError: 'NoneType' object has no attribute 'values'

the issue is that value of [self.j

[2020-03-19 03:53] heming6666 commented on #285
Hi, I am Haiming Lin, a student at Tongji University. I am very interested in working on this idea.

I have a question when going through the code of [sirmordred.py](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/sirmordred.py#L323). As is shown below, it calls the `execute_batch_tasks` function with the same params **twice**. Is there any specific reason for that ?
[code]

[2020-03-19 08:33] valeriocos commented on #285
Thank you @heming6666 for your interest. That part of the code isn't really used, since the attribute `update` in setup.cfg is generally set to `True`. Please open an issue on sirmordred, and we can move the discussion there, thanks!

[2020-03-19 08:35] valeriocos commented on #285
@kshitij3199 can you share your code by opening a pull request on ELK (I'll try to reproduce the error)? Thanks

[2020-03-19 10:18] kshitij3199 commented on #285
Hi @valeriocos ,
I have send a pull request chaoss/grimoirelab-elk#811.
please check

[2020-03-19 10:25] heming6666 commented on #285
Thank you @valeriocos  for you reply. I hava moved the discussion to [here](https://github.com/chaoss/grimoirelab-sirmordred/issues/435).

[2020-03-19 10:36] imnitishng commented on #287
Yes thanks @valeriocos, I was able to create and import quality model to kibiter, but don't know why kibiter does not show any visualizations, can you check if the way I am creating my quality model is correct.

![Screenshot from 2020-03-19 16-04-45](https://user-images.githubusercontent.com
/35267629/77058398-6460e180-69fb-11ea-859b-8127adf4e5f1.png)
Using this from scava-metrics index.

![Screen

[2020-03-19 12:38] valeriocos commented on #288
@GeorgLink @samanthavenialogan are you joining the meeting? I'm in https://unomaha.zoom.us/j/720431288 with @animeshk08 @ria18405 and Haiming Lin

[2020-03-19 13:40] abhiandthetruth commented on #288
@valeriocos is there a parameter like `sleep-for-rate` for groupsio, if not shall I work on one, I'l implement the exponential backoff in case 429 occurs that is too many requests

[2020-03-19 14:10] valeriocos commented on #287
Sorry for the late reply @imnitishng, I would say that the metric you used is empty.

Please make sure you are using non-empty metrics. If you want to inspect the values of a metric you can rely either on the discover within your Kibiter or the dashboard at http://crossminer.bitergia.net/app/kibana#/dashboard/ScavaProject

Let me know how it goes, thanks

[2020-03-19 14:23] samanthavenialogan commented on #288
Hey so the meeting happened on Wednesday night for me and unfortunately
only georg and Dylan were there.  I think we may have gotten mixed up.  Do
you want to reschedule? I am all for trying again.

Call me for your free consultation! 307 274 5516

On Thu, Mar 19, 2020, 6:38 AM valerio <notifications@github.com> wrote:

[2020-03-19 14:35] GeorgLink commented on #288
We had a large meeting today with ~8 participants. I think we covered all of the questions about SCMS and the process. It was unfortunate that you and Dylan weren’t there, but I think it’s fine. If you do want to schedule another meeting, we can certainly do that.

[2020-03-19 14:43] valeriocos commented on #288
Thank you @abhiandthetruth for the suggestion. Feel free to give it a try, however note that the doc for that API isn't that good (https://groups.io/api#archives), good luck :)

[2020-03-19 14:44] valeriocos commented on #288
No worries @samanthavenialogan, I'm fine if you want to reschedule the meeting.

[2020-03-20 14:03] abhiandthetruth commented on #288
@valeriocos, the api is still not mature, guess we need to wait until it becomes one. The rate limit for download archive is said to be [`one call per person per group every 24 hours`](https://groups.io/api#download-archives), which is AFAIK not the case I was able to download the archive many times over.

[2020-03-20 14:10] valeriocos commented on #288
Ok, @abhiandthetruth thank you for giving it a try and for the info :)

[2020-03-20 15:05] imnitishng commented on #287
Hi @valeriocos sorry for the late reply but as you can see in https://github.com/chaoss/grimoirelab/issues/287#issuecomment-601107521 image 1 I query the scava-metrics index and select metric ID `newsgroups.cumulativeNewThreads` mentioned in line number 23. Which has some data in the form of dates as far as my understanding goes.

So settting this as metic in Prosoul should work fine? If this is n

[2020-03-20 15:58] samanthavenialogan commented on #288
No need to reschedule if the meeting went well :) If anyone would like to
meet Dylan and I let us know and we're more than happy to make it work ^^

Samantha Venia Logan
Co-Founder of SociallyConstructed.Online
307-274-5516  | samantha@SociallyConstructed.Online
6715 Autumn Ridge Dr. Unit 2, Fort Collins CO., 80525

Call me for a free marketing consultation! 307-274-5516

<https://www.avast.com/si

[2020-03-20 16:44] valeriocos commented on #287
No worries @imnitishng . Yes, it contains some data, but from the image I see that the number of threads is always 0 (the content of `datatable` in your image).

Can you create a simple visualization to make sure that `Threads` is sometimes different from 0? Please also consider to use other metrics (e.g., docker smells)

Thanks

[2020-03-20 16:47] imnitishng commented on #287
Okay thanks @valeriocos, will update once done.

[2020-03-20 18:33] samanthavenialogan commented on #288
I look forward to seeing everyone's proposal ^^ Let us know if there's anything more we can do to make this easy for you.

[2020-03-21 14:59] Pretice commented on #260
Sorry for replying so late. I have tried the lastest version 0.2.39 by using **docker run** to analyze data in **grimoirelab-toolkit**, and the configuration is the same as before. Unluckily, I still can only see results of **Git**, and there is no results of **GitHub Issuses** and **GitHub PRs**. What's more, I can't connect to "http://127.0.0.1:9200/_cat/indices?pretty".

[2020-03-22 08:15] valeriocos commented on #260
No worries @Pretice , thank you for answering!

Can you try to use the docker-compose version (https://github.com/chaoss/grimoirelab#using-docker-compose)? The error you see with the aliases is due to a recent change in the format of the aliases.json (https://github.com/chaoss/grimoirelab-sirmordred/commit/b6fa5962bfc5dcb7cc779a71586d91c92f3a7057#diff-b6d56075b6e9c4f45704f37afc64257e).

Thanks

[2020-03-22 09:18] Pretice commented on #260
@valeriocos , thank u. I just tried the docker-compose version, but the results were the same as using docker run, there was no results of GitHub issues and GitHub PRs. Using docker-compose, I can connect to "http://127.0.0.1:9200/_cat/indices?pretty", but the index github_demo_enriched is still empty:
[code]
BTW, I haven't mentioned the error with aliases before. Do you mean about connect to "htt

[2020-03-22 09:36] Pretice commented on #260
@valeriocos ,  when I used the `docker-compose`,  the configuration is as follows：
`projects.json: `
[code]
`setup.cfg: `
[code]

[2020-03-22 11:48] valeriocos commented on #260
You're welcome @Pretice, and thank you for your quick reply! I'm checking the possible reason why you don't have GitHub data. ATM, I'm not able to replicate your issue. I'll keep you posted (sorry for the inconvenience)

Sorry for not being clear, yes the error you reported should be related to the changes in the aliases.json.

I see that the file at https://github.com/chaoss/grimoirelab/blob/mast

[2020-03-22 14:16] Pretice commented on #260
@valeriocos After changing the format of the `aliases.json`, I still cant't connent to "http://127.0.0.1:9200/_cat/indices?pretty" when using `docker run`.
When I use command `curl http://127.0.0.1:9200/_cat/indices?pretty`, it shows:
[code]

[2020-03-22 15:08] imnitishng commented on #285
Hi @valeriocos, can you tell which library is required to be implemented as stated here?

Is it the elasticsearch-py library or something like httpx library

[2020-03-22 15:24] ria18405 commented on #288
Hi @valeriocos
I've completed the Microtasks! Please have a look at it whenever you get time!
Microtasks repo link- https://github.com/ria18405/Microtasks
Thanks :)

[2020-03-22 15:31] abhiandthetruth commented on #288
@valeriocos my Microtask-8 too, please :).

[2020-03-22 18:19] valeriocos commented on #260
Can you check that the logs of your ES container are free from the message:
`max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]`?

The following troubleshooting section should help you to fix this: https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#low-virtual-memory-

If this doesn't fix the error, can you share the logs of you

[2020-03-22 18:21] valeriocos commented on #285
The idea is to use elasticsearch-py, however if you find other good candidates don't hesitate to add them to your proposal and/or share them here. Thanks!

[2020-03-22 18:23] imnitishng commented on #285
But I've seen elasticseach-py and elasticsearch-dsl already being used in the project.
And since it mentions requests so maybe we need a better faster asynchronous HTTP library like aiohttp? Is that not the objective?

[2020-03-22 18:40] valeriocos commented on #285
That's true, but there are still some parts of the code that rely on `requests`. One of the goal of this idea is to reduce the logic that interacts with ElasticSearch. Good candidates are elasticseach-py and elasticsearch-dsl because they provide already some high-level methods (that remove boilerplate code)

Any library (Aiohttp or other ones) can be good a candidate if it performs better than re

[2020-03-22 18:43] imnitishng commented on #285
Hi and also wanted to know about the ODFE implementation, everywhere throughout grimoirelab I've seen Elasticsearch version 6.1 being used

Project demands working of ODFE, wanted to know what the current progress with Elasticseach and ODFE is, this [PR](https://github.com/chaoss/grimoirelab-elk/pull/716) adds Support for  using ODFE 1.2.0 without Kibiter panels, so what exactly does this demand.

[2020-03-22 18:58] valeriocos commented on #285
Hi @imnitishng ! ODFE is supported by ELK (https://github.com/chaoss/grimoirelab-elk/blob/master/.travis.yml#L123), but not by panels.

I need to fix this panels and other issues for correct working of Elasticseach 7.2.0 and ODFE 1.2.0 or do we start over with a new approach to support ODFE 0.10.0 with Elasticseach 6.8.1.

This is something that should be discussed/evaluated at the beginning of th

[2020-03-22 20:56] imnitishng commented on #285
aiohttp allows sending requests in series but without waiting for the first reply to come back before sending the new one unlike requests along with many other decoding optimizations.
The below results were obtained sending request to `httpbin.org`.
[code]

[2020-03-22 21:03] kshitij3199 commented on #285
Hi @valeriocos,
In GSoC proposal, can you please tell what all things we have to mention apart form MicroTasks.

Do we have to discuss the libraries that we will use to interact with ElasticSearch and other things like how we will Improve the processing of Perceval data.

[2020-03-22 21:41] Samiratu commented on #286
Hello My name is Samiratu, I am applying for Outreachy 2020 and I will like to work on this project.

[2020-03-23 07:58] valeriocos commented on #286
Hi @Samiratu , welcome on board! Please start with the microtasks and don't hesitate to write if you need help/feedback!

[2020-03-23 08:59] valeriocos commented on #285
Hi @kshitij3199 !

Yes, the proposal should include the libraries/technologies you would like to use and a plan (with a timeline of actions/tasks) to achieve the goals of the project. For instance:
- understand ELK's architecture
- identify where the library requests is used
- replace the use of the library requests in the ELK module XYZ with <another-library>
- identify where the data is processe

[2020-03-23 10:14] kshitij3199 commented on #285
Thankyou @valeriocos,
I will soon upload my GSoC proposal (so that we discuss and update it if required)

[2020-03-23 10:36] valeriocos commented on #285
You're welcome @kshitij3199

[2020-03-23 15:24] Pretice commented on #260
I used the command before using `docker run`:
[code]
But I can't connect to to 127.0.0.1 port 9200.
 I check the logs and they are:
[code]