[2021-03-25 06:49] No6-start commented on #413
I've tested some content, and now there are a few questions.
1. I turned on enrich_ git_ Branches, but you don't see the contents of the branches
2. According to project.json The contents in the file do not show merge and issue, but only commit.

[2021-03-25 13:55] WasimAkhtarKhan commented on #414
Hi @vchrombie
While executing Micro-Mordred
`--raw --enrich --cfg ./setup.cfg` this configuration works fine.
But after `--panels` this configuration it is giving an error
![Screenshot from 2021-03-25 19-20-21](https://user-images.githubusercontent.com/50516723/112483804-5fb5d280-8d9f-11eb-8b0d-13668176ef28.png)

[2021-03-25 15:25] vchrombie commented on #414
Hi @WasimAkhtarKhan, can you confirm the full command which you are trying to execute?

The configuration should be something like
Script path: path of the micro.py
Parameters:  `--panels --cfg ./setup.cfg --backends git` (since you need only panels)

We can have a quick chat incase if it is not solved.

[2021-03-25 16:28] WasimAkhtarKhan commented on #414
Yes I used this only
![Screenshot from 2021-03-25 21-57-40](https://user-images.githubusercontent.com/50516723/112508069-3a33c380-8db5-11eb-8354-7c0b02fc99ed.png)

[2021-03-25 16:32] vchrombie commented on #414
@WasimAkhtarKhan

I see you have mentioned only `--panels` in the parameters. Please add the full configuration. It should be `--panels --cfg ./setup.cfg --backends backend-name`.

[2021-03-25 16:37] WasimAkhtarKhan commented on #414
Ok
I tried from [https://github.com/chaoss/grimoirelab-sirmordred#micro-mordred-](url)
Sorry

[2021-03-25 16:49] rohanreddych commented on #414
Hello @vchrombie I think we need to improve the error message here.
https://github.com/rohanreddych/grimoirelab-sirmordred/blob/b9686e874b49270ceefae1e3286eed4dcffa4248/sirmordred/task_panels.py#L277

Should i start working on this?

[2021-03-25 17:10] vchrombie commented on #414
No problem @WasimAkhtarKhan, please let me know if that solved the issue.

https://github.com/rohanreddych/grimoirelab-sirmordred/blob/b9686e874b49270ceefae1e3286eed4dcffa4248/sirmordred/task_panels.py#L277

Interesting. @rohanreddych, would you be interested to submit a PR for it?

[2021-03-25 17:21] WasimAkhtarKhan commented on #414
![Screenshot from 2021-03-25 22-25-03](https://user-images.githubusercontent.com/50516723/112514590-7bc76d00-8dbb-11eb-8f04-12495fa1acba.png)
Yea It solved it.
I tried many things to solve that issue myself.
Your reply motivates me Thanks @vchrombie

[2021-03-26 08:10] vchrombie commented on #413
Hi @No6-start

The projects.json file looks fine to me. If the data is still not visible, there must be a problem with the setup.cfg file. It would be great if you can share the sanitized version of it.
[code]

These are the indexes where the elasticsearch documents are stored. Earlier you had the wrong configuration, so please delete them so that Mordred will start from scratch. Please check this

[2021-03-26 08:56] No6-start commented on #413
The attachment is mine setup.cfg , I deleted in_ issues_  demo_  raw、gitlab_  issues_  demo_  enriched、gitlab_  merges_  demo_  raw、gitlab_  merges_  Demo, but the page displays an error:
Couldn't find any Elasticsearch data
You'll need to index some data into Elasticsearch before you can create an index pattern. Learn how or get started with some sample data sets.

[setup.txt](https://github.com/

[2021-03-26 11:27] vchrombie commented on #413
Hi @No6-start, I see that some of the configurations are missing, including the gitlab index names, from the setup.cfg file.

I added back them here, please check it and let us know.
[code]

[2021-03-26 11:41] Rashmi-K-A commented on #415
@sduenas @vchrombie   Am I correct in thinking that there would be more reads than writes for organizational data?
Since we need to be holding hierarchical data inside a relational DB, I want to make sure I am thinking of the right model to store the data in terms of efficiency.

[2021-03-26 11:58] sduenas commented on #415
Yes, that's right.

In any case, think of we have implemented everything with Django so far. That means you'll need to use the framework and the ORM it uses to map data and tables. Queries can be performed directly with SQL but it'll be better if we use Django API for doing that.

[2021-03-26 15:43] rohanreddych commented on #414
[code]

@vchrombie , facing this error. Did I forget to do any step?

[2021-03-27 05:33] WasimAkhtarKhan commented on #414
Maybe this would help you https://stackoverflow.com/questions/66009247/sqlalchemy-warning-for-many-to-many-relation-with-association-table
@rohanreddych

[2021-03-27 05:44] WasimAkhtarKhan commented on #414
I am facing this error @vchrombie after running `./manage.py makemigrations --settings=config.settings.devel`

File "/home/wasim/.cache/pypoetry/virtualenvs/sortinghat-z07j1bw2-py3.8/lib/python3.8/site-packages/MySQLdb/connections.py", line 204, in   __init__
    super(Connection, self).__init__(*args, **kwargs2)
django.db.utils.OperationalError: (1045, "Access denied for user 'root'@'localhost' (

[2021-03-27 05:57] vchrombie commented on #414
Hi @rohanreddych, looks like there is some issue with sortinghat. The error comes from here, [sortinghat_gelk.py#L74](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/sortinghat_gelk.py#L74). Do you have MySQL/MariaDB installed on your machine? If yes, then there should be something wrong with the configurations.
Can we have a quick chat sometime later today? I'm free af

[2021-03-27 06:00] rohanreddych commented on #414
Yes, I have mysql installed. I do `sudo service mysql stop` then do `docker-compose up` so that there wont be any errors in ports.

How?

[2021-03-27 06:11] vchrombie commented on #414
Hi @WasimAkhtarKhan, it looks like a db connection issue. You have to update the `config/settings/devel.py` file with the password of the MySQL service. [devel.py#L102](
https://github.com/chaoss/grimoirelab-sortinghat/blob/muggle/config/settings/devel.py#L102).

[2021-03-27 06:14] vchrombie commented on #414
We can connect at `#grimoirelab` at [Freenode](http://freenode.net/). I will be there at 15:00 IST.

[2021-03-27 06:22] WasimAkhtarKhan commented on #414
Ok @vchrombie
I will do that
Thanks

[2021-03-27 14:28] rohanreddych commented on #414
Hello @vchrombie , I installed mariadb
[code]
I tried running `micro.py --raw --enrich --cfg ./setup.cfg --backends git`, sortinghat throwed a `database not found error: test_sh database not found` So, i created a database `test_sh`.

Tried running again, which gave the following error:
[code]

[2021-03-29 02:52] vchrombie commented on #414
Hi @rohanreddych, the logs look fine to me.

You can check if the indexes are created using `curl`. (I assume you are using the searchguard version, if not please change the es URL).
[code]

You can execute the micro-mordred with the `--panels` flag to activate the panels task so that the dashboards are created and you can check them in kibiter `http://localhost:5601`.
[code]

[2021-03-29 02:52] No6-start commented on #413
[gir.zip](https://github.com/chaoss/grimoirelab/files/6218904/gir.zip)
1. The attachment is my configuration and log. I found that only git exists on the page, without merge and issue.
2. And I found that the latest submission record was on March 4, and I submitted it every day in March.

[2021-03-29 03:14] vchrombie commented on #413
Hi @No6-start, I'm sorry for the inconvenience caused.

I missed `category` configuration for the `gitlab:issue` and `gitlab:merge` in the https://github.com/chaoss/grimoirelab/issues/413#issuecomment-808138649. I think this is the reason why the data is not being fetched. Sorry, my bad.

setup.cfg
[code]

Can you update the setup.cfg file and restart the docker-compose? Make sure you run the `sys

[2021-03-29 03:28] No6-start commented on #413
Sorry, I rebuilt docker compose, but I still don't have merge and issue content
![20210329112745](https://user-images.githubusercontent.com/54304180/112783392-ced24600-9081-11eb-9b98-e1e320b01582.png)

[2021-03-29 03:33] vchrombie commented on #413
Hi @No6-start, can you connect at `#grimoirelab` at [Freenode](http://freenode.net/) for a quick chat?

[2021-03-29 04:16] No6-start commented on #413
yes

[2021-03-29 04:16] No6-start commented on #413
I can try

[2021-03-29 04:43] vchrombie commented on #413
I will be available for the next 4 hours.
Thanks.

[2021-03-29 06:25] No6-start commented on #413
How can I join your channel in freenode

[2021-03-29 08:24] No6-start commented on #413
Two hours later, I saw the merge data. I think the configuration is correct. Thank you

[2021-03-29 08:34] No6-start commented on #413
Two hours later, I saw the merge data. I think the configuration is correct. Thank you. Can merge be divided into multiple branches

[2021-03-29 08:53] No6-start commented on #413
Have you considered adding another language version?

[2021-03-29 12:19] vchrombie commented on #413
Hi @No6-start

Oh, that's great news!
It would be great to close this issue if your query is resolved. You can open another one later if needed.

Right now, this information is available only in the raw index (`source_branch` and `target_branch`), but not propagated to the enriched index.

See below a Perceval document generated by the gitlab backend (category: merge_request).
[code]

The gitlab e

[2021-03-29 16:24] rohanreddych commented on #414
This error was caused by using wrong version of SQLAlchemey, please use >1.2 and <1.4

This error can be resolved using this https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#empty-index- .

[2021-03-30 09:52] rohanreddych commented on #414
@sduenas , @evamillan, @mafesan
Can you please explain a little more about the project? I was looking at the recommendations/engine.py currently, affiliations and profile matching are implemented, and there are plans to implement gender recommendations (#471). What other recommendations are to be implemented

[2021-03-30 17:26] sduenas commented on #414
The main purpose of the idea is to have useful recommendations for the system.

The first problem we want to address is which recommendations we really need. Right now, we have those you mentioned but maybe they need to be reformulated. For example, the current recommendations for affiliations answer the question of "at what organization do these people work?" but maybe it's more useful to answer

[2021-03-31 03:12] No6-start commented on #413
Sorry, I didn't understand the example of Perceval document. I didn't find the relevant JSON rules on the page

[2021-03-31 08:23] vchrombie commented on #414
Hi everyone, the student application period has started and the deadline is 13 April 2021, 18:00 UTC. [GSoC Timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline)

Please continue working on the proposal and complete as many microtasks as possible. Please let us know if you need any help with doubts or reviewing the microtasks.
Thanks!

[2021-03-31 08:23] vchrombie commented on #415
Hi everyone, the student application period has started and the deadline is 13 April 2021, 18:00 UTC. [GSoC Timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline)

Please continue working on the proposal and complete as many microtasks as possible. Please let us know if you need any help with doubts or reviewing the microtasks.
Thanks!

[2021-04-01 06:43] No6-start opened #418 "Have you considered adding other languages?"

[2021-04-01 11:15] vchrombie commented on #413
Sorry for the late reply, @No6-start

Perceval is the grimoirelab component that retrieves data from the data sources like GitLab. You can learn more about it from the [chaoss/grimoirelab-perceval](https://github.com/chaoss/grimoirelab-perceval) repository.

You can find the example for running the [gitlab perceval backend](https://github.com/chaoss/grimoirelab-perceval#gitlab) to fetch `issue` an

[2021-04-01 13:50] vchrombie commented on #418
Hi @No6-start, thanks for opening the issue. I am not sure if translations were ever discussed previously, at least to my knowledge.

When you are talking about translations, I assume you are talking about the end result of the Grimoirelab i.e, the visualizations. As of now, I don't think we have the support for other languages and we don't have it on the nearby [roadmap](https://github.com/chaoss

[2021-04-01 16:09] SteveKola commented on #414
Hello @sduenas,

According to the GSOC page, the program would hold for two months. 10 weeks, to be exact.
But you said the project would last for a month. Is there a mixup at somewhere or something?

[2021-04-01 16:09] SteveKola commented on #414
Hello @sduenas,

According to the GSOC page, the program would hold for two months. 10 weeks, to be exact.
But you said the project would last for a month. Is there a mixup at somewhere or something?

[2021-04-02 05:43] vchrombie commented on #414
The program has changed a bit. I will post the brief timeline here, to avoid any confusion.

Student Application Period: March 29, 2021 - April 13, 2021
Application Review Period: April 13, 2021 - May 17, 2021
Student Projects Announced: May 17, 2021
Community Bonding: May 17, 2021 - June 7, 2021
Coding Period: June 7, 2021 - August 16, 2021
Mid Evaluations: July 12 - 16, 2021
Students Submit Code

[2021-04-03 09:33] SourabhSaraswat-191939 commented on #416
@vchrombie is their any restriction to select a provider in OpenID or i can select Google as per my priority for OpenID connect .

[2021-04-03 15:29] HousewifeHacker opened #420 "Update Tutorial link to an example dashboard"
The Tutorial includes an example dashboard image with a link for [OPNFV Development Dashboard](https://opnfv.biterg.io/). When clicking the link, the dashboard is not available.

[2021-04-03 15:53] vchrombie commented on #420
Hi @HousewifeHacker, thanks for opening the issue. We have identified this and we have a PR https://github.com/chaoss/grimoirelab-tutorial/pull/153 which fixes it.

You can visit [CHAOSS Dashboard](https://chaoss.biterg.io) if you are interested to have a look at GrimoireLab.
Thanks.

[2021-04-08 11:59] SourabhSaraswat-191939 commented on #416
@vchrombie , i have one Doubt that is as per this GSoC idea we have to implement roles/permissions for users , but django already provides us this feature in his admin panel in the form of groups and permissions . So what the work we have to do during this idea .
Does we have to make this roles/permissions from scratch by designing database , logic and all?  Or we have to work on django roles/perm

[2021-04-08 14:17] sduenas commented on #416
@SourabhSaraswat-191939 That's up to you and it's part of your proposal. If we can use django functionalities, that will be a very good option but it doesn't mean it's the only one. You can come up with an alternative that works better than Django's roles and groups for our case. You just need to explain what your solution is better than others.

Keep in mind that the idea is to have those roles s

[2021-04-08 16:04] SourabhSaraswat-191939 commented on #416
Ok @sduenas ,
I will prefer to go with most optimize and secure approach to come with the best solution for this .

[2021-04-09 02:29] No6-start opened #421 "In the column of gitlab merge, only front has data; but in git, all three projects have data"
{
    "front": {
      "meta:": {
        "title": "front"
      },
      "git":[
            "http://phU-DaG9zSKGTvsz5BH4:phU-DaG9zSKGTvsz5BH4@xxx.xx.com/front/owss.git",
	    "http://phU-DaG9zSKGTvsz5BH4:phU-DaG9zSKGTvsz5BH4@xxx.xx.com/front/webchat.git",
	    "http://phU-DaG9zSKGTvsz5BH4:phU-DaG9zSKGTvsz5BH4@xxx.xx.com/front/acti.git",
	    "http://phU-DaG9zSKGTvsz5BH4:phU-DaG9zSKGTvsz5BH4@xxx.

[2021-04-09 06:58] vchrombie commented on #421
Hi @No6-start, thanks for opening the issue.

The `projects.json` file is valid but I see there are a lot of projects. So, make sure you have sufficient memory. Also, it would definitely take a lot of time to fetch the data.

If you see the gitlab merge data, I'm sure there is no other issue. I guess it should be taking a lot of time for fetching the data. Either way, it would be great if you can

[2021-04-09 07:00] vchrombie commented on #413
@No6-start
Since the issue is resolved, it would be great if you can close this issue.

[2021-04-09 07:18] No6-start commented on #421
How to configure my memory

[2021-04-09 07:53] zhquan commented on #421
Hi @No6-start

Only the sources on `gitlab:merge` from the project `front` are correct.

You have to remove the `.git` extension from `gitlab:merge`. This extension only works for `git`.

Best,
Quan

[2021-04-09 08:07] vchrombie commented on #421
Ah, that's right. I missed it, my bad. Thanks for correcting @zhquan.

[2021-04-09 08:10] No6-start commented on #421
I rewrote my example, should I?

{
    "front": {
      "meta:": {
        "title": "front"
      },
      "git":[
        "http://phU-DaG9zSKGTvsz5BH4:phU-DaG9zSKGTvsz5BH4@xxx.xx.com/front/owss.git",
        ],
        "gitlab:merge":[
            "http://xxx.xx.com/front/owss",
        ]
    },
    "core": {
      "meta:": {
        "title": "core"
      },
      "git":[
        ],
        "gitl

[2021-04-09 08:15] vchrombie commented on #421
@No6-start
As @zhquan suggested, you have to remove _`.git`_ from the `gitlab:merge` items. You can add _`.git`_ to only `git` items.
[code]

Using the configuration of https://github.com/chaoss/grimoirelab/issues/421#issuecomment-816503407
[code]

[2021-04-09 08:17] No6-start commented on #421
Thank you. I just found this problem

[2021-04-09 09:00] No6-start opened #422 "Because the server could not access, a route was deleted, and now there is no content on the page"
Why can't I upload the gitlab attachment, I posted my error log?

[2021-04-09 09:01] No6-start commented on #422
2021-04-09 09:00:12,201 - grimoire_elk.enriched.git - INFO - [git] study areas_of_code Processing repo: http://git.1an.com/front/owss.git
2021-04-09 09:00:12,211 - grimoire_elk.enriched.ceres_base - INFO - [git] study areas_of_code reading items since the beginning of times
2021-04-09 09:00:12,214 - elasticsearch - WARNING - GET http://elasticsearch:9200/git_demo_raw/_search?scroll=300m&size=500 [

[2021-04-09 10:01] zhquan commented on #422
Hi @No6-start

[code]
When you execute the first time the git study `enrich_areas_of_code` the index is empty and it does not contain any mapping. You can execute again or just wait for the next execution and you will not see this error. Any way this error does not affect `gitlab`

[code]
This is a warning, but make sure that your token can access the repo `http:xxx/core/exweb`

Search for `gitlab

[2021-04-12 02:52] No6-start commented on #422
I rebooted my server, and I rebooted my grimoirelab. After a few minutes, the log did not refresh
[Uploading all.log…]()

[2021-04-12 07:50] zhquan commented on #422
Hi @No6-start

[code]
Your `projects.json` is not valid. You can validate it via online as https://jsoneditoronline.org/

Best,
Quan

[2021-04-12 08:21] No6-start commented on #422
[all.log](https://github.com/chaoss/grimoirelab/files/6295000/all.log)
There's still nothing on the page

[2021-04-12 09:18] zhquan commented on #422
@No6-start
### GITLAB
[code]
Your server (git.1an.com) close the connection.

Anyway, check with [Perceval](https://github.com/chaoss/grimoirelab-perceval) if your TOKEN is correct
[code]
You can run it on the `mordred` container. To enter into the container run the next command.
[code]
### GIT
[code]
It seems that your credentials is not working or the repo does not exist.
Try to clone the repo
[

[2021-04-12 12:55] vchrombie commented on #414
Thanks to everyone who showed interest in applying for this idea and worked on making a proposal and the microtasks. It was great working with you.

As the final steps, please make sure you submit your proposal on the [Google Summer of Code website](https://summerofcode.withgoogle.com/) and you also need to open a PR adding your name and details to the [GSoC-interest.md](https://github.com/chaoss/

[2021-04-12 12:55] vchrombie commented on #415
Thanks to everyone who showed interest in applying for this idea and worked on making a proposal and the microtasks. It was great working with you.

As the final steps, please make sure you submit your proposal on the [Google Summer of Code website](https://summerofcode.withgoogle.com/) and you also need to open a PR adding your name and details to the [GSoC-interest.md](https://github.com/chaoss/

[2021-04-12 12:55] vchrombie commented on #416
Thanks to everyone who showed interest in applying for this idea and worked on making a proposal and the microtasks. It was great working with you.

As the final steps, please make sure you submit your proposal on the [Google Summer of Code website](https://summerofcode.withgoogle.com/) and you also need to open a PR adding your name and details to the [GSoC-interest.md](https://github.com/chaoss/

[2021-04-12 16:59] sduenas commented on #420
Fixed by https://github.com/chaoss/grimoirelab-tutorial/pull/153

[2021-04-12 16:59] #420 closed

[2021-04-13 06:10] No6-start commented on #422
I found that only part of the data is displayed in merge. I should have thousands of merges, but the number displayed is very small.

[2021-04-13 07:33] zhquan commented on #422
@No6-start - have a look your logs if you see any error related to `gitlab:merge`. And make sure that the alias is pointing the correct enriched index `GET _cat/aliases`

[2021-04-13 08:54] No6-start commented on #422
I found that the GIT and merge data displayed on the page are not the whole content. What is the reason for this

[2021-04-13 09:06] No6-start commented on #422
Am I using the right configuration?
`[gitlab:merge]
category = merge_request
api-token = phU-DaG9zSKGTvsz5BH4
enterprise-url = http://xxx
raw_index = gitlab_merges_demo_raw
enriched_index = gitlab_merges_demo_enriched
no-archive = true
sleep-for-rate = true
`

[2021-04-13 10:12] zhquan commented on #422
@No6-start - yes the configuration is correct.

Well, a nutshell is when Mordred fetches the items it will store in the `raw_index` and when Mordred processes those items it will store in the `enriched_index`. Then the dashboard will show the content of the enriched indexes.

The time picker is `Lasts 5 years`? and have a look if you add some filters on the dashboards

[2021-04-13 10:19] #421 closed

[2021-04-14 06:38] No6-start commented on #422
Page selection was five years ago, but there are 8K merges in gitlab and only 800 on the page. Why

[2021-04-14 07:50] zhquan commented on #422
@No6-start - I cannot help you if I don't have logs, indexes, or any other information.

You can check these:
- if the merges in your dashboard are the newest or the oldest.
- If there are any errors in your logs.
- If you are missing the merges from `http://git.1an.com/midl/dysub` or `http://git.1an.com/core/nclm`.

[2021-04-14 08:06] No6-start commented on #422
The page shows that there are some merging records every month, but when it is adjusted to 30 days, only some are displayed, but my gitlab has merging records every day. The log is the content after the application is started until the merge record is generated.
[all.log](https://github.com/chaoss/grimoirelab/files/6309162/all.log)

[2021-04-14 12:09] zhquan commented on #422
@No6-start

You have a lot of connection errors. Each time you receive this error, the collection phase for that repository will stop and continue to the next one. Your server closes the connection when Mordred makes queries to get the merge info. I do not know the limit of the requests of your server.

[code]
Anyway if you let Mordred still executing it will fetch all of them, due to Mordred fetc

[2021-04-15 00:46] No6-start commented on #422
How should I adjust

[2021-04-15 08:02] zhquan commented on #422
@No6-start - You can let Mordred keep running and it will fetch them all (I don't know how long it will take). Or increase the request limit on your server.

[2021-04-15 08:22] No6-start commented on #422
How can I increase the maximum number of requests on the server？

[2021-04-15 08:40] zhquan commented on #422
@No6-start - your GitLab server
[code]

[2021-04-16 08:55] No6-start commented on #422
How can I handle this exception? Can I ask the app to only get this year's records

[2021-04-16 09:08] zhquan commented on #422
@No6-start

Yes, add the parameter `from-date = 2021-01-01` to `gitlab:merge` on your `setup.cfg`.
[code]

[2021-04-16 09:09] No6-start commented on #422
Is it possible to reduce the pressure by changing the time to this year

[2021-04-16 09:15] zhquan commented on #422
Well, it depends on how many merges you have since 2021-01-01, but yes for sure.

[2021-04-16 22:21] martinweihrauch opened #423 "Docker run/ docker compose fails"
Hi everyone!
I installed a fresh ubuntu on VirtualBox an followed your instructions in the https://github.com/chaoss/grimoirelab/blob/master/README.md

However, either the **docker-compose fails**:
root@gitanalyzer:/home/smartinmedia/grimoirelab/docker-compose# docker-compose up -d
Creating network "docker-compose_default" with the default driver
Pulling mariadb (mariadb:10.0)...
ERROR: Get https:

[2021-04-16 22:52] #423 closed

[2021-04-16 22:53] martinweihrauch commented on #423
Wasnt connected to internet with virtual box linux - sorry

[2021-04-19 12:36] sduenas commented on #418
I think we'll be very happy of having other translations. I'm afraid we don't have good documentation neither in English nor Spanish, though. If I have to chose I'd rather have better documentation that to have another language because we won't probably have people that can write on that new language and have the documentation updated.

[2021-04-19 12:36] #418 closed

[2021-04-19 16:24] vchrombie commented on #218
A small update on this.

We have been working on automating the release workflow using poetry, github actions, and [Bitergia/release-tools](https://github.com/Bitergia/release-tools). This issue will be addressed in this workflow.

Whenever the maintainer releases a new version, the github actions would create a new release on GitHub. We have tested it on the release-tools repository.

Example
htt

[2021-04-20 18:06] GeorgLink opened #424 "Feature Request: Stack Exchange metric "Time to First Response""
CHAOSS metric: [Time to First Response](https://chaoss.community/metric-time-to-first-response/)

In the context of Stack Exchange, it's not just any response, but specifically answers. (maybe the metric for SE should be called "Time to First Answer".

However, Time-to-answer might be hard because it implies that a response actually answers the question and doesn't pile on.

Therefore, I like the

[2021-04-26 21:22] almereyda commented on #284
The six months deadline from https://github.com/chaoss/grimoirelab/issues/296#issuecomment-644889870 has passed and GitLab proves to be a suitable and productive working environment for many groups. The import of GitHub projects with all detail is flawless, and can be batched. The combined group-level and sub-group-level issue trackers an Kanban boards are useful helpers in tackling the daily info

[2021-04-26 22:50] sanacl commented on #284
Hey @almereyda , I'm pretty sure @sduenas should be involved in this conversation but he will be offline for a month due to personal reasons.

[2021-04-26 23:01] almereyda commented on #284
It's okay. My comment was primarily about highlighting that plenty of FLOSS development is now happening outside of GitHub esp. due to the poor legal status it has as seen from EU. That it also grows a fruitful ecosystem of independent, decentralised labs all across the space then makes solutions like Fedeproxy neccessary. Just wanted GrimoireLab to be aware of the developments and allow the group

[2021-04-27 01:25] GeorgLink commented on #284
Feel free to bring the conversation to the broader CHAOSS community because
we decided last time GrimoireLab would stay with GitHub because CHAOSS
stayed with it.

[2021-04-27 08:20] zhquan commented on #422
@No6-start - Can we close the issue?

[2021-04-27 08:21] No6-start commented on #422
yes

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Quan ***@***.***&gt;;
发送时间: 2021年4月27日(星期二) 下午4:20
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [chaoss/grimoirelab] Because the server could not access, a route was deleted, and now there is no content on the page (#422)

@No6-start - Can we close the issue?

&mdash;
You are receiving this because you were ment

[2021-04-27 08:23] zhquan commented on #413
I close the issue

[2021-04-27 08:23] #413 closed

[2021-04-27 08:23] #422 closed

[2021-05-01 22:38] bhack opened #426 "Strange number in Area of code"
In the `Most Active Developers` table in the "Area of code" I see very high numbers like "> 2,000,000" added lines for single user.

In the main Git overview instead the top author has "<300,000" added lines that it seems to me more plausible.

Also the top developers names of the two tables mismatch.

[2021-05-03 18:25] martinweihrauch opened #427 "Filter only for "own" code?"
Thank you for this great project! We have now successfully installed and connected to our Git repos.
One question:
We would like to **only** count e. g. lines of code and committed files of files, which were really written by us and are not some "3rd party" files.
In our dev team, the devs could e. g. put a comment into each file, which e. g. contains a keyword. So, is it possible to only count fi

[2021-05-04 07:55] dicortazar commented on #426
Hi @bhack , thanks for your comment!

As a side note to this conversation, I am able to reproduce the issue using the chaoss dashboard (chaoss.biterg.io).

Git index based: https://chaoss.biterg.io/goto/e46f0c5958cc1f6cf7cdd83beb076526
Git areas of code index based: https://chaoss.biterg.io/goto/63ecc51c59498ab771c9da367e184e49

There we can see the list of the contributors with the highest number

[2021-05-04 09:52] bhack opened #428 "Github from-date"
Are you currently regular testing github `from-date` in the config?
It seems that something is broken. I've tried just to set It to One or Two days before now and the log It Is full of api request to the github API.  It will not complete to crawl 1 day data in hours that instead It could be superfast.

[2021-05-04 11:39] zhquan commented on #428
Hi @bhack

It would be great if you could share the logs and the `setup.cfg`. To check for errors.

Best,
Quan

[2021-05-04 11:54] dicortazar commented on #427
Hi @martinweihrauch, thanks a lot for this comment indeed!

There are several ways to gather the information you're interested in. Two indexes contain this information you're looking for: "git" and "git_areas_of_code". The first one works at the granularity of commits while the latter can drill down to files and lines of code.
While "git" displays an aggregation of the total number of added, remov

[2021-05-04 12:13] bhack commented on #428
E.g.
[code]
In the log:
[code]

Then I see that it is going to retrieve all the comments and all the reactions for every issue or pr that has also just a single update event since that datetime. Is this the logic? Cause I suppose it is going to saturate the API limits quite soon also with a medium traffic repository.

[2021-05-04 14:46] zhquan commented on #428
Hi @bhack

No, Mordred has several categories to fetch different types of info. Take a look at these links:

- https://github.com/chaoss/grimoirelab-sirmordred/#github-
  - issue (by default)
  - pull request
  - repo
- https://github.com/chaoss/grimoirelab-sirmordred/#githubql-
- https://github.com/chaoss/grimoirelab-sirmordred/#github2-
  - issue
  - pull request

Well, that depends on the numbe

[2021-05-04 14:53] bhack commented on #428
So is it normal that it is going to retrieve all the comments and reactions with your default cfg? Do we need to limit [github] key with [github:issue] and [github:pr]?
https://github.com/chaoss/grimoirelab/blob/6881e50e0bb435883d447bbe39ee99b8bae6c0cf/default-grimoirelab-settings/setup.cfg#L65-L69

[2021-05-04 15:10] alpgarcia commented on #426
The problem could be the identities management, see:
Valerio Cosentino: https://chaoss.biterg.io/goto/fceb6fa2654783a8b67a39023c14f359
Sean Patrick Goggins: https://chaoss.biterg.io/goto/4e0c3b0131744d0f649712cc8541ec83

They are not correctly merged, so there are commits counted more than once.

Of course, this could be only part of the problem, because one of the profiles associated with Sean se

[2021-05-04 15:21] dicortazar commented on #426
Yep, that's the other point, thanks a lot @alpgarcia :).

But as you said, the difference is really high and in the case for instance of Sean, others Sean do not fill that big amount of number of lines.

I think this may be related to how branches are counted or so... but we should have a look at it ....

[2021-05-04 15:44] zhquan commented on #428
No, by default it will retrieve issues and pull requests, but not comments or reactions.

On https://chaoss.biterg.io/ you have some examples:
By default `github` set up you will have:
Issues:
- https://chaoss.biterg.io/app/kibana#/dashboard/GitHub-Issues
- https://chaoss.biterg.io/app/kibana#/dashboard/GitHub-Issues-Backlog
- https://chaoss.biterg.io/app/kibana#/dashboard/GitHub-Issues-Timing
- h

[2021-05-04 16:07] bhack commented on #428
I don't want to retrieve comment but I see comments and reactions api request with the github section I've shared. Why?

[2021-05-05 10:51] alpgarcia commented on #426
The problem comes from duplicated repositories, it seems a repository was renamed but the old data was not removed:
https://chaoss.biterg.io/goto/c6ee85fdc1611ec7de958171e9b870ad

Then the numbers can make no sense at all because the number of contributions will be duplicated in some cases.

On the other hand, identities are not correctly updated, but that extent should not affect the numbers as i

[2021-05-05 12:27] zhquan commented on #428
@bhack - sorry I misunderstood.

You are right, Perceval retrieves issues, comments, and reactions https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L306.

`github` and `github2` use the same backend in Perceval. On Mordred you have to choose what kind of data do you want to show.

Have a look the fields:
- `github`: https://github.com/chaoss/grimoirelab-e

[2021-05-05 13:22] bhack commented on #428
Thank you,
honestly it is a little bit hard to clearly understand what is the minimal set of fields to minimize the github api requests and optimize API limits to populate the default dashboards that we see in the default ISSUE and PR menus dashboards.
Can you distribute a good default?

Another point is:
where we are going to set the restricted set of fields? Is it documented?

[2021-05-05 14:33] mafesan commented on #426
Just one comment about the example provided by @alpgarcia: the data could be duplicated because there was a renamed project `https://github.com/chaoss/wg-gmd` to `https://github.com/chaoss/wg-evolution`.

Please @bhack, could you provide any link to the repository or the dashboard you are getting this data from? (in case it is publicly available, of course). Thank you!

[2021-05-05 14:43] bhack commented on #426
It is not public available but I have the same issue with a single entry starting a Docker container from scratch.
E.g. I think you can reproduce yourself with https://github.com/tensorflow/tensorflow.

[2021-05-06 11:58] zhquan commented on #428
The setup that you shared before is ok
[code]

To see the menu and the dashboards make sure the section `panels` is activated
[code]

Sorry right now if you want to analyze `github` it will fetch [all these fields](https://github.com/chaoss/grimoirelab-elk/blob/master/schema/github_issues.csv). And here is the [github Perceval doc](https://perceval.readthedocs.io/en/latest/perceval.backends.core.h

[2021-05-06 12:13] bhack commented on #428
Mhhh.. it seems really a waste of the Github API resources/rate limitis for the standard Dashboard/Analysis when you need to populate the full project history on the first run other then imply to have the `no-archive = false` conf quite mandatory.

[2021-05-11 17:11] GeorgLink commented on #381
Yes, this issue is resolved. Thanks everyone!

[2021-05-11 17:11] #381 closed

[2021-05-12 08:28] No6-start opened #429 "data problem"
After a period of use, I set the data to be obtained in 2021, but one month later, my data is still incomplete. For example, there were 10 mergers yesterday, but only 3 were displayed. How can I adjust this

[2021-05-12 08:41] No6-start commented on #429
GitHub can't upload files to issue, so I can't provide configuration for the time being

[2021-05-12 08:55] zhquan commented on #429
Hi @No6-start

Without log and configuration, I cannot help you. You can copy the `github` section from your `setup.cfg` file.

And please check your logs if there are any errors.

Best,
Quan

[2021-05-13 06:26] No6-start commented on #429
[general]
short_name = GrimoireLab
update = true
min_update_delay = 60
debug = false
logs_dir = /home/bitergia/logs
aliases_file = /home/bitergia/conf/aliases.json

[projects]
projects_file = /home/bitergia/conf/projects.json

[es_collection]
url = http://elasticsearch:9200

[es_enrichment]
url = http://elasticsearch:9200
autorefresh = true

[sortinghat]
host = mariadb
user = root
password =
datab

[2021-05-13 08:07] No6-start commented on #429
I can't upload my blog

[2021-05-13 08:44] zhquan commented on #429
Hi @No6-start

When you activate `from-date` it will start the collection always from that date (2021-01-01). So my recommendation is to execute the first time with `from-date` and when you have data remove it and `sirmoredred` will execute it incrementally.

1. Execute with `from-date` (already done in your case, so skip this step)
2. Remove `from-date` and restart only the `sirmordred` docker co

[2021-05-13 08:48] No6-start commented on #429
Can I understand that after executing from date, delete and restart the sirordered component. How do I restart the sirordred component

[2021-05-13 09:07] zhquan commented on #429
@No6-start  - `docker restart SIRMORDRED_CONTAINER_NAME`

[2021-05-17 07:21] No6-start commented on #429
CONTAINER ID   IMAGE                                                     COMMAND                  CREATED      STATUS                PORTS                              NAMES
c35f0eac681a   grimoirelab/hatstall:latest                               "/bin/sh -c ${DEPLOY…"   4 days ago   Up 4 days             0.0.0.0:8000->80/tcp               dockercompose_hatstall_1
ea20fecf555f   bitergia/mordred:l

[2021-05-17 07:53] zhquan commented on #429
@No6-start - `docker restart bitergia/mordred:latest`

[2021-05-17 18:18] vchrombie commented on #415
Thank you for participating in this idea, and congratulations to @Rashmi-K-A for being selected for the project idea.

If you have any questions, comments, or concerns about the selection process, feel free to send an email to venu@bitergia.com. Thanks!

This issue is going to be closed on Friday.

[2021-05-17 18:32] vchrombie commented on #416
Thanks everyone for participating in this idea! Unfortunately, no students have been selected for this idea despite the good applications.

The decision process was divided into evaluation and discussion. In the evaluation phase, the mentors checked the proposals based on different dimensions (e.g., clarity, soundness, complexity, microtasks). In the discussion phase, the mentors shared their view

[2021-05-17 18:55] vchrombie commented on #414
Thanks, everyone for participating in this idea!

Unfortunately, no students have been selected for this idea despite the good applications from @SteveKola, @rohanreddych, and @WasimAkhtarKhan. We appreciate your time and effort in working on the project idea. It would be great if you would like to keep contributing to GrimoireLab.

If you have any questions, comments, or concerns about the select

[2021-05-18 09:02] No6-start commented on #429
I restarted the bitergia component, but it didn't seem to change much

[2021-05-18 09:44] zhquan commented on #429
@No6-start - Could you share your logs? Maybe we can get more info

[2021-05-18 10:50] WasimAkhtarKhan commented on #414
Most Welcome @vchrombie
It was a great experience in working with this project and surely I will try to contribute to Grimoirelab.
Thanks

[2021-05-20 10:14] sanacl opened #431 "Web site: the join us link for the chat room is obsolete"
The "join us" links for the chat are forwarding our visitors to the IRC channel instead to Slack.

![imagen](https://user-images.githubusercontent.com/326719/118961388-9144b780-b964-11eb-8682-41efbe8fc31d.png)

The link http://webchat.freenode.net/?channels=GrimoireLab should be replaced by https://chaoss-workspace.slack.com/archives/C022NPTPC8Z

[2021-05-21 07:48] martinweihrauch commented on #427
Thank you very much for your detailed answer!
I get it!
However, analyzing lines of code is of little use, if you cannot exclude certain files and paths like gitignore. E. g. one of our devs updated all "NPM" packages and thus added 8,000 lines of code in 1 week.
A dream would be a treeview of the project and to be able to "include/exclude" whole folders and / or single files.
A simpler, not so co

[2021-05-21 11:02] #414 closed

[2021-05-21 11:02] #415 closed

[2021-05-21 11:02] #416 closed

[2021-05-30 15:06] WolfgangKluge commented on #403
I've the same error and tracked it down to the use of `secrets` (when specifying what secrets a service should use).

[2021-05-30 16:51] WolfgangKluge commented on #403
OK, it's a feature :)
There's the list of directories that can be mounted in the Setting (Resources / File Sharing) - and my file was not in one of those..
https://docs.docker.com/docker-for-windows/#file-sharing

A way better error message would be helpful...

[2021-05-31 12:04] vchrombie commented on #428
@bhack, thanks for the feedback.

Do you think we can close this issue as the query is resolved?

[2021-05-31 13:31] bhack commented on #428
Where we can track this Feature request?

[2021-05-31 13:36] vchrombie commented on #428
It would be great if you can open a new issue since the idea is different from this issue. WDYT?

[2021-05-31 13:51] vchrombie commented on #429
@No6-start, were you able to resolve the issue?
Please let us know if you need any help.

[2021-05-31 13:52] bhack commented on #428
The idea is the same. I just supposed that it was a bug but instead it is a feature request.

[2021-05-31 14:00] vchrombie commented on #428
Yup, I understand it. It would be great if you open a new issue for more discussion on this feature request. :slightly_smiling_face:
Let me know if you need any help.

[2021-05-31 15:05] bhack commented on #428
In what repository?

[2021-05-31 15:11] vchrombie commented on #428
You can open it in this repository itself.
Thanks.

[2021-05-31 15:19] bhack opened #432 "Github from-data: request only required data"
See https://github.com/chaoss/grimoirelab/issues/428

It seems really a waste of the Github API resources/rate and time limits for the standard Dashboard/Analysis when you need to populate the full project history on the first run.

[2021-05-31 15:20] bhack commented on #428
I don't understand why I need to open a new one for the same repo but ok. It is https://github.com/chaoss/grimoirelab/issues/432

[2021-05-31 16:49] jgbarah commented on #428
A bit of context here, since I was a part of the original decisions that made this work this way.

The original GrimoreLab assumption was: "we want to get all the data for a repo, store it into a database, and then access the database to get specific results". This is probably optimum for analyzing the full story of repositories, but i agree is different from your use case, where (if i understand

[2021-05-31 17:11] bhack commented on #428
@jgbarah Have you tried to import the full history with all the comments etc.(as now) with a very large project with high traffic. I suppose that with the API rate limits it will requires days or weeks or not?

[2021-06-02 05:50] vchrombie opened #433 "Summer OSPP Idea: Expanding and restyling the GrimoireLab tutorial"
[GrimoireLab](https://chaoss.github.io/grimoirelab) is a powerful open-source platform that provides support for monitoring and in-depth analysis of software projects. It produces a rich set of metrics with data extracted from more than 30 tools related to contributing to Open Source development such as version control systems, issue trackers, and forums. These metrics are shown and exploited on W

[2021-06-02 05:51] vchrombie commented on #433
For all students interested in this idea, please comment on this issue to get in touch with the mentors. This is the main communication channel.

[2021-06-02 06:50] Aju100 commented on #433
Hi @vchrombie,

I am interested to work this issue and have a mentorship for OSPP one.

[2021-06-02 09:47] Aju100 opened #434 "[Require] to update installation process of README.md"
Hi grimoirelab maintainer,

As a newcomer, we might face issues when we follow the Getting started guideline to install grimoire on our system using the docker process.
![gl](https://user-images.githubusercontent.com/29862610/120459043-8869d200-c3b7-11eb-8abb-06c0f87aab4c.png)

Solutions:
- remove out the user foo@bar: one in instruction one

Code in following issues one :
[code]
Reference:
- http

[2021-06-02 10:15] vchrombie commented on #433
Thanks for your interest, @Aju100. Please go through the guidelines and process of the program. You can start working on the microtasks and the proposal. Let us know if you face any problems. :slightly_smiling_face:

[2021-06-02 10:27] vchrombie commented on #434
NACK :slightly_frowning_face::-1:

I would keep the instructions in the existing format as it shows the current directory path, virtual environment (if applies) and mainly to maintain consistency for all the commands. I'm really not sure removing this would have a huge impact.

[2021-06-02 11:41] Aju100 commented on #434
hi @vchrombie
Thank you for your feedbacks. I will disclose this issue

[2021-06-02 11:41] #434 closed

[2021-06-02 17:12] VSevagen commented on #433
Hi there !
My name is Sevagen and I'm an undergrad student from Amrita Vishwa Vidyapeetham, Amritapuri Campus, Kerala, India. I would like to work on this idea for Summer-OSPP 2021. I already started working on the microtasks and I will try my best to complete them before the proposal submission.

[2021-06-04 16:06] sduenas commented on #428
Yes, it might take some days. Jesús explained the idea behind this but also he missed to explain that we do that to not go twice. Sometimes you want to analyze issues and later you realized that you want the comments, so you need to go again to the repo and waste extra time. Of course, if this is not your use case, it's a problem because you want a fast analysis.

In any case, thank you for openin

[2021-06-04 16:06] #428 closed

[2021-06-04 16:08] sduenas commented on #432
```The original GrimoreLab assumption was: "we want to get all the data for a repo, store it into a database, and then access the database to get specific results". This is probably optimum for analyzing the full story of repositories, but i agree is different from your use case, where (if i understand well), you only need issues and pull requests since some time ago (some days ago, for example).`

[2021-06-04 16:23] sduenas commented on #432
I'm not against this but we need to find a schema that works for some user cases and for all the backends we currently have and there might be several approaches to this. For example, two possible solutions:

- Lite items: a reduced version of the items that only contains basic information; for example, issues won't have comments, reactions, etc; prs or mrs, won't include comments nor information

[2021-06-04 16:41] bhack commented on #432
I think that the primary goal is to have a set that could be populated on a large scale github repository.

E.g. comment and reactions are going to create some high traffic for the API rate limits. What analyzer is going to consume this?
If I don't use this analyzer why the crawler is still going to request this data?

So we beed to find a clear mapping between analyzers and the crawlers.

[2021-06-06 17:35] vchrombie commented on #433
Hi @Aju100 @VSevagen
Thanks for showing interest, please let me know if you want me to review your microtasks or need any help with any doubts. :slightly_smiling_face:

Best,
Venu

[2021-06-07 17:26] Alch-Emi opened #435 "GitLab Issues/MRs not displayed in Kibiter/Kibana"
Howdy!

I'm having some troubles getting Kibana to work with GitLab.  Despite appearing to have successfully scraped the GitLab instance, no issues appear in the Kibiter dashboard.  However, upon inspection, the ElasticSearch database does contain the appropriate records, both raw and enriched.  This happens, in my experience, both with Kibiter and Kibana.  Git commits do appear in the database, s

[2021-06-08 16:23] zhquan commented on #435
Hi @Alch-Emi

I checked your Kibiter instance and your GitLab repo:
- [1 issue](https://opensource.ieee.org/rit/mystic/-/issues)
- [0 merge request](https://opensource.ieee.org/rit/mystic/-/merge_requests).

And in your indexes I see 1 issue and 0 merge requests. So the indexes are created correctly.
[code]

**Then what is the issue?**
After checking the aliases I miss `gitlab` aliases.
- `gitlab_

[2021-06-13 16:29] vchrombie commented on #433
Hi everyone

To all the interested candidates who are applying for this idea, please make sure you open a PR and add your details to this [Summer-OSPP-interest.md](https://github.com/chaoss/governance/blob/master/Summer-OSPP-interest.md) file. This is needed as a part of the CHAOSS Guidelines.

Please let me know if you have any issues.
Thanks.

[2021-06-14 18:22] Alch-Emi commented on #435
Thank you very much, I will give this a try! <3

[2021-06-15 11:00] sduenas commented on #435
@Alch-Emi could you make it work?

[2021-06-17 19:24] fweikert opened #436 "docker-compose: docker-compose_mordred_1 fails, UI shows "Couldn't find any Elasticsearch data""
I've been following the instructions from https://github.com/chaoss/grimoirelab/tree/master/docker-compose (without changing any configuration file). Commit: 5826bb8383ed6bb721e04f911ac431807596cea9.

However, when I open http://localhost:5601/ I get "Couldn't find any Elasticsearch data"

Running `docker-compose ps` shows that mordred crashed:

[code]

`docker-compose logs` contains the likely re

[2021-06-17 19:29] fweikert commented on #436
There's also `[33mhatstall_1       |[0m cp: cannot open 'shdb.cfg' for reading: Permission denied`

[2021-06-17 19:52] vchrombie commented on #436
Hi @fweikert, thanks for reporting the issue and sort for the inconvenience.

1. > Note: Not sure if this is related or a separate error, but the connection to Elasticsearch seems to have dropped temporarily:

Yes, it looks like the elasticsearch service is not running. It would be great if you can check the logs of `elasticsearch_1` for any possible errors.

If you find any error similar to this

[2021-06-18 12:36] fweikert commented on #436
Thank you for the answer!

Elasticsearch seems to be running - the last message indicates status "green", and "curl localhost:9200" returns

[code]
I still think the major problem is that mordred crashes due to the missing key in the Python dictionary, but the script doesn't seem to come from this repository (probably another container).

[2021-06-18 12:48] fweikert commented on #436
I forgot to add that I already ran `$ sysctl -w vm.max_map_count=262144` before my failed attempts.

[2021-06-18 14:41] vchrombie commented on #436
Hi @fweikert

Sorry, I overlooked the error log which you have provided.

I was looking at this earlier.
[code]

I see the actual error now
[code]
and also, you are right. The error doesn't come from here, it comes from [sirmordred script](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/bin/sirmordred#L116). It is trying to extract the value from [setup.cfg#L6](https://github.com/chao

[2021-06-19 07:01] fweikert commented on #436
Ok, so it turns out that our custom Linux distro blocks access to /home completely. I replaced all paths to point at a different directory, which didn't work. I then moved Grimoire to my MacBook, and now it works (except that 100% of people have an unknown organization, but I guess I can solve that with hatstall).

Thank you for the help!

[2021-06-19 19:32] vchrombie commented on #436
Hello @fweikert

That is great to hear! Thanks for confirming the error.

You are welcome, and thanks for trying GrimoireLab.

As of now, we entirely depend upon the logs for checking the data import status and errors. You can check the logs to see the raw and enrichment phases' progress. You can look in the `mordred_1` logs for such information.
[code]

Tip: If you are looking to analyze only a f

[2021-06-22 18:18] fweikert commented on #436
Hey Venu, thank you again! Here is my config and the logs: https://drive.google.com/drive/folders/1xOHeTlUrBxPtMMgNRcOgfXEwpxE-D8Iz?resourcekey=0-MAQtIn8yyMch3H05e2cmVA&usp=sharing (I gave your gmail address permission to access the folder).

I started again from scratch by running the commands from https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#others: `docker-com

[2021-06-22 18:28] fweikert commented on #436
Note: I didn't get this particular error during my first attempt, but I could also see that the raw index contained GitHub issues and PRs.

[2021-06-22 19:23] vchrombie commented on #436
Hi @fweikert, thanks for taking your time and providing the configs and the detailed information. The configs you have provided seem to be correct but I couldn't figure out the error you are facing. I have some doubts but I'm not entirely confident if that could be the issue.

The `github` backend collects issues and prs information but they are handled in different indexes in ELK. But, I see the

[2021-06-23 11:52] zhquan commented on #436
Hi @fweikert

Could you write all studies in one line the same as `git` and try again?
[code]
We have to change this in the DOC.

I hope it helps you.

Best,
Quan

[2021-06-23 17:19] fweikert commented on #436
Thank you - the single-line approach fixed the problem :) I can see the issues now. Again, thank you so much!

[2021-06-23 17:28] fweikert commented on #436
Ok, based on https://github.com/chaoss/grimoirelab-elk/blob/master/doc/studies.md#requirements-1 I guess I need to separate "github" into "github:issues" and "github:pull" for studies to work. I had tried that previously, but then the "GitHub Issues" and "GitHub PRs" entries disappeared from the top menu in the dashboard UI.

[2021-06-23 17:34] vchrombie commented on #436
Hello @fweikert

Well, that could be the reason. You can use the configuration in this https://github.com/chaoss/grimoirelab/issues/436#issuecomment-866268200 and try again. I have already edited it as per @zhquan's suggestion.

Please let us know how it goes.

[2021-06-24 08:29] zhquan commented on #436
Hi @fweikert

You don't have to separate it, but you have to create those aliases `github_issues_onion-src` and `github_prs_onion-src`, considering that both are using the same index pattern `github_issues`.

As @vchrombie said the menu is updated in the panels task, so you can activate/deactivate it on the section `[phases]`
[code]

Try again removing the section `[github:pull]` and rename the se

[2021-07-01 18:15] vchrombie commented on #433
Thanks to everyone who showed interest in the idea and worked on the application.
Congratulations to @VSevagen for being selected for the project.

If you have any questions, comments, or concerns about the selection process, feel free to send an email to venuvardhanreddytekula8@gmail.com. Thanks!

This issue is going to be closed on Friday.

[2021-07-06 08:10] #433 closed

[2021-07-14 11:37] eyehwan opened #439 "[Feature Request] Support Gitee as data source in Grimoirelab"
Initial dicussion thread from slack grimoirelab channel:

During CHAOSS Beijing Meetup on July 8 2021,  Venu introduced the Grimoirelab through the [Youtube  ](https://youtu.be/dm1iamz-RKA)and I also gave a live demo.
I used forked branch of Grimoirelab to introduce the usage of Grimoirelab upon the data source from [Gitee](https://gitee.com/), and how to insight data upon the CHAOSS metrics.
We r

[2021-07-14 14:37] vchrombie commented on #439
Hi @eyehwan, thanks for bringing this topic.

If we want to add support of a new data source to the GrimoireLab, first we start with adding a backend to [grimoirelab-perceval](https://github.com/chaoss/grimoirelab-perceval), next adding the raw-collector & enricher to [grimoirelab-elk](https://github.com/chaoss/grimoirelab-perceval), then add the configurations to the [grimoirelab-sirmordred](http

[2021-07-14 14:50] eyehwan commented on #439
@vchrombie

Yes, you are right. We don't have to start from scratch, as we already have these conbributions more or less. I have disucssed with @WillemJiang and @heming6666 earlier actually.

The reason I want to pop up this proposal again is that I would like to contribute my effort to mantain those components(perceval, raw-collector, grimoirelab-elk etc) to support gitee as data source of grimoi

[2021-07-14 15:17] vchrombie commented on #439
That's great, again thanks for bringing this topic again. I hope to receive more comments from the community members.

Also, @WillemJiang @heming6666, would you be interested to work again on the existing PRs once we come to a conclusion on this topic?

As a sidenote, adding the link to the roadmap for the GrimoireLab.
https://github.com/chaoss/grimoirelab/projects/1

We are currently actively wor

[2021-07-14 15:59] sduenas commented on #439
@eyehwan Thanks for raising this topic again and for your interest on GrimoireLab.

As I said in other comments, we would be so happy to expand GrimoireLab to support as much datasources as possible. However, we are concerned about the maintenance of these data sources in the mid/long term. In fact, we should consider soon to drop the support of some of the backends that we already have.

For that

[2021-07-15 01:56] WillemJiang commented on #439
Few month ago, I had long conversation with @eyehwan and provide all the information about gitee backend to him.
It could be great if @eyehwan can keep working on it, as Gitee is quite popluar in China.

Beside of gitee backend of perceval, we also need to add some components to grimorielab-elk. It could be greate if grimorielab-elk provides pulgin support, so we can install the extensions from an

[2021-07-15 07:32] eyehwan commented on #439
Hi @sduenas @vchrombie ,
Thanks for your suggestions.
Do we already have any similar cases to put data source outside of core of GrimoireLab? Any guildelines to follow?

[2021-07-15 12:02] sduenas commented on #439
In Bitergia we have some backends in other repositories. For example: https://github.com/Bitergia/grimoirelab-perceval-finos
But you can also follow the same approach of https://github.com/chaoss/grimoirelab-perceval-mozilla/ or https://github.com/chaoss/grimoirelab-perceval-puppet.

The only problem we have right now is, as @WillemJiang commented, to give plugin support to `grimoirelab-elk`. That

[2021-07-15 13:11] WillemJiang commented on #439
Yeah, I'm thinking maybe we can move the gitee repo to the Github chaoss group as grimoirelab-perceval-gitee and we would be happy to maintain this repo.

@heming6666  made [a proposal](https://github.com/chaoss/grimoirelab-elk/issues/880). Maybe it's the time that we can revisit it again.

[2021-07-15 13:23] eyehwan commented on #439
Yes, I also share the same idea! I am wondering its possibilities.

[2021-07-19 10:18] sduenas commented on #439
Sorry but I think we can't do that right now. We're very happy that you want to participate but we're interested in the project in the long term. There are many people that join communities and left after few days or months. It's not that we don't trust you, it's just that you need to show you're active maintaining your backend and that people are using it. After that, we can consider at some poin

[2021-07-20 10:26] mneedham opened #440 "logger.info(f"Pulling Askbot data from {from_date}") - ^ SyntaxError: invalid syntax Failed to start SirMordred: 1"
Hi,

I've been trying to build a Docker image for version [0.2.56](https://github.com/chaoss/grimoirelab/blob/master/releases/0.2.56), following the instructions at https://github.com/chaoss/grimoirelab/blob/master/BUILDING.md#producing-your-own-grimoirelab-docker-containers, but am running into the following error:

[code]

Output

[code]

This error reads to me like Python 2 is trying to process

[2021-07-20 10:40] eyehwan commented on #439
Thanks @sduenas, I totally understand your concern, then I will discuss with @WillemJiang to create a repo group and maintain our Gitee solutions at first.

[2021-07-20 14:11] zhquan commented on #440
Hi @mneedham

The `f-string` is available since `Python 3.6` and I see that you are using `Python 3.5.3` please try again using `Python 3.6` or newer.

I hope it helps you.

Best,
Quan

[2021-07-20 16:22] mneedham commented on #440
@zhquan oh cool, didn't know that. How do I get a newer version of Python onto the Docker image - from what I can tell it's being installed via apt-get, so wouldn't it be picking up the latest version of Python 3?

https://github.com/chaoss/grimoirelab/blob/master/docker/Dockerfile-installed#L25

[2021-07-21 10:30] sduenas commented on #439
Thanks for understanding. I'm going to close this ticket but keep us posted about your decisions and progress.

[2021-07-21 10:30] #439 closed

[2021-07-26 16:45] vchrombie commented on #429
Closing this issue assuming it is resolved.

@No6-start, please feel free to open a new one for any other doubts.

[2021-07-26 16:45] #429 closed

[2021-07-26 16:49] vchrombie commented on #392
Hi @anajsana, that would be a great addition.

Would you be interested to open a PR for this? Please let me know.

[2021-07-27 12:47] zhquan commented on #440
@mneedham - sorry for the late reply could you try this https://github.com/chaoss/grimoirelab/issues/373#issuecomment-712146010?

[2021-07-28 08:58] #431 closed

[2021-07-28 12:54] mneedham commented on #440
@zhquan cool thanks, yeh that works. I'm still stuck on an issue with GitHub authorisation, which is what led me to attempting to build the image myself. I've tried refreshing my GitHub personal token a few times, but I always get the following error:

[code]

[2021-07-28 13:27] zhquan commented on #440
@mneedham you can add [sleep-for-rate = true](https://github.com/chaoss/grimoirelab-sirmordred#github-) (when the rate limit is reached Mordred will sleep until the rate limit is reset.) on the setup.cfg also  add more GitHub tokens to increase the rate limit as `api-token = [TOKEN-1, TOKEN-2, ...]`

[2021-07-28 13:33] mneedham commented on #440
@zhquan I have that property set already:

[code]

[2021-07-28 14:42] zhquan commented on #440
@mneedham - I have no issue fetching https://github.com/finbourne/sample-notebooks using mordred or perceval

Could you try it with [perceval](https://github.com/chaoss/grimoirelab-perceval) if your token is correct? You can execute it in your Mordred container if you want.

`perceval finbourne sample-notebooks --sleep-for-rate -t TOKEN`

This https://github.com/chaoss/grimoirelab/issues/440#issue

[2021-07-28 16:00] mneedham commented on #440
@zhquan I don't seem to have an issue pulling down GitHub repositories - those work for me even without providing any GitHub credentials.

Yeh the code I pasted above is from my `setup.cfg`:

[code]

[2021-07-29 08:38] zhquan commented on #440
@mneedham Could you share your `setup.cfg` and `projects.json` to see if I can reproduce the error?

Why are you using three setup (setup.cfg, infra.cfg, and project.cfg)?

[2021-07-29 09:20] mneedham commented on #440
At some point in time I was getting an exception that said I had incorrect config for Elasticsearch and sortinghat, so I started editing the various config files to see if I could get past those errors.

Below are my config files:

setup.cfg
[code]

projects.json
[code]

[2021-07-29 10:22] zhquan commented on #440
@mneedham I can fetch all of them without issues with the correct token, but I can reproduce the error when I use an invalid token.

Your token is not a valid token. Make sure that your token has read permissions. And again use `perceval` to check if your token is valid.

Not valid token:
[code]
Valid token:
[code]

Best,
Quan

[2021-07-29 10:29] zhquan commented on #435
@Alch-Emi I close the issue feel free to reopen it if needed.

[2021-07-29 10:29] #435 closed

[2021-07-29 10:34] mneedham commented on #440
When I try with my token using Perceval - the one I pasted above was made up. See below:

[code]

Are you able to get it working when using the Docker images and if so, what Docker command should I be running?

[2021-07-29 11:40] zhquan commented on #440
@mneedham I use [micro.py](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/utils/micro.py) to test and `bitergia/mordred:grimoirelab-0.2.57` (https://hub.docker.com/r/bitergia/mordred) when I use Docker, for more info see https://github.com/chaoss/grimoirelab-sirmordred/tree/master/docker#docker-composeyml

[2021-08-03 10:52] eyehwan opened #441 "typos in menu.yaml"
panel: panels/json/**lifecyle**.json would cause warn logs at the start point.

[2021-08-06 10:34] #441 closed

[2021-08-17 21:21] sventiffe opened #443 "Kibana migration"
My docker-compose based installation stopped working with the message "Kibana server is not ready yet" (and I do not know what I've changed, to begin with). The Kibana container mentions that a migration might be ongoing:

[code]

- I've tried to identify the location of .kibana_16 but failed. Where can it be found?
- How do I know if a migration is actually ongoing?
- Am I looking at the right er

[2021-08-18 08:58] sventiffe commented on #443
curl -XDELETE http://localhost:9200/.kibana_16 did the trick

[2021-08-18 08:58] #443 closed

[2021-08-19 15:48] fweikert commented on #436
I forgot to follow up, but we decided to deprecate our manual installation in favour of a hosted solution. Thank you for your help!

[2021-08-19 15:48] #436 closed

[2021-08-19 16:46] vchrombie commented on #436
Thanks for closing the issue @fweikert. Feel free to open a new one in case of any other doubts.

[2021-08-23 03:50] yodayuuki55 commented on #368
I got the same problem,can you describe in detail？

[2021-08-23 04:53] yodayuuki55 opened #444 "No data and visualization error"
Hi~
![_AG2T18 UX76MYJASGTU5OG](https://user-images.githubusercontent.com/87411538/130391399-1226fc4a-198f-47b5-a795-510c9cfe5771.png)
Now i can open http://localhost:5601 but i cant see any data and there is a error in visualization.

[2021-08-23 08:52] zhquan commented on #444
Hi @yodayuuki55

Go to `Dev Tools` and execute `GET _cat/indices` and check if you have `git_demo_enriched` and `github_demo_enriched` indexes. If not you have to wait until Mordred creates them due to the index pattern `affiliations` use these enriched indexes.

Best,
Quan

[2021-08-23 09:11] yodayuuki55 commented on #444
Thanks for reply!
The follwing is `GET _cat/indices`
![X3S6)}R%SVH28S_ KG(E}@3](https://user-images.githubusercontent.com/87411538/130421069-2493167f-4eec-4922-b51c-20966ffad7f4.png)

I have `git_demo_enriched` and `github_demo_enriched`  but there are only "- - -" after them

[2021-08-23 09:48] zhquan commented on #444
@yodayuuki55 - You executed `GET _cat/aliases` instead of `GET _cat/indices`.
Could you execute `GET _cat/indices` to know if there are items in the enriched indexes?

[2021-08-23 09:51] yodayuuki55 commented on #444
I'm so sry @zhquan
The following is `GET _cat/indices`
![2$BI M NO_RF5})YIIN_@`K](https://user-images.githubusercontent.com/87411538/130427552-9dba52e3-e7c3-43bc-aa54-ebaf18ee2bae.png)

[2021-08-23 09:56] zhquan commented on #444
@yodayuuki55 - You don't have any items in your indexes. That means your `projects.json` is empty or not configured correctly.

Have a look your `all.log` to check if there are errors.

[2021-08-23 11:42] yodayuuki55 commented on #444
I can only find one error that ` grimoire_elk.elk - ERROR - Error feeding raw from github (https://github.com/chaoss/grimoirelab): 401 Client Error: Unauthorized for url: https://api.github.com/rate_limit`
There is too much information in `all.log`

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/grimoire_elk/elk.py", line 162, in feed_backend
    ocean_backend.fe

[2021-08-23 12:30] vchrombie commented on #444
Hi @yodayuuki55, sorry for the inconvenience caused.

Can you check if the github token is working?
[code]

It looks like there is some problem with the token.

Please let us know.

[2021-08-23 12:37] zhquan commented on #444
@yodayuuki55 - It seems the problem is the `setup.cfg`. Check if your `GitHub-TOKEN` is working correctly and make sure the  `sleep-for-rate = true` is activated.

You can check your token with [Perceval](https://github.com/chaoss/grimoirelab-perceval) as @vchrombie said. Or you can execute it into your Mordred container
[code]

Your `setup.cfg` should have at least this:
[code]
`projects.json`
[c

[2021-08-23 13:35] yodayuuki55 commented on #444
Hi @vchrombie @zhquan I find that my machine not having perceval and when i tried to install it ,i got a new problem:

ERROR: No matching distribution found for grimoirelab-toolkit (unavailable)

My grimoirelab-toolkit version is 0.2.0
![FR%A$Y3IV5CNVQJJUR03JYA](https://user-images.githubusercontent.com/87411538/130456275-169c0c05-e442-4e73-9f47-0d255b617393.png)
installed from `https://github.com

[2021-08-23 13:49] yodayuuki55 commented on #444
I can make sure that my `setup.cfg` and `projects.json` have this.

[2021-08-23 14:17] yodayuuki55 commented on #444
@zhquan @vchrombie I still cannot install `perceval` but now i can use `perceval github chaoss grimoirelab -t TOKEN --sleep-for-rate` and there is a error:

[2021-08-23 22:13:25,222] - Error!: expected str, bytes or os.PathLike object, not NoneType
[2021-08-23 22:13:25,223] - Sir Perceval completed his quest.

[2021-08-23 15:13] zhquan commented on #444
@yodayuuki55  - I can reproduce your error. Your GitHub Token is not valid.
[code]

I can install Perceval without any issue.

Please follow these steps:
[code]

The GitHub token needs **READ** permissions.

[2021-08-23 16:03] yodayuuki55 commented on #444
Now I can successfully installed `perceval`:
`Finished processing dependencies for perceval==0.17.10`
But when use `$ perceval github chaoss grimoirelab -t VALID-TOKEN --sleep-for-rate > /dev/null`, i got the same error:

[2021-08-23 23:49:43,504] - Sir Perceval is on his quest.
[2021-08-23 23:49:44,169] - Error!: expected str, bytes or os.PathLike object, not NoneType
[2021-08-23 23:49:44,170] -

[2021-08-23 17:10] zhquan commented on #444
@yodayuuki55 - You have to replace `VALID-TOKEN` or `TOKEN` with your own personal GitHub token.

Click [here](https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token) to know how to create a GitHub token. Remember that the GitHub token needs **READ** permissions.

[2021-08-24 01:23] yodayuuki55 commented on #444
Sorry for delay.
The following is result of `$ perceval github chaoss grimoirelab -t VALID-TOKEN --sleep-for-rate` :

           Total items:         443
        Items produced:         443
         Items skipped:         0

        Last item UUID:         810622cdbfe43ec00cc3d9e80a23e3c3b027de86
        Last item date:         2021-08-23 17:10:30+00:00

        Min. item date:         2017-10-04

[2021-08-24 07:21] vchrombie commented on #444
Thanks for clarifying @yodayuuki55.

    [2021-08-23 23:49:43,504] - Sir Perceval is on his quest.
    [2021-08-23 23:49:44,169] - Error!: expected str, bytes or os.PathLike object, not NoneType
    [2021-08-23 23:49:44,170] - Sir Perceval completed his quest.

It looks like you are on a Windows machine. I think this error comes because of this ` > /dev/null` [error](https://stackoverflow.com/a/56

[2021-08-24 07:51] yodayuuki55 commented on #444
Hi@vchrombie
Thanks for reply!

Due to my job demand, i have to use my PC (WINDOWS) connecting to a VM (Ubuntu) by SSH.

**I have just used `docker-compose restart` to restart the platform,but there is no change on my dashboard,maybe i need to wait for minutes?**

The follwing is my `setup.cfg` and `projects.json`:

`setup.cfg` :

short_name = GrimoireLab
update = true
min_update_delay = 60
debug

[2021-08-24 07:54] vchrombie commented on #444
No problem, we completely understand the requirement. :slightly_smiling_face:

Please see that you need to wait at least for 10-15 minutes to see the data. It might take more time depending on the size of the project. Please keep us updated.

[2021-08-24 07:59] yodayuuki55 commented on #444
Thanks for quick reply! I am waiting for it and will tell you the result soon.

[2021-08-24 08:15] yodayuuki55 commented on #444
It seems not working,i still see nothing about data,maybe there is something wrong in my `setup.cfg` and `project.json`?

Could you help me check them? Thanks a lot!

[2021-08-24 08:44] zhquan commented on #444
@yodayuuki55 - Check your logs (`all.log`) and search by `ERROR`. Also check your indexes `GET _cat/indices` if there are items on raw and enriched indexes.

Anyway, comment `[gitlab:issue]` and `[gitlab:merge]` sections due to in your `projects.json` only have `git` and `github`.

[2021-08-24 09:57] yodayuuki55 commented on #444
@zhquan Ok,i have commented them and the following are `ERROR` in `all.log` :

2021-08-23 04:38:09,199 - sirmordred.task_manager - ERROR - [git] Exception in Task Manager RequestError(400, 'search_phase_execution_exception', 'No mapping found for [metadata__timestamp] in order to sort on')

requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: https://api.github.com/rate_limit

Th

[2021-08-24 11:13] zhquan commented on #444
@yodayuuki55

you are not using a valid token and it's strange due to you tested with Perceval (https://github.com/chaoss/grimoirelab/issues/444#issuecomment-904245612). I guess your Mordred is still using the old `setup.cfg`.

Execute this to know if your `setup.cfg` is updated (To know your Mordred container name execute `docker ps`).
[code]

Could you search in your log if you can see errors li

[2021-08-24 13:13] yodayuuki55 commented on #444
Sorry for delay @zhquan
![J}{{KJ59LBSKK2X8NQ02H{8](https://user-images.githubusercontent.com/87411538/130622447-f724605d-b217-499d-9799-be53a43835a7.png)
It seems there is not Mordred container.

[2021-08-24 13:30] zhquan commented on #444
@yodayuuki55 your mordred container is stopped I guess you will see it if you execute `docker ps -a`. You have to restart the mordred container `docker restart dockercompose_mordred_1` or `docker-compose up -d`

[2021-08-24 13:42] yodayuuki55 commented on #444
You are right! My mordred container is stopped.
![4)8{4FW{P46$%C2@%5391VA](https://user-images.githubusercontent.com/87411538/130625733-05af8802-226d-4015-98f3-8bda5d6f7ab9.png)

But after using `docker restart dockercompose_mordred_1` or ` docker-compose up -d` , my mordred is started less than 1 second and then it is stopped.
![0A$4 XTSSHFBJUM(TNA~H9](https://user-images.githubusercontent.com/87

[2021-08-24 14:07] zhquan commented on #444
@yodayuuki55 - Check the Mordred container logs executing `docker logs dockercompose_mordred_1`

[2021-08-24 14:11] yodayuuki55 commented on #444
File "/usr/local/bin/sirmordred", line 118, in <module>
    logger = setup_logs(logs_dir, debug_mode)
  File "/usr/local/bin/sirmordred", line 61, in setup_logs
    fh = logging.FileHandler(fh_filepath)
  File "/usr/lib/python3.7/logging/__init__.py", line 1092, in __init__
    StreamHandler.__init__(self, self._open())
  File "/usr/lib/python3.7/logging/__init__.py", line 1121, in _open
    retur

[2021-08-24 14:24] zhquan commented on #444
@yodayuuki55 I see in your `docker-compose.yml` two volumes for `/home/bitergia/logs`
[code]

docker has no permission to access `/home/NAME/mordred-log/` and/or `/tmp/`.

If you want to keep your logs in `/home/NAME/mordred-log` you have to remove the other. And make sure docker has read and write permissions in `/home/NAME/mordred-log`.

If you have issues to know  your docker user execute this

[2021-08-24 14:40] yodayuuki55 commented on #444
Thanks a lot! It works!

And now,I can see datas on my dashboard! I am truly grateful for your help @zhquan  @vchrombie

[2021-08-24 14:42] yodayuuki55 commented on #444
@zhquan I think i can close this issue,thanks! 👍

[2021-08-24 14:43] #444 closed

[2021-08-28 15:14] vchrombie commented on #439
Thanks to everyone who was involved in this work. The Gitee support is implemented and is being maintained in [github.com/grimoirelab-gitee](https://github.com/grimoirelab-gitee) organization.

We have added references to the grimoirelab repositories too. Thanks to @eyehwan for opening the PRs.
- https://github.com/chaoss/grimoirelab/blob/master/community_components.md#other-data-sources
- https:/

[2021-08-28 15:18] #342 closed

[2021-08-30 16:21] sduenas commented on #440
This has been without activity for a month. Feel free to open it if the problem still exists.

[2021-08-30 16:21] #440 closed

[2021-09-01 14:00] vchrombie commented on #403
Sorry @davidcshepherd, I think we missed the issue and it got lost eventually.

GrimoireLab is tested and works on Linux distributions. It is really hard to provide support and help with questions for Windows users.

Were you able to fix the issue?

Thanks @WolfgangKluge for your comments.

[2021-09-12 04:52] vchrombie commented on #403
I feel the main problem is GrimoireLab doesn't fully support Windows yet.

Closing the issue as there is no latest activity but feel free to open a new issue if you have any other doubts.

[2021-09-12 04:52] #403 closed

[2021-09-16 13:27] #392 closed

[2021-09-16 14:02] vchrombie commented on #374
The closest article which explains the setting up of GrimoireLab in a cloud instance is [GrimoireLab to measure organization’s private development](https://blog.bitergia.com/2020/06/25/grimoirelab-to-measure-organizations-private-development) written by @jsmanrique.

It would be great if we have some more articles with the instructions. @velmurugan-balasubramanian, please let me know incase if you

[2021-09-16 14:02] #374 closed

[2021-09-16 14:25] vchrombie commented on #257
GrimoireLab now has the support for Rocket.Chat, thanks to @Syn3rman @animeshk08 @valeriocos for being involved and contributing to the data source implementation.

Thanks @sanacl for opening the issue. :)

[2021-09-16 14:25] #257 closed

[2021-09-17 20:22] GeorgLink commented on #257
Woot woot! 🎉

[2021-09-20 07:31] vchrombie opened #449 "Add Mystic to the Built with GrimoireLab section"
Mystic is a community health analytics platform that utilizes GrimoireLab. Mystic will act as a front-end portal where anybody can submit their project. From there, the project will be sent directly to GrimoireLab, which will compute and publish the project's metrics for the submitter after only a few minutes.
https://opensource.com/article/21/9/openrit-mystic

At the moment, Mystic is still under

[2021-09-20 07:47] Nolski commented on #449
I really like that idea! @Alch-Emi will be presenting on Mystic at ChaossCon NA as well so if that's recorded we can place that somewhere.

[2021-09-20 08:59] vchrombie commented on #449
That's great to hear! I think we can share it on the social media for the outreach.

But, for the feature, I was talking about the [community_components.md](https://github.com/chaoss/grimoirelab/blob/master/community_components.md) and adding an item on the website [Built with GrimoireLab](https://chaoss.github.io/grimoirelab/#builtwith) section.

We can add the name and small description of the p

[2021-09-20 09:00] Nolski commented on #449
That, I am also okay with :). Apologies, the mention of the talk was unrelated (for the most part) to this ticket.

[2021-09-20 09:02] Nolski commented on #449
It would also be useful to include our OSF integration under https://github.com/chaoss/grimoirelab/blob/master/community_components.md#other-data-sources

https://opensource.ieee.org/rit/grimoirelab-elk-osf
https://opensource.ieee.org/rit/grimoirelab-perceval-osf

[2021-09-20 09:23] vchrombie commented on #449
That's absolutely fine @Nolski. Please let me know if any one is interested to open a PR. I can help with the review.

I agree to it. We can add these to the [Other Data Sources](https://github.com/chaoss/grimoirelab/blob/master/community_components.md#other-data-sources) section of the community_components page.

Mystic could go into the [Research & Development Projects](https://github.com/chaoss

[2021-09-20 11:51] zhquan commented on #410
Hi @marcofranssen

Sorry for the late reply. I lost this issue :(

The port is not hardcoded in the code by default elasticsearch uses the port `9200`  https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L534.

Do you have enriched indexes? If you can create the enriched indexes you will have no issue creating studies indexes https://github.com/chaoss/grimoirelab-sir

[2021-10-04 07:39] vchrombie commented on #449
@Nolski @Alch-Emi
Would you be interested to open a PR for it? Please feel free to add any images (if available).

I can open the PR for you if you are fine with it. I created this small info-graphic from the blog post image. We can add this if you are okay with it.
![mystic](https://user-images.githubusercontent.com/25265451/135811548-36060335-caee-4db9-bffc-cf488c044a32.png)

[2021-10-04 20:43] jgbarah opened #450 "Latest grimoirelab pip package is uninstallable"
It seems latest [grimoirelab package in pypi](https://pypi.org/project/grimoirelab/0.2.62/) (0.2.62) depends on 'sortinghat==0.7.16':

[code]

However, the latest [version of sortinghat I see in pypi](https://pypi.org/project/sortinghat/#history) is 0.7.15.

Curiously enough, the latest commit in the master branch of sortinghat is "Update version number to 0.7.16". Maybe this version was released,

[2021-10-04 20:49] jgbarah commented on #450
I'm opening [#587 in grimoirelab-sortinghat](https://github.com/chaoss/grimoirelab-sortinghat/issues/587) asking for the upload of sortinghat 0.7.16 to pypi.

[2021-10-04 20:50] jgbarah commented on #450
BTW, I think we could close #315, which is (I think) irrelevant now, since versions are newer.

[2021-10-05 18:09] vchrombie opened #451 "Hacktoberfest 2021"
[Hacktoberfest](https://hacktoberfest.digitalocean.com/) is an annual event hosted by DigitalOcean that aims to encourage developers to contribute to open-source projects and give back to the community.

GrimoireLab project would be interested to be participating this year in Hacktoberfest. This issue is a starting point, to provide all the relevant information needed for you.

## How to participa

[2021-10-06 06:18] codewith-arijit commented on #451
Hi, I am interested to work on #691
If the issue is open. Can I be assigned on it?

[2021-10-06 09:46] Nolski commented on #449
@vchrombie I'm fine with you opening the PR :). Apologies, I've been away from the computer a lot recently so haven't had a lot of cycles to engage here.

[2021-10-07 17:28] jgbarah commented on #450
Thanks for uploading sortinghat 0.7.16. But something wrong is happening. Now, when I try to install, there is a dependency of grimoirelab 0.2.62 on grimoirelab 0.2.61 (?):

[code]

Could you have a look at that, please?

[2021-10-20 12:32] MaineC opened #455 "Using GrimoireLab to analyze internal projects"
I would like to use GrimoireLab to analyze some GitHub projects - however they are private projects in a GitHub cloud account, access only possible with 2FA and SSO.

I managed to access GitHub data by configuring an api token in the github section of the setup.cfg file.

However I seem to be unable to checkout anything from git (tried to use ssh, but I'd rather not put my private keys into the do

[2021-10-21 20:43] sanacl commented on #455
Hi @MaineC ,

in order to allow Perceval to collect the data, the token must be included in the projects.json file. Yep, it is pretty awful.

In the example below, the user `bot` has a valid token `******`
[code]

[2021-10-30 11:29] vchrombie commented on #450
Hi @jgbarah
The GrimoireLab version 0.2.63 has been released recently and it looks the release commit changes look good.

This should solve the issue you are facing.

[2021-11-10 12:04] devarshigoswami opened #456 "error creating index for slack"
Hi! thanks for taking the time to read this :)
Trying to add slack as a data source in grimoirelab , im running it using docker-compose

here is what I did
1. edited conf/projects.json and conf/setup-secured.cfg in modred container

here is how my projects.json looks like
[code]

and my setup.cfg

[code]

output for `perceval slack -t API_TOKEN CHANNEL_ID`

[code]
I have not run `docker-compose -f

[2021-11-17 12:46] vchrombie commented on #451
Closing the issue as Hacktoberfest 2021 is completed.

[2021-11-17 12:46] #451 closed

[2021-11-17 20:10] zhquan commented on #450
The issue is fixed in version `0.2.64` @jgbarah @vchrombie

[2021-11-17 20:52] jgbarah commented on #450
Yes, i checked it. Thanks a lot! I'm closing the issue.

[2021-11-17 20:52] #450 closed

[2021-12-16 13:45] cakiki commented on #372
I second @hogepodge's concern. Has the docker route been de-prioritized?

[2022-01-06 14:31] shanchenqi opened #458 "[question]Enrollments table is filled at which stage？"
Excuse me, when I run grimoirelab with the sirmordred -c command, I will get uuid and organization_id message in the Enrollments table. After checking the Identities table, I found that it seems to use the user's email domain information to obtain the organization_ id and fill the Enrollments table. For example, if the user's email is xxx@sina.com, the organization_id is 1640 in the Domains_organi

[2022-01-06 16:39] vchrombie commented on #391
The PR https://github.com/chaoss/community-handbook/pull/23 is merged and I think we have enough information to get started with GrimoireLab in the handbook, so closing this issue.

Thank you @jaskiratsingh2000 for opening the issue.

[2022-01-06 16:39] #391 closed

[2022-01-06 16:43] vchrombie commented on #389
The docker versions should probably be updated. It is advised to use the [docker-compose](https://github.com/chaoss/grimoirelab/tree/master/docker-compose) method to use the latest version of GrimoireLab.

Closing this issue since we don't have any updates about the problem.
Thank you everyone for participating in the discussion. Please open a new issue in case you have any issues.

[2022-01-06 16:43] #389 closed

[2022-01-06 16:54] vchrombie commented on #455
Hi @MaineC, thanks for opening the issue and sorry for any inconvenience caused.
Could you solve your problem with [@sanacl's comment](https://github.com/chaoss/grimoirelab/issues/455#issuecomment-948988711)?

Please let us know.

[2022-01-06 16:55] vchrombie commented on #394
Thanks for the clarifications and instructions @shaileshvaidya.
Closing the issue since it seems to be resolved.

[2022-01-06 16:55] #394 closed

[2022-01-12 04:04] vchrombie opened #460 "Remove the support for Python 3.6"
The support for Python 3.6 has officially ended 2 weeks and 6 days ago (23 Dec 2021).
https://endoflife.date/python

Right now, most of the tools, their CI & other workflows run on 3.6, 3.7, 3.8 versions. I think we need to update them to 3.7, 3.8, 3.9 versions.

What do you think? Please let me know.
I open and/or review the PRs if needed.

[2022-01-12 09:37] zhquan commented on #456
Hi @devarshigoswami

Sorry for the late reply.

I have no issue using perceval
[code]

Some checks:
- The app is installed in your Slack instance.
- The token is correct
- The channel ID is correct
- You are using the latest version of Perceval

I hope it helps you.

Best,
Quan

[2022-01-14 15:18] zhquan commented on #458
Hi @shanchenqi

Sorry for the late reply.

First of all, you have to add an organization and assign a domain (sina.com) to that organization. There are several ways to add organizations:
1. Use [sortinghat](https://github.com/chaoss/grimoirelab-sortinghat)
  1.1 `sortinghat --host xxx -u xxx -p xxx --database xxx orgs -a ORG`
  1.2 `sortinghat --host xxx -u xxx -p xxx --database xxx orgs -a ORG si

[2022-01-15 16:11] shanchenqi commented on #458
@zhquan Thanks for your help! I run  _micro.py --identities-merge_， the table enrollments will be filled in. I will continue to take a look at these processes and pay more attention to the interaction with MariaDB.

[2022-01-24 02:59] #458 closed

[2022-02-07 15:31] jjmerchante opened #462 "Create a repository with common GitHub actions"
We have decided to create a new repository (https://github.com/chaoss/grimoirelab-github-actions) for the common GitHub Actions for all the Grimoirelab repositories. This new repository will contain the following actions that are already implemented:
- Build a Python package using Poetry
- Create a release from a tag
- Publish the poetry package to PyPI

[2022-02-07 15:38] jjmerchante opened #463 "Update existing Grimoirelab workflows using common GitHub Actions."
Based on https://github.com/chaoss/grimoirelab/issues/462, we have created GitHub actions that could be shared between many repositories.

Using these new common GitHub actions, update existing GitHub Actions workflows. This affects the following repositories:
- [x] [grimoirelab-toolkit](https://github.com/chaoss/grimoirelab-toolkit)
- [x] [perceval](https://github.com/chaoss/grimoirelab-perceval)

[2022-02-07 15:45] jjmerchante opened #464 "Support Poetry in every GrimoireLab component"
Currently we are using Pip for package installation and testing of the packages. The idea is to migrate to Poetry to make the packaging and dependencies easier to manage.

We have decided to use Poetry in all the GrimoireLab components. Opening this issue to track the status of all the components:
- [x] grimoirelab-toolkit
- [x] perceval
- [x] perceval-*
  - [x] perceval-mozilla
  - [x] perceval-o

[2022-02-07 15:58] jjmerchante opened #465 "Use Poetry for GitHub Actions tests in Grimoirelab components"
With the migration to Poetry for dependency management, we are migrating GitHub action tests to use Poetry.

This issue is open to track the status of all components:
- [x] grimoirelab-toolkit
- [x] perceval
- [x] perceval-*
  - [x] perceval-mozilla
  - [x] perceval-opnfv
  - [x] perceval-puppet
  - [x] perceval-weblate
  - [ ] perceval-finos (to be decommissioned soon)
- [x] grimoireelk
- [x] sor

[2022-02-07 16:09] jjmerchante opened #466 "Add workflow to GrimoireLab components to check if a changelog was included"
GrimoireLab will start using [Bitergia/release-tools](https://github.com/Bitergia/release-tools) for the automation of releases.

From now on, it will be mandatory in most of the pull requests to include a changelog file with a brief summary of the changes made. That file will be used for the future release notes.

Each repository will run a GitHub Action to verify if every pull request contains a

[2022-02-07 16:19] jjmerchante opened #467 "Create releases for each GrimoireLab component using GitHub actions"
The creation of future releases will be automatically. For that reason it will be necessary to include a new GitHub action workflow that automates the process.

When a new tag is created, the new workflow will perform the following actions:
- Build the package using Poetry.
- Test the built package using the tests of the repository.
- Create a GitHub release based on the new tag.
- Publish the pac

[2022-02-07 17:09] vchrombie commented on #462
This is awesome! :rocket:

[2022-02-09 09:44] sduenas commented on #462
@jjmerchante I've reviewed the PR.

[2022-02-09 12:45] sduenas commented on #462
I merged the PR. We can close this ticket.

[2022-02-09 12:45] #462 closed

[2022-02-10 00:51] jakspok commented on #202
Hi @BlairLee,

How are you, I went through the same error and the solution that worked for me running compose on win 10 was that within the docker-compose.yml configuration for the line where the configuration is declared
mordred:
      restart: on-failure:5
      image: bitergia/mordred:latest
      volumes:
        - /tmp/:/home/bitergy/logs

change it for this

      - ../home/bitergia/logs

wi

[2022-02-14 01:25] yodayuuki55 commented on #202
Thanks for your help!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Juan ***@***.***&gt;;
发送时间: 2022年2月10日(星期四) 上午8:51
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [chaoss/grimoirelab] Visualize: Error: in cell #1: [index_not_found_exception] no such index, with { resource.type=&quot;index_or_alias&quot; &amp; resource.id=&quot;github_repositories&quot; &amp; i

[2022-02-14 06:01] #463 closed

[2022-02-14 12:38] sduenas opened #468 "Remove finos backend support from GrimoireLab core"
This backend is not used anymore and shouldn't be part of the core of the platform. However, we should find the way to include third-party backends without adding them to the core.

[2022-02-16 23:51] a-romero opened #469 "Private GitHub repos unauthorized"
Hi,

I am doing analysis across my organization's repos in Github, which are all private. So far, I've managed to successfully import all the data related to git (ie authors, commits, etc) by using a token and the following projects.json config:

[code]

I've tried doing the same for github to get insights about PRs, Issues, etc, but if I use the same config applied to GitHub it fails:

[code]
My

[2022-02-17 06:55] vchrombie commented on #469
Hi @a-romero, thanks for opening an issue.

Good to see that you got the git configurations right and you got it working. If you need more clarification, you can checkout the tutorial https://chaoss.github.io/grimoirelab-tutorial/docs/data-sources/configurations/#git

But, I see a few things wrong with the github configurations tho. As per my understanding, you don't need to add the `username` and

[2022-02-17 23:31] a-romero commented on #469
Just managed to make it work via docker-compose but it somehow doesn't work with the full image using `docker run`.

Thanks for your help.

[2022-02-20 02:34] vchrombie commented on #469
Cool, I didn't know you were using the docker image. Well, I think the docker image is outdated but the docker-compose uses the latest version. So, it is always recommended to use the docker-compose method.

Thanks for finding your way through the issue @a-romero

I will close the issue since we fixed it, please open a new one incase of any other doubt.

[2022-02-20 02:34] #469 closed

[2022-02-21 14:24] brmukum opened #471 "Unable to get git (commit, git authors, git organizations) data from Github."
Hi! Can I get some help understand what I'm missing? I have GrimoireLab pulling data from Github and it's reporting on things like Github repositories, Github issues and Github PRs. However, when I go to the Git overview page, I see no data found. This is how I defined the git category in my setup.cfg:
[code]
This is how it looks like in my projects.json:
[code]
Do I need to set something else som

[2022-02-22 08:14] vchrombie commented on #471
Hi @brmukum, thanks for using GrimoireLab and opening this issue for clarifying your doubts.

Unlike the github related data sources, git doesn't really need a `api-token` parameter. But, if the repository is private, you need to make sure you pass the credentials (`username` and `api-token`) in the URL itself.

You can find an example at https://chaoss.github.io/grimoirelab-tutorial/docs/data-sou

[2022-02-22 15:25] brmukum commented on #471
Hey [vchrombie](https://github.com/vchrombie),  thanks very much! Adding the api token to the git setup made it work. I have one more question: Is there a way to pass in api-tokens securely to the projects.json or setup.cfg if I choose to store my grimoirelab files in a github repository ? I wouldn't want the tokens wide open in Github.

[2022-02-22 18:33] vchrombie commented on #471
Good to know it worked. Thanks for trying it.

I'm really sorry about it, I don't think there is an explicit way to do it. But, I liked the idea. It would be great if yo can open a new issue for relevant discussion.

Also, adding to the conversation, we have a project [zhquan/Q-DashMan](https://github.com/zhquan/Q-DashMan) built by one of our maintainers which kinda solves this issue by eliminatin

[2022-02-22 18:33] vchrombie commented on #471
Closing this issue since it is solved, please feel free to open a new one for any new doubts.

[2022-02-22 18:33] #471 closed

[2022-02-23 15:37] brmukum opened #472 "Jira data source authentication"
Hey GrimoireLab team! I just one question. To authenticate against a JIRA server to pull data, according to this configs https://chaoss.github.io/grimoirelab-tutorial/docs/data-sources/configurations/#jira, is the backend-user and backend-password the same pair of credentials that could used to log in the JIRA UI ?

[2022-02-23 18:09] vchrombie commented on #472
Yes, I think you are right. Also, as mentioned in the docs, the credentials are optional (unless it is a private jira instance).

Also, I searched about this. It seems that email and api-token might work as well.
- https://github.com/chaoss/grimoirelab-perceval/issues/752
- https://github.com/chaoss/grimoirelab-perceval/issues/592#issuecomment-559551680

Let us know if it worked. Thanks.

[2022-03-01 10:39] sanacl opened #473 "Include number of quarters in the Overall Community Structure dashboard"
The [Overall Community Structure](https://chaoss.github.io/grimoirelab-sigils/panels/overall-community-structure/) dashboard is not showing in the table information about the total number of quarters each contributor spend in each layer of the onion (core, regular, casual). This information can be added to the table as it is available in the index `all_onion` and field `quarter`.

Include informat

[2022-03-01 11:01] mafesan commented on #473
Just providing an example, the table would look similar to this one:

| Author name | # quarters as core | # quarters as regular | # quarters as casual |
| ----------------- | ------------------------ | ---------------------------- | --------------------------- |
| Author 1 | 5 | 6 | 8 |
| Author 2 | 7 | 2 | 1 |

[2022-03-02 16:55] brmukum opened #474 "Configure organizations"
Hey team, I was wondering how we could configure organizations. Currently, I have git repositories defined in the projects.json. I want to organize them under multiple organizations. This is how the organizations icon looks like but I want to break it down.
Any idea how to go about this ? Any files I have to configure ? Thanks!
![image](https://user-images.githubusercontent.com/83827605/156409518-

[2022-03-02 17:25] zhquan commented on #474
Hi @brmukum

You have to affiliate profiles to organizations.

There are several ways to do it.
1. Create an identities YAML file as https://gitlab.com/Bitergia/c/CHAOSS/profiles/-/blob/master/identities.yaml and add this on your setup.cfg, more info click [here](https://github.com/chaoss/grimoirelab-sirmordred#sortinghat)
[code]
2. Use [Sortinghat](https://github.com/chaoss/grimoirelab-sortinghat

[2022-03-02 20:07] brmukum commented on #474
Is organizations in this context Github organizations or custom-created organizations ? Is the identities.yml file related to what is in the organizations.json file ?

[2022-03-04 14:49] brmukum commented on #474
Thanks Zhquan! Just one last clarification: These organizations are basically external or internal organizations (companies or enterprises) that are part of the project, yes ?

[2022-03-08 21:34] brmukum opened #475 "Grouping capabilities"
Hey here! Is it possible to group repos together and view statistics for each group. For example, can I create a group known as alpha with 6 repos and beta with 7 repos, then view git commits or top authors for one group,say alpha or beta at a given time ?
Right now, I see only the total commits and PRs for all repos in the projects.json. I want to find out if I could group repos and just see cate

[2022-03-09 11:30] zhquan commented on #474
External

[2022-03-09 11:36] zhquan commented on #475
Hi @brmukum,

Yes, on your projects.json you can create different projects like
[code]

Then you can filter by the field `project`

I hope it helps you.

Best,
Quan

[2022-03-09 13:15] bmukum commented on #475
Thanks, Quan. I’ll check this out.

[2022-03-09 13:18] bmukum commented on #474
Thanks!

[2022-03-15 19:44] brmukum commented on #475
Working

[2022-03-15 19:45] #474 closed

[2022-03-17 20:34] brmukum opened #477 "Help with debugging github api issues"
Hey team! I'm seeing this error when trying to pull Git data:
[code]

I can see git commit data but github issues and github pull show nothing even though I have them (github:pull and github:issue etc) set up in the projects.json and setup.cfg.

[2022-03-18 06:26] vchrombie commented on #477
Hi @brmukum
Thanks for reporting the issue, would you mind sharing the configuration files (`projects.json` and `setup.cfg`)?

[2022-03-18 13:15] brmukum commented on #477
Hi @vchrombie here is what I have for github:issue and pull in the setup
[code]

The projects.json  looks like this for one of the projects:
[code]

That's what they look like. I can see git commit but issues and PRs are a problem.

[2022-03-22 18:03] brmukum opened #478 "Jira"
Hi GrimoireLab! Is there a way to pull jira data from a particular jira project or list of projects ?
This example in this documentation provides the URL of the jira server.
[code]
What if I have a jira project known as Mobile or frontend-app ? How do I get jira data only from these projects and not every single thing in jira ?

Thanks.

[2022-03-22 18:34] zhquan commented on #478
Hi @brmukum

In your setup.cfg you can set the project like
[code]

Right now if you want to add more projects you have to create more sections for example
projects.json
[code]
setup.cfg
[code]

Best,
Quan

[2022-03-24 00:00] zzz945 opened #479 "Failed to setup code complexity analysis"
Hi:

After running `docker-compose up -d`, everything works fine except the `cocom` part. I found the following related error messages. Btw, I am using the most recent master branch.

## Error messages in console

**mordred_1        | 2022-03-23 23:44:33,744 - graal.graal - ERROR - Analysis failed at 83c4d1aa3637929df55670031c857857318a3f9b
mordred_1        | 2022-03-23 23:44:33,745 - grimoire_elk

[2022-03-24 09:51] zhquan commented on #479
Hi @zzz945

Did you read this https://github.com/chaoss/grimoirelab-sirmordred#cocom- and https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables?

I hope it helps you.

Best,
Quan

[2022-03-24 16:11] brmukum commented on #478
Thanks,@zhquan ! It worked fine.

[2022-03-24 16:15] zhquan commented on #478
I close the issue.

Feel free to reopen the issue.

[2022-03-24 16:15] #478 closed

[2022-03-24 18:10] zzz945 commented on #479
Thank you for this quick response. Yes. I have installed Cloc in the mordred docker. And it seems it failed during checking out a commit, before doing any code analysis.  Nomos and ScanCode are also needed to be installed, right?

[2022-03-24 18:25] brmukum opened #480 "Clearing Data."
Hey team, @zhquan! Thanks for the help. I have one more question for now.

If I want to clear all the existing data I got from say, Jira, and feed in brand new data based on new projects, how would I do that without destroying and recreating the docker-compose setup ?

Really looking for safe reset on Jira data.

[2022-03-25 06:27] vchrombie commented on #480
I think you can delete the index and modred would collect and enrich the data again.

You can do it from command line:
[code]

For instance, my elasticsearch is at https://admin:admin@localhost:9200 and the index to delete is `jira_enriched`, thus the curl command is:
[code]

[2022-03-25 07:06] vchrombie commented on #466
I can confirm that we have completed all the tasks which are added in the https://github.com/chaoss/grimoirelab/issues/466#issue-1126194062

We have one PR pending for review :point_right: https://github.com/chaoss/grimoirelab-sigils/pull/499
@zhquan would you mind taking a look at it?

[2022-03-25 07:16] vchrombie commented on #464
Only this repo [chaoss/grimoirelab](https://github.com/chaoss/grimoirelab) is left in the list of projects for Poetry to be integrated. We can start rolling out releases https://github.com/chaoss/grimoirelab/issues/467 once we have Poetry integrated with all the components.

[2022-03-25 07:41] vchrombie commented on #465
One PR is left for merging :point_right: https://github.com/chaoss/grimoirelab-perceval-mozilla/pull/59
The rest of the tasks mentioned in the https://github.com/chaoss/grimoirelab/issues/465#issue-1126180036 are completed.

`perceval-finos` would be decommissioned soon
`kidash` doesn't have a test suite, so there would be no CI

[2022-03-25 08:54] vchrombie commented on #455
Hi @MaineC, I hope the issue is fixed.
Closing this issue, please feel free to open a new one for any other doubts.

[2022-03-25 08:54] #455 closed

[2022-03-25 08:56] vchrombie commented on #456
Hi @devarshigoswami

Were you able to fix the issue?

[2022-03-25 08:59] vchrombie commented on #472
Hi @brmukum, I hope the issue is fixed so I'm closing it right now. Please feel free to open a new one for other doubts.
Thank you.

[2022-03-25 08:59] #472 closed

[2022-03-25 09:03] vchrombie commented on #477
Hi @brmukum, sorry for reaching out late.
[code]

Looks like it is some problem with your internet connection. Can you access github.com from the browser? Do you have any VPN which might be blocking the request?

Please let us know.
Thanks.

[2022-03-26 19:53] diananova opened #481 "Mac M1 Docker problem"
When running `sudo docker-compose up` on my Mac (with M1 chip), I get this error:

[code]
I get this error only for Kibiter, everything else seems to be working.
<img width="978" alt="Screenshot 2022-03-26 at 20 52 49" src="https://user-images.githubusercontent.com/24480679/160255044-056b8cf6-e703-4173-bf82-dcab2754484c.png">

[2022-03-27 06:36] TieWay59 commented on #477
Hello @brmukum, I've received the same error log before when my deployment server has slow access to github.com. I fixed it after changing my cloud server plan.
As vchrombie suggests, VPN should also help.

[2022-03-27 13:03] vchrombie commented on #481
Hi @diananova, the GrimoireLab is built and tested on Linux-based systems. We cannot give much help since we cannot reproduce the problem in our local system.

It would also be helpful if you can post the logs (if available).

Quick google search around this topic gave me some results, which suggests to tweak the Dockerfile
- https://stackoverflow.com/questions/66349391/failed-to-create-new-os-thr

[2022-03-29 08:47] zhquan commented on #479
@zzz945 I think so.

I have no issue executing cocom
setup.cfg
[code]
projects.json
[code]
Result
[code]

Maybe you have no permission to write on the dir `/tmp/worktrees` (by default). You can change that by adding ´worktree-path´ in the setup
[code]

[2022-03-29 19:01] fernanda-ordonez commented on #386
Hello, I've been finding the same issue. I'm using the latest version 0.2.69 and the following configuration files:

{
    “BigDataBiology”: {
      "meta": {
        "title": "BigDataBiology"
      },
	  "github": [
          "https://github.com/BigDataBiology"
	  ]
    }
  }

[github]
api-token = xxxxxxxxxxxx
raw_index = github-repo_raw
enriched_index = github-repo_enriched
sleep-for-rate = true

[2022-03-30 08:48] zhquan commented on #386
Hi @fernanda-ordonez

Your projects.json is not correct due to the https://github.com/BigDataBiology is not a repository, try again but use a repository as https://github.com/BigDataBiology/SemiBin

[code]

I see you are using `category = repository` which means you will have the number of forks, stars, and subscribers in the repository. More info about [categories](https://github.com/chaoss/grimo

[2022-03-30 12:10] vchrombie commented on #477
@brmukum were you able to fix the issue?

[2022-03-30 12:17] vchrombie commented on #465
We have completed all the planned tasks in this issue, so closing it :partying_face:
cc @sduenas @jjmerchante

[2022-03-30 12:17] #465 closed

[2022-03-30 12:22] vchrombie commented on #480
@brmukum did you get your question answered?

[2022-03-30 12:51] vchrombie commented on #456
I think the most frequent mistake is we forget to install the app in the slack instance. I faced a similar issue but it got resolved after I added it.

Anyways closing this issue since it doesn't have much activity and I hope it was solved.

@devarshigoswami please let us know and re-open it if needed.

[2022-03-30 12:51] #456 closed

[2022-03-30 13:51] vchrombie commented on #481
Cross posting this message from Slack

@diananova feel free to try this and please do let us know if there is any progress.

[2022-04-01 06:59] vchrombie commented on #481
Hi @sharontao0420
Georg, one of our community members, has written a post on how to [install GrimoireLab using docker-compose](https://chaoss.community/blog-post/2019/10/08/simplifying-how-to-install-grimoirelab/). He uses a Mac but I'm not sure he uses Mac with N M1 chip (prolly not).

We are a bit helpless because none of the GrimoireLab maintainers use Mac and it is really hard for us to reprod

[2022-04-01 07:00] vchrombie commented on #386
@fernanda-ordonez were you able to fix the issue? If not, please feel free to open a new one.

[2022-04-01 07:02] vchrombie commented on #386
Closing this issue since everything works fine. It was prolly a problem with an old docker image.
It is suggested to use the docker-compose solution for to use the latest version of GrimoireLab.

[2022-04-01 07:02] #386 closed

[2022-04-01 07:04] vchrombie commented on #477
Closing this issue because of no recent activity.
@brmukum, please feel free to re-open it if you are still facing the same problem.

[2022-04-01 07:04] #477 closed

[2022-04-01 07:05] vchrombie commented on #479
Hi @zzz945, did you get some time to try the [@zhquan comment](https://github.com/chaoss/grimoirelab/issues/479#issuecomment-1081600190).

[2022-04-01 07:09] vchrombie commented on #480
Closing this issue since no there is no recent activity. Please feel free to re-open @brmukum.

[2022-04-01 07:09] #480 closed

[2022-04-01 07:13] vchrombie commented on #460
- [ ] grimoirelab-toolkit
- [ ] perceval
- [ ] perceval-*
  - [ ] perceval-mozilla
  - [ ] perceval-opnfv
  - [ ] perceval-puppet
  - [ ] perceval-weblate
- [ ] grimoireelk
- [ ] sortinghat (old)
- [ ] sortinghat (new)
- [ ] sirmordred
- [ ] sigils
- [ ] kingarthur
- [ ] cereslib
- [ ] kidash
- [ ] graal
- [ ] grimoirelab

[2022-04-01 12:05] diananova commented on #481
Yeah using Docker for Apple Silicon doesn't solve the issue.

[2022-04-05 11:45] sduenas commented on #466
@vchrombie I already merged the sigils PR so I think we can close this issue. Please re-open it if you see something else is missing.

[2022-04-05 11:45] #466 closed

[2022-04-05 20:00] zzz945 commented on #479
I have tried @zhquan comment but unfortunately it doesn't work for me. I tried to inspect the issue and went into the docker and as the found nothing in /tmp/worktrees, as the following picture shows.

![Screen Shot 2022-04-05 at 10 45 31 AM](https://user-images.githubusercontent.com/21496977/161837237-a166e882-1226-40d4-a7c1-1e7edef396ea.png)

By the way, I am using Macbook Pro with Intel Core i5

[2022-04-06 08:44] sduenas commented on #464
We completed this task. All the components and repositories have poetry integrated. Thanks for your work @jjmerchante @vchrombie .

[2022-04-06 08:44] #464 closed

[2022-04-08 10:48] zhquan commented on #479
Hi @zzz945

It seems that Mordred cannot write on `/tmp/worktrees` so try another directory as `worktree-path = /home/bitergia/worktrees/`.

Some executions:

Set `worktree-path = /home/bitergia/worktrees/`
[code]

Without set `worktree-path` (by default is `/tmp/worktrees`)
[code]

[2022-04-11 05:33] vchrombie commented on #467
This is merged!

A PR is opened, https://github.com/chaoss/grimoirelab-sortinghat/pull/613

We are close to completing this task too. :tada:

[2022-04-11 16:10] sduenas commented on #467
@vchrombie pr merged. I think we have completed all the tasks here!

[2022-04-11 18:54] vchrombie commented on #467
Yes, we can close the issue.
Thanks, @jjmerchante, and @sduenas for making this happen.

Let's roll out the releases soon!

[2022-04-11 18:54] #467 closed

[2022-04-14 06:43] hogepodge commented on #481
I'm guessing that the Kibiter docker image needs to be rebuilt for ARM. Digging into the Dockerfile, it uses an x86 Kibiter build.

[2022-04-21 14:45] TieWay59 commented on #424
Hi, I'm tieway59 and I'm interested in this metric, I would work on it as my first contribution back to grimoirelab.

[2022-04-21 15:51] uyaharneit opened #484 "docker-compose_mordred_1 with state Exit_1"
Hi,

I'm trying to run all the containers with docker-compose and I always got mordred state in Exit state.
I have already tried the suggestion given on issued  #436  but still got error. Why was wrong with my docker-compose?

I think the main problem is from here:

  | cp: cannot open 'shdb.cfg' for reading: Permission denied

But, I'm not sure because I'm completely new with this tool and have t

[2022-04-22 10:44] vchrombie commented on #424
Thanks for showing interest @TieWay59.

I would like to give you some pointers for helping with this. I assume you are already having the developer setup in your system. Most of the raw data is already available if you run the `raw` task using micro mordred. You can find the [stackexchange enricher in the ELK repository](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/s

[2022-04-22 13:40] zhquan commented on #484
Hi @uyaharneit

Check your ´setup.cfg´ and make sure to add `logs_dir = /home/bitergia/logs` in the `general` section. And restart the mordred container.

I hope it helps you.

[2022-04-22 14:35] uyaharneit commented on #484
It was already there. And it still doesn't work.

I think it's still a problem because my sudo user account doesn't have full access(my ubuntu was installed from the server at my campus). I tried to run it on other computer which is my own laptop and it works.
Thanks anyway for your reply.

[2022-04-22 14:52] zhquan commented on #484
I guess your `docker` has no permission to read `setup.cfg`.

If you are using this https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml#L51 make sure that `docker` has read permission to all of them and write permission to `/tmp`

[2022-04-25 09:10] uyaharneit commented on #484
Hi @zhquan

Sorry for my late reply. I tried run it using 'docker' instead 'docker-compose' and it works.
Thanks again for your help, anyway.

[2022-04-25 09:25] vchrombie commented on #484
Hi @uyaharneit, please feel free to close the issue if it is resolved.

[2022-04-25 09:32] uyaharneit commented on #484
Sure. Thanks

[2022-04-25 09:32] #484 closed

[2022-04-27 00:30] zzz945 commented on #479
Update:

Good news is I able to worked around this problem using micro.py thanks to the above link mentioned by zhquan. My way is:
1. Run grimoirelab using docker compose:  docker-compose up -d
2. Login into mordred docker: docker exec -it 【your_mordred_docker_id】  /bin/sh
3. Install cloc  (see [this](https://github.com/chaoss/grimoirelab-graal#how-to-installcreate-the-executables))
4. Clone grimo

[2022-04-29 09:49] uyaharneit opened #485 "Missing section parameter in github:pull"
Hi,

I'm trying to show pull requests on my dashboard and have already setup up the 'github:pull' in the 'setup.cfg' But what I got was always either one of these errors:

Error while consuming configuration:  ('Missing section param:', 'github:pull', 'raw_index')

or

Error while consuming configuration:  ('Missing section param:', 'github:pull', 'enriched_index')

I've already changed the value

[2022-04-29 10:20] vchrombie commented on #485
Hi @uyaharneit, sorry for the inconvenience caused.
Could you please share the `setup.cfg` to look more into the issue?
Thanks.

[2022-04-29 10:28] uyaharneit commented on #485
Hi

Thanks for your reply @vchrombie

# Simple SirMordred config file
#

[general]
# Name of the project to analyze (will appear in dashboard)
short_name = MyProject
# Update incrementally, forever
update = true
# Don't start a new update earlier than (since last update, seconds)
min_update_delay = 100
# Produce debugging data for the logs
debug = true

# Directory for logs
logs_dir = /logs

[proj

[2022-04-29 10:32] vchrombie commented on #485
@uyaharneit, would you mind sharing the `projects.json` as well?

[2022-04-29 10:33] uyaharneit commented on #485
`# Simple SirMordred config file
#

[general]
# Name of the project to analyze (will appear in dashboard)
short_name = MyProject
# Update incrementally, forever
update = true
# Don't start a new update earlier than (since last update, seconds)
min_update_delay = 100
# Produce debugging data for the logs
debug = true

# Directory for logs
logs_dir = /logs

[projects]
# File with repositories to ana

[2022-04-29 10:34] uyaharneit commented on #485
`{
    "My Project": {
        "git": [
            "https://github.com/eclipse/mosquitto",
            "https://github.com/eclipse/californium"
        ],
        "github": [
            "https://github.com/eclipse/mosquitto",
            "https://github.com/eclipse/californium"
        ],
        "github:pull": [
            "https://github.com/eclipse/mosquitto",
            "https://github.com

[2022-04-29 10:56] vchrombie commented on #485
Answering to your question, I don't think there is any naming convention or rules for naming the index names. You can name them whatever you want unless the `[backend:tag]` (tag is optional) in the `setup.cfg` matches with the one in `projects.json`.

I see the `api-token` is missing in your `setup.cfg` github issue configurations. But, I don't think it is related to the issue in anyway.

Any ways

[2022-04-29 11:01] uyaharneit commented on #485
Hi @vchrombie. I run with docker. But I will try it with docker.

Thanks a lot anyway for your answer.

[2022-04-29 11:03] vchrombie commented on #485
I would suggest you to use the docker-compose method since it is pretty straight-forward and easy to use.
https://github.com/chaoss/grimoirelab/tree/master/docker-compose

[2022-04-29 11:17] uyaharneit commented on #485
docker-compose can't run on macOS arm64. So, I use docker instead. I hope that you have the version that can be run on that machine.

Anyway, i already run it with docker and got this error

Error while consuming configuration:  ('Missing section param:', 'github:issue', 'raw_index')

[2022-05-03 15:06] uyaharneit opened #486 "Error in docker-compose-mordred"
Hi all,

I tried to run docker compose and have configured the setup and projects file and I got this error:

### docker-compose-mordred-1        | 2022-05-03 14:35:35,970 - grimoire_elk.elk - ERROR - Error feeding raw from github (https://github.com/E-Grid/): 404 Client Error: Not Found for url: https://api.github.com/repos/E-Grid//issues?state=all&per_page=100&direction=asc&sort=updated&since=19

[2022-05-03 15:07] uyaharneit commented on #486
This is the setup.cfg:

[general]
short_name = GrimoireLab
update = true
min_update_delay = 60
debug = false
logs_dir = /home/bitergia/logs
aliases_file = /home/bitergia/conf/aliases.json

[projects]
projects_file = /home/bitergia/conf/projects.json

[es_collection]
url = http://elasticsearch:9200

[es_enrichment]
url = http://elasticsearch:9200
autorefresh = true

[sortinghat]
host = mariadb
user

[2022-05-03 15:29] zhquan commented on #486
Try this projects.json
[code]

[2022-05-03 16:37] uyaharneit commented on #486
Hi @zhquan,

Thank you for your quick reply. It works now and I'll close the issue

[2022-05-03 16:37] #486 closed

[2022-05-04 06:37] uyaharneit commented on #485
Hi @vchrombie,

I run other example from this issue  #242 and it works and I only changed the projects.json with other URL.
It works as well and run

`GET _cat/indices` on the dashboard

and got this results:

[code]

but still couldn't see the pull requests and github on the dashboard. Why did these data sources not displayed?
And also I want to know what the columns represents?

Thanks in advanc

[2022-05-04 10:21] zhquan commented on #485
Hi @uyaharneit

I cannot see your github enriched index `github_eclipse` (according to https://github.com/chaoss/grimoirelab/issues/485#issuecomment-1113154028 your github enriched index is `github_eclipse`).
If the enriched index is created you have to check your aliases
[code]
The GitHub Issues and Pull Requests dashboards are based on the `github_issues` index pattern.

https://www.elastic.co/g

[2022-05-04 11:53] uyaharneit commented on #485
Hi @zhquan,
Appreciated for your reply.

Finally pull requests and github are visible now after hours. I got this as the result of `GET _cat/indices`:

[code]

and this result for the command `GET _cat/aliases`
[code]

Thanks heaps for your help anyway. I close this issue

[2022-05-04 11:53] #485 closed

[2022-05-11 06:56] vchrombie commented on #357
Hi @mabelbot, please feel free to pick it up. The aim of the issue is to add Discord as a new data source to GrimoireLab.

You can understand how the [different components work together in GrimoireLab](https://chaoss.github.io/grimoirelab-tutorial/components). You can check the [Workflow](https://chaoss.github.io/grimoirelab-tutorial/docs/components/workflow/) and [Scenarios](https://chaoss.github

[2022-05-11 15:09] mohlatif227 opened #488 "wants to remove gitlab visuals"
Hello,

I'm able to get data from git and github using as data sources, however I see there is GitLab visuals as well and this doesn't have any data and we are not using GitLab. Could you please help me to remove these GitLab visuals from Dashboard. Attaching screenshot for reference.

![image](https://user-images.githubusercontent.com/27799983/167883192-242c4ad9-196f-47db-85e9-842fcd077879.png)

[2022-05-11 16:11] zhquan commented on #488
Hi @mohlatif227

To remove visualizations from the dashboard follow these steps:
1. Click on `edit`

![image](https://user-images.githubusercontent.com/5637233/167895921-5525ebd0-4cb6-41b4-8004-1ed4a600c41b.png)

2. Click on `setting icon` and `Delete from dashboard`

![image](https://user-images.githubusercontent.com/5637233/167896354-b9b8c4a3-5954-416c-ae5c-67092ca6aa92.png)

3. Click on `save`

[2022-05-11 17:29] mohlatif227 commented on #488
Thanks a lot @zhquan , it really helped.

--
Altif

[2022-05-12 07:46] zhquan commented on #488
@mohlatif227 - Please close the issue, if you were able to solve it, thanks.

[2022-05-12 12:08] mohlatif227 commented on #488
Resolved, hence closing the issue.

[2022-05-12 12:08] #488 closed

[2022-05-13 09:14] sduenas opened #489 "Break circular dependency between cereslib and grimoireelk"
There's a circular dependency between `cereslib` and `grimoireelk` which makes impossible to update other package dependencies.

The root of this problem is that `cereslib` needs to update the information about identities in the database. To do so, it uses the connector with `sortinghat` that `elk` has. At the same time, `elk` uses `cereslib` to generate data events for a later use in the studies.

[2022-05-16 09:43] mohlatif227 opened #490 "Deploy on AWS EKS"
Is there a way to deploy grimoirelab tool on AWS EKS? I'm able to run it on docker using docker-compose. I'm planning to deploy it on AWS EKS? Could you please help on this?

[2022-05-16 09:48] mohlatif227 opened #491 "Where private repo source is stored?"

[2022-05-18 01:01] mohlatif227 commented on #491
thank you, @zhquan, appreciate your help.

[2022-05-18 01:01] #491 closed

[2022-05-18 17:09] mohlatif227 opened #492 "Not getting GitHub Issues and GitHub PRs data on dashboard"
Hello,

I've setup and configured grimoirelab on docker-compose running on EC2 instance and able to get git data(private repo) on dashboard. However, I'm still struggling to get GitHub Issues and GitHub PRs data on the dashboard.
I'm not getting any error while accessing GitHub Issues/GitHub PRs dashboard, not sure what I'm missing here?

Attaching image for reference.

<img width="1785" alt="imag

[2022-05-19 07:07] mohlatif227 commented on #492
Thank you, @vchrombie for your response.

As you'd suggested, I'd make changes in `projects.json` and `setup.cfg` file.

I'd blurred the corpname and username/api-token.

projects.json

<img width="921" alt="image" src="https://user-images.githubusercontent.com/27799983/169227724-b49b7aab-6962-4f09-94f7-791c5aebd227.png">

setup.cfg
[code]

After making changes, now GitHub Issues and GitHub PRs da

[2022-05-19 08:07] zhquan commented on #492
Hi @mohlatif227

Have a look at https://github.com/chaoss/grimoirelab-sirmordred/issues/521

[2022-05-19 16:58] sduenas commented on #489
We were able to break the dependency, we only need to merge this PR to set SortingHat as required and not optional in ELK:

https://github.com/chaoss/grimoirelab-elk/pull/1050

[2022-05-20 09:10] sduenas commented on #489
Dependency broken!! We can close this ticket.

[2022-05-20 09:10] #489 closed

[2022-05-20 09:16] mohlatif227 commented on #492
Hello @zhquan @vchrombie,

I'd updated the `projects.json` and `setup.cfg` file as you'd suggested and performed below to clean up the dir and start over again:

1. Brought down docker-compose

[code]
2. Removed docker images:

[code]
3. Removed docker volume:

[code]

4. Bring up docker-compose

[code]

 After starting the docker-compose, now I'm not even able to get git data( Earlier it was work

[2022-05-25 17:35] mohlatif227 commented on #492
Thank you @zhquan, now I'm able to get the GitHub Issues and PRs data. It took sometime to fetch data that's why initially data was not populated on Kibana ui.

--
Altif

[2022-05-25 17:35] #492 closed

[2022-05-27 08:20] #468 closed

[2022-05-31 18:38] vchrombie commented on #460
We have upgraded the python version to 3.7 for all the tools.

[2022-05-31 18:38] #460 closed

[2022-06-01 08:40] sduenas commented on #490
Sorry, I'm afraid nobody on the core team has done that before or have experience with AWS EKS. I'm closing this task but I hope somebody can help you with that. If at some point we try it, I'll keep you posted.

[2022-06-07 14:35] mohlatif227 opened #495 "Issue: ERROR - Failed to insert data to ES"
Hello,

I'd configured grimoirelab tool on AWS EC2(amazon Linux 2) t3.large Instance to visualize Git, GitHub Issue and GitHub PRs data. However, after couple of days, GitHub data is not updating on Kibana dashboards. The data available on Kibana dashboards are from June 2nd, since then it's not being updated. While checking docker-compose logs, I'm getting below error:

[code]

I'd checked the di

[2022-06-08 07:31] vchrombie commented on #218
Hi everyone, thanks for waiting on this issue patiently. We were working on integrating the release-tools with the GrimoireLab projects and we are close to completion.

Most of the release process is now automated and the release notes would be published on the GitHub as the part of the workflow. This is for the individual components and for grimoirelab repository.

I would like to thank @sduenas

[2022-06-08 08:53] vchrombie commented on #495
Hi @mohlatif227, looking at the logs, it seems to a 403 forbidden error. It might be a permission issue.
[code]

Is you ES instance accessible for writing data?

[2022-06-08 15:38] shanchenqi opened #496 "Add Gitee Backend in Grimoirelab"
Hello, everyone! We want to merge the grimoirelab-gitee（[perceval](https://github.com/grimoirelab-gitee/grimoirelab-perceval-gitee), [enrich](https://github.com/grimoirelab-gitee/grimoirelab-elk-gitee)） solution back to Grimirelab in CHAOSS, just as discussed in slack grimoirelab channel.
 In our previous solution, we made grimoirelab-gitee as a [plugin](https://github.com/chaoss/grimoirelab-elk/i

[2022-06-09 07:37] mohlatif227 commented on #495
Hello @vchrombie,
It's running on same EC2 instance and it was just working fine couple of days back. Since 2nd june, it's not working. There was no changes except just downgraded EC2 instance from t3.xlarge to t2.large instance type.

[2022-06-09 07:52] mohlatif227 commented on #495
After going through [this thread](https://stackoverflow.com/questions/50609417/elasticsearch-error-cluster-block-exception-forbidden-12-index-read-only-all), it appears that due to less free disk(less 15% percentage), ES putself itself to read only mode and that's why it's through 403 exception as it can't write data.

[2022-06-09 08:32] vchrombie commented on #495
Okay, that makes sense. So, this is not a problem from the GrimoireLab side atleast. Do you mind to close the issue?
Please let us know if you need any help.

[2022-06-09 09:02] #495 closed, assigned to nobody

[2022-06-10 11:50] GeorgLink commented on #496
I love the idea and also appreciate that you will provide long-term maintenance for gitee support.

I'm not familiar with the maintainership side of GrimoireLab, so can only express my excitement for this but don't know about next steps.

[2022-06-10 12:01] GeorgLink commented on #218
Yay! Thanks for the progress report.

[2022-06-10 16:45] sduenas commented on #496
Thanks for reaching us back @shanchenqi and @eyehwan again. We will be happy to have gitee backend as part of the grimoirelab official distribution. However, I still think we need to define how to do it. My thoughts are going in a different direction of yours, though.

I think we should lightweight perceval/grimoirelab in terms of datasources supported. There are some bakends that are part of the

[2022-06-11 06:57] eyehwan commented on #496
@sduenas , actually we already have gitee perceval solution as a plugin in our own github repo: [grimoirelab-perceval-gitee](https://github.com/grimoirelab-gitee/grimoirelab-perceval-gitee) and have been using it for more than one year, which is stable.
If you think plugin solution is good and I am fine with it. But it requires small code change in the grimoirelab, we can create pull request for i

[2022-06-14 09:43] shanchenqi commented on #496
Hi,@sduenas! We have already moved [perceval-gitee](https://github.com/grimoirelab-gitee/grimoirelab-perceval-gitee) repository under CHAOSS organization as you suggested. Could you review [codes](https://github.com/grimoirelab-gitee/grimoirelab-perceval-gitee) for us? Thanks for your help.

In next period, we will continue to move [grimoirelab-elk-gitee](https://github.com/grimoirelab-gitee/grimo

[2022-06-14 09:45] eyehwan commented on #496
@sduenas also could you please give us a name list who need access to this repo?

[2022-06-14 15:12] uyaharneit opened #497 "Mordred exited (running the docker-compose)"
Hi all,

I am trying to use docker compose and when I did this command `docker compose ps` I got this:

[code]
here are the logs:

[code]
Please give some insights what problems caused this and how to solve this.
Many thanks.

[2022-06-14 16:49] sduenas commented on #496
Thanks @shanchenqi  and @eyehwan for doing that. Happy to see the backend is under CHAOSS now. Ok, so the only permissions that I need is to add the GrimoireLab core team to it but I don't understand why I can't do it. As admin of CHAOSS I should be able to do it.

[2022-06-14 16:50] sduenas commented on #496
Thanks! I'll be very glad to do it.

[2022-06-15 01:36] eyehwan commented on #496
@sduenas I have given you admin access of this repo, you should be able to add core team now.

[2022-06-15 07:54] zhquan commented on #497
Hi @uyaharneit

Check your setup.cfg and make sure that you have this.
[code]

Also, your `docker` user must have read and write permissions for the directory `/tmp` (you can change this directory if you want) if you are using this https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml#L56

Best,
Quan

[2022-06-15 08:40] uyaharneit commented on #497
I run it on ubuntu 20.04 and using the OS running on the campus desktop

[2022-06-15 08:57] uyaharneit commented on #497
I tried again the docker and I got this:

`2022-06-15 08:52:52,372 - grimoire_elk.elk - ERROR - Error feeding raw from github (https://github.com/cregit/cregit): 401 Client Error: Unauthorized for url: https://api.github.com/rate_limit`

Also, the _cat/indices resulted this

![image](https://user-images.githubusercontent.com/102674618/173786716-255a3b62-1535-403f-a844-487d3070408f.png)

The indice

[2022-06-15 09:40] zhquan commented on #497
The `grimoirelab/full` image is not updated, but according to your docker run

I guess you are using this https://github.com/chaoss/grimoirelab/blob/master/docker/mordred-dashboard.cfg and that is why you have those indices. I don't know the content of `credential.cfg`

GitHub API rate is exhausted, activate `sleep-for-rate = true` in github section

I'm sure that you are not using your own setup.

[2022-06-15 09:57] sduenas commented on #496
Thanks! I already had permissions but I think I was doing something wrong. Thanks anyway!

[2022-06-15 10:56] uyaharneit commented on #497
Yes, I copied this dashboard.cfg but I already changed the value of raw index and enriched index. Or I missed something else?
The credential.cfg contain the api-token only

So, what do I supposed to do so that the logs, repositories and indices are as they should be.
Thanks

[2022-06-15 12:08] zhquan commented on #497
I recommend you to use docker-compose, due to the `grimoirelab/full` is not updated

https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml#L47

[2022-06-15 16:50] uyaharneit commented on #497
I already tried the docker-compose but as I mentioned it earlier in this issue I still got the error so that is why I used the docker instead.

[2022-06-15 16:55] uyaharneit commented on #497
Why was the grimoirelab/full not updated? Thanks

[2022-06-16 07:47] zhquan commented on #497
@jgbarah

[2022-06-16 09:22] sduenas commented on #497
We are improving the way we make the release of new GrimoireLab versions but this part didn't get an update laterly. We are also defining how the new image will be. However, I will try to update it to the latest GrimoireLab version today or tomorrow .

[2022-06-16 10:59] uyaharneit commented on #497
[code]

my setup.cfg file:

[code]
Thank you

[2022-06-16 11:02] uyaharneit commented on #497
Hi @sduenas,

Great! Thanks anyway and I'm looking forward the latest GrimoireLab since I will use it for my study.

[2022-06-16 11:08] uyaharneit commented on #497
@zhquan,

Please need your help, how to fix the docker-compose and make it collect the data from Gentoo project. I do need to analyse data from this project. Many thanks in advance

[2022-06-16 13:18] zhquan commented on #497
Try this:
1. Create a new directory for logs: `mkdir ~/logs`
2. Your `docker` user must have read and write permissions, if you don't know try `chmod 0777 ~/logs`
3. Update the volumen in your docker-compose
[code]
4. Run the docker-compose

I assume that your setup.cfg is `../default-grimoirelab-settings/setup.cfg` and your projects.json is `../default-grimoirelab-settings/projects.json`

[2022-06-16 13:38] uyaharneit commented on #497
I got this problem still:

[code]
Already followed your steps

[2022-06-16 14:15] zhquan commented on #497
This error tells us that in your `setup.cfg` there is no `logs_dir` in your `general` section
[code]

What is the path of your `setup.cfg`? I mean, are you modifying this `../default-grimoirelab-settings/setup.cfg`?

Also, you have to uncomment the `projects` section
[code]

[2022-06-16 14:39] uyaharneit commented on #497
I double checked and I've already modified it

Already uncomment the section.

Still got the Mordred status is exited

[code]

[2022-06-16 14:47] uyaharneit commented on #497
I cannot access the localhost:5401 on ubuntu desktop

but I can access the <my desktop IPaddress>:5601 with some "warning" like this
<img width="1361" alt="Screenshot 2022-06-16 at 16 46 11" src="https://user-images.githubusercontent.com/102674618/174096730-91101d85-5f3c-4002-87e9-dfb5b9c4de68.png">

[2022-06-16 14:47] zhquan commented on #497
With the same error?

[2022-06-16 14:47] uyaharneit commented on #497
Yes. Unfortunately

[2022-06-16 14:48] uyaharneit commented on #497
I mean I tried to access the localhost using other device and I got as seen on the pic

[2022-06-16 15:19] zhquan commented on #497
Kibana port is `5601` and it always returns that warning if there is one index pattern

I have no issue running the docker-compose
[code]
I'm using this https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml without changing anything

In a few seconds, I can see git indexes
[code]

[2022-06-16 16:12] shanchenqi commented on #496
Hi, @sduenas .We added grimoirelab-elk-gitee under chaoss in the repo https://github.com/chaoss/grimoirelab-elk-gitee. For plugin mechanism, I created a pull request [#1062](https://github.com/chaoss/grimoirelab-elk/pull/1062).

[2022-06-17 02:29] eyehwan commented on #496
@sduenas until now, we have moved main part of gitee solution(perceval+elk) as plugin solution to Grimoirelab, let me your suggestions in the next step.

Thanks.

[2022-06-17 07:27] uyaharneit commented on #497
Hi @zhquan,

Sorry for my late reply.
I run the docker-compose with the these default projects.json and setup.cfg and still got the same problem.
It is really interesting that the mordred's status is still exited. I already followed all your instructions.

[2022-06-17 11:38] uyaharneit commented on #497
[code]

My mordred is not the latest one:
`bitergia/mordred                                    latest               875e72875a21   3 months ago    1.19GB`

[2022-06-17 12:06] zhquan commented on #497
update the mordred image.

If you have this on your docker-compose
[code]
And `../default-grimoirelab-settings/setup.cfg:/home/bitergia/conf/setup.cfg` is correct.

This error does not make sense
[code]

I'm still thinking that your docker-compose is using another setup.cfg

[2022-06-17 12:20] Naveen-FSS commented on #403
Any solutions for above issue ?

[2022-06-17 14:28] uyaharneit commented on #497
already updated

I delete the grimoirelab and reclone again but still got the same problem also I think there is other problem as well in the hatstall:

[code]

Cannont access file shdb.cfg. I also made this file can be read by the docker but still got the same problem. What is really I missing here?

[2022-06-19 06:41] vchrombie commented on #403
GrimoireLab doesn't support Windows. It is built, tested on Linux platforms.

[2022-06-20 05:41] kiranravindran90 opened #498 "HTTP 503 error while reaching Kibana server"
We installed Grimoirelab successfully. But we are unable to access the GUI & getting HTTP 503 error, Kibana server isnt ready.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/90866692/174532669-01a4f1e5-a49b-447e-b0f1-0b7ee0c96827.png)

OS is UBUNTU 21.04.

[2022-06-20 09:22] zhquan commented on #497
Could you please write all your steps from repository cloning? If I can't reproduce the error I can't help you

Let's try to fix the `KeyError` first

[2022-06-20 09:26] zhquan commented on #498
Hi @kiranravindran90

I need more information.
- ElasticSearch and Kibana version
- Are you using docker-compose?

Best,
Quan

[2022-06-20 10:09] uyaharneit commented on #497
I followed the steps from here: https://github.com/chaoss/grimoirelab

I run the command : `$ git clone https://github.com/chaoss/grimoirelab` under the directory: `/home/<username>`

then running the command docker-compose under `/grimoirelab/docker-compose`

[2022-06-20 15:20] zhquan commented on #497
I can't reproduce the error and I restart mordred several times without any error
[code]

Here are my git indexes
[code]

[2022-06-21 04:28] kiranravindran90 commented on #498
Hi Quan,
 Yes I used docker-compose.
Just followed these steps & didnt do anything else (assumed Kibana & ElasticSearch gets installed as a package)
![image](https://user-images.githubusercontent.com/90866692/174716044-67105a18-42b9-4ae0-9723-497f8cc7f8c6.png)

But I observed none of the Kibana & ElasticSearch commands work. Should these be separately installed?

[2022-06-21 14:05] uyaharneit commented on #497
Yes, mine is supposed to be the same because I did follow everything in the tutorial even what you instructed me to do. Now  I don't have any ideas at all about why my docker-compose is not able to run as it should be.

Anyway, thanks heaps for your help and time.

Also, the docker-compose version for Mac OS ARM 64 is still not available yet? It would be awesome if Grimoirelab has the version for

[2022-06-21 15:21] zhquan commented on #497
Sorry, I don't use Mac, I have no idea about that.

[2022-06-21 15:24] zhquan commented on #498
In that docker-compose there are 5 dockers (mariadb, hatstall, elasticsearch, kibiter, and mordred). After running `docker-compose up -d` you will see all those containers
[code]

Remember that if elasticsearch is not ready, kibiter will return something like `Kibana server is not ready yet`

You can run `docker logs <container_name>` to see the logs

[2022-06-21 15:59] sduenas commented on #497
@uyaharneit sorry to jump in here. Instead of using those configuration files from 'grimoirelab' repo, can you use these other ones from sirmordred repository? https://github.com/chaoss/grimoirelab-sirmordred/tree/master/sirmordred/utils

You need `projects.json` and `setup.cfg`.

Run the docker-compose using these files to see what happens.

[2022-06-22 16:37] uyaharneit commented on #497
Unfortunately.

Do you mean just copy the `projects.json` and `setup.cfg` to the folder `grimoirelab-default-settings`?

[2022-06-22 17:32] sduenas commented on #497
Yes.

[2022-06-23 06:23] uyaharneit commented on #497
Still got the same error :'(

[2022-06-23 07:34] jjmerchante opened #499 "Create Grimoirelab release using GitHub Actions"
The creation of future releases will be automatically. For that reason it will be necessary to include a new GitHub action workflow that automates the process.

The goal for this issue is to create a release for each Grimoirelab module using [release-tools](https://github.com/Bitergia/release-tools).

The new GitHub workflow will create a new version for each package using the following steps:

-

[2022-06-23 08:45] sduenas commented on #497
As @zhquan said, I really think your docker compose is not really mounting the setup configuration file because there's also an error with the hatstall setup too. The container can't read that file either.

To help you and solve the problem, I think you will need to provide use all the commands the sequence of commands you run, the path where you run them and the contents of the directories where

[2022-06-23 09:19] kiranravindran90 commented on #498
Hi Quan,  Elastic Search was missing. I am not sure why the initial docker compose but re-did the docker compose & it seemed to work & the GUI is accessible now.
Thank you for the suggestion,

[2022-06-23 09:19] #498 closed

[2022-06-23 09:25] kiranravindran90 opened #500 "Issue with PyCharm & Micro.py"
I installed Grimoire using docker compose. Installed all the dependencies.

But while setting up PyCharm facing the following issues.
1. The "**Project Interpreter**" option is missing. Instead I have "**Python Interpreter**".
2. I get error that **failed to set virtual environemt while creating project**.
3. Unable to find /locate **micro.py file**.

[2022-06-23 13:18] sduenas commented on #497
I know you have done this before but, would you mind to paste there the contents of:
[code]

And also run the full output of running:
[code]

Don't use the `-d` flag when you run docker-compose.

[2022-06-23 13:39] sduenas commented on #497
I forgot to mention, be sure containers are down before you run the `up` command with

[code]

[2022-06-23 13:43] uyaharneit commented on #497
[code]
the content of the setup.cfg:

[code]

[2022-06-23 13:44] uyaharneit commented on #497
The output:
[code]

[2022-06-24 09:35] zhquan commented on #497
Could you execute this when the mordred container is still alive?

[code]

[2022-06-24 12:10] uyaharneit commented on #497
[code]
[code]

[2022-06-24 13:05] zhquan commented on #497
So your `docker` user has no permission to read `/home/bitergia/conf/setup.cfg`

Go to `grimoirelab/default-grimoirelab-settings` and execute `ls -la` all those files must have read permission
[code]

Another check is to go into the container and see if those files are there. When the mordred is still alive
[code]

[2022-06-24 13:22] uyaharneit commented on #497
[code]
[code]

[code]

[2022-06-24 14:28] zhquan commented on #497
Run `$ cat /home/bitergia/conf/setup.cfg` to see the content

[2022-06-25 17:48] uyaharneit commented on #497
[code]

[2022-06-29 09:36] zhquan commented on #500
Did you add all grimoirelab repositories in your `Project Structure` (make sure that you have the latest version of each repository) and could you share your script path and parameters in your `Run/Debug Configurations`?

[2022-06-30 04:03] kiranravindran90 commented on #500
Yes have added all repo's as far as we know & upgraded all the packages again to make sure. Still same error.

Please find the Run/Debug configurations below (script path included).

<img width="789" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/90866692/176589422-8fdd394c-b296-4cd7-81af-54bc14705a81.png">

Also find the Project Structure.
![InkedMicrosoftTeams-image (1

[2022-07-01 06:38] uyaharneit commented on #497
This was I run using sudo both to docker exec and chown command and the output I got:

[code]

[2022-07-01 07:59] jjmerchante commented on #500
Hi @kiranravindran90,

`grimoirelab-perceval-finos` is deprecated and is not supported anymore. Can you remove the repository from the list in the `Project Structure`   and try again?

[2022-07-01 08:28] zhquan commented on #497
I think the issue here is file permissions, so let's try changing it to 777

You are using these volumes on your docker-compose
[code]
Change the permission
[code]
And try again
[code]

[2022-07-04 06:55] uyaharneit commented on #497
I've changed all the file permissions:

[code]
But still cannot have the permission:
[code]

[2022-07-04 14:40] uyaharneit commented on #497
Why the docker still cannot access the file even though the file permission has been changed. Is it because the docker-compose installed in my local drive connected to the main server causing the failure of bitergia user to access the Mordred? Therefore, I cannot change the ownership of the setup.cfg at /home/bitergia/conf/ ?

[2022-07-05 10:37] kiranravindran90 commented on #500
Thank you for the swift response :)

Was able to get through this but stumbled on to a new issue.

I am getting this error --> **'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f52af0454f0>: Failed to establish a new connection: [Errno 111] Connection refused')**.
Detailed log attached.

Tried connecting to the port as mentioned here #297 & its connecting.

Seems its not exac

[2022-07-05 11:35] zhquan commented on #500
Could you try to run this curl using the url value of your `[es_collection]` section?
[code]
Are you using docker for ElasticSearch and Kibana?

[2022-07-05 17:39] vchrombie commented on #500
Sometimes it happens if you are restricted to access the internet, the micro mordred need to interact with APIs to fetch the data.

Not sure if it is company proxy or firewall causing issue, but please try with another internet source.

Thanks.

[2022-07-06 06:36] uyaharneit commented on #497
My user was already in the group.
I tried to run the docker without sudo and it works

[code]

[code]

[2022-07-06 07:37] kiranravindran90 commented on #500
Unfortunately its a company project specific laptop & connects only to company network for IT security purposes. :(

[2022-07-06 08:12] zhquan commented on #500
curl -XGET http://user:pass@localhost:9200

[2022-07-07 06:41] kiranravindran90 commented on #500
@zhquan Tried this & still getting the same error. i.e. **"Proxy Authorization Required"**

[2022-07-07 08:07] zhquan commented on #500
I guess you have to contact your company network admin.

[2022-07-08 12:43] uyaharneit commented on #497
Hi @zhquan,

I can fixed my problem. I installed the grimoirelab in another drive which is not my homedir. The grimoirelab is running now, yet I still have problem. I want to use github gentoo repository and already changed the projects.json. And I got this problem (this is from the logs)

[code]
 also the containers have the problem:
[code]
Thanks for your help in advance

[2022-07-08 13:16] zhquan commented on #497
Nice

Elasticsearch, kibiter, and mariadb are not running.

I guess you are still using https://github.com/chaoss/grimoirelab/issues/497#issuecomment-1164425908. Try to decrease the elasectisearch `ES_JAVA_OPTS=-Xms1g -Xmx1g` (maybe the `Exit 143` is caused by de memory) and run again

[code]

[2022-07-08 16:03] uyaharneit commented on #497
I did GET _cat/indices and got the result:

[code]
Then  still got the same problems.

[code]

[2022-07-08 16:29] uyaharneit commented on #497
This is what I got as well:
[code]

[2022-07-08 16:55] uyaharneit commented on #497
I did restart several times and finally got this result indices:

[code]

I am wondering about what the causes of the kibana server failed sometimes? Is it because of the amount of data retrieved or any other causes? Thanks

[2022-07-12 22:10] lbergmans commented on #479
Hi, I ran into the same problem, while I am attempting to run the whole setup. so far I have not been able to get things running.
What appears to be the case, is that the system removes the folder where it wants to clone, before actually doing this; when you create the folder manually, it will be gone after running mordred.... perhaps someone has a clue which code might do this (seems like a clean

[2022-07-13 05:39] vchrombie commented on #479
I think this is already present in the tutorial, we have a troubleshooting page. https://chaoss.github.io/grimoirelab-tutorial/docs/getting-started/troubleshooting/#cloc-installation

Do you think we should add it anywhere else? Please let us know.

[2022-07-13 11:39] vchrombie commented on #500
401 is an Unauthorized response status code

Make sure you have the correct username and password for the elasticsearch instance in the `setup.cfg` file.

If you are using micro mordred, please update in https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/utils/setup.cfg
[code]

[2022-07-15 07:39] lbergmans commented on #479
I missed your quick response :-)
What I was trying to point out (I am formatting it in the tutorial style):

#### Diagnosis
when trying to install `cloc` with `apt-get` you may encounter
``E: Unable to locate package cloc``

#### Solution
First execute the following command:
``sudo apt-get update``
And _after_ that execute
``sudo apt-get install cloc``

But perhaps it is most useful to add this as

[2022-07-15 09:39] vchrombie commented on #479
Now, I understand it.

Please feel free to open a PR for adding it.

[2022-07-18 06:48] #497 closed

[2022-07-18 10:29] kiranravindran90 commented on #500
@zhquan This worked & we are able to get through Elastic Search through 9200. Thank you.

But we are getting an error from grimoirelab-perceval (micro.py). **"perceval.errors.RepositoryError: git command - Cloning into bare repository '/home//.perceval/repositories/https://github.com/chaoss/grimoirelab-perceval-git'...
fatal: unable to access 'https://github.com/chaoss/grimoirelab-perceval/': Fail

[2022-07-18 12:55] zhquan commented on #500
Are you able to clone the repository on your machine?
[code]
Could you share your `setup.cfg`?

[2022-07-19 05:50] kiranravindran90 commented on #500
@zhquan yes cloning the repo gave no issues. Please find the setup.cfg attached below.
[setup.cfg.txt](https://github.com/chaoss/grimoirelab/files/9137861/setup.cfg.txt)

[2022-07-19 12:45] mohlatif227 opened #504 "Pods crashing while deploying on EKS"
Hello,

I'm trying to deploy grimoire on EKS cluster. All the pods are started except mordred for which I'm getting below error:

[code]

Describe modred pod:

[code]
Status of all pods of grimoire namespace:

[code]

Here is the `mordred-secret.yml` file which I'm using:

[code]

Can someone please help me to resolve this issue?

cc: @vchrombie @zhquan

Thank you

--
Altif

[2022-07-26 20:55] lbergmans commented on #479
meanwhile: is it worthwhile to check out the mystery of the missing-because-auto-deleted `worktrees` folder?? there must be some code that does this?

[2022-07-28 06:11] kiranravindran90 commented on #500
@zhquan Any hints about the issue from the setup.cfg file?

[2022-07-28 07:59] zhquan commented on #500
The setup.cfg looks good. So you can clone the repository on the machine but when you execute micro.py you cannot clone it. Very strange. The error tells you that it can't connect to github.com

And perceval uses this command to clone repositories
[code]

I guess you have a MySQL or MariaDB running on this host and use these credentials.

[code]

[2022-08-01 11:56] kiranravindran90 commented on #500
@zhquan Yes we have MariaDB running & seems it uses that credentials.
Tried giving the credentials in that place but still seems to be getting this error.

[2022-08-03 06:56] uyaharneit opened #511 "Bugzilla dashboard doesn't work"
Hi all,

I tried to display bugzilla data source in the Grimoirelab dashboard, unfortunately it doesn't come out. I've configured the projects and setup files as explained in the configuration page. Please see below:

**projects.json**
[code]

setup.cfg

[code]
And this is the output of the `GET _cat/indices`
[code]
The docker-compose has started 2 days ago.

What am I missing here?
Thanks heaps i

[2022-08-04 08:01] kiranravindran90 commented on #500
@zhquan Just to add, we are running PyCharm from user folder & not root.
Also see the below snap shots (error when Connecting https GitHub via PyCharm)
![FireFox_Setting](https://user-images.githubusercontent.com/90866692/182795253-c2ca83b0-4629-4879-8370-87d11ef41d2f.png)
Firefox Proxy setting

![PyCharm_Setting](https://user-images.githubusercontent.com/90866692/182795307-03093047-6c68-4f90-9c85

[2022-09-02 10:33] Pablohn26 commented on #384
What did the email mentioned about adding a link to data schema? The rest of the content that you mention is already [here](https://github.com/chaoss/website/blob/main/release/metrics-head.md), so once we add the link we can close this issue

[2022-09-05 01:15] ME-Msc opened #512 "[Build Bug] p2o.py in grimoirelab-elk has been removed, check_run should be changed or removed."
https://github.com/chaoss/grimoirelab/blob/d3dca8d8cb5eb136e23017773716544501e8fd1b/utils/build_grimoirelab#L80

[grimoirelab-elk](https://github.com/chaoss/grimoirelab-elk)

If not, the following error will appear while build grimoirelab with `./build_grimoirelab -l debug --logfile /home/log --build --install --check --relfile ../releases/latest --reposdir /home/repos --install_venv /home/ivenv`

[2022-09-14 12:24] kaxada commented on #473
Hello @sanacl can I work on this issue?

[2022-09-14 12:25] kaxada commented on #351
Hello @sduenas is this ticket still relevant to work on, I would like to take it on

[2022-09-14 12:27] kaxada commented on #350
@sduenas this one too. Is it still available to work on? I could be assigned

[2022-09-14 12:27] kaxada commented on #349
@sduenas can I also work on this one?

[2022-09-14 12:31] kaxada commented on #348
@sduenas can I work on this issue?

[2022-09-14 13:33] sanacl commented on #473
Sure @kaxada . Let me know whether I can help you.

[2022-09-14 16:24] vchrombie commented on #349
Thanks for your interest @kaxada. I think this is a very long term goal and AFAIK we haven't started working on this yet.

[2022-09-14 16:32] kaxada commented on #349
Ohh, alright

[2022-09-26 11:19] sanacl opened #519 "Git Areas of Code index skips the renaming of a file"
The information provided in the `git_areas_of_code` index is incorrect for a file which last commit renamed its name.

Find in [this link](https://github.com/chaoss/grimoirelab-tutorial/commit/654bd0563dd45c9f76fb8486541a614e66fd28e8) when the file is modified. In the screenshot below you'll see that the name of the file did not change.

![imagen](https://user-images.githubusercontent.com/326719/1

[2022-09-27 15:29] sanacl opened #523 "Rename index patterns to improve the readability of the data"
Sooner than later we should stop and rethink the naming conventions of the indexes patterns being shown in the dashboard. It is really hard to understand for the users. Some examples:
 - `github_issues` index pattern stores documents both for PRs and issues.
 - `github2_issues` includes documents for the comments and the creation of issues.

Please rename the index patterns so their names are not

[2022-09-28 16:25] sduenas commented on #499
We were finally able to build a release using the pipeline. Good work!

[2022-09-28 16:25] #499 closed

[2022-09-28 16:34] sduenas opened #524 "Create a new Docker image for GrimoireLab"
The goal of this task is to create a working docker image based on the latest versions of the GrimoireLab packages. The current images come in different flavors (the full software needed to run the stack, a factory, a little version) but we want to keep one as simple as possible.

[2022-09-28 16:36] sduenas opened #525 "GrimoireLab workflow doesn't trigger the release workflow"
The `grimoirelab-release.yml` workflow doesn't trigger the `release.yml` workflow when it creates a new tag in the same repository.

[2022-09-28 16:38] sduenas opened #526 "Define a docker-compose file based on the new GrimoireLab image"
The new docker compose has to work with the latest versions of OpenSearch.

[2022-09-28 16:39] sduenas opened #527 "Update documentation with the new installation methods"
The documentation to install GrimoireLab is outdated after 0.4.0 release.

[2022-09-28 16:39] sduenas opened #528 "Include release notes in NEWS file for each final release"
The build pipeline doesn't update the NEWS file to include the release notes generated during the process.

[2022-09-28 16:42] sduenas opened #529 "Update src directory after each release"
The git submodules stored in `src` directory should be updated after each release to show the latest version of each repository.

[2022-09-28 16:43] sduenas opened #530 "Use GitHub environments to protect pipeline secrets"
It's recommended to use environments to protect who and when secrets can be accessed by GitHub actions.

[2022-09-28 16:46] sduenas opened #531 "Sign tags commit"
Evaluate if this is useful or not.

[2022-09-28 16:47] sduenas opened #532 "Delete setup.py and requirements.txt files"
Delete these files in all the stack because we only use `pyproject.toml` now.

[2022-09-28 16:48] sduenas opened #533 "Sign releases with Sigstore"
Evaluate if this is possible using `sigstore-python` library (currently not ready for production).

[2022-09-28 17:31] vchrombie commented on #499
Awesome! 🎉

[2022-09-29 09:13] #525 closed

[2022-09-30 19:32] xurizaemon opened #536 "Gitlab data source support for multiple API keys"
Does setup.cfg for GrimoireLab yet handle retrieving data from multiple Gitlab instances, or (in case of protected projects) multiple groups on one instance?

It appears from the [default settings](https://github.com/chaoss/grimoirelab/blob/640d55667ed6c220f6e4b4a4743e48169a605a10/default-grimoirelab-settings/setup.cfg#L79-L94) that there's provision for a single API token, and my understanding no

[2022-10-01 15:45] vchrombie commented on #532
Hi @sduenas, I guess we have to remove the `setup.cfg` file too right? Please let me know.

[2022-10-03 16:51] loganknecht commented on #481
Hello!

I would like to communicate that this is an issue for me as well. This is really unfortunate because this project seems very exciting!

[2022-10-06 07:23] xurizaemon commented on #536
API keys are doing a few things here!

## Rate limiting

For GitHub, using an API key increases the available rate limit, and being able to iterate through multiple API keys multiplies the available rate limit if you cycle through them. See eg https://github.com/chaoss/grimoirelab-perceval/blob/e8869879ca93e0a53e663f82d0674eb2194c6a44/perceval/backends/core/github.py#L969-L989

For GitHub, using a

[2022-10-06 15:30] #524 closed

[2022-10-07 08:53] #529 closed

[2022-10-07 14:22] #526 closed

[2022-10-07 15:23] #528 closed

[2022-10-11 14:51] #533 closed

[2022-10-11 15:22] sduenas commented on #533
sigstore-python is not stable so we'll re-open this issue when it is. Right now, we only sign docker images.

[2022-10-12 23:51] krokoko opened #541 "grimoirelab container crashes"
Hi,

When running the docker grimoirelab image, the process crashes after a few seconds:

[code]
Same thing happens if I run it manually, or through docker-compose.

The other containers seem to be running correctly (I can access the dashboard - shows `Couldn't find any Elasticsearch data` which I guess is expected since the container crashes)

Any idea ? Thanks !

[2022-10-13 00:20] vchrombie commented on #536
That's a wonderful question @xurizaemon!. Thanks for opening the issue.
Thanks @zhquan for answering it.

Do you think we should add this somewhere?
I think we can close the issue since the doubt is clarified. Please let me know otherwise.

Thank you.
Best,
Venu

[2022-10-13 08:17] sduenas commented on #541
@krokoko recently we changed the image of grimoirelab but we didn't update it on dockerhub. We were working on some CI to do it automatically. It will be ready in a couple of hours. I'll keep you posted.

[2022-10-13 08:18] sduenas commented on #541
However, it'll work if you create the image by yourself, if you don't want to wait.

[2022-10-13 08:31] maltif opened #543 "Git Top Authors visual shows only 20 users data"
We are using Github as datasource for Grimoire to populate Git users Metrics. We're able to get most of the required data. However, while checking Git Top Authors visual, it does show only data for top 20 Git Authors(per page 10 users). We have around 500 Git users and want to show top 100 users in Git Top Authors visual. Please refer to below screenshot:

![image](https://user-images.githubuserco

[2022-10-13 10:44] sduenas commented on #541
@krokoko we've just updated the docker image to the latest version, please try again. It should work now.

[2022-10-13 10:56] sduenas commented on #543
@maltif you can configure the number of results shown in the visualization. By default it's set to 20. Go to the edit mode, then click on the gear icon on the visualization, and expand the element under the `Buckets` section. Under the `size` box, you can set the number of results you want. It works in a same way for other visualizations than don't show the full list of entries.

[2022-10-13 11:14] maltif commented on #543
It worked. Thanks a lot @sduenas.

[2022-10-13 11:14] #543 closed

[2022-10-13 16:00] #541 closed

[2022-10-13 16:03] vchrombie commented on #541
Thank you @krokoko and @sduenas.

[2022-10-13 19:13] xurizaemon commented on #536
It feels worth documenting - I have yet to test this, having realized I can't yet obtain an API key for git.drupalcode.org and that git.mahara.org isn't yet using the issue queue actively. I will try to PR some docs when I get to it. Happy for this issue to be closed as I can still refer to it when PRing, and reopen if useful. Closing proactively but feel free to reopen if you prefer it "on the ra

[2022-10-13 19:13] #536 closed

[2022-10-14 02:02] vchrombie commented on #532
Hi @sduenas, it is clear that the `setup.cfg`, `setup.py` and `requirements.txt` have to be removed. Does it makes sense to remove the `requirements_tests.txt` too?

Also, what about the `MANIFEST.in`? I guess Poetry doesn't need this since the configurations (what to include in the packages) is already present in the `pyproject.toml` file. What do you think?

[2022-10-14 03:10] krokoko opened #546 "Github display forks"
Hi team,

I'm a bit confused by the documentation. I am trying to get the display of repo information (forks,...) from github

Following [this link](https://pypi.org/project/profanity-filter/) it seems that I need to setup 3 different entries in my projects.json to get information about github issues, PRs, and the repo itself ([github:issue, github:pull, github:repo]). However, when I just add one

[2022-10-17 08:22] loganknecht opened #547 "Gerrit Configuration Examples"
Hello!

This is such a cool project, and I've been having a great time testing it out to figure out how my teams are working together.

# Question

I see here that there is a Gerrit dashboard here

- https://chaoss.github.io/grimoirelab-sigils/panels/gerrit/
- https://chaoss.github.io/grimoirelab-sigils/panels/gerrit-efficiency/

This leads me to believe that Grimoire Lab supports Gerrit with a sp

[2022-10-17 15:49] krokoko commented on #546
Testing different configurations but seems I can't get it to work, could someone please help ? Thank you !

[2022-10-17 16:00] zhquan commented on #546
Hi @krokoko

Thank you for using it.

There are several categories for [github](https://github.com/chaoss/grimoirelab-sirmordred#github-) and each one fetches different information.

- [issues](https://github.com/chaoss/grimoirelab-sirmordred#issue) (default):
  -  issue and pull requests
- [pull requests](https://github.com/chaoss/grimoirelab-sirmordred#pull-request):
  -  pull requests
- [repo](

[2022-10-17 16:00] zhquan commented on #547
Hi @loganknecht

Thank you very much for using it.

There is a gerrit example at https://github.com/chaoss/grimoirelab-sirmordred#gerrit-

I hope it helps you.

[2022-10-17 16:14] krokoko commented on #546
Hi @zhquan ! Thanks ! What you posted is exactly the configuration I have, however I don't see any information related to the repo (forks,stars,...). Should I have a new item in the menu ? or the data will appear in an existing tab ?

setup-secured.cfg
[code]

and projects.json is the same as the one you posted

[2022-10-17 18:24] loganknecht commented on #547
@zhquan Thank you so much for the link.

When I use it I'm still not getting the Gerrit dashboard to work.

The first piece is that I'm not seeing the `Gerrit` dashboard displayed as an option in the `dashboards` menu
<img width="1918" alt="image" src="https://user-images.githubusercontent.com/1308524/196252264-7f43285b-72b2-40a1-b115-d0735ab5328d.png">

And I'm not seeing it displayed in the `Vis

[2022-10-17 19:11] zhquan commented on #547
It's better if you use [docker-compose](https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml#L47) instead of `grimoirelab/full` due to that image is not updated.

You need to pass your `.ssh` directory to the Mordred container because Mordred needs to connect the Gerrit instance using ssh to fetch data.

You can remove the study section on `gerrit` or maybe you did n

[2022-10-17 19:15] loganknecht commented on #547
@zhquan

RE: Docker Compose

I would love to use docker-compose, however I can't because I'm on a M1 macbook

I have commented on a separate issue regarding this
https://github.com/chaoss/grimoirelab/issues/481

Do you have a solution or work around to that? I would love to use that approach.

[2022-10-17 19:18] zhquan commented on #546
If you want github:repo dashboard and menu you have to add `github-repos = true` in the `panels` section more info at https://github.com/chaoss/grimoirelab-sirmordred#panels

[2022-10-17 19:37] zhquan commented on #547
Try to use this `grimoirelab/grimoirelab:latest` image and add `-v ~/.ssh/:/home/bitergia/.ssh \`

[2022-10-17 20:06] krokoko commented on #546
There you go ! Thanks, it works indeed. It is not mentioned in https://github.com/chaoss/grimoirelab-sirmordred#repo while mentioned for other sources, I guess that's where the confusion comes from

[2022-10-17 20:06] #546 closed

[2022-10-17 20:59] loganknecht commented on #547
Hey @zhquan,

Thank you for all the guidance.

This does not seem to work

[code]

[2022-10-18 07:56] zhquan commented on #547
Make sure that on your setup.cfg there is a `logs_dir` on the `general` section like:
[code]

[2022-10-18 08:53] jjmerchante commented on #547
Hi @loganknecht,

We recently updated the image of `grimoirelab/grimoirelab` and its configuration files and maybe you are mixing an old setup with a new container. Specifically, we changed the user `bitergia` to `grimoire`.

If you don't want to use docker-compose, I recommend cloning the repository and following the steps at https://github.com/chaoss/grimoirelab/tree/master/docker#run-the-image

[2022-10-21 06:32] loganknecht commented on #547
@zhquan I have given up running this MacOS and spun up an [Ubuntu  22.04 Jammy Jellyfish Build](https://www.releases.ubuntu.com/22.04/)

I cloned this repo and tried to run the `docker-compose` directory, but now I'm getting different errors where 4/5 of the containers aren't even starting

[code]

If I docker logs each of the containers this is what I get

[code]

Am I doing something incorrect i

[2022-10-21 12:48] sduenas opened #550 "Generate docker images for ARM64 architecture"
So far we only generate images for AMD64/Intel architecture. There are some issues reporting that the image doesn't work under ARM architectures, for example with M1/M2 processors included in the latest versions of Mac laptops.

Related: https://github.com/chaoss/grimoirelab/issues/547, https://github.com/chaoss/grimoirelab/issues/481

[2022-10-21 12:59] sduenas commented on #547
This might be a problem with the current docker image. It's only generated for AMD and not ARM processors. We'll generate a new version of the image, to check if it fixes the problem.

[2022-10-23 11:01] StringCH opened #551 ""Kibana server is not ready yet" on localhost:5601/"
I'm running the default GrimoireLabs setup with docker-compose on my laptop. If I visit localhost:5601 I get the messeage "Kibana server is not ready yet" in my browser even after one hour waiting. What can I do to fix this problem?

[2022-10-24 08:16] sduenas commented on #530
This is completed. We use only this environments in the main repository and when we generate docker images.

[2022-10-24 08:16] #530 closed

[2022-10-24 08:34] zhquan commented on #551
Hi @StringCH

Probably your ElasticSearch instance is not ready. Check the logs and [here](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#low-virtual-memory-) a list of some common problems.

I guess you are using this [docker-compose](https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose.yml).

I hope it helps you.

[2022-10-26 10:30] StringCH commented on #551
Hi @zhquan

if I try to run Docker Compose up kibiter and hatstall container are running and also keep running but mordred container and elasticsearch container start running and then go to status "exidet" after a really short time. I get the following logs with docker compose up:

` Running 5/0
 - Container docker-compose-elasticsearch-1  Created

[2022-10-26 12:51] zhquan commented on #551
Try this https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#low-virtual-memory-

Try this https://github.com/chaoss/grimoirelab/issues/202#issuecomment-790018433

I hope it helps you

[2022-10-27 14:28] sduenas commented on #527
Documentation was updated.

[2022-10-27 14:28] #527 closed

[2022-10-27 14:35] sduenas commented on #532
This was completely done.

[2022-10-27 14:35] #532 closed

[2022-10-27 15:21] sduenas commented on #240
Completed. We can generate an release and Docker image using just GitHub Actions. Kudos to @jjmerchante and @vchrombie for all their work here.

[2022-10-27 15:21] #240 closed

[2022-10-28 08:43] kiranravindran90 commented on #500
Unfortunately didn't work. Reinstalled OS & CHAOSS but facing same issue. Seems to be a proxy/firewall issue thru Pycharm. Nonetheless, Cloned all the depended repositories into Local system & updated the scripts to call then from Local system instead of the URL's. That way its working for now.
Thanks all for the support :)

[2022-10-28 08:43] #500 closed

[2022-10-31 11:59] #550 closed

[2022-11-14 22:46] krokoko opened #554 "Github traffic metrics"
Hi ! I was wondering if there is a way to get the traffic metrics from github ? https://docs.github.com/en/rest/metrics/traffic
I don't see anything in the configuration to enable that, or maybe I missed it ?

Thanks !

[2022-11-16 10:32] wpso opened #555 "How can we edit and/or merge identities to show the author name information on the web?"

[2022-11-22 23:00] loganknecht commented on #547
Hello!

I believe I'm really close to the finish line on this.

I am using an emulated runtime of an `Ubuntu AMD64` image using QEMU/UTM and it appears to spin up correctly, however I'm still getting an elastic search error saying this.

[code]

Full logs below

[code]

Am I doing something wrong? I believe I've set up everything correctly.

I had to modify the `grimoirelab/docker-compose/docker-c

[2022-11-29 00:12] loganknecht commented on #547
Hey @zhquan, @jjmerchante, and @sduenas, 👋

Apologies for being a nuisance on this, but am I doing anything particularly wrong in my configuration?

[2022-11-29 12:28] sduenas commented on #547
I don't think you have anything wrong with your configuration. Before using this emulation of Ubuntu, did you try to run the docker-compose in your machine using the grimoirelab image that we created for Mac?

[2022-11-29 12:34] sduenas commented on #554
Sorry for out late response.

Unfortunately, GitHub traffic metrics is something that we don't support yet. Not sure if we will do it because to get these metrics, the user needs to have push permissions on the repositories, which limits the analysis for most of the people. I see it could be useful for some users though.

[2022-11-29 12:35] sduenas commented on #555
For that you need to use sortinghat.

[2022-11-29 12:35] #555 closed

[2022-11-29 23:25] loganknecht commented on #547
Hey @sduenas

When you ay

Can you elaborate a bit on that?

I have tried cloning the repo today, modifying the `projects.json`, the `setup.cfg`, and mounting my `.ssh` into the `kibiter` service using
[code]

When I do this, the `docker-compose up -d` command still fails with the errors I first provided in this issue.

Logs below
[code]
[code]

[2022-11-30 10:32] sduenas commented on #547
I think `kibiter`, which is a customized version of elasticsearch can't run on a Mac laptop. I would recommend you to use opensearch instead which has images generated for your architecture. Could you try to use this other [docker-compose](https://github.com/chaoss/grimoirelab/blob/master/docker-compose/docker-compose-opensearch.yml)?

[2022-11-30 12:51] zhquan commented on #547
You should mount `.ssh` in `mordred`, not in `kibiter`

[code]

[2022-11-30 20:44] loganknecht commented on #547
@sduenas - The open search Docker-Compose solution does spin up

[code]

@zhquan - Thank you for the guidance. My new configuration is as follows
[code]

However, it doesn't appear to have any dashboards, and I am under the impression that `Gerrit` information is not being pulled down into an index?

Here is what my index management says:
<img width="1111" alt="image" src="https://user-images.gith